<div class="modal fade" id="addAdminMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">管理中留言</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">留言信息：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id='adminMessage'><{$orderInfo.adminMessage}></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="adminmessage-comform">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 $('#adminmessage-comform').on('click', function(){
  var params = {
    id : <{$orderInfo.id}>,
    adminMessage : $('#adminMessage').val()
  }

  $.post("<{:U('saveOrderHandle')}>",params,function(data){
      if(data['Code'] == 0){
        $.scojs_message("修改成功", $.scojs_message.TYPE_OK);
        $('#addAdminMessageModal').modal('hide');

        $('#adminMessage-<{$orderInfo.id}>').text(params['adminMessage']);
      }else{
          $.scojs_message(data['Message'], $.scojs_message.TYPE_ERROR);
      }
  });
 })
</script>