<extend name="Public:new-base" />
<block name="title">
    <title>订单管理——微防伪</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/brand.css" rel="stylesheet">
    <link href="__PUBLIC__/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-3">
  </div>
  <div class="col-xs-2 col-xs-offset-1">
    <div class="form-group">
      <label for="sendTime" class="control-label">订单搜索:</label>
      <select class="form-control" id='searchType'>
        <option value='orderNo'>订单编号</option>
        <option value='name'>姓名</option>
        <option value='tel'>手机</option>
      </select>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="sendTime" class="control-label">关键词</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="输入关键词" id='searchKeyword'>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id='orderBtn'>搜索</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div><!-- /.col-lg-6 -->
</div>
<p></p>
<div id="orderList">
</div>
</block>

<block name="end-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__PUBLIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nmxlDl3VY8UWngclRm9sF5vj"></script>
    <script type="text/javascript">
      var params = {};
      $('#order').addClass("active");

      $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 0,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition : 'bottom-left'
        }).on('changeDate', function(ev){
          var year = ev.date.getUTCFullYear();
          var month = ev.date.getUTCMonth() + 1;
          var day = ev.date.getUTCDate();

          month = (month < 10)?'0'+month: month;
          day = (day < 10)?'0'+day: day;
          params['sendDay'] = year + '-' + month + '-' + day;

          $('#orderList').load('<{:U('Order/orderList')}>', params);
        });

      $('#sendTime').on('change', function(){
        var val = $(this).val();

        params['sendTime'] = val;

        if(params['sendTime'] == '')
          delete params.sendTime;

        $('#orderList').load('<{:U('Order/orderList')}>', params);
      })

      $('#hasSend').on('click', function(){
        if($(this).is(':checked')){
          params['sign'] = 1;
        }else{
          delete params.sign;
        }

        $('#orderList').load('<{:U('Order/orderList')}>', params);
      })

      $('#outToExcel').on('click',function(){
        window.open('<{:U('Order/outToExcel')}>?t='+params['sendDay']);
      })

      $('#orderBtn').on('click', function(){
        var type = $('#searchType').val();
        var searchKeyword = $('#searchKeyword').val();
        params = {
          searchType : type,
          keyword : searchKeyword
        }

        $('#orderList').load('<{:U('Order/orderList')}>', params);
      })
    </script>
</block>