<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nmxlDl3VY8UWngclRm9sF5vj"></script><!-- Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">使用地图搜索地址</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">关键词</div>
                  <input class="form-control" type="text" id='suggestId' placeholder="Enter keyword" value='<{$orderInfo.address.address}>'>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-default" id='searchBtn'>搜索</button>
            </div>
            <div class="col-md-12">
              <div id="map" style="height:400px;"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var map = new BMap.Map("map");
  map.centerAndZoom(new BMap.Point(114.03055,22.536028), 15);

  var addressResults = [];

  $('#searchBtn').on('click', function(){
    map.clearOverlays();   
    var keyword  = $('#suggestId').val();

    var options = {
      onSearchComplete: function(results){
        // 判断状态是否正确
        if (local.getStatus() == BMAP_STATUS_SUCCESS){
          addressResults = results;
          for (var i = 0; i < results.getCurrentNumPois(); i ++){
            var marker = new BMap.Marker(results.getPoi(i).point);  // 创建标注

            var opts = {
              width : 250,     // 信息窗口宽度
              height: 100,     // 信息窗口高度
              title : results.getPoi(i).title , // 信息窗口标题
              enableMessage:true//设置允许信息窗发送短息
            };

            map.addOverlay(marker);   

            var content = "<div class='addressItem'><p>地址：<span class='address'>"+results.getPoi(i).address+"</span></p><p><button class='useAddress' onClick='chooseAddress("+i+")'>使用</button></p></div>";
            addClickHandler(content,marker, opts);

            if(i == 0)
              map.centerAndZoom(results.getPoi(i).point, 19);
          }       
        }
        else{
          alert('搜索不到相关地址');
        }
      }
    };

    var local = new BMap.LocalSearch(map, options);
    local.search(keyword);
  })

  function addClickHandler(content,marker, opts){
    marker.addEventListener("click",function(e){
      openInfo(content,e, opts)}
    );
  }
  function openInfo(content,e, opts){
    var p = e.target;
    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
    var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
    map.openInfoWindow(infoWindow,point); //开启信息窗口
  }

  function chooseAddress(i){
  	var orderInfo = {
  		id : <{$orderInfo['id']}>,
  		mapMark : {
  			lng : addressResults.getPoi(i).point.lng,
  			lat : addressResults.getPoi(i).point.lat
  		}
  	}

  	$.post("<{:U('saveOrderHandle')}>",orderInfo,function(data){
      if(data['Code'] == 0){
        $.scojs_message("标记成功", $.scojs_message.TYPE_OK);
        $('#mapModal').modal('hide');
      }else{
          $.scojs_message(data['Message'], $.scojs_message.TYPE_ERROR);
      }
  });
  }
</script>