<volist name="order" id="item">
  <table class="table table-bordered">
    <tbody>
      <tr class='active'>
        <td style='width:100px;vertical-align: middle;' class='text-center'><{$item.orderNo}></td>
        <td style='width:150px;vertical-align: middle;' class='text-center'><{$item.addTime}></td>
        <td style='width:200px;vertical-align: middle;' class='text-center'><p><{$item.payType}></p><p>(<{$item.paySign}>:<{$item.payPrice}>.00元)</p></td>
        <td style='width:200px;vertical-align: middle;' class='text-center test'>
          <volist name="item['goods']" id="goods" key='j'>
            <span><{$goods.name}><{$goods.num}>,</span>
          </volist>
        </td>
        <td><p>用户留言：</p><p class="bg-primary"><{$item.Message}></p></td>
        <td style='width:90px;vertical-align: middle;' class='text-center'><a href="<{:U('Order/orderInfo')}>/id/<{$item.id}>" target="_blank">详情</a></td>
      </tr>
      <tr>
        <td class='text-center' style='vertical-align: middle;'><{$item.userInfo.name}></td>
        <td class='text-center' style='vertical-align: middle;'><{$item.userInfo.tel}></td>
        <td style='vertical-align: middle;'>
          <p><{$item.userInfo.address}></p>
          <eq name="item['userInfo']['city']" value='广州'>
          <p>地铁站：<{$item.userInfo.subway}></p>
          </eq>
          <if condition="$item.mapMark eq null ">
          <p class='text-center'><button class='btn btn-default btn-sm map-mark-btn' id='map-mark-<{$item.id}>'>标记地图</button></p>
          <else/>
          <p class='text-center'><button class='btn btn-default btn-sm map-mark-btn' id='map-mark-<{$item.id}>'>修改标记</button></p>
          </if>
        </td>
        <td class='text-center'><p>配送时间</p><p><{$item.sendDay}></p><p><{$item.sendTime}></p></td>
        <td><p>管理员留言：</p>
          <if condition="$item.adminMessage eq '' ">
          <else /> 
          <p id='adminMessage-<{$item.id}>' class='text-warning'><{$item.adminMessage}></p>
          </if>
          <a href="javascript:void(0)" class='add-adminMessage' id='adminMessage-<{$item.id}>'>添加</a>
        </td>
        <td class='text-center' style='vertical-align: middle;'>
        <p><{$item.wlSign}></p>
        <if condition="($item['sign'] neq 3) and ($item['sign'] neq 0)">
        <p><button class='btn btn-default btn-sm quick-btn' id='quick-btn-<{$item.id}>'>修改</button></p>
        </if>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
</volist>
<div class='' id="order-page">
  <ul class="pagination"><{$page}></ul>
</div>
<div id="change-modal"></div>

<script>
  $("#order-page > ul > li > a").on('click', function()
  { 
    var _HREF = $(this).attr('href');       

     //加载页面
      $("#orderList").load(_HREF, <{:json_encode($params)}>);                       
      return false;
  });

  $('.add-adminMessage').on('click', function(){
    var divId = $(this).attr('id');
    var divArr = divId.split('-');

    var param = {
      id : divArr[1]
    }

    $('#change-modal').load("<{:U('addAdminMessage')}>" , param , function(){
        $('#addAdminMessageModal').modal('show');
        $('#addAdminMessageModal').on('hidden.bs.modal', function (e) {
          $("#change-modal").innerHTML = "";
        });
    });
  })

  $('.quick-btn').on('click', function(){
    var divId = $(this).attr('id');
    var divArr = divId.split('-');

    var param = {
      id : divArr[2]
    };

    $('#change-modal').load("<{:U('quickChange')}>" , param , function(){
        $('#quickChangeModal').modal('show');
        $('#quickChangeModal').on('hidden.bs.modal', function (e) {
          $("#change-modal").innerHTML = "";
        });
    });
  })

  $('.map-mark-btn').on('click', function(){
    var divId = $(this).attr('id');
    var divArr = divId.split('-');

    var param = {
      id : divArr[2]
    };

    $('#change-modal').load("<{:U('mapMark')}>" , param , function(){
        $('#mapModal').modal('show');
        $('#mapModal').on('hidden.bs.modal', function (e) {
          window.location.reload();
        });
    });
  })
</script>