<extend name="Public:new-base" />
<block name="title">
    <title>订单管理——微防伪</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/brand.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td colspan='6' class='active'><strong>基本信息</strong></td>
    </tr>
    <tr>
      <td class='text-right'>订单编号：</td>
      <td><{$orderInfo.orderNo}></td>
      <td class='text-right'>下单时间：</td>
      <td><{$orderInfo.addTime}></td>
      <td class='text-right'>用户：</td>
      <td><{$userInfo.nickname}></td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>购物信息</strong></td>
    </tr>
    <tr>
      <td class='text-right'>购物车：</td>
      <td colspan='5'>
        <volist name="orderInfo['goods']" id="item">
          <div class="col-md-4">
            <{$item.name}>*<{$item.num}>
          </div>
        </volist>
      </td>
    </tr>
    <tr>
      <td class='text-right'>总价：</td>
      <td><{$orderInfo.price}>.00</td>
      <td class='text-right'>优惠：</td>
      <td><{$orderInfo.discount}>.00</td>
      <td class='text-right'>应付：</td>
      <td><{$orderInfo.payPrice}>.00</td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>配送信息</strong></td>
    </tr>
    <tr>
      <td class='text-right'>城市：</td>
      <td colspan='2'><{$orderInfo.address.city}></td>
      <td class='text-right'>区域：</td>
      <td colspan='2'><{$orderInfo.address.district}></td>
    </tr>
    <tr>
      <td class='text-right'>地址：</td>
      <td colspan='5'><{$orderInfo.address.address}></td>
    </tr>
    <tr>
      <td class='text-right'>收件人：</td>
      <td colspan='2'><{$orderInfo.address.name}></td>
      <td class='text-right'>电话：</td>
      <td colspan='2'><{$orderInfo.address.tel}></td>
    </tr>
    <tr>
      <td class='text-right'>配送日期：</td>
      <td colspan='2'><{$orderInfo.sendDay}></td>
      <td class='text-right'>配送时间：</td>
      <td colspan='2'><{$orderInfo.sendTime}></td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>状态信息</strong></td>
    </tr>
    <tr>
      <td class='text-right'>支付状态：</td>
      <td><{$orderInfo.paySign}></td>
      <td class='text-right'>支付方式：</td>
      <td><{$orderInfo.payType}></td>
      <td class='text-right'>支付时间：</td>
      <td><{$orderInfo.payTime}></td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>物流信息</strong></td>
    </tr>
    <tr>
      <td class='text-right'>物流状态：</td>
      <td><{$orderInfo.wlSign}></td>
      <td class='text-right'>出货时间：</td>
      <td><{$orderInfo.wlSign}></td>
      <td class='text-right'>收货时间：</td>
      <td><{$orderInfo.wlSign}></td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>用户留言</strong></td>
    </tr>
    <tr>
      <td colspan='6'>
        <{$orderInfo.Message}>
      </td>
    </tr>
    <tr>
      <td colspan='6' class='active'><strong>操作：</strong></td>
    </tr>
    <tr>
      <td colspan='6'>
        <if condition="$orderInfo['sign'] eq 1">
        <div class="form-group">
          <label for="sendUser" class="col-md-2 control-label">配送人员：</label>
          <div class="col-md-8">
            <select class="form-control" id='sendUserSelect'>
              <option value=''>请选择</option>
              <volist name="sendUser" id="item">
                <option value='<{$item.id}>'><{$item.name}></option>
              </volist>
            </select>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-default" id='sendBtn'>开始配送</button>
          </div>
        </div>
        </if>
      </td>
    </tr>
  </tbody>
</table>
</block>

<block name="end-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">
    $('#order').addClass("active");
    var orderInfo = <{:json_encode($orderInfo)}>;
    <if condition="$orderInfo['sign'] eq 1">
    $('#sendBtn').on('click', function(){
      orderInfo['allocationInfo'] = {
        sendUserId : $('#sendUserSelect').val()
      }

      $.post('<{:U('Order/orderHandle')}>', orderInfo, function(data){
        if(data['Code'] == 0){
          alert('出货成功！');
          window.location.reload();
        }
      })
    })
    </if>
    </script>
</block>