<div class="modal fade" id="quickChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改订单状态</h4>
            </div>
            <div class="modal-body">
                <if condition="$orderInfo['sign'] eq 1">
                <div class="form-group">
                  <label for="sendUser" class="control-label">配送人员：</label>
                    <select class="form-control" id='sendUserSelect'>
                      <option value=''>请选择</option>
                      <volist name="sendUser" id="item">
                        <option value='<{$item.id}>'><{$item.name}></option>
                      </volist>
                    </select>
                </div>
                </if>

                <if condition="$orderInfo['sign'] eq 2">
                <div class="form-group">
                <label>
                  <input type="checkbox" id='finishOrder'> 完成订单
                </label>
                </if>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="changStatus-comform">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 var orderInfo = <{:json_encode($orderInfo)}>;

<if condition="$orderInfo['sign'] eq 1">
$('#changStatus-comform').on('click', function(){
  orderInfo['allocationInfo'] = {
    sendUserId : $('#sendUserSelect').val()
  }

  $.post('<{:U('Order/orderHandle')}>', orderInfo, function(data){
    if(data['Code'] == 0){
      $.scojs_message("修改成功", $.scojs_message.TYPE_OK);
      $('#quickChangeModal').modal('hide');

      window.location.reload();
    }else{
      $.scojs_message(data['Message'], $.scojs_message.TYPE_ERROR);
    }
  })
})
</if>
<if condition="$orderInfo['sign'] eq 2">
$('#changStatus-comform').on('click', function(){
  if($('#finishOrder').is(':checked')) {
      // do something
    $.post("<{:U('orderHandle')}>",orderInfo,function(data){
      if(data['Code'] == 0){
        $.scojs_message("修改成功", $.scojs_message.TYPE_OK);
        $('#quickChangeModal').modal('hide');

        window.location.reload();
      }else{
          $.scojs_message(data['Message'], $.scojs_message.TYPE_ERROR);
      }
    });
  }else{
    $('#quickChangeModal').modal('hide');
  }
});
</if>

</script>