<div class="form-group">
  <label>活动选择：</label>
  <div class="input-group">
    <select class="form-control" id="activitySel">
        <volist name="activity" id="item">
          <option value="<{$item['id']}>"><{$item['name']}></option>
        </volist>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" id="add-Add" type="button">添加</button>
    </span>
  </div><!-- /input-group -->
</div>
<ul class="list-group activityList">
	<if condition="$activityIdArr[0] neq ''">
		<volist name="informKeyword" id='item'> 
		    <li class="list-group-item" >
		        <div class="row">
		          	<div class="col-md-10" style="word-wrap:break-word;word-break: break-all;"><{$item.name}></div>
			        <div class="col-md-1" id='activity-<{$i-1}>'>
			            <span class="glyphicon glyphicon-remove pull-right close close-Add">
			            </span>
			        </div>
		        </div>
		    </li>
		</volist>
	</if>
</ul>
<script type="text/javascript">
	menu['informKeyword'] = <{:json_encode($activityIdArr)}>;
	menu['activityName'] = <{:json_encode($activityName)}>;
	//绑定添加活动按钮事件
  $('#add-Add').on('click', function(){
  	var obj=document.getElementById('activitySel');
	var activityName=obj.options[obj.selectedIndex].text;//获取选中下拉框文本内容
    var activityId = obj.value;

    //要剔除空输入及已存在的关键词
    if($.inArray(activityId, menu['informKeyword']) === -1){
      var index = menu['informKeyword'].length;
	    if(<{:json_encode($activityIdArr)}>[0]){
	      	if(index<5){
			       	menu['activityName'].push(activityName);
			       	menu['informKeyword'].push(activityId);

			      	$('.activityList').append("<li class='list-group-item' id='activity-" +index+ "'>" +"<div class='row'>"+"<div class='col-md-10' style='word-wrap:break-word;word-break: break-all;'>"+menu['activityName'][index]+ "</div>"+"<div class='col-md-1' id='Add-" +index+ "'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-Add'></span></li>");
		      	}else{
		      		$.scojs_message('最多只能选择5个活动', $.scojs_message.TYPE_ERROR);
		      		return;
		      	}
	    }
      	else{
      		if(index<6){
		       	menu['activityName'].push(activityName);
		       	menu['informKeyword'].push(activityId);

		      	$('.activityList').append("<li class='list-group-item' id='activity-" +index+ "'>" +"<div class='row'>"+"<div class='col-md-10'  style='word-wrap:break-word;word-break: break-all;'>"+menu['activityName'][index]+ "</div>"+"<div class='col-md-1' id='Add-" +index+ "'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-Add'></span></li>");
	      	}else{
	      		$.scojs_message('最多只能选择5个活动', $.scojs_message.TYPE_ERROR);
	      		return;
	      	}
	    }
    }

    $('#activitySel').focus();
  });

  //绑定删除按钮事件
  $('.activityList').on('click', '.close-Add',delKeyword);

  function delKeyword(event){
    var arr1 = $(this).parent().attr('id').split("-");
    menu['informKeyword'].splice(arr1[1],1);
    menu['activityName'].splice(arr1[1],1);//删除元素
    
    //重新设置关键词列表
    var htmlContent = '';
    for(i=0; i<menu['informKeyword'].length; i++ ){
      htmlContent += "<li class='list-group-item' id='Add-" +i+ "'>" +"<div class='row'>"+"<div class='col-md-10'>"+menu['activityName'][i]+"</div>"+ "<div class='col-md-1' id='Add-" +i+ "'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-Add'></span></li>"
    }
    $('.activityList').html(htmlContent);
  }
</script>