<div class="form-horizontal">
	<div class="form-group">
		<label for="inputActivityType" class="col-sm-2 control-label">选择活动：</label>
		<div class="col-sm-10">
			<select class="form-control" id='selectActivity'>
				<volist name='activityItem' id='item'>
					<option value='<{$item.id}>'><{$item.name}></option>
				</volist>
			</select>
		</div>
	</div>
</div>
<script type="text/javascript">
	if('<{$defaultActivityId}>'){
		$("#selectActivity").val('<{$defaultActivityId}>');
	}
	$("#selectActivity").on('change' , function(){
		<{$activityArr}> = $(this).val();
	});
</script>




