<div class="form-horizontal">
	<div class="form-group">
		<label for="inputMallType" class="col-sm-2 control-label">选择类型：</label>
		<div class="col-sm-10">
			<select class="form-control" id='selectMallType'>
				<option value='shop-index'>商城首页</option>
				<option value='shop-product'>产品页</option>
				<option value='shop-car'>购物页</option>
			</select>
	</div>
</div>
<script type="text/javascript">
	$("#selectMallType").on('change' , function(){
		menu['mall_keyword'] = $("#selectMallType").val();
	});
</script>