<div id="material<{$rand}>">
	<if condition="$dafaultID != '' && $dafaultID != 0">
		<h5>提示：点击图文进行修改</h5>
		<div id="news-one" style="width:250px;">
			<table class="table table-bordered">
				<tbody>
					<eq name="multiple" value="0">
                        <tbody>
                            <tr>
                                <td colspan='2'>
                                    <{$material[0]['modifyTime']}>
                                    <h5 style="word-break: break-all;"><{$material[0]['title']}></h5>
                                    <img style="width:100%;" src="<{$material[0]['bigImg']}>" alt="..." class="img-rounded">
                                </td>
                            </tr>
                        </tbody>
                    </eq>
                    <eq name="multiple" value="1">
						<tr>
							<td>
								<h5 style="word-break: break-all;"><{$material[0]['title']}></h5>
								<img style="width:250px;" src="<{$material[0]['bigImg']}>" alt="..." class="img-rounded">
							</td>
						</tr>
						<volist name="material" id='item' offset="1"> 
							<tr>
								<td>
									<img style="width:60px;" src="<{$item['minImg']}>" alt="..." class="img-rounded">
									<h5 class="pull-right" style="width:180px;word-break:break-all;"><{$item['title']}></h5>
								</td>
							</tr>
						</volist>
					</eq>
				</tbody>
			</table>
		</div>
	<else /> <button type="button" class="btn btn-default" id="choose-btn">选择图文</button>
	</if>

	<!-- Modal -->
	<div class="modal fade materialAll" tabindex="-1" role="dialog"  aria-hidden="true">
	  <div class="modal-dialog" style="width:1000px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">选择图文</h4>
	      </div>
	      <div class="modal-body materialItems" id='materialItems<{$rand}>' style="overflow-y:scroll;height:400px;">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary comfirm-select-btn">确定选择</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">
	var selectID = '';
	$("#material<{$rand}>").on('click', '#choose-btn,#news-one', function(){
		_G('#material<{$rand}>', '.materialAll').modal('show');
		$('#materialItems<{$rand}>').load('__MODULE__/Ajax/showAllMaterial/cId/materialItems<{$rand}>/param/selectID',{'ecid':'<{$ecid}>','responseId':'<{$responseId}>'});
	});

	_G('#material<{$rand}>', '.comfirm-select-btn').on('click', function(){
		<{$param}> = selectID;
		_G('#material<{$rand}>', '.materialAll').modal('hide');

		_G('#material<{$rand}>', '.materialAll').on('hidden.bs.modal', function (e) {
		  // do something...
		  $('#<{$classID}>').load("__MODULE__/Ajax/newsChange",
		  	{
		  		p:"<{$param}>",
		  		cId:"<{$classID}>",
		  		id:selectID,
		  		ecid:'<{$ecid}>'
		  	});
		})
	})
</script>