<textarea class="form-control" id="text-<{$rand}>" rows="6" maxlength='300' placeholder="在此输入回复内容,字符限于300"><{$defaultValue}>
</textarea>
<script>
	$('#text-<{$rand}>').on("change", function(){
	    <{$param}> = $(this).val().trim();
	    noChange = false;
	  })
</script>