<div class="form-horizontal">
	<div class="form-group">
		<label for="inputVipType" class="col-sm-2 control-label">选择类型：</label>
		<div class="col-sm-10">
			<select class="form-control" id='selectVipType'>
				<option value='index'>商城首页</option>
				<option value='info'>会员信息</option>
				<option value='order'>订单信息</option>
				<option value='bind'>绑定会员</option>
				<option value='unbind'>解除绑定</option>
			</select>
	</div>
</div>
<script type="text/javascript">
	$("#selectVipType").on('change' , function(){
		menu['vip_keyword'] = $("#selectVipType").val();
	});
</script>