<extend name="Public:new-base" />
<block name="title">
    <title>活动管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/tab.js" type="text/javascript" charset="utf-8"></script>
</block>

<block name="right">
  <div id="topcontent">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>')">返回列表</button>
    <p></p>
    <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#ActivityInfo" data-toggle="tab">活动资料</a>
            </li>
            <if condition="($activity['type'] neq 'general') AND ($activity['type'] neq 'sign')">
              <li>
                  <a href="#panel-prize" data-toggle="tab">奖品信息</a>
              </li>
            </if>
            <if condition="$activity['type'] eq 'sign'">
              <li>
                  <a href="#panel-sign" data-toggle="tab">人员信息</a>
              </li>
            </if>
            <if condition="($activity['type'] eq 'scanLucky') OR ($activity['type'] eq 'sign') OR ($activity['type'] eq 'share')">
              <li>
                  <a href="#panel-qrcode" data-toggle="tab">二维码信息</a>
              </li>
            </if>
            <if condition="$activity['type'] eq 'share'" >
              <li>
                <a href="#panel-shareStatistics" data-toggle="tab">分享统计</a>
              </li> 
            </if>
            <if condition="$activity['type'] eq 'sign' ">
              <li id="Listcount">
                <a href="#panel-commentcheck" data-toggle="tab">评论审核<span class="badge" style="background-color: #D46987;"><{$Listcount}></span></a>
              </li>            
            <li>
              <a href="#panel-material" data-toggle="tab">群发素材</a>
            </li>
            </if>
            <if condition="$activity['type'] eq 'question' ">
              <li>
                <a href="#panel-question" data-toggle="tab">问题管理</a>
              </li>
            </if>
            <if condition="$activity['type'] eq 'question' ">
              <li>
                <a href="#panel-distribution" data-toggle="tab">分配奖品</a>
              </li>
            </if>
        </ul>
    <div class="tab-content" style="margin-top:10px;">
      <div class="tab-pane fade in active" id="ActivityInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">活动资料</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">名称：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="name" placeholder="请输入名称" value="<{$activity['name']}>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">类型：</label>
                    <div class="col-sm-9">
                      <p class="form-control-static"><{$activity['typeName']}></p>
                    </div>
                  </div>                  
                  
                  <if condition="$activity['type'] eq 'fwLucky'">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">品牌：</label>
                      <div class="col-sm-9">
                        <p class="form-control-static">
                          <if condition="$brand['brandName'] neq '' ">
                            <{$brand['brandName']}>
                          <else />
                            全部
                          </if>
                        </p>
                      </div>
                    </div>

                    <div class="form-group" id="product">
                      <label class="col-sm-2 control-label">产品：</label>
                      <div class="col-sm-9">
                        <p class="form-control-static">
                          <if condition="$brand['productName'] neq ''">
                            <{$brand['productName']}>
                            <else />
                            全部
                          </if>
                        </p>
                      </div>
                    </div> 
                  </if>

                  <if condition="($activity['type'] eq 'sign')">
                    <if condition="$activity['anonymous'] eq 1">
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="col-sm-6">
                            <div>
                              <input type="radio" name="Radios" id="openactivity" value="1" checked>
                                开放活动
                             </div>
                          </div>
                          <div class="col-sm-6">
                            <div>
                              <input type="radio" name="Radios" id="notopenactivity" value="0">
                                不开放活动
                              </div>
                          </div>
                        </div>
                      </div>
                    </if>
                    <if condition="$activity['anonymous'] eq 0">
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="col-sm-6">
                            <div>
                              <input type="radio" name="Radios" id="openactivity" value="1" checked>
                                开放活动
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <div>
                              <input type="radio" name="Radios" id="notopenactivity" value="0" checked>
                                不开放活动
                              </div>
                          </div>
                        </div>
                      </div>
                    </if>
                  </if>

                  <if condition="$activity.type neq 'question' AND $activity.type neq 'share'">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">生效时间：</label>
                      <div class="col-sm-9">
                        <p class="form-control-static">
                          <eq name="activity['timeType']" value="unlimit">
                            <div class="radio">
                              <label>
                                <input type="radio" name="dateRadios" id="unlimitRadios" value="unlimit" checked>
                                不限制
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="dateRadios" id="limitRadios" value="limit">
                                时段活动
                              </label>
                            </div>
                            <div id="dateSelect" style="display:none;">
                              <p>开始时间：<input type="text" name="startTime" id="startTime" class="Wdate" onClick="WdatePicker()"/></p>
                              <p>结束时间：<input type="text" name="endTime" id="endTime" class="Wdate" onClick="WdatePicker()"/></p>
                            </div>
                          </eq>
                          <eq name="activity['timeType']" value="limit">
                            <div class="radio">
                              <label>
                                <input type="radio" name="dateRadios" id="unlimitRadios" value="unlimit">
                                不限制
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="dateRadios" id="limitRadios" value="limit" checked>
                                时段活动
                              </label>
                            </div>
                            <div id="dateSelect">
                              <p>开始时间：<input type="text" name="startTime" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$activity['startTime']}>"/></p>
                              <p>结束时间：<input type="text" name="endTime" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$activity['endTime']}>"/></p>
                            </div>
                          </eq>
                        </p>
                      </div>
                    </div>
                  </if>
                  <if condition="$activity.type eq 'share'">
                    <div id="dateSelect">
                      <div class="form-group row">
                        <label class="col-sm-2 control-label">开始时间：</label>
                        <input type="text" name="startTime" id="startTime" class="col-sm-2 Wdate" onClick="WdatePicker()" value="<{$activity['startTime']}>"/>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 control-label">结束时间：</label>
                        <input type="text" name="endTime" id="endTime" class="col-sm-2 Wdate" onClick="WdatePicker()" value="<{$activity['endTime']}>"/>
                      </div>
                    </div>
                  </if>
                   <if condition="$activity.type eq 'question'">
                    <div class="form-group">
                      <label for="questionStartDate" class="col-sm-2 control-label">生效日期：</label>
                        <div class="col-sm-10">
                          <div id="dateSelect">
                            <p>开始时间：<input type="text" name="startTime" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$configure['startDate']}>"/></p>
                            <p>结束时间：<input type="text" name="endTime" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$configure['endDate']}>"/></p>
                          </div>
                        </div>
                    </div>

                    <div class="form-group" id="timeSelect">
                      <label for="questionStartTime" class="col-sm-2 control-label">时间：</label>
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-5">
                            <div id="questionStartTime">
                              <select id="startHour"></select>时
                              <select id="startMinutes"></select>分
                              <select id="startSeconds"></select>秒
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div id="questionEndTime">
                              <select id="endHour"></select>时
                              <select id="endMinutes"></select>分
                              <select id="endSeconds"></select>秒
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </if>
                  <if condition="$activity.type neq 'general' AND $activity.type neq 'sign'">
                    <if condition="$need eq 'need' OR $need eq ''">
                      <div class="form-group needRadiosType">
                        <label for="questionStartTime" class="col-sm-2 control-label">身份信息：</label>
                        <div class="col-sm-10">
                          <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="needRadios" id="needRadios" value="need" checked>
                                需要
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="needRadios" id="unneedRadios" value="unneed">
                                不需要
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </if>
                    <if condition="$need eq 'unneed'">
                      <div class="form-group needRadiosType">
                        <label for="questionStartTime" class="col-sm-2 control-label"  >身份信息：</label>
                        <div class="col-sm-10">
                          <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="needRadios" id="needRadios" value="need">
                                需要
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="needRadios" id="unneedRadios" value="unneed" checked>
                                不需要
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </if>
                  </if>

                  
                  <if condition="$activity.type eq 'share'">
                    <div class="form-group" id="material-response">
                      <label for="material-response" class="col-sm-2 control-label">回复素材：</label>
                      <div class="col-sm-9">
                        <div id="material-content">                          
                        </div>                        
                      </div>
                    </div>
                  </if>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">展示大图：</label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <input type='file' id='msg-bigImg-input' class="form-control" multiple="true"/>
                        <img src="<{$activity['bigImg']}>" alt="" style='width:300px;' class="img-thumbnail" id="bigImg">
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">展示小图：</label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <input type='file' id='msg-minImg-input' class="form-control" multiple="true"/>
                        <img src="<{$activity['minImg']}>" alt="" style='width:100px;' class="img-thumbnail" id="minImg">
                      </p>
                    </div>
                  </div>

                  <if condition="$activity.type eq 'general'">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">回复类型：</label>
                      <div class="col-sm-9">
                        <p class="form-control-static">
                          <eq name="activity['replyType']" value="info">
                            <div class="radio">
                              <label>
                                <input type="radio" name="replyRadios" id="infoRadios" value="info" checked>
                                介绍
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="replyRadios" id="urlRadios" value="url">
                                网址
                              </label>
                            </div>
                          </eq>

                          <eq name="activity['replyType']" value="url">
                            <div class="radio">
                              <label>
                                <input type="radio" name="replyRadios" id="infoRadios" value="info">
                                介绍
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="replyRadios" id="urlRadios" value="url" checked>
                                网址
                              </label>
                            </div>
                          </eq>
                        </p>
                      </div>
                    </div>
                  </if>

                  <div class="form-group" id="contentInput">
                    <label for="inputActivityContent" class="col-sm-2 control-label">介绍：</label>
                    <div class="col-sm-9">
                      <textarea id='inputActivityContent' style="height: 400px;"><{$activity['content']}></textarea>
                      <script type="text/javascript">
                        window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                         UE.getEditor('inputActivityContent',{onready:function(){//创建一个编辑器实例
                            this.addListener('contentChange',function(){
                              luckyArr['info'] = this.getContent();
                            });
                        }});
                      </script>
                    </div>
                  </div>

                  <div class="form-group" id="urlInput">
                    <label for="inputActivityUrl" class="col-sm-2 control-label">网址：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="url" placeholder="请输入网址" value="<{$activity['url']}>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <button type="button" class="btn btn-primary" id='save-btn'>保存修改</button>
                      </p>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
      <if condition="($activity['type'] neq 'general') AND ($activity['type'] neq 'sign')">
        <div class="tab-pane fade" id='panel-prize'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">奖品信息</h3>
            </div>
            <div class="panel-body">
              <button type="button" class="btn btn-default" id='add-prize-btn'>添加奖品</button>
              <button type="button" class="btn btn-default" id='lucky-rule-btn'>中奖规则</button>
              <button type="button" class="btn btn-default" id='lucky-reply-btn'>中奖回复</button>
              <div id="luckyRule"></div>
              <div id="luckyReply"></div>
              <div id="prizeList">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">中奖人员信息</h3>
            </div>
              <div class="col-md-4  col-sm-offset-4" id="register" >
                <div class="form-group">
                  <select id="wlSelect" class="form-control">
                    <option value='all'>全部</option>
                    <option value='recorded'>已登记物流 </option>
                    <option value='unrecorded'>未登记物流</option>
                  </select>
                </div>                
              </div>
              <div class="col-sm-4">
                <button type='button' class="btn-info btn" id="sendMessage">发送登记信息</button>
                <button type='button' class="btn-info btn" onClick="window.location.href='__ROOT__/index.php/Admin/Activity/exportLuckyUser/?activityId=<{$activityId}>'" id="export-csv">导出中奖人员信息</button>
              </div> 
            <div class="panel-body" id ='luckyUser'>
            </div>
          </div>
        </div>
      </if>
    <if condition="$activity['type'] eq 'sign'">
      <div class="tab-pane fade" id='panel-sign'>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          说明：
              <p style="text-indent:2em">批量上传人员信息表时，请先下载人员信息表格式表。人员信息表格式表格填写格式：性别列填写男或女，不填或填写其它时默认为女。手机号码列填写时需为纯数字。</p>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">人员信息</h3>
          </div>
          <div class="panel-body">
            <div id="addUser"></div>
            <button type="button" class="btn btn-default" onclick="window.location.href = '__ROOT__/index.php/Home/Index/downUserInfoFile'">下载人员格式表</button>
            <button type="button" class="btn btn-default" id='add-user-btn' onclick="editUser('add')">添加人员</button>
            <button type="button" class="btn btn-default" onclick="skipPage('__ROOT__/index.php/Home/Index/downAllUserFile/id/<{$activity['id']}>/ecid/<{$ecid}>')">下载所有人员列表</button>
            <button type="button" class="btn btn-default" onclick="skipPage('__ROOT__/index.php/Home/Index/downSignedFile/id/<{$activity['id']}>/ecid/<{$ecid}>')">下载已签到人员列表</button>
            <button type="button" class="btn btn-default" onclick="skipPage('__ROOT__/index.php/Home/Index/downUnSignedFile/id/<{$activity['id']}>/ecid/<{$ecid}>')">下载未签到人员列表</button>
            <button type="button" class="btn btn-default" id='del-btn'>批量删除人员</button>
            <button type="button" class="btn btn-default" id='upload-user-btn'>批量添加人员</button>
            <div id="userList"></div>

          </div>
        </div>
      </div>
    </if>
    <if condition="($activity['type'] eq 'scanLucky') OR ($activity['type'] eq 'sign') OR ($activity['type'] eq 'share')">
      <div class="tab-pane fade" id='panel-qrcode' >
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">二维码信息</h3>
          </div>
          <div class="panel-body">
            <if condition="$exist neq ''">
              <button type="button" class="btn btn-info" id="createQr">生成二维码</button>
            </if>
            <div><img src="<{$qrUrl}>" class="img-thumbnail"  id="qrImg" style='width:300px;'></div>
          </div>
        </div>
        <div class="panel-default panel">
          <div class="panel-heading">
            <h class="panel-title">扫描人员</h>
          </div>
          <div class="col-md-7 col-md-offset-5" id="scan-date" style="margin-top: 15px;margin-bottom: 15px;padding-left: 5%;">  
            <input type="text" id="startTime-Scan" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
            <input type="text" id="endTime-Scan" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>">&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" id="dateSet" style="vertical-align: top;">查看</button>
            <button class="btn btn-info" id="allSet" style="vertical-align: top;">全部</button>
          </div>
          <div class="panel-body" id="scanUserList"></div>
        </div>
      </div>
    </if>
    <if condition="$activity['type'] eq 'share'">
      <div class="tab-pane fade" id='panel-shareStatistics' >
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">分享统计</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <select id="typeSelect" class="form-control">
                    <volist name='newsInfo' id='item'>
                      <option value='<{$item.id}>'><{$item.title}></option>
                    </volist>
                  </select>
                </div>                
              </div>
              <div class="col-md-9 text-right" id="header-date">  
                <input type="text" id="startTime-Sel" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
                <input type="text" id="endTime-Sel" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>" >&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" id="timeset" style="vertical-align: top;">查看</button>
                <button id="distribte-prize" class="btn btn-primary distribtn">分配奖品</button>
                <button class="btn btn-primary" id="export-share" style="vertical-align: top;">导出参与人信息</button>
              </div>
            </div>
            <div id="shareList"></div>
          </div>
        </div>
      </div>
    </if>
    <if condition="$activity['type'] eq 'sign' ">
      <div class="tab-pane fade" id='panel-commentcheck' >
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">评论审核</h3>
          </div>
          <div id="comments-List" class="panel-body">
            
          </div>
        </div>
      </div>
    
      <div class="tab-pane fade" id='panel-material' >
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">群发素材</h3>
          </div>
          <div id="material-List" class="panel-body">
            
          </div>
        </div>
      </div>
    </if>
    <div class="tab-pane fade" id='panel-question' >
      <div id="question"></div>
    </div>
    <div class="tab-pane fade" id='panel-distribution' >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">参与人员信息</h3>
        </div>
                <div style="margin-top: 15px">
          <div class="col-sm-3">
            <div class="form-group">
              <button id="distribte-prize" class="btn btn-info distribtn">分配奖品</button>
            </div>
          </div>
          <if condition="$activity.type eq 'question'">
            <div class="col-sm-3 col-sm-offset-6">
                <div class="form-group">
                  <select id="joinDateSelect" class="form-control">
                  </select>
                </div>
            </div>
          </if>
        </div>
        
        <div class="panel-body" id ='joinUser'></div>
        <div id="distribution"></div>
      </div>
    </div>

    <div class="modal fade" id="prizeModal-distribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">分配奖品</h4>
          </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">参与时间：</label>
                  <div class="col-sm-9">
                    <input type="text" id="startTime-prize" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
                      <input type="text" id="endTime-prize" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>" >
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">奖品项目：</label>
                    <div class="col-sm-7">
                      <select class="form-control" id="prize-typeSelect">
                        <volist name='prize' id='type'>
                          <option value='<{$type.id}>'><{$type.prizeType}></option>
                        </volist>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">中奖人数：</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="InputNum" placeholder="请输入中奖人数" value="">
                    </div>
                </div>
              </form>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary distributeBtn">确认</button>
                  <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
              </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加奖品</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="prizeType" class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="prizeType" placeholder="类型">
                </div>
              </div>
              <div class="form-group">
                <label for="prizeName" class="col-sm-3 control-label">奖品名称：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="prizeName" placeholder="名称">
                </div>
              </div>
              <div class="form-group">
                <label for="prizeNum" class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="prizeNum" placeholder="数量" onkeyup="checkInt('prizeNum')">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id='add-btn'>确认添加</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    var addPrize = {
        'activityId' : <{$activity['id']}>,
        'prizeType' : '',
        'prizeName' : '',
        'num' : 0,
        'luckyCount' : 0
    };

    //加载commentsList页面
    $('#comments-List').load('__MODULE__/Activity/commentsList',
      {
       'activityId' : <{$activity['id']}>,
       'divName':'comments-List'
       },function(){
        if("<{$tab}>"){
          $('#myTab a[href="#panel-commentcheck"]').tab('show');
        }
       });    

    //加载material页面
    $('#material-List').load("<{:U('material')}>",{activityId:'<{$activityId}>',ecid:'<{$ecid}>'});

    var luckyArr = <{:json_encode($activity)}>;

    if(luckyArr['configure'] != null){
      luckyArr['configure']= eval('('+luckyArr['configure']+')');//字符串转数组
      var material = {
        p:"luckyArr['configure']['materialId']",
        cId:"material-content",//要加载的层名
        ecid:'<{$ecid}>'
      };
      if(luckyArr['configure']['materialId']){
        material['id'] =  luckyArr['configure']['materialId'];
      }

      //加载图文素材
      $('#material-content').load('__MODULE__/Ajax/newsChange',material);
    }
    
    //判断要显示的回复类型
    if(luckyArr['replyType'] == 'info'){
      $('#contentInput').show();
      $('#urlInput').hide();
    }
    if(luckyArr['replyType'] == 'url'){
      $('#contentInput').hide();
      $('#urlInput').show();
    }

    //会议活动显示人员列表
    if(luckyArr['type'] == 'sign'){
      $(".radio").hide();
      $('#userList').load("<{:U('userList')}>" , {'id':<{$activity['id']}>});
    }

    if(luckyArr['type'] == 'question'||luckyArr['type'] == 'fwLucky'){
      //加载分配奖品界面
      $("#joinUser").load("<{:U('joinUser')}>" , {"id" : <{$activity['id']}> , "type" :'<{$activity['type']}>','record':'all'});

      //加载问题活动界面
      $('#question').load('<{:U("question")}>',{"activityId":<{$activity['id']}>});
    }

      $('#scanUserList').load('<{:U("scanUserList")}>',{
       "activityId" : '<{$activity['id']}>',
       "ecid" : '<{$ecid}>'
    });

    $("#lucky-rule-btn").bind('click' , function(){
      $("#luckyRule").load("<{:U('luckyRule')}>" , {
        "id" : <{$activity['id']}>
      } , function(){
        $('#rule').modal('show');
      });
    });

    $("#luckyUser").load("<{:U('luckyUser')}>" , {"id" : <{$activity['id']}> , "type" :'<{$activity['type']}>','record':'all'});

    $("#sendMessage").on('click',function(){
      var arr = {
        'record' : '',
        'id' : '<{$activity['id']}>',
      }
      arr['record'] = $('#wlSelect').val();
      $.post("<{:U('sendMessage')}>",arr,function(data){
        if(data['code'] < 1){                
          $.scojs_message('发送成功', $.scojs_message.TYPE_OK);
        }else{
          $.scojs_message('发送失败', $.scojs_message.TYPE_ERROR);
        }  
      });
    });

    $("#export-csv").on('click',function(){
      var luckyUserArr = {
        'activityId' : '<{$activityId}>'
      }
      $.get("<{:U('exportLuckyUser')}>",luckyUserArr,function(){

      });
    });

    $('#export-share').on('click',function(){
      var newsId =  $('#typeSelect').val();
      window.location.href = "__ROOT__/index.php/Admin/Activity/exportShareInfo/?activityId=<{$activityId}>&newsId="+newsId;
      $.get("<{:U('exportShareInfo')}>",{'activityId' : '<{$activityId}>','newsId':newsId});
    });

    $('#wlSelect').on('change',function(){
      var record = $(this).val();
      $("#luckyUser").load("<{:U('luckyUser')}>" , {"id" : <{$activity['id']}> , "type" :'<{$activity['type']}>','record':record});
    }); 

      if('<{$activity['type']}>'=='question'){
        getJoinDate();
    }
   
    function getJoinDate(){
        var prizeDateArr = <{:json_encode($prizeDate)}>;
        startDate = prizeDateArr['startDate'].split("-");
        endDate = prizeDateArr['endDate'].split("-");
        var i = parseInt(startDate[2]);
        var k = parseInt(endDate[2]);
        var Y = parseInt(startDate[0]);
        var m = parseInt(startDate[1]);
        var selectObj = document.getElementById("joinDateSelect");
        selectObj.options[0] = new Option('全部', '-1');
        selectObj.options.length = 1;
        for(i;i<=k;i++){
            selectObj.options[selectObj.length] = new Option(Y+"-"+m+"-"+i ,Y+"-"+m.toString().replace(/^(\d)$/,"0$1")+"-"+i.toString().replace(/^(\d)$/,"0$1"));
        };

    }

    $('#joinDateSelect').on('change',function(){
        var date = $('#joinDateSelect').val();
        $.post("<{:U('joinUser')}>",date,function(data){
            $('#joinUser').load("<{:U('joinUser')}>",{
                    "id" : '<{$activityId}>' , 
                    "type" :'<{$activity['type']}>',
                    "date" : date
                });
        });
    });

    $("#lucky-reply-btn").bind('click' , function(){
      $("#luckyReply").load("<{:U('luckyReply')}>" , {
        "id" : <{$activity['id']}>
      } , function(){
        $('#reply').modal('show');
      });
    });

    $('#activity').addClass("active");

    $('#add-prize-btn').on('click', function(){
        $('#myModal').modal();
    })

    $('#myModal').on('hidden.bs.modal' , function(){
      $('#myModal input').val("");
    })

    $(":radio[name='dateRadios']").bind('click' , function(){
      luckyArr['timeType'] = $(this).val();
      switch($(this).val()){
        case 'limit':
          $('#dateSelect').show();
          $(":radio[name='dateRadios'][value='unlimit']").attr("checked", false);
          $(":radio[name='dateRadios'][value='limit']").attr("checked", true);
          break;
        case 'unlimit':
          $('#dateSelect').hide();
          $(":radio[name='dateRadios'][value='limit']").attr("checked", false);
          $(":radio[name='dateRadios'][value='unlimit']").attr("checked", true);
          break;
      }
    });

    $(":radio[name='needRadios']").on('click', function(){
        switch($(this).val()){
          case 'need':
            $(":radio[name='needRadios'][value='need']").attr("checked", true);
            $(":radio[name='needRadios'][value='unneed']").attr("checked", false);
            break;
          case 'unneed':
            $(":radio[name='needRadios'][value='need']").attr("checked", false);
            $(":radio[name='needRadios'][value='unneed']").attr("checked", true);
            break;
        }

        luckyArr['configure']['need'] = $(this).val();
    });

    $(":radio[name='replyRadios']").bind('click' , function(){
      luckyArr['replyType'] = $(this).val();
      switch($(this).val()){
        case 'info':
          $('#contentInput').show();
          $('#urlInput').hide();
          break;
        case 'url':
          $('#urlInput').show();
          $('#contentInput').hide();
          break;
      }
    });

    $("#url").bind('change' , function(){
      luckyArr['url'] = $('#url').val().trim();
    });

    if(luckyArr['type'] == 'question'){
      getTimeRange('startHour',24);
      getTimeRange('endHour',24);
      getTimeRange('startMinutes',60);
      getTimeRange('endMinutes',60);
      getTimeRange('startSeconds',60);
      getTimeRange('endSeconds',60);

      timeCompare("<{$configure['startTime']}>","<{$configure['endTime']}>");
      }

    //下拉框获取可选择的时间
    function getTimeRange(id,num){
      var obj = document.getElementById(id);
      for(i=0;i<num;i++){
        obj.add(new Option(i,i));
        obj.options[i].text = obj.options[i].text.toString().replace(/^(\d)$/,"0$1");
        obj.options[i].value = obj.options[i].text.toString().replace(/^(\d)$/,"0$1");
      }
    }

    function timeCompare(starttime,endtime)   
      {   
        var arr=starttime.split(":");    
        var starttime= arr[0]*3600 +arr[1]*60; 
        document.getElementById('startHour').selectedIndex = arr[0]; 
        document.getElementById('startMinutes').selectedIndex = arr[1];
        document.getElementById('startSeconds').selectedIndex = arr[2]; 
          
        var arrs=endtime.split(":");    
        var lktime=arrs[0]*3600 +arrs[1]*60;    
        document.getElementById('endHour').selectedIndex = arrs[0];
        document.getElementById('endMinutes').selectedIndex = arrs[1];
        document.getElementById('endSeconds').selectedIndex = arrs[2]; 

        if(starttime>=lktime)
          return false;
        else  
          return true;
      }
        
    function editUser(id){
      $("#addUser").load("<{:U('editUser')}>",{"id":id,"activityId":"<{$activity['id']}>"},function(){
        $("#user-modal").modal('show');
      });
    }

    function delUser(id){
      var arr = {"id":id , "handleType":"delete" , "activityId":"<{$activity['id']}>"};

      if(confirm("是否删除")){
        $.post("<{:U('QrUserHandle')}>" , arr , function(data){
          if(data['status'] == 0){
            $.scojs_message("删除成功！", $.scojs_message.TYPE_OK);
            $('#userList').load("<{:U('userList')}>" , {'id':<{$activity['id']}>} , function(){});
          }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
      }
    }
    
    function loadPrizeList(){
      $('#prizeList').load('__MODULE__/Activity/prizeList',
      {
        id: <{$activity['id']}>
      } , function(){
        var addPrize = {
          'activityId' : <{$activity['id']}>,
          'prizeType' : '',
          'prizeName' : '',
          'num' : 0,
          'luckyCount' : 0
          
        };
      });
    }

    loadPrizeList();
      
    $('#add-btn').on('click', function(){
      addPrize['prizeType'] = $("#prizeType").val().trim();
      addPrize['prizeName'] = $("#prizeName").val().trim();
      addPrize['num'] = $("#prizeNum").val().trim();
      

      if(addPrize['prizeType'] == "" || addPrize['prizeName'] == "" || addPrize['num'] == 0){
        $.scojs_message("请输入奖品信息", $.scojs_message.TYPE_ERROR);
        return;
      }
        $.post(
        "__MODULE__/Activity/addPrizeHandle",
        addPrize,
        function(data, textStatus){
            if(data['data'] == 0){
                $('#myModal').modal('hide');
                loadPrizeList();
                $.scojs_message('添加成功！', $.scojs_message.TYPE_OK);
            }
            else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    });

    function dateCompare(startdate,enddate)   
    {   
      var arr=startdate.split("-");    
      var starttime=new Date(arr[0],arr[1],arr[2]);    
      var starttimes=starttime.getTime();   
        
      var arrs=enddate.split("-");    
      var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
      var lktimes=lktime.getTime();   
        
      if(starttimes>lktimes)
        return false;
      else  
        return true;
    }  

    $("#save-btn").bind('click' , function(){
      luckyArr['name'] = G("name").value.trim();

      if(luckyArr['replyType'] == "url"){
        if(!IsUrl("#url")){
          $.scojs_message('请输入以http://开头的有效网址！', $.scojs_message.TYPE_ERROR);
          return;
        }
      }

      if(luckyArr['timeType'] == 'limit'){
        if(G("startTime").value == "0000-00-00" || G("endTime").value == "0000-00-00" || G("startTime").value == "" || G("endTime").value == ""){
          $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(!dateCompare(G('startTime').value , G('endTime').value)){
          $.scojs_message('开始时间不能大于结束时间', $.scojs_message.TYPE_ERROR);
          return;
        }
        luckyArr['startTime'] = $("#startTime").val();
        luckyArr['endTime'] = $("#endTime").val();
      }

      if(luckyArr['type'] == 'question'){
        var startHour = $('#startHour').val();
        var endHour = $('#endHour').val();
        var startMinutes = $('#startMinutes').val();
        var endMinutes = $('#endMinutes').val();
        var startSeconds = $('#endSeconds').val();
        var endSeconds = $('#endSeconds').val();
        luckyArr['configure']['startDate'] = $("#startTime").val();
        luckyArr['configure']['endDate'] = $("#endTime").val();
        luckyArr['configure']['startTime'] = startHour+":"+startMinutes+":"+startSeconds;
        luckyArr['configure']['endTime'] = endHour+":"+endMinutes+":"+endSeconds;
        if(!timeCompare(luckyArr['configure']['startTime'] , luckyArr['configure']['endTime'])){
          $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
          return false;
        }
      }else{
        luckyArr['startTime'] = $("#startTime").val();
        luckyArr['endTime'] = $("#endTime").val();
      }

    if(luckyArr['bigImg'] == "" || luckyArr['minImg'] == ""){
      $.scojs_message('请上传活动图片', $.scojs_message.TYPE_ERROR);
      return;
    }

      luckyArr['content'] = G("inputActivityContent").value;

      if(luckyArr['type'] != "general" && luckyArr['content'] == ""){
        $.scojs_message('请输入活动介绍', $.scojs_message.TYPE_ERROR);
        return;
      }

      if(luckyArr['name'] == ""){
        $.scojs_message('请输入活动名称', $.scojs_message.TYPE_ERROR);
        return;
      }
      $.post("<{:U('updateActivityHandle')}>" , luckyArr , function(data){   
        if(data['status'] == 0){
          alert("修改成功！");
          //激活标签管理
          if("<{$tab}>"){
            $('#myTab li:eq(0) a').tab('show');
          }
        }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      });
    });

    function skipPage(path){
      window.location.href = path;
    }

    $("#msg-bigImg-input").uploadify({
          
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyMaxUpload
      });

    $('#openactivity').on('click',function(){
      luckyArr['anonymous']=$(this).val();
      });
      $('#notopenactivity').on('click',function(){
      luckyArr['anonymous']=$(this).val();
      });
  //图片上传发生的事件
  function readyMaxUpload(file){
    var old = luckyArr['bigImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-bigImg-input").uploadify("settings", "formData", params);
    }
  }
  function funBigImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

      if(imgUrl){
        $('#bigImg').attr('src', imgUrl);
        $('#bigImg').show();

        luckyArr['bigImg'] = imgUrl;
      }
    }
  }

  $("#msg-minImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funMinImgComplete,
          onUploadStart :  readyMinUpload
      });

  //图片上传前事件
  function readyMinUpload(file){
    var old = luckyArr['minImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-minImg-input").uploadify("settings", "formData", params);
    }
  }



  //图片上传发生的事件
  function funMinImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
      if(imgUrl){
        $('#minImg').attr('src', imgUrl);
        $('#minImg').show();

        luckyArr['minImg'] = imgUrl;
      }
    }
  }

  var checkedArr={
    'val':''
  }
  /**
   * 点击批量删除按钮
   * @param arrary checkedArr
   * @param int id
   * @return arrary data
   * @auth 黄浩
   * 修改历史 2014/9/11
   */
  $("#del-btn").on("click",function(){
     checkedArr['val']= $(":checkbox:checked").map(function(){
        return this.value;   
      }).get();

     if (checkedArr['val'] =='') {
        $.scojs_message("请选择要删除的人员", $.scojs_message.TYPE_ERROR);
     }else{
      if(confirm('是否确认删除?')){
        $.post("<{:U('delUser')}>" , checkedArr ,function(data){
          if(data['status'] == 0){
            $.scojs_message("删除成功！", $.scojs_message.TYPE_OK);
              $('#userList').load("<{:U('userList')}>" , {'id':<{$activityId}>});
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        }); 
      }
    }
  });

  $("#upload-user-btn").uploadify({    
    swf           : '__PUBLIC__/uploadify/uploadify.swf',
    uploader      : '__MODULE__/Public/fileXls',
    buttonText    : '批量上传人员信息',
    method        : 'post',
    onUploadSuccess    : funComplete,
    fileTypeExts  : '*.xlsx;*.xls', 
  });

   //图片上传发生的事件
  function funComplete(file, data, response) {
      var obj = eval ("(" + data + ")");
      
       if(obj['Filedata']['ext']== "xlsx"){
            fileType = "Excel2007";
        }else if(obj['Filedata']['ext'] == "xls"){
            fileType = "Excel5";
        }

      var arr = {
        "activityId" : "<{$activity.id}>" ,
        "fileType" : fileType,
        "fileName" : obj['Filedata']['savename'] 
      };

      $.post("<{:U('uploadFile')}>" , arr , function (result){
        if(result["status"] == 0){
          
          if(result["telNum"] != 0){
            alert("您有:" + result["telNum"] + "条电话格式不对,\n" + "请核对电话格式格式后再上传。");
            $.scojs_message("上传失败！", $.scojs_message.TYPE_ERROR);
          }else{
            $.scojs_message("上传成功！", $.scojs_message.TYPE_OK);
            $('#userList').load("<{:U('userList')}>" , {'id':<{$activity['id']}>} , function(){});
            }
        }else{
          $.scojs_message(result["info"], $.scojs_message.TYPE_ERROR);
        }
      });  
  }

  $('#createQr').on('click',function(){
    var qrArr = {
          "type":'share',
          "activityId" : '<{$activityId}>',
          "ecid":'<{$ecid}>'
        };
        $.post("<{:U('shareCreateQrHandle')}>",qrArr,function(data){
          if(data['status'] == 0){
              //$('#createQr').hide();
              $('#qrImg').attr("src" , data['info']);
              window.location.reload();
              $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            }else{
              $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        }); 
  });

  var shareArr = {
    'newsId':$('#typeSelect').val(),
    'activityId':'<{$activityId}>',
    'startTime':'',
    'endTime':''
  };

  //传递默认值
  $('#shareList').load('<{:U("shareList")}>',shareArr);
  //绑定新闻选择下拉框
  $('#typeSelect').on('change',function(){
    shareArr['newsId'] = $(this).val();
    $('#shareList').load('<{:U("shareList")}>',shareArr);
  });
  //绑定时间段查看按钮
  $('#timeset').on('click',function(){
    var startTimeSel = $('#startTime-Sel').val();
    var endTimeSel = $('#endTime-Sel').val();
    if(startTimeSel == "0000-00-00" || endTimeSel == "0000-00-00" || startTimeSel == "" || endTimeSel == ""){
      $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
      return;
    }
    if(!dateCompare(startTimeSel , endTimeSel)){
      $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
      return;
    }
    else{
      shareArr['startTime'] = startTimeSel;
      shareArr['endTime'] = endTimeSel;
    }
    $('#shareList').load('<{:U("shareList")}>',shareArr,function(){
      $('#startTime-Sel').val(shareArr['startTime']);
      $('#endTime-Sel').val(shareArr['endTime']);
    });

  });

  $('#allSet').on('click',function(){
    $('#scanUserList').load('<{:U("scanUserList")}>',{'activityId':'<{$activityId}>'});
  });
  
  $('#dateSet').on('click' ,function(){
    var scanArr = {
      'startTime' : '',
      'endTime' : '',
      'activityId' : '<{$activityId}>'
      };
    var startTime = $('#startTime-Scan').val();
    var endTime = $('#endTime-Scan').val();
  if(startTime == "0000-00-00" || endTime == "0000-00-00" || startTime == "" || endTime == ""){
    $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
    return;
  }
  if(!dateCompare(startTime , endTime)){
    $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
    return;
  }
    scanArr['startTime'] = startTime;
    scanArr['endTime'] = endTime;

  $('#scanUserList').load('<{:U("scanUserList")}>',scanArr,function(){
        $('#startTime-Scan').val(scanArr['startTime']);
        $('#endTime-Scan').val(scanArr['endTime']);
       });
    
  });
  var params = {
    'startTime':'',
    'endTime':'',
    'prizeId': '',
    'activityId':'<{$activityId}>' ,
    'ecid':'<{$ecid}>',
    'luckyNum':'',
    'activityType':'<{$activityType}>'
  };
  if(luckyArr['type'] == 'share'){
    params['newsId'] = $('#typeSelect').val();
  }
    
  //绑定奖品分配按钮
  $('.distribtn').on('click',function(){
    $('#prizeModal-distribute').modal('show');
  });

  $('.distributeBtn').on('click',function(){
    
    var startTime = $('#startTime-prize').val();
    var endTime = $('#endTime-prize').val();
    if(startTime == "0000-00-00" || endTime == "0000-00-00" || startTime == "" || endTime == ""){
      $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
      return;
    }
    else if(!dateCompare(startTime , endTime)){
      $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
      return;
    }else{
      params['startTime'] = $('#startTime-prize').val();
      params['endTime'] = $('#endTime-prize').val();
    }
    params['prizeId'] = $('#prize-typeSelect').val();
    params['luckyNum'] = $('#InputNum').val();
    $.post("<{:U('prizeDistributeHandle')}>",params,function(data){
      if(data['status'] == 0){
            $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            $('#prizeModal-distribute').modal('hide');
            $('#prizeModal-distribute').on('hidden.bs.modal', function (e) {
              $("#joinUser").load("<{:U('joinUser')}>" , {"id" : <{$activity['id']}> , "type" :'<{$activity["type"]}>'});
            });
      }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    });
  }); 
    
  //显示群发素材栏目
  if("<{$materialtab}>"){
        $('#myTab a[href="#<{$materialtab}>"]').tab('show'); // Select tab by name
      }
    </script>
</block>