<form class="form-horizontal" role="form">
  <if condition="$isAdmin">
    <div class="form-group">
      <label for="inputActivityName" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-default" id='add-company-btn'>添加企业活动</button>
        <select class="form-control" id='company-select' style="display:none;">
          <volist name='company' id='item'>
            <option value='<{$item.company_ecid}>'><{$item.company_name}></option>
          </volist>
        </select>
      </div>
    </div>
  </if>
  
  <div class="form-group">
    <label for="inputActivityType" class="col-sm-2 control-label">类型：</label>
    <div class="col-sm-10">
      <select class="form-control" id='selectActivityType'>
        <volist name='type' id='item'>
          <option value='<{$item.value}>'><{$item.name}></option>
        </volist>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputActivityName" class="col-sm-2 control-label">名称：</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputActivityName" placeholder="活动名称">
    </div>
  </div>

  <div class="form-group" id="showwe">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="col-sm-6">
        <div>
          <input type="radio" name="Radios" id="unlimitactivity" value="1" checked>
            开放活动
          </div>
      </div>
      <div class="col-sm-6">
        <div>
          <input type="radio" name="Radios" id="limitactivity" value="0">
            不开放活动
          </div>
      </div>
    </div>
  </div>

  <div class="form-group frequencyRadiosType">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="frequencyRadios" id="onceActivity" value="once" checked>
            单次活动
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="frequencyRadios" id="moreActivity" value="more">
            多日活动
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group needRadiosType" style="display:none;">
    <label for="questionStartTime" class="col-sm-2 control-label" style="padding-left: 0;">身份信息：</label>
    <div class="col-sm-10">
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="needRadios" id="needRadios" value="need" checked>
            需要
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="needRadios" id="unneedRadios" value="unneed">
            不需要
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 dateRadiosType">
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="dateRadios" id="unlimitRadios" value="unlimit" checked>
            不限时
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="radio">
          <label>
            <input type="radio" name="dateRadios" id="limitRadios" value="limit">
            时段活动
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" id='dateSelect'>
    <div class="col-sm-offset-2 col-sm-10">
      <div class="row">
        <div class="col-sm-5">
          开始：<input type="text" class="form-control Wdate" id="startDate" onClick="WdatePicker()" style="height:30px;">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          结束：<input type="text" class="form-control Wdate" id="endDate" onClick="WdatePicker()" style="height:30px;">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" id="timeSelect" style="display:none;">
    <label for="questionStartTime" class="col-sm-2 control-label">时间：</label>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6">
          <div id="questionStartTime">
            <select id="startHour"></select>时
            <select id="startMinutes"></select>分
            <select id="startSeconds"></select>秒
          </div>
        </div>
        <div class="col-sm-6">
          <div id="questionEndTime">
            <select id="endHour"></select>时
            <select id="endMinutes"></select>分
            <select id="endSeconds"></select>秒
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" id="bigImg-form">
    <label class="col-sm-2 control-label">大图：</label>
    <div class="col-sm-10">
      <input type='file' id='msg-bigImg-input' class="form-control" multiple="true"/>
      <img src="" class="img-thumbnail" id='bigImg' style='display:none;width:300px;'>
    </div>
  </div>
  <div class="form-group" id="minImg-form">
    <label for="inputActivityName" class="col-sm-2 control-label">小图：</label>
    <div class="col-sm-10">
      <input type='file' id='msg-minImg-input' class="form-control" multiple="true"/>
      <img src="" class="img-thumbnail" id='minImg' style='display:none;width:100px;'>
    </div>
  </div>

  <div class='type-more' id="general">
    <div class="form-group">
      <label for="inputActivityName" class="col-sm-2 control-label">回复：</label>
      <div class="col-sm-10">
        <div class="col-sm-6">
          <div class="radio">
            <label>
              <input type="radio" name="replyRadios" id="infoRadios" value="info" checked>
              介绍
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="radio">
            <label>
              <input type="radio" name="replyRadios" id="urlRadios" value="url">
              跳转网址
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" id='url-form-group' style='display:none;'>
      <label for="inputUrl" class="col-sm-2 control-label">网址：</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUrl" placeholder="网址">
      </div>
    </div>
  </div>

  <div class='type-more' id="fwLucky" style='display:none;'>
    <div class="form-group">
      <label for="bindBrand" class="col-sm-2 control-label">品牌：</label>
      <div class="col-sm-10">
        <select class="form-control" id='bindBrand'>
          <option value='-1'>全部</option>
          <volist name='brand' id='item'>
            <option value='<{$item.id}>'><{$item.name}></option>
          </volist>
        </select>
      </div>
    </div>
    <div class="form-group" style='display:none;' id='productSelect'>
      <label for="bindProduct" class="col-sm-2 control-label">产品：</label>
      <div class="col-sm-10">
        <select class="form-control" id='bindProduct'>
          <option value='-1'>全部</option>
        </select>
      </div>
    </div>
  </div>
  <div class="alert alert-danger">活动介绍请在添加活动后点击详情进行编辑</div>
</form>

<script>
  $('#showwe').hide();
  var activityInfo = {
    type : $('#selectActivityType').val(),
    ecid : '<{:session('ecid')}>',
    name : '',
    timeType : "unlimit",
    replyType : 'info',
    startTime : '',
    endTime : '',
    bigImg : '',
    minImg : '',
    anonymous : '1',
    content : '',
    url : '',
    bindBrandId : $('#bindBrand').val(),
    bindProductId : $('#bindProduct').val(),
    configure:{
      timesType:'once',
      startDate:'',
      endDate:'',
      startTime:'',
      endTime:'',
      need:'need'
    }
  };
 
  $('#unlimitactivity').on('click',function(){
    activityInfo['anonymous']=$(this).val();
   });
  $('#limitactivity').on('click',function(){
    activityInfo['anonymous']=$(this).val();
  });
  $('#onceActivity').on('click',function(){
    activityInfo['configure']['timesType']=$(this).val();
  });
  $('#moreActivity').on('click',function(){
    activityInfo['configure']['timesType']=$(this).val();
  });

  $('#dateSelect').hide();
  $('#timeSelect').hide();
  $('.frequencyRadiosType').hide();

  $(":radio[name='dateRadios']").on('click', function(){
    switch($(this).val()){
      case 'limit':
        $('#dateSelect').show();
        $(":radio[name='dateRadios'][value='unlimit']").attr("checked", false);
        $(":radio[name='dateRadios'][value='limit']").attr("checked", true);
        break;
      case 'unlimit':
        $('#dateSelect').hide();
        $('#timeSelect').hide();
        $(":radio[name='dateRadios'][value='limit']").attr("checked", false);
        $(":radio[name='dateRadios'][value='unlimit']").attr("checked", true);
        break;
    }

    activityInfo['timeType'] = $(this).val();
  });

  $(":radio[name='needRadios']").on('click', function(){
    switch($(this).val()){
      case 'need':
        $(":radio[name='needRadios'][value='need']").attr("checked", true);
        $(":radio[name='needRadios'][value='unneed']").attr("checked", false);
        break;
      case 'unneed':
        $(":radio[name='needRadios'][value='need']").attr("checked", false);
        $(":radio[name='needRadios'][value='unneed']").attr("checked", true);
        break;
    }

    activityInfo['configure']['need'] = $(this).val();
  });

  $(":radio[name='frequencyRadios']").on('click',function(){
    activityInfo['configure']['timesType'] = $(this).val();
  });
  $(":radio[name='replyRadios']").on('click', function(){
    switch($(this).val()){
      case 'url':
        $('#url-form-group').show();
        $(":radio[name='dateRadios'][value='info']").attr("checked", false);
        $(":radio[name='dateRadios'][value='url']").attr("checked", true);
        break;
      case 'info':
        $('#url-form-group').hide();
        $(":radio[name='dateRadios'][value='url']").attr("checked", false);
        $(":radio[name='dateRadios'][value='info']").attr("checked", true);
        break;
    }

    activityInfo['replyType'] = $(this).val();
  });

  $('#inputUrl').on('change', function(){
    activityInfo['url'] = $(this).val();
  })

  $('#selectActivityType').on('change', function(){
    
    $('.type-more').hide();
    $('#'+ $(this).val()).show();

    activityInfo['type'] = $(this).val();

    //判断活动类型，为sign时限定为时段活动
    if($(this).val() == "sign"){
      activityInfo['timeType'] = "limit";
      $('#showwe').show();
      $('#dateSelect').show();
      $(":radio[name='dateRadios'][value='unlimit']").attr("checked", false);
      $(":radio[name='dateRadios'][value='limit']").attr("checked", true);
      $(".dateRadiosType").hide();
      $('.frequencyRadiosType').hide();
      $('.needRadiosType').hide();
      $('#timeSelect').hide();
      showAlertInfo();
    }else if($(this).val() == 'question'){
      $('#showwe').hide();
      $('#dateSelect').show();
      $('.dateRadiosType').hide();
      $('#timeSelect').show();
      $('.needRadiosType').show();
      $('.frequencyRadiosType').show();
      showAlertInfo();
    }else if($(this).val() == 'share'){
      $('.alert').html('分享活动素材选择请在添加活动后点击详情进行编辑');
      $('#timeSelect').hide();
      $('.needRadiosType').show();
      $('.dateRadiosType').hide();
      $('#dateSelect').show();
      $('.frequencyRadiosType').hide();
      $('#showwe').hide();
      activityInfo['timeType'] = "limit";
    }else if($(this).val() == 'general'){
      $('#showwe').hide();
      $('#timeSelect').hide();
      $('#dateSelect').hide();
      $('.needRadiosType').hide();
      $(":radio[name='dateRadios'][value='limit']").attr("checked", false);
      $(":radio[name='dateRadios'][value='unlimit']").attr("checked", true);
      $(".dateRadiosType").show();
      $('.frequencyRadiosType').hide();
      showAlertInfo();
    }else{
      $('#showwe').hide();
      $('#timeSelect').hide();
      $('#dateSelect').hide();
      $('.needRadiosType').show();
      $(":radio[name='dateRadios'][value='limit']").attr("checked", false);
      $(":radio[name='dateRadios'][value='unlimit']").attr("checked", true);
      $(".dateRadiosType").show();
      $('.frequencyRadiosType').hide();
      showAlertInfo();
    }
  });
  
  getTimeRange('startHour',24);
  getTimeRange('endHour',24);
  getTimeRange('startMinutes',60);
  getTimeRange('endMinutes',60);
  getTimeRange('startSeconds',60);
  getTimeRange('endSeconds',60);
  
  //下拉框获取可选择的时间
  function getTimeRange(id,num){
    var obj = document.getElementById(id);
    for(i=0;i<num;i++){
      obj.add(new Option(i,i));
      obj.options[i].text = obj.options[i].text.toString().replace(/^(\d)$/,"0$1");
      obj.options[i].value = obj.options[i].text.toString().replace(/^(\d)$/,"0$1");
    }
  }

  /**
     * 显示提示信息
     * 蒋东芸 jiangdy@gbarcode.com
     * 2014/8/7
     */
  function showAlertInfo(){
    $('.alert').html('活动介绍请在添加活动后点击详情进行编辑');
  }

  $('#inputActivityName').on('change', function(){
    activityInfo['name'] = $(this).val().trim();
  });

  $('#add-company-btn').on('click' , function(){
    activityInfo['ecid'] = "";
    $('#add-company-btn').hide();
    $('#company-select').show();
    activityInfo['ecid'] = G('company-select').value;
  });

  $('#company-select').on('change' , function(){
    activityInfo['ecid'] = G('company-select').value;
  });

  $("#bindBrand").on('change', function(){
    activityInfo['bindBrandId'] = $(this).val();

    if(activityInfo['bindBrandId'] > 0){
      $.post('__MODULE__/Activity/productListHandle',
      {
        'id' : activityInfo['bindBrandId']
      },
      function(data, textStatus){
        $('.add-option').remove();
        $.each(data, function(key, val) {
          $('#bindProduct').append('<option value="'+val['id']+'" class="add-option">'+val['name']+'</option>');  
        });

        $('#productSelect').show();
      });
    }
    else{
      $('#productSelect').hide();
    }
  });

  $('#bindProduct').on('change',function(){
    activityInfo['bindProductId'] = $(this).val();
  });

  $("#msg-bigImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyBigUpload
      });

  //图片上传前事件
  function readyBigUpload(file){
    var old = activityInfo['bigImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-bigImg-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funBigImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

      if(imgUrl){
        $('#bigImg').attr('src', imgUrl);
        $('#bigImg').show();

        activityInfo['bigImg'] = imgUrl;
      }
    }
  }

  $("#msg-minImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funMinImgComplete,
          onUploadStart :  readyMinUpload
      });
  //图片上传前事件
  function readyMinUpload(file){
    var old = activityInfo['minImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-minImg-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funMinImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

      if(imgUrl){
        $('#minImg').attr('src', imgUrl);
        $('#minImg').show();

        activityInfo['minImg'] = imgUrl;
      }
    }
  }

  $('#<{$cId}>').on('click', function(){
    if(activityInfo['type'] == 'question'){
      var startHour = $('#startHour').val();
      var endHour = $('#endHour').val();
      var startMinutes = $('#startMinutes').val();
      var endMinutes = $('#endMinutes').val();
      var startSeconds = $('#endSeconds').val();
      var endSeconds = $('#endSeconds').val();
      activityInfo['configure']['startDate'] = $("#startDate").val();
      activityInfo['configure']['endDate'] = $("#endDate").val();
      activityInfo['configure']['startTime'] = startHour+":"+startMinutes+":"+startSeconds;
      activityInfo['configure']['endTime'] = endHour+":"+endMinutes+":"+endSeconds;
    }else{
      activityInfo['startTime'] = $("#startDate").val();
      activityInfo['endTime'] = $("#endDate").val();
    }

    if(activityInfo['replyType'] == 'url'){
      if(!IsUrl("#inputUrl")){
        $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
        $("#inputUrl").focus();
        return;
      }
    }

    if(validate()){
      $.post('__MODULE__/Activity/addActivityHandle',
        activityInfo,
        function(data){
          if(data['status'] == 0){
            $.scojs_message('添加成功！', $.scojs_message.TYPE_OK);
            $('#activityList').load('__MODULE__/Activity/activityList');
            $('.modal').modal('hide');
          }
          else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        })
    }
  });

  function dateCompare(startdate,enddate)   
  {   
    var arr=startdate.split("-");    
    var starttime=new Date(arr[0],arr[1],arr[2]);    
    var starttimes=starttime.getTime();   
      
    var arrs=enddate.split("-");    
    var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
    var lktimes=lktime.getTime();   
      
    if(starttimes>lktimes)
      return false;
    else  
      return true;
  }  
  function timeCompare(starttime,endtime)   
  {   
    var arr=starttime.split(":");    
    var starttime= arr[0]*3600 +arr[1]*60;   
      
    var arrs=endtime.split(":");    
    var lktime=arrs[0]*3600 +arrs[1]*60;    

    if(starttime>=lktime)
      return false;
    else  
      return true;
  }
  function validate(){
    if(activityInfo['name'] == ''){
      $.scojs_message('名称不能为空', $.scojs_message.TYPE_ERROR);
      return false;
    }
    
    if(activityInfo['timeType'] === 'limit' && activityInfo['type'] != 'question'){
      if($('#startDate').val() === '' || $('#endDate').val() ===''|| $('#startDate').val() == '0000-00-00' || $('#endDate').val() =='0000-00-00'){
        $.scojs_message('开始日期或结束日期不能为空', $.scojs_message.TYPE_ERROR);
        return false;
      }
      if(!dateCompare($('#startDate').val() , $('#endDate').val())){
        $.scojs_message('开始日期不能大于结束日期', $.scojs_message.TYPE_ERROR);
        return false;
      }
    }

    if(activityInfo['type'] == 'question'){
      if(!dateCompare(activityInfo['configure']['startDate'] , activityInfo['configure']['endDate'])){
        $.scojs_message('开始日期不能大于结束日期', $.scojs_message.TYPE_ERROR);
        return false;
      }
      if(activityInfo['configure']['endTime'] === '00:00:00'){
        $.scojs_message('结束时间不能为空', $.scojs_message.TYPE_ERROR);
        return false;
      }
      if(!timeCompare(activityInfo['configure']['startTime'] , activityInfo['configure']['endTime'])){
        $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
        return false;
      }

    }

    if(activityInfo['bigImg'] == ''){
      $.scojs_message('请上传大图', $.scojs_message.TYPE_ERROR);
      return false;
    }

    if(activityInfo['minImg'] == ''){
      $.scojs_message('请上传小图', $.scojs_message.TYPE_ERROR);
      return false;
    }

    return true;
  }
</script>