<table class="table table-hover">
  <thead>
    <tr>
      <th>姓名</th>
      <th>评论</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <volist name="commetsList" id="data">
      <tr id="commentCheck-<{$data.id}>">
        <if condition="$data['msg'] neq ''">
          <td><{$data.user_name}></td>
          <td><{$data.msg}></td>
          <td><a class="pass" id="pass-<{$data.id}>" href="__MODULE__/Activity/passHandle/id/<{$data.id}>"><if condition="$data['comform'] eq '0'">审核<else />已审核</if></a>&nbsp;&nbsp;<a class="del" id="del-<{$data.id}>"href="__MODULE__/Activity/delHandle/id/<{$data.id}>">删除</a></td>
        </if>
      </tr>
    </volist>
  </tbody>
</table>
<p class='text-right' id="page"></p>
<ul class="pagination"><{$page}></ul>
<script type="text/javascript">
/**
 * 通过操作
 * @author蒋东芸
 */
$('.pass').on('click',function(){
  var btnId = $(this).attr("id");
  var id = btnId.split('-')[1];
  var divName = $(this);
  $.post("<{:U('passHandle')}>",
                  {
                      'id' : id
                  },
                  
                  function(data){
                      if(data['status']===0){
                        $.scojs_message('审核通过！', $.scojs_message.TYPE_OK);
                        divName.text('已审核');
                        return false;
                      }
                      else
                      {
                        $.scojs_message('已审核！', $.scojs_message.TYPE_ERROR);
                      }

                  });
    return false;
})
/**
 * 删除操作
 * @author蒋东芸
 */
$('.del').on('click',function(){
  if(confirm('是否删除评论？')){
    var btnId = $(this).attr("id");
    var id = btnId.split('-')[1];

    $.post("<{:U('delHandle')}>",
                {
                    'id' : id
                },
                function(data){
                    if(data['status']===0){
                      
                      $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);window.location.href = "<{:U('activityDetails')}>/id/<{$activityId}>/tab/panel-commentcheck";
                    }
                    else
                    {
                      $.scojs_message('删除失败！', $.scojs_message.TYPE_ERROR);
                    }

                });
  }

  return false;
})

</script>