<div id="questionEdit-<{$num}>">
    <div class="panel-body">
      <form class="form-horizontal" role="form" id="editQuestion">
        <div class="form-group"> 
          <div class="col-sm-2" >
            <label>问题题目：</label>
          </div>
          <div class="col-sm-12">
            <textarea id="title-<{$num}>" class="form-control" row="6" name="question" ><{$questionContent['title']}></textarea>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-2" style="padding-top: 10px;">
            <label>答案数量：</label>
          </div>
          <div class="col-sm-2">
            <select  class="form-control" id="answerNum-<{$num}>">
              <option  value="2">2</option>
              <option  value="3">3</option>
              <option  value="4">4</option>
              <option  value="5">5</option>
              <option  value="6">6</option>
            </select>
          </div>
          <div class="col-sm-2 col-sm-offset-3" style="padding-top: 10px;">
            <label>标准答案：</label>
          </div>
          <div class="col-sm-2">
            <select  class="form-control" id="standardSelect-<{$num}>">
            </select>
          </div>
        </div>
        <div id="answer_list-<{$num}>">
          <volist name="questionContent.answer_list" id="answer" key="k">
            <div class="form-group">
              <div class="col-sm-6">
                <input type="text" class="form-control" id="anwser-<{$num}>-<{$k}>" value="<{$answer}>"/>
              </div>
            </div>
          </volist>
        </div>
        <div class="form-group"> 
          <div class="col-sm-3 col-sm-offset-9">
            <p class="form-control-static">
              <button type="button" class="btn btn-primary" id="btn-edit-question-<{$num}>" >保存修改</button>
              <button type="button" class="btn btn-info" id="btn-del-question-<{$num}>" >删除</button>
            </p>
          </div>
        </div>
      </form>
    </div> 
</div>
   
<script type="text/javascript">
  var k = '<{$num}>';
  var editArr = <{:json_encode($questionContent)}>;
  var num = editArr['answer_list'].length;
  var j = editArr['answer'];
  var b = true;
  $('#answerNum-<{$num}>').val(num);
  editAnswerInput();
  editStandardSelect();
  $('#standardSelect-<{$num}>').val(j);

  $("#answerNum-<{$num}>").on('change',function(){  
    editAnswerInput();
    editStandardSelect();
    b = false;
    $(".answer_list").on('change',function(){
    change(this);
    });
  });

  $("#standardSelect-<{$num}>").on('change',function(){
    editArr['answer'] = $('#standardSelect-<{$num}>').val();
    b = false;
  });

  $('#title-<{$num}>').on('change',function(){
    editArr['title'] = $('#title-<{$num}>').val();
    b = false;
  });

  $(".answer_list").on('change',function(){
    change(this);  
  });

  function change(obj){
    var opt = $(obj).attr('id').split("-");
    var i = opt[2];
    editArr['answer_list'][i] = $("#answer-<{$num}>-"+i).val();
    b = false;
  }

  function validData(){
    if(editArr['title']==''){
      $.scojs_message('请输入问题',$.scojs_message.TYPE_ERROR);
      return false;
    }
    var d = true;
    var num = $("#answerNum-<{$num}>").val();
    for(i=0;i<num;i++){
      if($('#answer-'+k+'-'+i).val() == ''){
        d  = false;
        break;
      }
    }
    if(!d ){
      $.scojs_message('请完成选项内容', $.scojs_message.TYPE_ERROR);
      return false;
    }
    return true;
  }

  $('#btn-edit-question-<{$num}>').on('click',function(){
    if(b==false){
      validData();
        if(!validData()){
          return ;
        }else{
          editHandle(editArr,k,'edit');
        }
    }else{
      $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
      return ;
    }
  });

  $('#btn-del-question-<{$num}>').on('click',function(){
    if(confirm('是否确认删除问题?')){
      editHandle(editArr,k,'delete');
    } 
  });

  function editAnswerInput(){
    var num= $("#answerNum-<{$num}>").val();
    $('#answer_list-<{$num}>').html('');
    for(i=0;i<num;i++){
      var addAnswer_str = editArr['answer_list'][i];
      if(addAnswer_str == null){
        addAnswer_str = '';
        }
      $('#answer_list-<{$num}>').append('<div class="form-group"><div class="col-sm-6"><input type="text" class="form-control answer_list" id="answer-'+k+'-'+i+'" placeholder="请输入答案内容"  value="'+addAnswer_str+'"></div></div>');
    }
  }

  function editStandardSelect(){
    var num= $("#answerNum-<{$num}>").val();
    var obj = document.getElementById('standardSelect-<{$num}>')  
    obj.options.length = 0;
    for(i=0;i<num;i++){
     obj.add(new Option(i+1,i));
    } 
  }
</script>