<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加人员</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label for="inputActivityType" class="col-sm-3 control-label">姓名：</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="InputUsername" placeholder="请输入姓名" value="<{$userItem.user_name}>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputActivityType" class="col-sm-3 control-label">性别：</label>
                  <div class="col-sm-8">
                    <select class="form-control" id='sexType'>
                      <option value='0'>女</option>
                      <option value='1'>男</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputActivityType" class="col-sm-3 control-label">公司名称：</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="InputCompany" placeholder="请输入公司名称" value="<{$userItem.company}>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputActivityType" class="col-sm-3 control-label">联系电话：</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="InputTel" placeholder="请输入联系电话" value="<{$userItem.tel}>" onkeyup="checkInt('InputTel')">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="userHandle()">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  var userArr = <{:json_encode($userItem)}>;
  
  <if condition="$userItem.handleType eq 'edit'">
    $("#sexType").val("<{$userItem.sex}>");
  </if>

  function userHandle(){
    userArr['user_name'] = $("#InputUsername").val().trim();
    userArr['sex'] = $("#sexType").val();
    userArr['company'] = $("#InputCompany").val().trim();
    userArr['tel'] = $("#InputTel").val().trim();
    
    if(userArr['user_name'] == ""){
      $.scojs_message("请输入姓名", $.scojs_message.TYPE_ERROR);
      return;
    }

    $.post("<{:U('QrUserHandle')}>" , userArr , function(data){
      if(data['status'] == 0){
        $("#user-modal").modal('hide');
        $.scojs_message("操作成功！", $.scojs_message.TYPE_OK);
        $('#userList').load("<{:U('userList')}>" , {'id':userArr['activityId']} , function(){});
      }else{
        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    });
  }
</script>