<extend name="Public:new-base" />
<block name="title">
    <title>活动管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
    <script language="javascript" type="text/javascript" charset="utf-8" src="__JS__/Data/adddate.js"></script>
</block>

<block name="right">
    <if condition="$isAdmin">
      <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
          <select class="form-control" id='typeSelect'>
            <option value='all'>全部</option>
            <volist name='type' id='item'>
              <option value='<{$item.value}>'><{$item.name}></option>
            </volist>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="input-group">
            <input type="text" class="form-control" id='ecid-input' placeholder="搜索企业ID">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" id='search-btn'>搜索</button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-md-1">
        <button class="btn btn-info" id='reset-btn' type="button" onclick="window.location.reload()">全部</button>
    </div>
      </div>
    </if>
    
    <div class="panel panel-default">
      <div class="panel-heading">活动列表</div>
      <div class="panel-body" id='activityList'>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-info" id='add-activity-btn'>添加活动</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addActivityModal" style="margin-top:50px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加活动</h4>
          </div>
          <div class="modal-body" id='modalContent' style="overflow-y:scroll;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id='save-btn'>保存</button>
          </div>
        </div>
      </div>
    </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

    $('#activity').addClass("active");

    //$('#modalContent').height(document.body.clientHeight - 40);

    $('#add-activity-btn').on('click', function(){
      $('#modalContent').load('__MODULE__/Activity/addActivity',
        {
          cId : 'save-btn'
        });
      $('#addActivityModal').modal({
        keyboard: false,
        backdrop: 'static'
      });
    })

    $('#addActivityModal').on('hidden.bs.modal', function (e) {
      $('#modalContent').empty();
      $('#save-btn').off();
    })

    $('#activityList').load('__MODULE__/Activity/activityList');
    
    
    $('#typeSelect').on('change', function(){
      var arr={
      'type':$(this).val(),
      'keyword':''
      };
      if($(this).val() === 'all')
        $('#activityList').load('__MODULE__/Activity/activityList');
      else
        $('#activityList').load('__MODULE__/Activity/activityList',arr);
    })
        /*
         *绑定企业ID搜索
         *
         */
       $('#search-btn').on('click',function(){
        var ecid = $('#ecid-input').val().trim();

        if(ecid != ''){
            $('#activityList').load('<{:U("activityList")}>',{'ecid':ecid});
        }
        else{
            $.scojs_message('请输入要搜索的关键词',$.scojs_message.TYPE_ERROR);
        }
      });
    </script>
</block>