<table class="table table-bordered">
    <thead>
        <tr>
            <th>中奖微信号</th>
            <th>参与时间</th>
            <th>姓名</th>
            <th>电话</th>
            <th>奖品类型</th>
            <th>奖品名称</th>
            <th>分配奖品</th>
        </tr>
    </thead>

    <tbody>
        <volist name="joinUserList" id="item" key="k">
            <tr>
                <td><{$item.nickname}></td>
                <td><{$item.joinTime}></td>
                <td><{$item.realName}></td>
                <td><{$item.tel}></td>
                <td><{$item.prizeType}></td>
                <td><{$item.prizeName}></td>
                <td>
                    <if condition="$item.luckyTime eq ''">
                        <button id="prize-<{$item.userId}>" class="btn btn-info btn-xs distribution">分配奖品</button>
                    <else/>
                      <{$item.luckyTime}>  
                    </if>
                </td>
            </tr>
        </volist> 
    </tbody>
</table>
<div class='text-center' id="joinUserPage"> 
    <ul class="pagination"><{$page}></ul>
</div>


<div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择奖品</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                   <div class="form-group">
                        <label class="col-sm-3 control-label">奖品类型：</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="prize-type">
                            <volist name='prize' id='type'>
                              <option value='<{$type.id}>'><{$type.prizeType}></option>
                            </volist>
                          </select>
                        </div>
                    </div>
                        
                   <!--  <div class="form-group">
                        <label  class="col-sm-3 control-label">剩余数量：</label>
                        <div class="col-sm-9">
                          <input type="text" id="" class="form-control" value="<{$number}>" disabled>
                        </div>
                    </div> -->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary subBtn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var prizeArr ={
            'prizeId' : '',
            'activityId' : '<{$activityId}>' ,
            'ecid' : '<{$ecid}>',
            'userId' : ''
        };
    
    $(".distribution").on('click',function(){
        var opt = $(this).attr("id").split("-");
        var k = opt[1];
        prizeArr['userId'] = k;
        $('#prizeModal').modal('show');
    });

    $('.subBtn').on('click',function(){
        prizeArr['prizeId'] = $('#prize-type').val();
        $.post("<{:U('questionPrizeHandle')}>",prizeArr,function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                $('#prizeModal').modal('hide');
                $('#prizeModal').on('hidden.bs.modal', function (e) {
                    $('#joinUser').load("<{:U('joinUser')}>", {
                        "id" : '<{$activityId}>' ,
                        "date" :"<{$date}>"
                     });

                    $("#luckyUser").load("<{:U('luckyUser')}>" , {
                        "id" : '<{$activityId}>' ,
                     }); 
                });
          }else{
              $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
    });


     $("#joinUserPage > ul > li > a").click(function()
        {
            var _HREF = $(this).attr('href');      

            //加载页面
            $("#joinUser").load(_HREF,
                {
                    "id" : '<{$activityId}>' , 
                    'date' :'<{$date}>',
                    'page' : '<{$page}>'
                });
            return false;
        });

</script>