<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">中奖回复</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default right-btn active" role="button" onclick="setMsg('lucky')">中奖提示</a>
                    <a class="btn btn-default repert-btn" role="button" onclick="setMsg('unlucky')">未中奖提示</a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>回复信息</h5>
                        <textarea class="form-control default-msg" rows="7" id="lucky-reply" onkeyup="saveMsg()"></textarea>
                        <p>可用参数：</p>
                        <button type="button" class="btn btn-default btn-sm key activityName">活动名称</button>
                        <button type="button" class="btn btn-default btn-sm key prizeType">奖品类型</button>
                        <button type="button" class="btn btn-default btn-sm key prizeName">奖品名称</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="replyHandle()">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var arr = <{:json_encode($activity)}>;
var replyType = 'lucky';
setMsg('lucky');

function setMsg(type){
    if(type == 'lucky'){
        $('.repert-btn').removeClass('active');
        $('.right-btn').addClass('active');
        $('#lucky-reply').val(arr['luckyReply']);
        replyType = 'lucky';
    }else{
        $('.right-btn').removeClass('active');
        $('.repert-btn').addClass('active');
        $('#lucky-reply').val(arr['unluckyReply']);
        replyType = 'unlucky';
    }
}

function saveMsg(){
    if(replyType == 'lucky'){
        arr['luckyReply'] = $('#lucky-reply').val().trim();
    }else{
        arr['unluckyReply'] = $('#lucky-reply').val().trim();
    }
}

function replyHandle(){
    if(arr['luckyReply'] == "" || arr['unluckyReply'] == ""){
        $.scojs_message('请添加回复内容', $.scojs_message.TYPE_ERROR);
        return;
    }

    var arrInfo = {
        "id" : arr['id'] , 
        "luckyReply" : arr['luckyReply'] , 
        "unluckyReply" : arr['unluckyReply']
    };

    $.post("<{:U('replyHandle')}>" , arrInfo , function(data){
        if(data['status'] == 0){
            $('#reply').modal('hide');
            $.scojs_message('操作成功', $.scojs_message.TYPE_OK);
        }else{
            $.scojs_message(data["info"], $.scojs_message.TYPE_ERROR);
        }
    });
}

//绑定插入文本按钮
$('.key').on('click',function(){
    if($(this).hasClass('activityName')){
      $('#lucky-reply').insertContent('{-活动名称-}');
    }
    else if($(this).hasClass('prizeType')){
      $('#lucky-reply').insertContent('{-奖品类型-}');
    }
    else if($(this).hasClass('prizeName')){
      $('#lucky-reply').insertContent('{-奖品名称-}');
    }
    
    saveMsg();
});

$(function() {
    /*  在textarea处插入文本--Start */
    (function($) {
        $.fn
        .extend({
            insertContent : function(myValue, t) {
                var $t = $(this)[0];
                if (document.selection) { // ie
                    this.focus();
                    var sel = document.selection.createRange();
                    sel.text = myValue;
                    this.focus();
                    sel.moveStart('character', -l);
                    var wee = sel.text.length;
                    if (arguments.length == 2) {
                        var l = $t.value.length;
                        sel.moveEnd("character", wee + t);
                        t <= 0 ? sel.moveStart("character", wee - 2 * t
                                - myValue.length) : sel.moveStart(
                                "character", wee - t - myValue.length);
                        sel.select();
                    }
                } else if ($t.selectionStart
                        || $t.selectionStart == '0') {
                    var startPos = $t.selectionStart;
                    var endPos = $t.selectionEnd;
                    var scrollTop = $t.scrollTop;
                    $t.value = $t.value.substring(0, startPos)
                            + myValue
                            + $t.value.substring(endPos,
                                    $t.value.length);
                    this.focus();
                    $t.selectionStart = startPos + myValue.length;
                    $t.selectionEnd = startPos + myValue.length;
                    $t.scrollTop = scrollTop;
                    if (arguments.length == 2) {
                        $t.setSelectionRange(startPos - t,
                                $t.selectionEnd + t);
                        this.focus();
                    }
                } else {
                    this.value += myValue;
                    this.focus();
                }
            }
        })
    })(jQuery);
    /* 在textarea处插入文本--Ending */
});
</script>