
<table class="table table-bordered">
    <thead>
        <tr>
            <th>中奖微信号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>奖品类型</th>
            <th>奖品名称</th>
            <th>中奖时间</th>
        </tr>
    </thead>

    <tbody>
        <volist name="userList" id="item" key="k">
            <tr>
                <td><{$item.nickname}></td>
                <td><{$item.realName}></td>
                <td><{$item.tel}></td>
                <td><{$item.prizeType}></td>
                <td><{$item.prizeName}></td>
                <td><{$item.luckyTime}></td>
            </tr>
        </volist>
    </tbody>
</table>
<div class='text-center' id="luckyUserPage">
    <ul class="pagination"><{$page}></ul>
</div>

<script type="text/javascript">
     $("#luckyUserPage > ul > li > a").click(function()
        {
            var _HREF = $(this).attr('href');      

            //加载页面
            $("#luckyUser").load(_HREF,
                {
                    "id" : '<{$activityId}>' , 
                    'page' : '<{$page}>',
                    'record' : '<{$record}>'
                });
            return false;
        });

     
</script>