<div class="modal fade" id="rule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">中奖规则</h4>
            </div>
            <div class="modal-body">
                <p>当前查询人数：<{$item.userCount}></p>
                <p>幸运倍数</p>
                <p><input type="text" class="form-control" id="baseNumber" placeholder="请输入幸运倍数" value="<{$item.baseNumber}>" onkeyup="checkInt('baseNumber')"></p>
                <p>下一位中奖号码</p>
                <input type="text" class="form-control" id="luckyNum" placeholder="请输入下一位中奖号码" value="<{$item.luckyNum}>" onkeyup="checkInt('luckyNum')">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ruleHandle()">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function checkInt(id){
    var str = G(id).value;
    var ecid = "";

    for(var i = 0;i<str.length;i++){
        if(!isNaN(str[i]) && str[i] != " "){
            ecid += str[i];
        }
    }

    G(id).value = ecid;
}

function ruleHandle(){
    if(G("baseNumber").value.trim() == "" || G("luckyNum").value.trim() == ""){
        alert("请输入完整");
        return;
    }

    var arr = {
        'id' : <{$item.id}> , 
        'baseNumber' : G("baseNumber").value , 
        'luckyNum' : G("luckyNum").value
    }
    
    $.post("<{:U('ruleHandle')}>" , arr , function(data){
        if(data['status'] == 0){
            $('#rule').modal('hide');
            $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
}
</script>