<div class="form-group">
    <label>群发类型：</label>
    <select class="form-control sort-materialType">
    <option value="text">文本信息</option>
    <option value="news">图文素材</option>
    </select>
</div>
<div id="material-content">
</div>
<p class="text-right" style="margin-top:10px;">
    <button type="button" class="btn btn-primary wait-send">预发送</button>
    <button type="button" class="btn btn-default immediately-send">立即发送</button>
</p>
<div id="messageList"></div>
<script type="text/javascript">
var noChange = true;
    var sendway = {
        'type' : 'text',
        'activityId' : '<{$_POST["activityId"]}>',
        'materialId' : '',
        'text':''
    };

    $('#material-content').load('<{:U("Ajax/textInput")}>',{
        p:"sendway['text']",
        v:sendway['text']
    });

    $('#messageList').load('<{:U("messageList")}>',{'activityId' : '<{$_POST["activityId"]}>'});

    $('.sort-materialType').on('change',function(){
        sendway['type'] = $(this).val();
        sendwayType(sendway['type']);
        noChange = false;
    });

    function sendwayType(type){
        switch(type){
            case 'text':
                $('#material-content').load('<{:U("Ajax/textInput")}>',{
                    p:"sendway['text']",
                    v:sendway['text']//文本框内容
                });
            break;
            case 'news':
                $('#material-content').load('<{:U("Ajax/newsChange")}>',{
                    p:"sendway['materialId']",
                    cId:"material-content",//要加载的层名
                    ecid:"<{$_POST['ecid']}>"
                });
            break;
        }
    }
    $('.wait-send').on('click',function(){
        //判断输入数据的合法性
        if(!validInputAdd())
          return;

        if(sendway['type'] == "news" && sendway['materialId'] == 0){
          $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
          return;
        }
        if(noChange){
            $.scojs_message('未修改任意一项！', $.scojs_message.TYPE_ERROR);
            return;
        }
        else{
            $.post(
                "<{:U('AddMaterialHandle')}>",
                sendway,
                function(data, textStatus){

                if(data['data'] === 0){
                  $.scojs_message('保存成功！', $.scojs_message.TYPE_OK);
                  noChange = true;
                  $('#messageList').load('<{:U("messageList")}>',{'activityId' : '<{$_POST["activityId"]}>'});
                }
                else{
                  $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }
    });

    function validInputAdd(){
        if(sendway['type']==='text' && sendway['text']===''){
            $.scojs_message('请输入回复文本', $.scojs_message.TYPE_ERROR);
            return false;
        }
        if(sendway['type']==='news' && sendway['materialId']===''){
            $.scojs_message('请选择图文素材',$.scojs_message.TYPE_ERROR);
            return false;
        }
        return true;
    }
</script>