
<div class='text-left' id="page">
    <ul class="pagination"><{$page}></ul>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>序号</th>
            <th>群发类型</th>
            <th>群发信息</th>
            <th>发送状态</th>
        </tr>
    </thead>

    <tbody>
        <volist name="message" id="item" key="k">
            <tr>
                <td><{$k}></td>
                <td><{$item.TypeName}></td>
                <td id="item-text" class="col-md-4">
                    <if condition="$item.text neq ''"><{$item.text}><else />
                        <table class="table">
                            <eq name="item['multiple']" value="0">
                                <tbody> 
                                    <tr><{:date("Y-m-d", strtotime($item['addTime']))}>
                                        <p><{$item[Content][0][title]}>
                                        </p>
                                        <img  style="width:100%;" src="<{$item[Content][0][newsImg]}>" alt="" class="img-rounded">
                                    </tr>
                                </tbody>
                            </eq>
                            <eq name="item['multiple']" value="1">
                                <tbody> 
                                    <tr><{:date("Y-m-d", strtotime($item['addTime']))}>
                                        <p><{$item[Content][0][title]}>
                                        </p>
                                        <img style="width:100%;" src="<{$item[Content][0][newsImg]}>" alt="" class="img-rounded">
                                        
                                    </tr>
                                    <volist name="item['Content']" id="materialItem" offset="1" kdy='j'>
                                        <tr>
                                            <td>
                                                <h5 style="width:180px;word-break:break-all;"><{$materialItem[title]}>
                                            </h5>
                                            </td>
                                            <td>
                                                <img  style="width:60px; height:60px;" src="<{$materialItem[newsImg]}>" alt="" class="img-rounded pull-right">
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </eq>
                        </table>
                    </if>
                </td>
                <td><span><a  id='message-<{$item.id}>' href='javascript:void(0)'><if condition="$item.isSend eq 0">未发送<else />已发送</if></a></span></td>
            </tr>
        </volist>
    </tbody>
</table>

<script type="text/javascript">
$("#page > ul > li > a").click(function(){
        var _HREF = $(this).attr('href');

        //加载页面
        $('#messageList').load(_HREF,{'activityId':'<{$item.activityId}>'});
        return false;
    });

</script>