<table class="table">
  <thead>
    <tr>
      <th>类型</th>
      <th>奖品名称</th>
      <th>总数</th>
      <th>中奖人数</th>
    </tr>
  </thead>
  <tbody>
    <volist name='prizeList' id='prize'>
      <tr>
        <td><{$prize.prizeType}></td>
        <td><{$prize.prizeName}></td>
        <td><{$prize.num}></td>
        <td><{$prize.luckyCount}></td>
      </tr>
    </volist>
  </tbody>
</table>