<if condition="$logInfo eq '' ">
      <h2 align="center">暂时没有新闻被分享哦</h2>
<else />   
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="50">序号</th>
      <th>微信昵称</th>
      <th>分享日期</th>
      <th>分享次数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>    
    <volist name="logInfo" id="item" key="k">
      <tr>
        <td align="center"><{$k}></td>
        <td><{$item.nickname}></td>
        <td><{$item.time}></td>
        <td><{$item.num}></td>
        <td>
          <{$item.luckyTime}>
          <if condition="$item.luckyTime eq ''">
            <button id="prize-<{$item.userId}>" class="btn btn-info distribtnShare">分配奖品</button>
          </if>
        </td>
      </tr>
    </volist>
  </tbody>
</table>
<div id="page">
    <ul class="pagination"><{$page}></ul>
</div>
</if>
<div class="modal fade" id="share-prizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择奖品</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                   <div class="form-group">
                        <label class="col-sm-3 control-label">奖品类型：</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="shareprize-type">
                            <volist name='sharePrize' id='item'>
                              <option value='<{$item.id}>'><{$item.prizeType}></option>
                            </volist>
                          </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary subBtn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#shareList").load(_HREF,{'newsId':'<{$newsId}>','activityId':'<{$activityId}>','startTime':'<{$startTime}>','endTime':'<{$endTime}>'});
        return false;
    });
  var pramas = {
    'prizeId' : '',
    'activityId' : '<{$activityId}>' ,
    'ecid' : '<{$ecid}>',
    'userId' : ''
  };

  $('.distribtnShare').on('click',function(){
    var id = $(this).attr("id").split("-");
    var userId = id[1];
    pramas['userId'] = userId;
    $('#share-prizeModal').modal('show');
  });
  //绑定分配奖品模态框确定按钮
  $('.subBtn').on('click',function(){
    pramas['prizeId'] = $('#shareprize-type').val();
    $.post("<{:U('sharePrizeHandle')}>",pramas,function(data){
      if(data['status'] == 0){
            $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            $('#share-prizeModal').modal('hide');
            $('#share-prizeModal').on('hidden.bs.modal', function (e) {
              $("#shareList").load("<{:U('shareList')}>" , {"activityId" : '<{$activityId}>','newsId':'<{$newsId}>'});
            });
      }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    });
  });
</script>