<extend name="Public:base" />
<block name="head">
  <link rel="stylesheet" href="__JS__/Nivo-Slider/themes/default/default.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="__JS__/Nivo-Slider/nivo-slider.css" type="text/css" media="screen" />
</block>
<block name="content">
  <div class="row" id='content'>
  <div class="col-md-2">
    <div class="nav nav-stacked affix">
    <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
    <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu.png" alt="" class='img-responsive menu-icon'></a></p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1" style='text-align: left;'>
  <h3>给我们留言：</h3>
  <form role="form">
    <div class="form-group">
      <label for="MessageName">姓名:</label>
      <input type="text" class="form-control" id="MessageName" placeholder="请输入您的姓名">
    </div>
    <div class="form-group">
      <label for="MessageEmail">邮箱地址:</label>
      <input type="email" class="form-control" id="MessageEmail" placeholder="请输入您的邮箱地址">
    </div>
    <div class="form-group">
      <label for="MessageText">留言信息:</label>
      <textarea class="form-control" rows="3" id="MessageText" placeholder="您有什么想说的。。。"></textarea>
    </div>
    <button type="submit" class="btn btn-default">提交</button>
  </form>
  </div>
  <div class="col-md-2" style='text-align: right;'>
  </div>
  </div>
</block>

<block name='body-bottom'>
<script type="text/javascript">
$('#content').css('height', document.body.clientHeight - 140);
</script>
</block>