<figure style="width: 100%; height: 300px;" id="myChart<{$name}>"></figure>
<script>
  var tt<{$name}> = document.createElement('div'),
    leftOffset = -(~~$('html').css('padding-left').replace('px', '') + ~~$('body').css('margin-left').replace('px', '')),
    topOffset = -32;
  tt<{$name}>.className = 'ex-tooltip';
  document.body.appendChild(tt<{$name}>);

  var data<{$name}> = {
    "xScale": "ordinal",
    "yScale": "linear", 
    "yMin" : 0,
    "main": [
      {
        "className": ".pizza",
        "data": <{:json_encode($data)}>
      }
    ]
  };
  var opts<{$name}> = {
    "dataFormatX": function (x) { return d3.time.format('%Y-%m-%d').parse(x); },
    "tickFormatX": function (x) { return d3.time.format('%m-%d')(x); },
    "dataFormatY": function (y) { return parseInt(y); },
    "mouseover": function (d, i) {
      var pos = $(this).offset();
      $(tt<{$name}>).text(d.y)
        .css({top: topOffset + pos.top, left: pos.left + leftOffset})
        .show();
    },
    "mouseout": function (x) {
      $(tt<{$name}>).hide();
    }
  };
  var myChart<{$name}> = new xChart('line-dotted', data<{$name}>, '#myChart<{$name}>', opts<{$name}>);

</script>