<extend name="Public:new-base" />
<block name="title">
    <title>微防伪V5</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/Admin-index.css">
    <link rel="stylesheet" href="__PUBLIC__/xChart/xcharts.min.css">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
</block>

<block name="right">
	<div id="main">
		<div class="panel panel-info">
      <div class="panel-heading">昨日查询情况</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="well well-sm ">
              <h2 class='text-center'>正确</h2>
              <h2 class='text-center'><{$lastFirst}></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well well-sm">
              <h2 class='text-center'>重复</h2>
              <h2 class='text-center'><{$lastRepert}></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well well-sm">
              <h2 class='text-center'>错误</h2>
              <h2 class='text-center'><{$lastError}></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="FWStatistics"></div>
    <div id="subStatistics"></div>
	</div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/d3/d3.min.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/xChart/xcharts.min.js"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">
      $('#index').addClass("active");
      
      $('#FWStatistics').load('<{:U('VerifyStatistics')}>');

      $('#subStatistics').load('<{:U('subscribeStatistics')}>');

      function dateCompare(startdate,enddate)   
      {   
        var arr=startdate.split("-");    
        var starttime=new Date(arr[0],arr[1],arr[2]);    
        var starttimes=starttime.getTime();   
        
        var arrs=enddate.split("-");    
        var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
        var lktimes=lktime.getTime();   
        
        if(starttimes>=lktimes)
        return false;
        else  
        return true;
      } 
    </script>
</block>