<div class="panel panel-default">
	<div class="panel-heading">
		关注统计
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<select id="eventselect" class="form-control">
						<option value="subscribe">关注趋势</option>
						<option value="unsubscribe">取消关注趋势</option>
					</select>
				</div>
			</div>
			<div class="col-md-9 text-right" id="header-date">  
		        <input type="text" id="wx_startTime" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
		        <input type="text" id="wx_endTime" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>">&nbsp;&nbsp;&nbsp;&nbsp;
		        <button class="btn btn-success" id="wx-examine" style="vertical-align: top;">查看</button>
		    </div>
		</div>
		<div class="panel panel-success subscribetendency" id="header-chart" style="border-color: #fff;">
		    <div class="panel-heading" id="sub-title">关注趋势</div>
		    <div class="panel-body" id='subChart'></div>
    	</div>
	</div>
</div>
<script type="text/javascript">
	var param = {
		'event':'subscribe',
		'startTime':'',
		'endTime':''
	};
	$subscribetendency = $('.subscribetendency');
	//设置默认值
	$('#eventselect').val(param['event']);
	//默认显示关注趋势图
    $('#subChart').load('<{:U('chart')}>',param);

    //显示相应的验证趋势图层
    $('#eventselect').on('change',function(){
		var obj=G('eventselect');
		var text=obj.options[obj.selectedIndex].text;
		
		param['event']=$(this).val();

		$('#sub-title').text(text);
		ShowWxChart(param['event']);
		
    });

    function ShowWxChart(event){
      $subscribetendency.removeClass('panel-success');
      $subscribetendency.removeClass('panel-danger');

      if(event=='subscribe'){
      	$subscribetendency.addClass('panel-success');
      }else{
      	$subscribetendency.addClass('panel-danger');
      }

      $('#subChart').load('<{:U('chart')}>',param);
    }

    $('#wx-examine').on('click',function(){
      if(G("wx_startTime").value == "0000-00-00" || G("wx_endTime").value == "0000-00-00" || G("wx_startTime").value == "" || G("wx_endTime").value == ""){
          $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
          return;
        }

      if(!dateCompare(G('wx_startTime').value , G('wx_endTime').value)){
          $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
          return;
        }
        else{
          param['startTime'] = G("wx_startTime").value;
          param['endTime'] = G("wx_endTime").value;
          ShowWxChart(param['event']);
        }

    });
</script>