<div class="panel panel-default">
  <div class="panel-heading">防伪统计</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group success" >
          <select id="typeSelect" class="form-control">
            <option value="first">正确验证趋势</option>
            <option value="repert">重复验证趋势</option>
            <option value="error">错误验证趋势</option>
          </select>
        </div>        
      </div>
      <div class="col-md-9 text-right" id="header-date">  
        <input type="text" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>" style="margin:0 auto 0 -13px;border-color: green;">至
        <input type="text" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>" style="margin-top:0px;border-color: green;">&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" id="timeset" style="vertical-align: top;">查看</button>
      </div>
    </div>
    <div class="panel panel-success tendencychart" id="header-chart" style="border-color: #fff;">
      <div class="panel-heading" id="title">正确验证趋势</div>
      <div class="panel-body" id='verifyChart' >
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var params={
      'type':'first',
      'startTime':'',
      'endTime':'',
      'status':'0'
    };
    $tendencychart = $('.tendencychart');
    
    //设置默认值
    $('#typeSelect').val(params['type']);

    //默认显示正确验证趋势图层
    $('#verifyChart').load('<{:U('chart')}>',params);

    //显示相应的验证趋势图层
    $('#typeSelect').on('change',function(){
      var obj=G('typeSelect');
      var text=obj.options[obj.selectedIndex].text;

      params['type']=$(this).val();
      
      $('#title').text(text);
      showchart(params['type']);
    
    });
    function showchart(type){
      $tendencychart.removeClass('panel-success');
      $tendencychart.removeClass('panel-warning');
      $tendencychart.removeClass('panel-danger');

      switch(type){
        case 'first':
            $tendencychart.addClass('panel-success');
        break;
        case 'repert':
            $tendencychart.addClass('panel-warning');
        break;
        case 'error':
            $tendencychart.addClass('panel-danger');
        break;
      }

      $('#verifyChart').load('<{:U('chart')}>',params);
    }

    /**
     * description: 日期设置
     * date: 2014/3/28
     * author：蒋东芸
     */

    $('#timeset').on('click',function(){
      if(G("startTime").value == "0000-00-00" || G("endTime").value == "0000-00-00" || G("startTime").value == "" || G("endTime").value == ""){
          $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
          return;
        }

      if(!dateCompare(G('startTime').value , G('endTime').value)){
          $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
          return;
        }
        else{
          params['startTime'] = G("startTime").value;
          params['endTime'] = G("endTime").value;
          showchart(params['type']);
        }

    });
</script>