<div data-role="footer" data-position="fixed" data-tap-toggle="false" >
		<div data-role="navbar">
			<ul class='foot-buy'>
				<li class='foot-buy'><a id="buy-btn" href="#" target="_self" rel="external" data-icon="home" date-iconpos="top">立即购买</a></li>
			</ul>
		</div>
	</div>

	<script>
	$('#buy-btn').off('click');
	$('#buy-btn').on('click', function(){
		alert("!!!");
	})
	</script>