<div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
	<div class="foot-nav">
	<div class="ui-grid-d">
	  <div class="ui-block-a"><span><a href="" data-rel="back"><img class='nav-icon' src="__PUBLIC__/images/back.png" alt=""></a></span></div>
	  <div class="ui-block-b"><span><img class='nav-icon' src="__PUBLIC__/images/next.png" alt=""></span></div>
	</div>
	</div>
</div>