<div class='main'>
	<h3>选择你的最爱</h3>
	<div class="ui-grid-a">
     <div class="ui-block-a">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="百利甜酒雪糕">
     		<p>百利甜酒雪糕</p>
     	</span>
     </div>
     <div class="ui-block-b">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="榴莲雪糕">
     		<p>榴莲雪糕</p>
     	</span>
     </div>
     <div class="ui-block-a">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="百利甜酒雪糕">
     		<p>百利甜酒雪糕</p>
     	</span>
     </div>
     <div class="ui-block-b">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="榴莲雪糕">
     		<p>榴莲雪糕</p>
     	</span>
     </div>
     <div class="ui-block-a">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="百利甜酒雪糕">
     		<p>百利甜酒雪糕</p>
     	</span>
     </div>
     <div class="ui-block-b">
     	<span class='goods-items'>
     		<img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg" alt="榴莲雪糕">
     		<p>榴莲雪糕</p>
     	</span>
     </div>
   </div>
</div>

<script>
	$(".goods-items").off('click');

	$(".goods-items").on('click', function(){
		
		$('#my-menu').on('closed.mm', function(){
               $('.foot-buy').show();
          }).trigger("close.mm");
	})
</script>