<div class='main'>
	<h3>选择你的最爱</h3>
	<div class="ui-grid-a">
     <volist name="goods" id="item" key="k" mod="2">
          <eq name="mod" value="0">
               <div class="ui-block-a">
                    <span class='goods-items<{$rand}>'>
                         <img style='width=100%; height:auto;' src="<{$item.bigImg}>" alt="<{$item.name}>">
                         <p class='name'><{$item.name}></p>
                         <p class='id' style='display:none;'><{$item.id}></p>
                         <p class='price' style='display:none;'><{$item.price}></p>
                    </span>
               </div>
          </eq>
          <eq name="mod" value="1">
               <div class="ui-block-b">
                    <span class='goods-items<{$rand}>'>
                         <img style='width=100%; height:auto;' src="<{$item.bigImg}>" alt="<{$item.name}>">
                         <p class='name'><{$item.name}></p>
                         <p class='id' style='display:none;'><{$item.id}></p>
                         <p class='price' style='display:none;'><{$item.price}></p>
                    </span>
               </div>
          </eq>
     </volist>
   </div>
</div>

<script>
$(".goods-items<{$rand}>").on('click', function(){
     var goodsInfo = {};
     goodsInfo['id'] = $(this).find('.id').text();
     goodsInfo['name'] = $(this).find('.name').text();
     goodsInfo['img'] = $(this).find('img').attr('src');;
     goodsInfo['price'] = $(this).find('.price').text();

     <if condition="$type eq 'change' ">
          goodsInfo['itemId'] = <{$itemId}>;
          changeGoods(goodsInfo);
         <else /> 
         addOneGoods(goodsInfo);
     </if>
})
</script>