<extend name="Base:base" />

<block name="page">
     <include file="Base:header" />
     <div data-role="content" id="main-content">
     <div id="ad">
     <img src="http://imgcdn.weijuju.com/63298/f9638ea1-feef-41e0-ba18-41e726ed14d3.jpg"  alt="Photo Run">
     </div>

     <div id="main">
     <div class="ui-grid-a">
       <volist name="goods" id="item" key="k" mod="2">
            <eq name="mod" value="0">
                 <div class="ui-block-a">
                      <div class='goods-items<{$rand}>'>
                          <a href="__APP__/Mobile/Custom/index/type/product/id/<{$item.id}>" data-ajax="false">
                            <img src="<{$item.bigImg}>" alt="<{$item.name}>">
                          </a>
                          <p class='name'><{$item.name}></p>
                      </div>
                 </div>
            </eq>
            <eq name="mod" value="1">
                 <div class="ui-block-b">
                      <div class='goods-items<{$rand}>'>
                          <a href="__APP__/Mobile/Custom/index/type/product/id/<{$item.id}>" data-ajax="false">
                            <img src="<{$item.bigImg}>" alt="<{$item.name}>">
                          </a>
                          <p class='name'><{$item.name}></p>
                      </div>
                 </div>
            </eq>
       </volist>
     </div>
     </div>
     </div>

     <include file="Base:footer" />
</block>