@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-09-05 14:29:25
 * @version $Id$
 */

body{
	margin: 0 auto;
	background-color: #EDF1F4;
}

#header{
	height:80px;
	width:100%;
}

#header-content{
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

#logo{
	padding-top: 20px;
	float: left;
}

#nav{
	padding-top: 10px;
	color: #FFF;
	float: left;
}

.nav-menu{
	display: inline-block;
	margin: 0 15px;
	font-size: 20px;
}

#main{
	background-repeat: repeat-x;
	height: 1000px;
}

#main-content{
	margin: 0 auto;
	width: 960px;
}

#front{
	height: 470px;
}

#ad-pic{
	margin-top: 70px;
	width: 648px;
	height: 400px;
	float: left;
}

#login{
	float: right;
	margin-top: 75px;
	width: 294px;
	height: 326px;
}

#login-title{
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
	color: #000;
}

#login-form{
	margin-left: 30px;
	margin-right: 30px;
}

#verify{
}

input{
	padding-top: 5px;
	margin-bottom: 5px;
}

.btn{
	margin-top: 20px;
	width: 100%;
	height: 35px;
	font-size: 16px;
	background-color: #30A108;
	color:#FFF;
}

#front-item1{
	float: left;
	background-color: #FFF;
	width: 310px;
	height: 325px;
	background-repeat: repeat-x;
}
#front-item2{
	margin-left: 15px;
	float: left;
	background-color: #FFF;
	width: 310px;
	height: 325px;
	background-repeat: repeat-x;
}
#front-item3{
	float: left;
	margin-left: 15px;
	background-color: #FFF;
	width: 310px;
	height: 325px;
	background-repeat: repeat-x;
}

.item-title{
	text-align: center;
}

.line{
	clear: both;
	height: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.item-pic{
	margin-left: 30px;
}

#big-item1{
	height: 280px;
}

#big-item2{
	height: 280px;
}

#big-item3{
	height: 280px;
}