/*
 * Globals
 */


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

/*
 * Base structure
 */

html,
body {
  margin:0 auto;
  height: 100%;
}



.buy-btn{
}

.headroom--top{
  background: rgba(0,0,0,0.6);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  text-align: center;
  width: 100%;
  height:100%;
  min-height: 100%;

  background-color: #CCC;

  color: #FFF;
}

.logo-new{
	margin-top: -5px;
	height : 30px;
}

.right-1{
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/bg-right.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;

  	display:table; 
    vertical-align:middle;
}
.right-content{
	display:table-cell; 
    vertical-align:middle;
}
.left-1{
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/bg-left-1.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}
.left-2{
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/action-4.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}
.left-3{
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/bg-left-3.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}
.left-4{
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/action-7.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}

.index-content{
	text-align: center;
}
.info-index{
	padding-bottom: 60px;
	text-align: center;
}
.info-item{
	padding-top: 30px;
	text-align: left;
}
.product{
	color : #FFF;
	text-shadow : 1px 1px 1px #000;
	height: 500px;
	background-color: #CCC;
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/IMG_5694.JPG) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}
.product-tb{
	display:table; 
    vertical-align:middle;
    margin:0 auto;
    height:100%;
}

.footer-buy{
	color : #FFF;
	text-shadow : 1px 1px 1px #000;
	height: 550px;
	background-color: #CCC;
	background:url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/index-footer-bg.png) no-repeat center center;
	background-color: #000;
  	background-size : cover;
}

.footer-buy-content{
	height : 100%;
	display:table; 
	vertical-align:middle;
    margin:0 auto;
}
.story-row{
	padding-bottom: 30px;
}

.grid-img {
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;

	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid-img figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid-img figure img {
	position: relative;
	opacity: 0.8;
}

.grid-img figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-img figure figcaption::before,
.grid-img figure figcaption::after {
	pointer-events: none;
}

.grid-img figure figcaption,
.grid-img figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid-img figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-img figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid-img figure h2 span {
	font-weight: 800;
}

.grid-img figure h2,
.grid-img figure p {
	margin: 0;
}

.grid-img figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}


