#head-logo {
    margin-top: 10px ;
    padding-left: 20px;
}
#head-logo img{
	width: 75%;
}
.ui-icon{
	background-color: #568ECE;
}
.text{
	color: white;
}
/*<!-- 防伪验证 -->*/
#form-a{
	cursor: pointer;
	text-decoration: none;
}

.tablestyle{
	font-size: 1px;
}
.content{
	font-family: Helvetica, Arial, sans-serif;
	background: #fff;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.75);
	padding: 20px;
	color: #666;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 25px;
}
.zx ul li {
    list-style: none ;
    line-height: 15px;
}
.zx ul li a{
	text-decoration: none;
	overflow: hidden;
}
.list-title{
	color: #000;
}
.list-title a{
	text-decoration: none;
}
.list-title a:hover{
	text-decoration: underline;
}

.footer{
	font-size: 13px;
	font-weight: 2px;
}
.post{
	clear: both;
	width: 100%;
	border-bottom: 1px solid #DDD;
	padding: 5px 0px 10px;
	margin: 0px 0px 15px;
	float: left;
}
.post_thumb {
    float: left;
    padding: 0px 5% 0px 0px;
    width: 100%;
}
.post_thumb img.rounded-half {
    max-width: 92%;
    display: block;
    border-radius: 5px;
    padding: 4%;
    border: 1px solid #D7D7D7;
    background-color: #ECECEC;
}