.fontColor{
	color:white;
	margin: 30px auto;
}

#info{
	margin:0px auto;
	background-color: rgba(236, 234, 234, 1);
	border-radius: 4px;
	padding: 30px 15px 15px;
	margin-top: 50px;
	position:absolute;
	z-index: 1;
}

#info-news{
	margin-top: 35px;
}

#topImg{
	position:absolute;
	z-index: 5;
}

#submit{
	width: 100px;
}