<div class="modal fade" id="defaultPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">密码设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPwd" placeholder="请输入密码">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary defaultPwdBtn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.defaultPwdBtn').on('click',function(){PwdHandle();});
    function PwdHandle(){
        var Pwd = $('#inputPwd').val().trim();
        var Arr = {
            "defaultPwd":Pwd
        }
        
        $.post("<{:U('defaultPwdHandle')}>",Arr,function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功！", $.scojs_message.TYPE_OK);
                $('#defaultPwd').modal('hide');
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>