<div class="modal fade" id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">员工信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input type="text" id="nameInput" class="form-control" value="<{$employees.name}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别：</label>
                        <div class="col-sm-8">
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="sexRadios" class="sexRadios" id="manRadios" value="1" >
                                    男
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="sexRadios" class="sexRadios" id="womanRadios" value="0">
                                    女
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型：</label>
                        <div class="col-sm-8">
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="typeRadios" class="typeRadios" id="tempRadios" value="0">
                                    临时员工
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="typeRadios" class="typeRadios" id="fixedRadios" value="1">
                                    固定员工
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

        					<div class="row" style="margin-bottom: 20px;">
        						<div class="col-md-3"></div>
        						<div class="col-md-6">
        							<h5>展示图片</h5>
        							<img src="<{$employees.img}>" class="img-thumbnail default-img" id="img">
        							<label for="exampleInputFile"></label>
        							<input type="file" id="msg-img-input" multiple="true" />
        						</div>
        					</div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">所属部门：</label>
                    <div class="col-sm-4">
                      <select class="form-control" id='departSelect'>
                        <volist name='departName' id='item'>
                          <option value='<{$item.id}>'><{$item.department}></option>
                        </volist>
                      </select>
                    </div>
                  </div>

                  <div class="form-group" id="Date">
                    <label class="col-sm-3 control-label">终止日期：</label>
                    <div class="col-sm-8">
                        <input type="text" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$employees.stopTime}>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">公司职位：</label>
                    <div class="col-sm-8">
                        <input type="text" id="position" class="form-control" value="<{$employees.position}>"/>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="sendCity" class="col-sm-3 control-label">负责城市(*)：</label>
                    <div class="col-sm-8">
                      <select class="form-control" id='sendCity'>
                        <option value=''>请选择</option>
                        <volist name="city" id="item" key="k">
                        <option value='<{$item.city}>'><{$item.city}></option>
                        </volist>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">手机电话：</label>
                    <div class="col-sm-8">
                        <input type="text" id="tel" class="form-control" value="<{$employees.tel}>"/>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">个人邮箱：</label>
                    <div class="col-sm-8">
                        <input type="text" id="emailInput" class="form-control" value="<{$employees.e-mail}>"/>
                    </div>
                  </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="employees-comform">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var $name     =   $('#nameInput');
  var $stopTime =   $('#endTime');
  var $position =   $('#position');
  var $tel      =   $('#tel');
  var $email    =   $('#emailInput');
  var employees =   <{:json_encode($employees)}>;
  employees['stopTime'] = $stopTime.val();

  if(employees['city'] != ''){
    $('#sendCity').val(employees['city']);
  }

  $(".typeRadios[value='"+employees['type']+"']").attr("checked", true);
  $(".sexRadios[value='"+employees['sex']+"']").attr("checked", true);
  /**
   * 点击编辑时，显示的部门名称
   * 2014/5/4
   */
  if(employees['handleType']=='edit'){
    $('#departSelect').val(employees['departmentId']);
  }
	$(".sexRadios").on('click', function(){
	    employees['sex'] = $(this).val();
	});
  showemployeetype(employees['type']);
  /**
     * 添加员工中的员工类型选中显示
     * 2014/4/13
     * 蒋东芸
     */
  $(".typeRadios").on('click', function(){
    showemployeetype($(this).val());
    /**
     * 满足条件下字段type的赋值
     * 2014/4/13
     * 蒋东芸
     */
    employees['type']=$(this).val();
  });

  function showemployeetype(type){
    if(type=='0')
        $('#Date').show();
      else
        $('#Date').hide();
  }
  /**
     * 输入合法性判断
     * 蒋东芸
     */
	function validInput(){
		var userName = $name.val().trim();
    var tel = $tel.val().trim();
    
		if(userName=== ""){
      $.scojs_message("姓名不能为空", $.scojs_message.TYPE_ERROR);
      return false;
	  }

    if($('#emailInput').val() != ''){
      if(!IsEmail("#emailInput")){
        $.scojs_message("请输入有效的E-mail地址！", $.scojs_message.TYPE_ERROR);
        $("#emailInput").focus();
        return false;
      }
    }
		
    /**
     * 判断终止日期stopTime是否为空
     * 2014/4/13
     * 蒋东芸
     */
    if(employees['type'] === '0'){
      if($('#endTime').val() ===''|| $('#endTime').val() =='0000-00-00'){
        $.scojs_message('终止日期不能为空', $.scojs_message.TYPE_ERROR);
        return false;
      }
      if(dateCompare('<{$systemdate}>',$('#endTime').val()) == false){
        $.scojs_message('终止日期不能小于当前日期', $.scojs_message.TYPE_ERROR);
        return;
      }
    }
    if(tel){
      if(isNaN(tel)){
        $.scojs_message('手机电话请输入数字', $.scojs_message.TYPE_ERROR);
        return false;
      }
    }
		return true;
    
	}

  employees['departmentId'] = $('#departSelect').val();

  //绑定部门
  $('#departSelect').on('change',function(){
    employees['departmentId'] = $(this).val();
  });

	$('#employees-comform').on('click',function(){
		if(validInput()){
  		employees['name']    =   $name.val().trim();
			employees['tel']     =   $tel.val().trim();
      employees['position'] =  $position.val().trim();
			employees['e-mail']  =   $email.val().trim();
      employees['stopTime'] =  $stopTime.val();
			dealEmployee();
	  }                                                  
	});

  $('#sendCity').on('change', function(){
    var city = $(this).val();
    employees['city'] = city;
  })

  function dealEmployee(){
    $.post("<{:U('employeesHandle')}>" , employees , function(data){
      if(data['status'] == 0){
        $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
        $('#employeesModal').modal('hide');
        $('#employeesModal').on('hidden.bs.modal', function (e) {
          $('#employees').load("<{:U('employees')}>");
        });
      }else{
        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    });
  }
  $("#msg-img-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : EmployeesComplete,
          onUploadStart :  readyUpload
      });

  //图片上传前事件
  function readyUpload(file){
    var old = employees['img'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-img-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function EmployeesComplete(file, data, response) {
    var obj = eval ("(" + data + ")");
    
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $("#img").attr('src', imgUrl);

      employees['img'] = imgUrl;
      
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
    }
  }

    function dateCompare(systemdate,enddate)   
    {   
      var arr=systemdate.split("-");    
      var systemtime=new Date(arr[0],arr[1],arr[2]);    
      var systemtimes=systemtime.getTime();
      
      var arrs=enddate.split("-");    
      var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
      var lktimes=lktime.getTime();   

      if(systemtimes>lktimes)
      return false;
      else  
      return true;
    } 
</script>