<extend name="Public:new-base" />
<block name="title">
    <title>用户管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <script src="__JS__/public.js"></script>
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
</block>

<block name="right">
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">企业信息</a></li>
    <if condition="!$isDealer">
        <li><a href="#login" data-toggle="tab" id="loginTab">账号管理</a></li>
        <li><a href="#department" data-toggle="tab" id="departmentTab">部门管理</a></li>
        <li><a href="#employees" data-toggle="tab" id="employessTab">员工信息</a></li>
    </if>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="info" style="margin-top:15px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <if condition="!$isDealer">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业名称：</label>
                            <div class="col-sm-10">
                                <p class="form-control-static"><{$user['company_name']}></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业官网：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="company_web" placeholder="请输入企业官网" value="<{$user['company_web']}>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商城域名：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="mall_domain" placeholder="请输入商城域名" value="<{$user['mall_domain']}>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">AppId：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="weixin_AppId" placeholder="请输入weixin_AppId" value="<{$user['weixin_AppId']}>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">AppSecret：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="weixin_AppSecret" placeholder="请输入weixin_AppSecret" value="<{$user['weixin_AppSecret']}>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业LOGO：</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <input type='file' id='msg-Img-input' class="form-control" multiple="true"/>
                                    <img src="<{$user['company_logo']}>" style='width:300px;' class="img-thumbnail" id="Img">
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">URL：</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <{$url}>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Token：</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <{$serviceToken}>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业密码：</label>
                            <div class="col-sm-10">
                                <div id="password-main"></div>
                                <button type="button" class="btn btn-default" id='password-btn'>修改密码</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">设置默认：</label>
                            <div class="col-sm-10">
                                <div id="password-default"></div>
                                <button type="button" class="btn btn-default" id='password-set'>设置密码</button>
                            </div>
                        </div>

                    <else/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">账号密码：</label>
                            <div class="col-sm-10">
                                <div id="password-main"></div>
                                <button type="button" class="btn btn-default" id='password-btn'>修改密码</button>
                            </div>
                        </div>
                    </if>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <button type="button" class="btn btn-primary" id='save-btn'>保存修改</button>
                                </p>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
<if condition="!$isDealer">
    <div class="tab-pane fade" id="login" style="margin-top:15px;">
        
    </div>
    <div class="tab-pane fade" id="employees" style="margin-top:15px;">
        
    </div>
    <div class="tab-pane fade" id="department" style="margin-top:15px;">
        
    </div>
    <div id="editEmployee"></div>
</if>
</div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/checkInput.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.modal.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $('#user').addClass("active");
        var noChange =true;
        
        $('#loginTab').on('click',function(){
            $('#login').load("<{:U('login')}>");
        });   

        $('#employessTab').on('click',function(){
            $('#employees').load('<{:U('employees')}>');
        }); 

        $('#departmentTab').on('click',function(){
            $('#department').load('<{:U('department')}>');
        });       

        var userArr = <{:json_encode($user)}>;

        //绑定修改密码按钮事件
        $('#password-btn').on('click' , function(){
            $('#password-main').load("<{:U('password')}>" , {} , function(){
                $('#password').modal('show');
            });
            noChange = false;
        });
        //绑定设置密码按钮事件
        $('#password-set').on('click',function(){
            $('#password-default').load("<{:U('defaultPwd')}>",function(){
                $('#defaultPwd').modal('show');
            });
            noChange = false;
        });
        //绑定企业官网事件
        $('#company_web').on('change',function(){
            noChange = false;
        });
        //绑定商城域名事件
        $('#mall_domain').on('change',function(){
            noChange = false;
        });
        //绑定AppId事件
        $('#weixin_AppId').on('change',function(){
            noChange = false;
        });
        //绑定AppSecret事件
        $('#weixin_AppSecret').on('change',function(){
            noChange = false;
        });
        //绑定保存按钮事件
        $('#save-btn').bind('click' , function(){

            userArr['company_web'] = $('#company_web').val().trim();
            userArr['mall_domain'] = $('#mall_domain').val().trim();
            userArr['weixin_AppId'] = $('#weixin_AppId').val().trim();
            userArr['weixin_AppSecret'] = $('#weixin_AppSecret').val().trim();

            if(!IsUrl('#company_web') || !IsUrl('#mall_domain')){
                $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
                return;
            }
            if(noChange){
              $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
              return ;
            }

            $.post("<{:U('userHandle')}>" , userArr , function(data){
                if(data['status'] == 0){
                    $.scojs_message('修改成功', $.scojs_message.TYPE_OK);
                    noChange = true;
                }else{
                    $.scojs_message('修改失败', $.scojs_message.TYPE_ERROR);
                }
            });
        });

        $("#msg-Img-input").uploadify({
           swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyUpload
        });
        //图片上传前事件
        function readyUpload(file){
            var old = userArr['company_logo'];

            var old = getFileName(old);
            
            if(old){
              var params = {
                  timestamp : '<{$timestamp}>',
                  token     : '<{$token}>',
                  oldFile   : old
                }
              $("#msg-Img-input").uploadify("settings", "formData", params);
            }
        }
        //图片上传发生的事件
        function funBigImgComplete(file, data, response) {
            var obj = eval ("(" + data + ")");

            if(obj['code'] != 0){
                $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                return;
            }

            var imgUrl = obj['imgUrl'];

            $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

            userArr['company_logo'] = imgUrl;
            $('#Img').attr('src', imgUrl);
            noChange = false;
        }
    </script>
</block>