<div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">原密码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="oldPwd" placeholder="请输入原密码"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">新密码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="user_password" placeholder="请输入新密码"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">确认密码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="newPwd" placeholder="请输入确认密码"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="pwdHandle()">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function pwdHandle(){
        var oldPwd = $('#oldPwd').val().trim();
        var userPwd = $('#user_password').val().trim();
        var newPwd = $('#newPwd').val().trim();

        if(oldPwd == "" || userPwd == "" || newPwd == ""){
            $.scojs_message('请输入密码', $.scojs_message.TYPE_ERROR);
            return;
        }

        if(userPwd.length < 6 || newPwd.length < 6){
            $.scojs_message('请输入至少六位数密码', $.scojs_message.TYPE_ERROR);
            return;
        }

        if(userPwd != newPwd){
            $.scojs_message('新密码输入不一致', $.scojs_message.TYPE_ERROR);
            return;
        }

        var arr = {
            "oldPwd" : oldPwd , 
            "user_password" : userPwd , 
            "newPwd" : newPwd
        };

        $.post("<{:U('passwordHandle')}>" , arr , function(data){
            if(data['status'] == 0){
                $.scojs_message('修改成功', $.scojs_message.TYPE_OK);
                $('#password').modal('hide');
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>