<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">账号信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">账号名：</label>
                        <div class="col-sm-8">
                            <if condition="$user.handleType eq 'add'">
                                <input type="text" id="user_name" class="form-control" value="<{$user.user_name}>"/>
                            <else />
                                <input type="text" id="user_name" class="form-control" value="<{$user.user_name}>" disabled>
                            </if>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control" value="<{$user.name}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别：</label>
                        <div class="col-sm-8">
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="sexRadios" class="sexRadios" id="manRadios" value="1">
                                    男
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="sexRadios" class="sexRadios" id="womanRadios" value="0">
                                    女
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-control" value="<{$user.email}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="sendCity" class="col-sm-3 control-label">负责城市(*)：</label>
                      <div class="col-sm-8">
                      <select class="form-control" id='city'>
                        <option value=''>请选择</option>
                        <volist name="city" id="item" key="k">
                        <option value='<{$item.city}>'><{$item.city}></option>
                        </volist>
                      </select>
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary subBtn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var user = <{:json_encode($user)}>;
$(".sexRadios[value='"+user['sex']+"']").attr("checked", true);
$(".sexRadios").on('click', function(){
    user['sex'] = $(this).val();
});

$('#city').val(user['city']);

$('#city').on('change', function(){
    user['city'] = $(this).val();
})

/**
* 绑定员工信息确认按钮
* 2014/4/3
* 范小宝
*/
$('.subBtn').on('click' , function(){
    userHandle();
});

function userHandle(){
    var str =$('#user_name').val().trim();
    var city = $('#city').val();
    var reg = /^[0-9a-zA-Z_]*$/;
    var re = str.match(reg);
    if(str == ""){
        $.scojs_message("账户名不能为空", $.scojs_message.TYPE_ERROR);
        return;
    }
    else if(!city){
        $.scojs_message("请选择负责城市", $.scojs_message.TYPE_ERROR);
        return;
    }
    else if(!re){
        $.scojs_message("账户名不能输入汉字", $.scojs_message.TYPE_ERROR);
        return;
    }
    else if(str.length<5){
        $.scojs_message("账户名少于5个字符", $.scojs_message.TYPE_ERROR);
        return;
    }

    if($('#email').val() != '' && !IsEmail("#email")){
        $.scojs_message("请输入有效的E-mail地址！", $.scojs_message.TYPE_ERROR);
        $("#email").focus();
        return;
    }

    user['user_name'] = $('#user_name').val().trim();
    user['name'] = $('#name').val().trim();
    user['email'] = $('#email').val().trim();

    $.post("<{:U('loginUserHandle')}>" , user , function(data){
        if(data['status'] == 0){
            $('#userModal').modal('hide');
            $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
}

$('#userModal').on('hidden.bs.modal', function (e) {
    $('#login').load("<{:U('login')}>");
});
</script>