<div class="footer container-fluid">
  <div class="container fullscreen">
    <div class="row fullscreen">
      <div class="col-md-6 text-left fullscreen">
        <div class="table-display">
          <div class="table-cell-display">
            <span><a href="https://www.facebook.com/alexanderschina"><img src="__PUBLIC__/images/facebook.png" alt="" class='followIco'></a></span>
            <span><img src="__PUBLIC__/images/sina.png" alt="" class='followIco'></span>
            <span><a href="#" data-toggle="modal" data-target="#wechatModal"><img src="__PUBLIC__/images/wechat.png" alt="" class='followIco'></a></span>
            <span><img src="__PUBLIC__/images/test333.png" alt="" class='followIco'></span>
            <span><img src="__PUBLIC__/images/test123.png" alt="" class='followIco'></span>
            <span><img src="__PUBLIC__/images/twitter.png" alt="" class='followIco'></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right text-muted fullscreen">
        <div class="table-display pull-right">
          <div class="table-cell-display">
            <p>备案号：粤ICP备14012601号-1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">微信扫描二维码关注我们</h4>
      </div>
      <div class="modal-body">
        <img src="__PUBLIC__/images/wechat_qrcode.jpg" alt="" class='img-responsive'>
      </div>
    </div>
  </div>
</div>