<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4" style='text-align: center;'>
      <center><img src="__PUBLIC__/images/logo.png" alt="" class='logo img-responsive'></center>
    </div>
    <div class="col-md-4 text-right" style='padding:30px 0px 0px 0px' id='loginInfo'>
    </div>
  </div>
</nav>

<script>
  $('#loginInfo').load('<{:U('Index/getLoginInfo')}>');
</script>