<div class="row foot-text">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-3 " style="margin-top: 20px;padding: 0">
          <div class="txt"><a href="">产品</a></div>
          <div><a href="">产品特性</a></div>
          <div><a href="">企业案例</a></div>
          <div><a href="">数据安全</a></div>
        </div>
        <div class="col-md-3" style="margin-top: 20px;padding: 0">
          <div class="txt"><a href="">媒体</a></div>
          <div><a href="">媒体报道</a></div>
          <div><a href="">用户之声</a></div>
        </div>
        <div class="col-md-3" style="margin-top: 20px;padding: 0">
          <div class="txt"><a href="">支持</a></div>
          <div><a href="">产品说明</a></div>
          <div><a href="">联系客服</a></div>
        </div>
        <div class="col-md-3" style="margin-top: 20px;padding: 0">
          <div class="txt"><a href="">更多</a></div>
          <div><a href="">关于我们</a></div>
          <div><a href="">联系我们</a></div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="row" style="float:right;">
          <div class="col-md-2 distance">
            <img src="__PUBLIC__/Image/fwShop/QQ.png">
          </div>
          <div class="col-md-2 distance">
            <img src="__PUBLIC__/Image/fwShop/weixin.png" >
          </div>
          <div class="col-md-2 distance">
            <img src="__PUBLIC__/Image/fwShop/txwb.png">
          </div>
          <div class="col-md-2 distance">
            <img src="__PUBLIC__/Image/fwShop/weibo.png">
          </div>
          <div class="col-md-4">
            <img src="__PUBLIC__/Image/fwShop/erweima.png" style="padding-left: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
