<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top banner" id='banner'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id='show-btn' href="javascript:void(0)" hidefocus="true">
        <img src="__PUBLIC__/images/logo_w.png" alt="" class='logo-new img-responsive'>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse title-menu">
      <ul class="nav navbar-nav">
        <li id='index-menu'><a href="/">首页</a></li>
        <li id='product-menu'><a href="<{:U('Product/index')}>">产品介绍</a></li>
        <li id='buy-menu'><a href="<{:U('Shop/index')}>">购买雪糕</a></li>
        <li id='buy-menu'><a href="<{:U('Company/eat')}>">企业试吃</a></li>
        <li id='buy-menu'><a href="<{:U('Contect/index')}>">联系我们</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <if condition="$userInfo neq ''">
        <li class="userInfo text-right">
          <span><img src="<{$userInfo.headimgurl}>" alt="" class='img-circle' style='width:30px;height:auto;margin-top:20px;'></span>
        </li>
        <li style='padding-top:25px;padding-left:5px;' class='user'>欢迎您，<{$userInfo.nickname}></li>
        <li><a href='<{:U("User/index")}>'>会员中心</a></li>
        <li><a onclick="exitCheck()">退出</a></li>
        <script type="text/javascript">
              function exitCheck() {
                  if (confirm("是否确认退出")) {
                      location.href = "/Index/doQuit";
                  }
              }
          </script>
        <else />
        <li><a href="<{:U('Index/login')}>">登录</a></li>
        </if>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
