<script language="javascript">
$(function() {
        $("#subBtn").hide();
        $(".rule-big-main").hide();
        $("#rule-new").hide();
        $("#text-new").hide();
    });

    var textType = "right";
    var clickSelected = false;

    var keyArr = [{
        "id": "",
        "name": "",
        "product": "",
        "rightContent": "",
        "rightImg": "",
        "repertContent": "",
        "repertImg": "",
        "textType": "right"
    }];

    var reviewArr = [{}];

    function changeClick() {
        isChange = true;
        $("#msg").hide();
        $("#text-msg").show();
        $("#text-msg").html(document.getElementById(textType + "-msg").innerHTML);
    }

    function showMsg(name, index) {
        if (index == "default") {
            defaultArr["textType"] = name;

            G('msg-img-default').src = document.getElementById(name + "-img-default").innerHTML;
        } else {
            keyArr[index]["textType"] = name;

            G("msg-img-" + index).src = document.getElementById(name + "-img-" + index).innerHTML;
        }

        if (name == "Right") {
            $("#msg-title-" + index).html("正确提示");
        }

        if (name == "Repert") {
            $("#msg-title-" + index).html("重复提示");
        }

        if (name == "Error") {
            $("#msg-title-" + index).html("错误提示");
        }
        document.getElementById("text-msg-" + index).value = document.getElementById(name + "-msg-" + index).innerHTML;
    }

    function showReviewMsg(name, index) {
        if (name == "right") {
            $("#review-title-" + index).html("正确提示");
        }

        if (name == "repert") {
            $("#review-title-" + index).html("重复提示");
        }

        if (name == "error") {
            $("#review-title-" + index).html("错误提示");
        }

        document.getElementById("text-review-" + index).innerHTML = document.getElementById("review-" + name + "-msg-" + index).innerHTML;
        G("review-img-" + index).src = document.getElementById("review-" + name + "-img-" + index).innerHTML;
    }

    function changeText(index) {
        if (index == "default") {
            defaultArr["default" + defaultArr["textType"]] = document.getElementById("text-msg-" + index).value;
            document.getElementById(defaultArr["textType"] + "-msg-" + index).innerHTML = document.getElementById("text-msg-" + index).value;

            return;
        }

        keyArr[index][keyArr[index]["textType"] + "Content"] = document.getElementById("text-msg-" + index).value;
        document.getElementById(keyArr[index]["textType"] + "-msg-" + index).innerHTML = document.getElementById("text-msg-" + index).value;
    }

    function showNewKey() {
        $("#rule-big-0").show();

        if (clickSelected) {
            $("#rule-new").hide();
            clickSelected = false;
        } else {
            $("#rule-new").show();
            clickSelected = true;
        }
    }

    function showMain(id, index, checked) {
        if (index == "default") {
            if (checked) {
                $("#rule-big-" + id).hide();
                $("#key-" + id).show();
                defaultArr["checked"] = false;
            } else {
                $("#rule-big-" + id).show();
                $("#key-" + id).hide();
                defaultArr["checked"] = true;
            }
            return;
        }

        if (checked) {
            $("#rule-big-" + id).hide();
            $("#key-" + id).show();
            keyArr[index]["checked"] = false;
        } else {
            $("#rule-big-" + id).show();
            $("#key-" + id).hide();
            keyArr[index]["checked"] = true;
        }
    }

    function showReviewMain(id, index, checked) {
        if (checked) {
            $("#review-big-" + id).hide();
            $("#key-review-" + id).show();
            reviewArr[index]["checked"] = false;
        } else {
            $("#review-big-" + id).show();
            $("#key-review-" + id).hide();
            reviewArr[index]["checked"] = true;
        }
    }

    function changename(id, index) {
        keyArr[index]["name"] = document.getElementById("name-" + id).value;
    }

    function addKeyword(id, index) {
        var listItem = document.getElementById('list-ul-' + index);

        if (listItem.childNodes.length == 1) {
            document.getElementById("list-ul-" + index).innerHTML += "<li><input type='checkbox' name='selectKey-" + index + "' value='" + document.getElementById("select-" + index).value + "'/>" + document.getElementById("select-" + index).value + "</li>";
            keyArr[index]["product"] += document.getElementById("select-" + index).value;
        } else {
            document.getElementById("list-ul-" + index).innerHTML += "<li><input type='checkbox' name='selectKey-" + index + "' value='" + document.getElementById("select-" + index).value + "'/>" + document.getElementById("select-" + index).value + "</li>";
            keyArr[index]["product"] += "," + document.getElementById("select-" + index).value;
        }
    }
    var reviewShow = false;
    function showReviewDiv() {
        if (reviewShow) {
            $("#review").hide();
            reviewShow = false;
        } else {
            $("#review").show();
            reviewShow = true;
        }
    }

    function deleteKey(id, index) {
        keyArr[index]["product"] = "";
        var checked = document.getElementsByName("selectKey-" + index);

        for (var i = 0; i < checked.length; i++) {
            if (checked[i].checked) {
                var num = i;
                var s = document.getElementById('list-ul-' + index);
                s.removeChild(s.childNodes[num + 1]);
                i--;
            }
        }

        for (var i = 0; i < checked.length; i++) {
            keyArr[index]["product"] += checked[i].value + ",";
        }
        keyArr[index]["product"] = keyArr[index]["product"].substr(0, keyArr[index]["product"].length - 1);
    }
</script>