<div id="page">
    <ul class="pagination"><{$page}></ul>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>序号</th>
            <th>微信号</th>
            <th>扫描时间</th>
            <th>二维码类型</th>
        </tr>
    </thead>

    <tbody>
        <volist name="qrCodeList" id="item" key="k">
            <tr>
                <td><{$k}></td>
                <td><{$item.nickname}></td>
                <td><{$item.scanTime}></td>
                <td><{$item.name}></td>
            </tr>
        </volist>
    </tbody>
</table>
<script>
    $("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#qrCodeList").load(_HREF,Arr);
        return false;
    });
</script>