<div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">广告管理</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">广告名：</label>
                <div class="col-sm-8">
                  <input type="text" id="name" class="form-control" value="<{$advertisement.name}>"/>
                </div>
              </div>
              <div class="form-group">
                <label for="position" class="col-sm-3 control-label">广告位：</label>
                <div class="col-sm-8">
                  <input type="text" id="position" class="form-control" value="<{$advertisement.value}>"/>
                </div>
              </div>
              
              <div class="form-group">
                <label for="typeSelect" class="col-sm-3 control-label">企业：</label>
                <div class="col-sm-8">
                  <select class="form-control" id="enterpriseSelect">
                    <option value="-1">所有企业</option>
                    <volist name="enterprise" id="item">
                      <option value="<{$item.company_ecid}>"><{$item.company_name}></option>
                    </volist>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="typeSelect" class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                  <select class="form-control" id="typeSelect">                    
                    <option value="web">网站</option>
                    <option value="wechat">微信</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="imgWidth" class="col-sm-3 control-label">宽度：</label>
                <div class="col-sm-8">
                  <input type="text" id="imgWidth" class="form-control" value="<{$advertisement.width}>" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="请输入数字"/>
                </div>
              </div>
              <div class="form-group">                
                <label for="imgHeight" class="col-sm-3 control-label">高度：</label>
                <div class="col-sm-8">
                  <input type="text" id="imgHeight" class="form-control" value="<{$advertisement.height}>" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="请输入数字"/>
                </div>
              </div>

              <div class="form-group">
                <label for="maxNum" class="col-sm-3 control-label">最大数量：</label>
                <div class="col-sm-8">
                  <input type="text" id="maxNum" class="form-control"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="请输入数字" value="<{$advertisement.maxNum}>"/>
                </div>
              </div>

              <div class="form-group">
                <label for="description" class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                  <textarea type="text" id="description" class="form-control"><{$advertisement.description}></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="adComform">确认</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
          </div>
      </div>
  </div>
</div>
<script type="text/javascript">
  var adArr = <{:json_encode($advertisement)}>;

  //内容输入的合法性
  function validInput(){
    var name = $('#name').val().trim();
    var position = $('#position').val().trim();

    if(name === ""){
      $.scojs_message("广告名不能为空", $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(position ===""){
      $.scojs_message("广告位不能为空",$.scojs_message.TYPE_ERROR);
      return false;
    }
    return true;
  }
  //绑定企业选择
  $('#enterpriseSelect').on('change',function(){
    adArr['ecid'] = $('#enterpriseSelect').val();
  });
  //绑定类型选择
  $('#typeSelect').on('change',function(){
    adArr['type'] = $('#typeSelect').val();
  });
  $('#adComform').on('click',function(){
    if(validInput()){
      adArr['name'] = $('#name').val().trim();
      adArr['value'] = $('#position').val().trim();
      adArr['width'] = $('#imgWidth').val();
      adArr['height'] = $('#imgHeight').val();
      adArr['maxNum'] = $('#maxNum').val();
      adArr['description'] = $('#description').val().trim();
      adInfoHandle();
    }
  });
  //编辑时显示下拉框的值
  if(adArr['handleType']=='edit'){
    $('#enterpriseSelect').val(adArr['ecid']);
    $('#typeSelect').val(adArr['type']);
  }
</script>