<table class="table table-bordered table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th width='50'>序号</th>
            <th>广告名</th>
            <th>广告位</th>
            <th>宽度</th>
            <th>高度</th>
            <th>描述</th>
            <if condition="$admin neq '' ">
                <th class='text-center'>操作</th>
            </if>
        </tr>
    </thead>

    <tbody>
        <volist name="adInfo" id="listItem" key="k">
            <tr>
                <td><{$k}></td>
                <td style="word-break : break-all;"><{$listItem.name}></td>
                <td><{$listItem.value}></td>
                <td><{$listItem.width}></td>
                <td><{$listItem.height}></td>
                <td style="word-break : break-all;"><{$listItem.description}></td>
                <if condition="$admin neq '' ">
                    <td class='text-center'>
                        <span><a class="adEditBtn" id="<{$listItem.id}>" href='javascript:void(0)'>编辑</a></span>
                        <span style="margin-left:10px;"><a class="adDelBtn" id="<{$listItem.id}>" href='javascript:void(0)'>删除</a></span>
                    </td>
                </if>
            </tr>
        </volist>
    </tbody>
</table>
<div id="page" class="text-center">
    <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
    $("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#adList").load(_HREF);
        return false;
    });

    $('.adEditBtn').on('click',function(){
        editAd($(this).attr('id'));
    });
    $('.adDelBtn').on('click',function(){
        adInfoHandle($(this).attr('id'),'delete');
    });
    //传递当前操作id
    function editAd(id){
        $('#adInfo').load("<{:U('adInfo')}>" , {"id":id} , function(){
            $('#adModal').modal('show');
            $('#adModal').on('hidden.bs.modal', function (e) {
              document.getElementById("adInfo").innerHTML = "";
            });
        });
    }
    function adInfoHandle(id,type){
        if(type == "delete"){
            if(!confirm("请确认是否删除")){
                return;
            }else{
                adArr = {
                    "id" : id , 
                    "handleType" : type
                };
            }
        }

        $.post("<{:U('adHandle')}>" , adArr , function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                $('#adModal').modal('hide');
                $('#adModal').on('hidden.bs.modal', function (e) {
                  $('#adList').load("<{:U('adList')}>");
                });
                if(adArr['handleType']=='delete'){
                    $('#adList').load("<{:U('adList')}>");
                }

            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>