<div class="form-group">
  	<select class="form-control" id='adValue'>
	    <option value='-1'>所有广告名称</option>
	    <volist name='name' id='item'>
	        <option value='<{$item.id}>'><{$item.name}></option>
	    </volist>
  	</select>
</div>
<script>
    //绑定广告位
    $('#adValue').on('change',function(){
      var ecid = $('#companySelect').val();
      var id = $('#adValue').val();
      $('#adList').load("<{:U('adList')}>",{'ecid':ecid,'id':id},function(){
        $('#adValue').val(value);
      });
    });
</script>