<if condition="$userInfo eq ''">
  <a href="<{:U('Index/login')}>" class="btn btn-default btn-sm" role="button">微信登录</a>

   <!-- Modal -->
  <div class="modal fade text-center" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">微信登录</h4>
        </div>
        <div class="modal-body" id='login-QR'>
        </div>
      </div>

    </div>
  </div>

  <script>
  	$('#signBtn').on('click', function(){
  		$('#login-QR').load('<{:U('Index/getLoginModel')}>');

  		$('#loginModal').modal();
  	})

    $('#loginModal').on('hidden.bs.modal', function (e) {
      $('#login-QR').empty();
    })
  </script>
<else />
		<div class="col-md-6" style='padding-top:10px;'>欢迎您，<{$userInfo.nickname}></div>
		<div class="col-md-2" style='padding-top:3px;'><img src="<{$userInfo.headimgurl}>" alt="" class="img-responsive img-circle pull-right"></div>
    <div class='col0md-4' style='padding-top:10px;'>
      <a onclick="exitCheck()" style="cursor:pointer;">退出</a></li></ul>
            <script type="text/javascript">
                function exitCheck() {
                    if (confirm("是否确认退出")) {
                        location.href = "<{:U('Index/doQuit')}>";
                    }
                }
            </script>
    </div>
</if>