<img src="<{$qrImg}>" alt="" class='img-responsive text-center' id='loginImg'>
<h4 id='info1'>请使用微信“扫一扫”扫描</h4>
<h4 id='info2'>关注微信后完成登录</h4>

<script>
	var sense = <{$scene}>;

	var webSocket = io.connect('http://120.24.66.149:5620/web');
    var userInfo = {};
    
    webSocket.on('connect', function () {
      webSocket.emit('qrLogin', {sense: sense});

      webSocket.on('userScan', function(data){
        userInfo = data;
        $('#loginImg').attr('src', data['user']['headimgurl']);

        $('#info1').text('欢迎您，'+ data['user']['nickname']);
        $('#info2').text('请在手机点击确认登录');
      });

      webSocket.on('comfirmLogin', function(data){
        if(data['user']['id'] == userInfo['user']['id']){
          $.post('<{:U('Index/doLoginHandle')}>', data, function(data){
            if(data['code'] == 0)
              window.location.reload();
          })
        }
      });
    });
</script>