<extend name="Public:base-full" />
<block name='head'>
  <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
</block>
<block name='body'>
  <include file="Public:new-head" />
  <div class="container-fluid site-wrapper">
    <div class="fullscreen">
      <div class="row fullscreen">
        <div class="col-xs-5 fullscreen">
          <div class="container-fluid fullscreen">
          <div class="row halfscreen">
            <div class="col-xs-12 left-1 fullscreen">
              
            </div>
          </div>
          <div class="row halfscreen">
            <div class="col-xs-6 fullscreen">
              <div class="row halfscreen">
                <div class="left-2 fullscreen">
                  
                </div>
              </div>
              <div class="row halfscreen">
                <div class="left-4 fullscreen">
                  
                </div>
              </div>
            </div>
            <div class="col-xs-6 left-3 fullscreen">
              
            </div>
          </div>
          
        </div>
        </div>
        <div class="col-xs-7 right-1 fullscreen">
          <div class="right-content">
            <h1>每一口的喜悦，从亚历山达开始</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container index-content">
    <div class="row info-index">
      <div class="col-xs-12">
        <h2>每一口的喜悦，从亚历山达开始</h2>
        <p>A DELIGHT IN EVERY BITE</p>
      </div>
      <div class="col-xs-4 info-item">
        <div class="row">
          <div class="col-xs-1">
            <h4 class='big-size'>1</h4>
          </div>
          <div class="col-xs-11">
            <h4>企业理念</h4>
        <p>亚历山达坚信，每一位消费者都拥有吃到安全、放心食品的权利，消费者不应每天为食品安全而提心吊胆。正因如此，亚历山达在原材料的选购和生产过程中丝毫不敢马虎，作为您的伙伴，我们只为您提供天然、优质、健康的食品和最贴心的服务。</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 info-item">
        <div class="col-xs-1">
            <h4 class='big-size'>2</h4>
          </div>
          <div class="col-xs-11">
            <h4>质量与安全</h4>
        <p>亚历山达绝对不添加任何人造香精、人造色素等雪糕制作过程中不必要的添加剂。亚历山达雪糕的味道、颜色都是由天然的原料直接得来。经过多次对比试验,我们选用国际领先供应商提供的的乳化剂和增稠剂，对我们来说食品安全永远是最重要的。</p>
          </div>
      </div>
      <div class="col-xs-4 info-item">
        <div class="col-xs-1">
            <h4 class='big-size'>3</h4>
          </div>
          <div class="col-xs-11">
             <h4>社会责任</h4>
        <p>亚历山达认为企业应该承担相应的社会责任。因此我们承诺至少捐出1%的收入和1%的时间（每年每位员工不少于25小时）参与到公益活动中。亚历山达同时也关注员工的工作环境，并选用绿色环保的包材与配送方式。</p>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid product">
    <div class="product-tb">
      <div class="right-content">
        <h1>全国首个高端020雪糕品牌</h1>
        <h2>自选口味 | 配送上门</h2>
      </div>
    </div>
  </div>
  <div class="story container">
    <div class="row info-index">
      <h2>亚历山达在路上</h2>
      <p>享受Alexander's的每一天</p>
    </div>
    <div class="row story-row">
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B95.jpg'></image>
            <figcaption>
              <h2>纽约</h2>
              <p>New York, US</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B92.jpg'></image>
            <figcaption>
              <h2>迪拜</h2>
              <p>Dubai</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B93.jpg'></image>
            <figcaption>
              <h2>伦敦</h2>
              <p>London, UK</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B94.jpg'></image>
            <figcaption>
              <h2>贝尔法斯特</h2>
              <p>Belfast, UK</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
    </div>
    <div class="row story-row">
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/WeChat_1430669139.jpeg'></image>
            <figcaption>
              <h2>巴厘岛</h2>
              <p>Bali, Indonesia</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B96.jpg'></image>
            <figcaption>
              <h2>台北</h2>
              <p>Taipei</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/WeChat_1430669140.jpeg'></image>
            <figcaption>
              <h2>悉尼</h2>
              <p>SYDNEY, Australia</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="grid-img">
          <figure class="effect-ming">
            <image class="img-responsive" src='http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/%E9%A6%96%E9%A1%B5%E4%B8%8B%E6%96%B98.jpg'></image>
            <figcaption>
              <h2>巴黎</h2>
              <p>Paris,  France</p>
              <a href="javascript:void(0)">View more</a>
            </figcaption>     
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-buy">
    <div class="footer-buy-content">
      <div class="right-content">
        <h1>现在开始享受Alexander's雪糕</h1>
        <a href="<{:U('Shop/index')}>"><img src="http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/buy-btn.png" alt="img-responsive" style='width: 250px;padding-top: 15px;'></a>
      </div>
    </div>
  </div>
</block>