<extend name="Base:base" />

<block name="page">
     <include file="Base:header" />
     <div data-role="content">
          <div class='content-gray'>
               <a href="tel:4009908355#mp.weixin.qq.com" target="_self" rel="external">
               <img id='content-tel-img' src="__PUBLIC__/images/tel.png" alt="">
               <div id='content-tel'>
                    <img src="__PUBLIC__/images/contact.png" alt="">
               </div>
               </a>
          </div>
     </div>
     <include file="Base:footer" />
</block>
<block name="body-bottom">
     <script>
     $(document).on( "pagecontainershow", function(){
         var screen = $.mobile.getScreenHeight();

     var header = $(".ui-header").hasClass("ui-header-fixed") ? $(".ui-header").outerHeight()  - 1 : $(".ui-header").outerHeight();

     var footer = $(".ui-footer").hasClass("ui-footer-fixed") ? $(".ui-footer").outerHeight() - 1 : $(".ui-footer").outerHeight();

     /* content div has padding of 1em = 16px (32px top+bottom). This step
        can be skipped by subtracting 32px from content var directly. */
     var contentCurrent = $(".ui-content").outerHeight() - $(".ui-content").height();

     var content = screen - header - footer - contentCurrent;

     $(".ui-content").height(content);   
     });
     </script>
</block>