<extend name="Public:new-base" />
<block name="title">
    <title>企业试吃——Alexander's</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/company.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<button class="btn btn-default" id='outToExcel'>导出订单</button>
<h4>企业申请列表：</h4>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>城市</th>
          <th>公司名称</th>
          <th>人数</th>
          <th>联系人</th>
          <th>联系电话</th>
          <th>职位</th>
          <th>申请时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <volist name="tryList" id="item">
        <tr>
          <td><{$item.companyCity}></td>
          <td><{$item.companyName}></td>
          <td><{$item.eatPeople}></td>
          <td><{$item.userName}></td>
          <td><{$item.userTel}></br><{$item.userMobile}></td>
          <td><{$item.userPosition}></td>
          <td><{$item.addTime}></td>
          <td><a class="btn btn-default btn-sm" href="<{:U('Company/info')}>/id/<{$item.id}>" role="button" target="_blank">详情</a></td>
        </tr>
        </volist>
      </tbody>
    </table>
</block>

<block name="end-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">
      $('#companyEat').addClass("active");

      $('#outToExcel').on('click',function(){
        window.open('<{:U('Company/outToExcel')}>');
      })
    </script>
</block>