<extend name="Public:new-base" />
<block name="title">
    <title>企业试吃——Alexander's</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/company.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<table class="table table-striped">
  <tbody>
    <tr>
      <th>公司名称：</th>
      <td><{$item.companyName}></td>
    </tr>
    <tr>
      <th>城市</th>
      <td><{$item.companyCity}></td>
    </tr>
    <tr>
      <th>区域</th>
      <td><{$item.companyArea}></td>
    </tr>
    <tr>
      <th>地址</th>
      <td><{$item.companyAddress}></td>
    </tr>
    <tr>
      <th>部门</th>
      <td><{$item.companyDepartment}></td>
    </tr>
    <tr>
      <th>人数</th>
      <td><{$item.eatPeople}></td>
    </tr>
    <tr>
      <th>试吃时间</th>
      <td><{$item.eatTimerand}></td>
    </tr>
    <tr>
      <th>企业需求</th>
      <td><{$item.companyDemand}></td>
    </tr>
    <tr>
      <th>联系人</th>
      <td><{$item.userName}></td>
    </tr>
    <tr>
      <th>职位</th>
      <td><{$item.userPosition}></td>
    </tr>
    <tr>
      <th>办公电话</th>
      <td><{$item.userTel}></td>
    </tr>
    <tr>
      <th>手机</th>
      <td><{$item.userMobile}></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><{$item.userEmail}></td>
    </tr>
    <tr>
      <th>留言</th>
      <td><{$item.userMessage}></td>
    </tr>
  </tbody>
</table>
</block>

<block name="end-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">
      $('#companyEat').addClass("active");
    </script>
</block>