<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
      <p class="text-muted">©深圳市通用条码技术开发中心 <a href='http://www.sz12365.net'  target="view_window">www.gbarcode.com</a></p>
    </div>
</nav>