<div id="header">
    <div id="head-main">
        <div id="head-logo"><img src="__IMAGE__/weixinlogo.png" /></div>
        <div id="head-user"><ul>
            <li style="border-right:1px solid #000;"><{$userName}></li>
            <li><a onclick="exitCheck()" style="cursor:pointer;">退出</a></li></ul>
            <script type="text/javascript">
                function exitCheck() {
                    if (confirm("是否确认退出")) {
                        location.href = "__ROOT__/index.php/Index/doQuit";
                    }
                }
            </script>
        </div>
    </div>
</div>
<div id="head-menu">
    <ul>
        <li><a href="__MODULE__">首页</a></li>
        <li><a href="__MODULE__/Fw/">防伪管理</a></li>
        <li><a href="__MODULE__/Location">LBS管理</a></li>
        <li><a href="__MODULE__/MaterialLib/">素材管理</a></li>
        <li><a href="__MODULE__/Keyword/">关键字</a></li>
        <li><a href="__MODULE__/Menu/">菜单管理</a></li>
        <li><a href="__MODULE__/Userset/">用户管理</a></li>
    </ul>
</div>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="" class="navbar-brand"><strong>GBC</strong> | <small>业务管理系统</small></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎您，<{:session( 'user_name' )}></a></li>
             <li><a href="javascript:void(0)" onclick="exitCheck()"><span class="glyphicon glyphicon-off"></span>退出</a></li>
             <script type="text/javascript">
                  function exitCheck() {
                      if (confirm("是否确认退出")) {
                          location.href = "<{:U('Home/Index/index')}>";
                      }
                  }
              </script>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>