<ul class="nav nav-sidebar">
    <li id='index'><a href="<{:U('Index/index')}>" >首页</a></li>
    <if condition="$city eq '' AND ($userName neq 'check')">
    <li id='fans'><a href="<{:U('Fans/index')}>" >粉丝管理</a></li>
    <li id='keyword'><a href="<{:U('Keyword/index')}>" >智能回复</a></li>
    <li id="menu-diy"><a href="<{:U('Menu/index')}>" >自定义菜单</a></li>
    <li id='product'><a href="<{:U('Brand/index')}>" >产品管理</a></li>
    <li id='companyEat'><a href="<{:U('Company/eat')}>" >企业试吃</a></li>
    </if>
    <li id='order'><a href="<{:U('Order/index')}>" >订单管理</a></li>
    <if condition="($city eq '') AND ($userName neq 'check')">
    <li id='allocation'><a href="<{:U('Allocation/index')}>" >配送管理</a></li>
    <li id='payQrcode'><a href="<{:U('PayQrcode/index')}>" >支付二维码管理</a></li>
    <li id='activity'><a href="<{:U('Activity/index')}>" >活动管理</a></li>
    <li id='material'><a href="<{:U('MaterialLib/index')}>" >素材中心</a></li>
    <li id='user'><a href="<{:U('User/index')}>" id='user'>企业管理</a></li>
    <li d='statistics'><a href="<{:U('Statistics/index')}>" i>数据中心</a></li>
    </if>
</ul>
