<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand"><strong>亚历山达 Alexander</strong> | <small>微信管理系统</small></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">欢迎您，<{:session( 'user_name' )}></a></li>
             <li><a href="javascript:void(0)" onclick="setPassword()"><span class="glyphicon glyphicon-bell"></span>修改密码</a></li>
             <li><a href="javascript:void(0)" onclick="exitCheck()"><span class="glyphicon glyphicon-off"></span>退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
<div class="password-main"></div>
<script type="text/javascript">
      function exitCheck() {
          if (confirm("是否确认退出")) {
              location.href = "__APP__/Home/Index/doQuit";
          }
      }

      function setPassword(){
          $('.password-main').load("<{:U('User/password')}>" , {} , function(){
              $('#password').modal();
          });
      }
  </script>