<extend name="Public:Base" />
<block name="title">
	<!--标题-->
</block>

<block name="css">
	<!--CSS引用-->
</block>

<block name="js">
	<!--js引用-->
</block>

<block name="pre-begin">
	<!--预加内容-->
</block>

<block name="class-title">
	<!--菜单名-->
</block>

<block name="left">
	<!--主体左-->
</block>

<block name="right">
	<!--主体右-->
</block>

<block name="end-js">
	<!--结尾js-->
</block>