body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0;font-style: normal;font-size: 100%; font-family: inherit;} 
h1,h2{font-weight:normal;}
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#000;background:#f8f8f8;font: 12px/1.5 Arial, Helvetica, sans-serif;} 
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;} 
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 

.dis{display:block;} 
.undis{display:none;} 

#class-title{
    height:35px;
    line-height:35px;
    padding-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    font-size:18px;
    border-bottom:1px solid #d3d3d3;
}

#main-left{
    float:left;
    height:100%;
}


#main-right{
    float:left;
    min-height:500px;
    width: 50%;
    padding-left:20px;
    padding-top:25px;
    border-left:1px solid #d3d3d3;
}

#info{
    margin-top:20px;
}

.rule-main{
    clear:both;
    width:810px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom:10px;
    margin-right:30px;
}

.rule-title{
    height:30px;
    line-height:30px;
    padding-left:10px;
    border-bottom:1px solid #ccc;
    background-image: url(/weixin/Public/Image/key-bg.png);
    cursor: pointer;
}

.rule-title font{
    float:right;
    margin-right:10px;
}

.key-main{
    padding:10px;
}

.key-main font{
    float:left;
    font-weight:bold;
}

.key-title ul{
    float:left;
}

.key-title ul li{
    float:left;
    background: #ccc;
    margin-right:10px;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom:10px;
}

.key-response{
    clear: both;
    height:30px;
    line-height:30px;
}

.rule-big-main{
    padding:10px;
}

.rule-new-big-main{
    padding:10px;
}

.addNew{
    float:left;
    color:#000;
    text-align:center;
    width:100px;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    border-radius: 5px;
    cursor:pointer;
    margin-right:10px;
    margin:10px 30px 10px 0px;
}

.rule-big-title{
    color:#999999;
    height:25px;
    line-height:25px;
}

.rule-big-title input{
    height:25px;
    line-height: 25px;
    padding-left:10px;
}

.rule-big-left{
    float:left;
    border:1px solid #ccc;
    border-radius: 6px;
    width:340px;
    margin-top:10px;
}

.left-key-title{
    background:#EEEDED;
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-bottom:1px solid #ccc;
}

.left-key-list{
    height:253px;
    overflow:auto;
}

#list-default button{
    display:block;
    cursor:pointer;
        margin-top:30px;
        margin-left:80px;
    }

.left-key-list ul{
    padding-top:10px;
}

.left-key-list ul li{
    padding-left:10px;
    width:95%;
    height:25px;
    line-height:25px;
    border-bottom:1px solid #ccc;
}

.left-key-list ul li input{
    float:left;
    margin-top:5px;
    margin-right:10px;
}

.key-text , #text-new{
    width:90%;
    height:350px;
    padding:10px;
    }

.left-key-add{
    height:46px;
    background:#EEEDED;
    border-top:1px solid #ccc;
}

.left-key-add button{
    margin-top:10px;
    margin-left:80px;
}

.rule-big-right{
    float:left;
    margin-top:10px;
    margin-left:10px;
    border:1px solid #ccc;
    border-radius: 6px;
    width:430px;
}

.right-response-title{
    background:#EEEDED;
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-bottom:1px solid #ccc;
}

.right-response-title button{
    float:left;
    margin-top:8px;
    margin-right:10px;
    cursor:pointer;
    }

.right-response-text{
    clear:both;
    height:243px;
    overflow:auto;
    padding-top:10px;
    padding-left:10px;
}

#handleBtn{
    margin-top:10px;
    height:40px;
}

#handleBtn div{
    float:left;
    color:#fff;
    text-align:center;
    background:#54A046;
    width:100px;
    height:30px;
    line-height:30px;
    border:1px solid #3D810C;
    border-radius: 5px;
    cursor:pointer;
    margin-right:10px;
}

#phone{
    margin-left:10px;
}

.msg-title{
    font-size: 16px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-right:20px;
}

.msg-img-main{
    width:248px;
    height:138px;
    margin-top:38px;
    margin-left:36px;
    }

.msg-img-upload{
    width: 248px;
    height:auto;
}

.text-msg{
    width: 300px;
    padding:5px;
    height:140px;
    margin-top:10px;
}

#not-show{
    clear:both;
    height:1px;
}

#review-title{
    margin-bottom:20px;
}

#review-title a{
    color:red;
    cursor:pointer;
    font-size:16px;
}

#review-title a:hover{
    text-decoration:underline;
}