body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0;font-style: normal;font-size: 100%; font-family: inherit;} 
h1,h2{font-weight:normal;}
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#FFF;background:#f8f8f8;font: 12px/1.5 Arial, Helvetica, sans-serif;} 
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;} 
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 

.dis{display:block;} 
.undis{display:none;} 


#main-bg {
	height:500px;
	}
	
#bg-img{
	height:500px;
		}
	
#main{
	height:500px;
	}
	
#main-ul{
	float:left;
	width:480px;
	margin-left:130px;
	}
	
#main-a{
	width:200px;
	height:470px;
	}
	
#ul-a {
	width:330px;
	}
	
#ul-a li{
	display:inline;
	}
	
#ul-a a{
	color:#797979;
	text-decoration:none;
	}
	
#ul-a a:hover{
	text-decoration:underline;
	}

#main-form{
	float:right;
	height:450px;
	width:350px;
	overflow:hidden;
	border:1px solid #fff;
	margin-top:25px;
	}
	
#form-left{
	margin-top:80px;
	margin-left:20px;
	margin-right:20px;
	}
	
#fwcode{
	text-align:center;
	width:310px;
	font-size:20px;
	height:30px;
	line-height:30px;
	margin-bottom:15px;
	}
	
#form-a{
	margin-left:20px;
	cursor:pointer;
	}
	
#checkbtn{
	margin-top:15px;
	margin-left:20px;
	}
	
#resetbtn{
	margin-left:25px;
	}