<extend name="Base:base" />
<block name="head">
</block>
<block name="page">
     <include file="Base:header" />
     <div data-role="content" id="main-content">
          <h1><{$msg}></h1>
     </div>
</block>