<table class="table table-bordered table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th width='6%'>序号</th>
            <th width='8%'>广告位</th>
            <th width='22%'>图片</th>
            <th width='14%'>添加时间</th>
            <th width='15%'>操作人</th>            
            <th class='text-center' width='15%'>操作</th> 
        </tr>
    </thead>

    <tbody>
        <volist name="adInfo" id="listItem" key="k">
            <tr>
                <td><{$k}></td>
                <td style="word-break : break-all;"><{$listItem.value}></td>
                <td><img src="<{$listItem.imgPath}>" width="100%" ></td>
                <td><{$listItem.modifyTime}></td>
                <td><{$listItem.user_name}></td>
                <td style="text-align: center;">
                    <span><a class="advertEditBtn" id="<{$listItem.id}>"  href='javascript:void(0)'>编辑</a></span>
                    <span style="margin-left:10px;"><a class="advertDelBtn" id="<{$listItem.id}>" href='javascript:void(0)' onclick="dealerHandle(<{$listItem.id}> , 'delete')">删除</a></span>
                </td>  
            </tr>
        </volist>
    </tbody>
</table>
<div id="page" class="text-center">
    <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
    $("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#advertList").load(_HREF);
        return false;
    });

    $('.advertEditBtn').on('click',function(){
        editAdvert($(this).attr('id'));
    });
    $('.advertDelBtn').on('click',function(){
        advertHandle($(this).attr('id'),'delete');
    });
    //传递当前操作id
    function editAdvert(id){
        $('#advertInfo').load("<{:U('advertInfo')}>" , {"id":id} , function(){
            $('#advertEdit').modal('show');
                $("#advert_product").hide();
                $("#advert_dealerId").hide();
            if(id != 'add'){
                $("#advert_product").show();
                $("#advert_dealerId").show();
            }
            $('#advertEdit').on('hidden.bs.modal', function (data) {
              document.getElementById("advertInfo").innerHTML = "";
            });
        });
    }

    /**
     * 删除操作方式
     * @param  {[type]} id   
     * @param  {[type]} type 
     * @return {[type]}  
     * @author 黄浩   2014-07-22 
     */
    function dealerHandle(id,type){
        if(type == "delete"){
            if(!confirm("请确认是否删除")){
                return;
            }else{
                adArr = {
                    "id" : id , 
                    "handleType" : type
                };
            }
        }

        $.post("<{:U('advertHandle')}>" , adArr , function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                $('#advertEdit').modal('hide');
                $('#advertEdit').on('hidden.bs.modal', function (e) {
                  $('#advertList').load("<{:U('advertList')}>");
                });
                if(adArr['handleType']=='delete'){
                    $('#advertList').load("<{:U('advertList')}>");
                }

            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>