<div class="row" style="margin-top:20px;" id="advert-right">
  <div class="col-md-3">
    <button class="btn btn-info" style="margin-bottom:10px;" id="addBtn">
      添加广告
    </button>
  </div>
  
  <div class="col-md-12">
    <div id="advertList"></div>
  </div>

  <div class="col-md-12">
    <div id="advertInfo"></div>
  </div>

</div>

<script type="text/javascript">

  $('#advertList').load("<{:U('advertList')}>");

  $('#addBtn').on('click', function(){
    editAdvert('add');
  }); 


</script> 