<div class="row">
    <div class="col-md-12" style="margin-top:30px;" id="solution-right">
        <div class="panel panel-info" id="solution-main">
            <div class="panel-heading">网站信息</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <p class='text-info'>标题：</p>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control name" id="title" value="<{$info['title']}>">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
                    <div class="col-md-2">
                        <p class='text-info'>描述：</p>
                    </div>
                    <div class="col-md-12">
                         <textarea id="description" class="form-control"   row="6" name="description" ><{$info['description']}></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
                    <div class="col-md-2">
                        <p class='text-info'>关键词：</p>
                    </div>
                    <div class="col-md-12">
                         <textarea id="web-keyword" class="form-control"   row="6" name="web-keword" ><{$info['keyword']}></textarea>
                    </div>
                </div>
             

                <div class="text-right" id="confirm">
                    <button type="button" class="btn btn-info default-save" onclick="websiteHandle()">保存修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
<script type="text/javascript">
    
    var info=<{:json_encode($info)}>;
    var userArr={};
    
    if(info == null||info['keyword'] == ''||info['description'] == ''||info['title'] ==' '){
        $.scojs_message('请完善网站信息', $.scojs_message.TYPE_ERROR);       
        }    
        
    function websiteHandle(){
        if(info==null){
            userArr['handleType'] = 'add';
        }else{
            userArr['handleType'] = 'edit';
        }
        if($('#title').val().trim() == ''){
            $.scojs_message('标题不能为空', $.scojs_message.TYPE_ERROR);
            return;
        }else if($('#description').val().trim() == ''){
            $.scojs_message('描述不能为空', $.scojs_message.TYPE_ERROR);
            return;
        }else if($('#web-keyword').val().trim() == ''){
            $.scojs_message('关键词不能为空',$.scojs_message.TYPE_ERROR);
            return;
        }

        userArr['title'] = $('#title').val().trim();
        userArr['keyword'] = $('#web-keyword').val().trim();
        userArr['description'] = $('#description').val().trim();

        $.post("<{:U('websiteHandle')}>" , userArr , function(data){
            if(data['status'] == 0){
                alert("操作成功！");
                window.location.href = "<{:U('index')}>";
            }else{
                $.scojs_message(data['info'],$.scojs_message.TYPE_ERROR);
            }
        });        
    }
</script>