<extend name="Public:new-base" />
<block name="title">
    <title>标签管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>')">返回列表</button>
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            <h3 class="panel-title">企业信息</h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">企业ID：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="company_ecid" placeholder="请输入企业ID" value="<{$user['company_ecid']}>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">企业名称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="company_name" placeholder="请输入企业名称" value="<{$user['company_name']}>"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">企业官网：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="company_web" placeholder="请输入企业官网" value="<{$user['company_web']}>"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">企业LOGO：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <input type='file' id='msg-Img-input' class="form-control" multiple="true"/>
                            <img src="<{$user['company_logo']}>" style='width:300px;height:167px;' class="img-thumbnail" id="Img">
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">AppId：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="weixin_AppId" placeholder="请输入weixin_AppId" value="<{$user['weixin_AppId']}>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">AppSecret：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="weixin_AppSecret" placeholder="请输入weixin_AppSecret" value="<{$user['weixin_AppSecret']}>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">接口账号：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="mxt_api" placeholder="请输入接口账号" value="<{$user['mxt_api']}>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">接口密码：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="mxt_psw" placeholder="请输入接口密码" value="<{$user['mxt_psw']}>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary" onclick='companyHandle()'>确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="end-js">
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
<script src="__JS__/Public.js"></script>
<script src="__JS__/checkInput.js"></script>
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $('#manager').addClass("active");
    var userArr = <{:json_encode($user)}>;

    //判断企业id输入是否为数字
    $('#company_ecid').on('keyup' , function(){
        checkInt('company_ecid');
    });

    function companyHandle(){
        if($('#company_ecid').val().trim() == ''){
            $.scojs_message('企业ID不能为空', $.scojs_message.TYPE_ERROR);
            return;
        }else if($('#company_name').val().trim() == ''){
            $.scojs_message('企业名称不能为空', $.scojs_message.TYPE_ERROR);
            return;
        }

        userArr['company_ecid'] = $('#company_ecid').val().trim();
        userArr['company_name'] = $('#company_name').val().trim();
        userArr['company_web'] = $('#company_web').val().trim();
        userArr['weixin_AppId'] = $('#weixin_AppId').val().trim();
        userArr['weixin_AppSecret'] = $('#weixin_AppSecret').val().trim();
        userArr['mxt_api'] = $('#mxt_api').val().trim();
        userArr['mxt_psw'] = $('#mxt_psw').val().trim();

        $.post("<{:U('companyHandle')}>" , userArr , function(data){
            if(data['status'] == 0){
                alert("操作成功！");
                window.location.href = "<{:U('index')}>";
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }

    $("input#msg-Img-input").uploadify({
            height        : 25,
            swf           : '__PUBLIC__/uploadify/uploadify.swf',
            uploader      : '__MODULE__/Public/file',
            width         : 90,
            buttonText    : '点击上传图片',
            queueID       : 'fileQueue',
            fileExt       : '*.jpg;*.gif,*.png', 
            fileDesc      : 'Web Image Files(.JPG,.GIF,.PNG)', 
            sizeLimit     : '2048000',     
            fileDataName  : 'uploadify',
            method        : 'post',
            formData      : {
              timestamp : '<{$timestamp}>',
              token     : '<{$token}>',
              width     : 320,
              height    : 200
            },
            uploadReplace : true,
            onUploadSuccess    : funBigImgComplete
        });

        //图片上传发生的事件
        function funBigImgComplete(file, data, response) {
            var obj = eval ("(" + data + ")");

            if(obj['code'] != 0){
                $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                return;
            }else{
                var imgUrl = obj['imgUrl'];
                $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

                $('#Img').attr('src', imgUrl);
                userArr['company_logo'] = imgUrl;
            }
        }
</script>
</block>