<script type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
<div class="modal fade" id="service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加服务</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务类型：</label>
                        <div class="col-sm-9">
                            <select class="form-control" id='serviceType'>
                                <volist name="service" id="item">
                                    <option value='<{$item.id}>'><{$item.name}></option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <if condition="$isServiceExist eq 0">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="user_name" placeholder="请输入账号"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">接口账号：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="mxt_api" placeholder="请输入接口账号"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">接口密码：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="mxt_psw" placeholder="请输入接口密码"/>
                            </div>
                        </div>
                    </if>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开始时间：</label>
                        <div class="col-sm-9">
                            <input type="text" id="startTime" class="Wdate form-control" style="margin-top:0px;" onClick="WdatePicker()"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">结束时间：</label>
                        <div class="col-sm-9">
                            <input type="text" id="endTime" class="Wdate form-control" style="margin-top:0px;" onClick="WdatePicker()"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='serviceHandle()'>确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var arr = {
    "serviceId" : "" ,
    "ecid" : "<{$ecid}>" ,
    "startTime" : "" ,
    "endTime" : "" , 
    "mxt_psw" : "" , 
    "mxt_api" : "" , 
    "user_name" : "" ,
    "isServiceExist" : false
};

function serviceHandle(){
<if condition="$isServiceExist eq 0">
    if($("#mxt_psw").val().trim() == "" || $("#mxt_api").val().trim() == "" || $("#user_name").val().trim() == ""){
        $.scojs_message("请填写完整", $.scojs_message.TYPE_ERROR);
        return;
    }

    arr['mxt_psw'] = $("#mxt_psw").val();
    arr['mxt_api'] = $("#mxt_api").val();
    arr['user_name'] = $("#user_name").val();
</if>

    if($("#startTime").val() == "" || $("#endTime").val() == ""){
        $.scojs_message("请选择时间", $.scojs_message.TYPE_ERROR);
        return;
    }

    if($("#endTime").val() <= $("#startTime").val()){
        $.scojs_message("结束时间必须大于开始时间", $.scojs_message.TYPE_ERROR);
        return;
    }

    arr['startTime'] = $("#startTime").val();
    arr['endTime'] = $("#endTime").val();
    arr['serviceId'] = $("#serviceType").val();
    arr['isServiceExist'] = <{$isServiceExist}>;

    $.post("<{:U('serviceHandle')}>" , arr , function(data){
        if(data['status'] == 0){
            $('#service').modal('hide');
            window.location.reload();
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
}
</script>