<div class="row" style="margin-top:20px;">
    <div class="col-md-2">
        <button class="btn btn-info" style="margin-bottom:10px;" id="add-btn" onclick="window.location.href='<{:U('item')}>/id/add'">
            添加企业
        </button>
    </div>
    <div class="col-md-4">
        <select class="form-control" id='typeSelect'>
            <option value='all'>全部</option>
            <volist name='type' id='item'>
                <option value='<{$item.id}>'><{$item.name}></option>
            </volist>
        </select>
    </div>
    <div class="col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" id='ecidInput' placeholder="搜索企业ID">
          <span class="input-group-btn">
            <button class="btn btn-info" id='search-btn' type="button">搜索</button>
          </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-md-1">
        <button class="btn btn-info" id='reset-btn' type="button" onclick="window.location.reload()">全部</button>
    </div>
</div>
<div id="page" style="background-color:#fafafa;margin-top:20px;">
    <ul class="pagination"><{$page}></ul>
</div>

<div id="company-main"></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th width='80'>企业ID</th>
            <th>企业名称</th>
            <th>服务</th>
            <th>接口信息</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <volist name="company" id="item" key="k">
            <tr>
                <td><{$item.company_ecid}></td>
                <td><{$item.company_name}></td>
                <td><{$item.service}> <div id="service-main"></div></td>
                <td>
                    <if condition="$item.isHasService">
                        <span><a onclick="showServiceInfo('<{$item.company_ecid}>')" href='javascript:void(0)'>点击查看</a></span>
                        <div id="serviceInfo-main"></div>
                        <div id="update-main"></div>
                    <else />
                        -
                    </if>
                </td>
                <td><span><a href="<{:U('item')}>/id/<{$item.company_ecid}>">编辑</a></span></td>
            </tr>
        </volist>
    </tbody>
</table>
<script type="text/javascript">
$('#manager').addClass("active");
$('#typeSelect').val("<{$typeSelect}>");
function openService(ecid){
    $('#service-main').load("<{:U('service')}>" , {"ecid":ecid} , function(){
        $('#service').modal('show');
    });
}

function showServiceInfo(ecid){
    $('#serviceInfo-main').load("<{:U('serviceInfo')}>" , {"ecid":ecid} , function(){
        $('#serviceInfo').modal('show');
    });
}

function showService(ecid){
    $('#update-main').load("<{:U('update')}>" , {
        "ecid":ecid
    } , function(){
        $('#update').modal('show');
    });
}

function editInfo(id){
    $('#company-main').load("<{:U('item')}>" , {"id":id} , function(){
        $('#company').modal('show');
    });
}

$("#typeSelect").on('change' , function(){
    $('#user').load("<{:U('serviceList')}>" , {
        "cId" : "user" ,
        "select" : G("typeSelect").value
    });
});

$("#search-btn").on('click' , function(){
    $('#user').load("<{:U('serviceList')}>" , {
        "cId" : "user" ,
        "ecid" : G("ecidInput").value
    });
});

$("#page > ul > li > a").click(function()
{
    var _HREF = $(this).attr('href');       

   //加载页面
    $("#<{$cId}>").load(_HREF,
    {
        'cId' : '<{$cId}>' ,
        'select' : '<{$serviceType}>'
    });                       
    return false;
});
</script>