<script type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
<div class="modal fade" id="snModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">设备信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">企业ID：</label>
                        <div class="col-sm-9">
                            <input type="text" id="company_ecid" class="form-control" value="<{$sn.company_ecid}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">设备号：</label>
                        <div class="col-sm-9">
                            <input type="text" id="snNum" class="form-control" value="<{$sn.sn}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">购买时间：</label>
                        <div class="col-sm-9">
                            <input type="text" id="buyTime" class="Wdate form-control" onClick="WdatePicker()" value="<{$sn.buyTime}>"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='snHandle()'>确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var sn = <{:json_encode($sn)}>;

function snHandle(){
    if($('#company_ecid').val().trim() == "" || $('#snNum').val().trim() == "" || $('#buyTime').val().trim() == ""){
        $.scojs_message("信息不能为空", $.scojs_message.TYPE_ERROR);
        return;
    }

    if(confirm("请确认设备号是否正确")){
        sn['company_ecid'] = $('#company_ecid').val().trim();
        sn['sn'] = $('#snNum').val().trim();
        sn['buyTime'] = $('#buyTime').val().trim();

        $.post("<{:U('snHandle')}>" , sn , function(data){
            if(data['status'] == 0){
                $('#snModal').modal('hide');
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
}

$('#snModal').on('hidden.bs.modal', function (e) {
  $('#sn').load("<{:U('sn')}>" , {
                "cId":"sn"
            });
});
</script>