<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">服务续期</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务类型：</label>
                        <div class="col-sm-9">
                            <select class="form-control" id='updateServiceType'>
                                <volist name="service" id="item">
                                    <option value='<{$item.id}>'><{$item.name}></option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务时间：</label>
                        <div class="col-sm-9">
                            <div id="serviceTime"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">续期：</label>
                        <div class="col-sm-9">
                            <select class="form-control" id='dateSelect'>
                                <option value='1'>1年</option>
                                <option value='2'>2年</option>
                                <option value='3'>3年</option>
                                <option value='4'>4年</option>
                                <option value='5'>5年</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='updateService()'>确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    showServiceTime();

    /**绑定服务选择事件
     * 范小宝
     * 2014.4.2
     */
    $('#updateServiceType').on('change' , function(){
        showServiceTime();
    });

    /**通过服务ID获取服务时间
     * 范小宝
     * 2014.4.2
     */
    function showServiceTime(){
        var arr = {
            "id" : G("updateServiceType").value ,
            "ecid" : "<{$ecid}>"
        }

        $.post("<{:U('getServiceTime')}>" , arr , function(data){
             $('#serviceTime').html("<label class='control-label'>" + data['startTime'] + "至" + data['endTime'] + "</label>");
        });
    }

    function updateService(){
        var arr = {
            "id" : G("updateServiceType").value , 
            "ecid" : "<{$ecid}>" ,
            "year" : G("dateSelect").value
        };

        $.post("<{:U('updateService')}>" , arr , function(data){
            if(data['status'] == 0){
                $.scojs_message("续期成功", $.scojs_message.TYPE_OK);
                $('#update').modal('hide');
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>