<extend name="Public:base-full" />
<block name='head'>
  <link rel="stylesheet" type="text/css" href="__CSS__/new-product.css">
</block>
<block name='body'>
  <include file="Public:new-head" />
  <div class="container-fluid product-list-ad">
    
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>雪糕口味<small> some info</small></h2>
        <p>这里放简单的介绍文字，这里放简单的介绍文字，这里放简单的介绍文字，这里放简单的介绍文字</p>
        <hr>
      </div>
    </div>
    <div class="row text-center">
      <volist name='products' id='item'>
      <if condition="$item.type eq 'item'">
      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="<{$item.bigImg}>" alt="">
              <div class="caption">
                  <h3><{$item.name}></h3>
                  <p>¥<{$item.price}>.00</p>
                  <p>
                      <a href="#" class="btn btn-primary quickPuy" id='quickBuy-<{$item.id}>'>立即购买</a> <a href="<{:U('Product/item')}>/id/<{$item.id}>" class="btn btn-default">详情</a>
                  </p>
              </div>
          </div>
      </div>
      </if>
       </volist>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>预选礼包<small> some info</small></h2>
        <p>这里放简单的介绍文字，这里放简单的介绍文字，这里放简单的介绍文字，这里放简单的介绍文字</p>
        <hr>
      </div>
    </div>
    <div class="row text-center">
      <volist name='products' id='item'>
      <if condition="$item.type eq 'package'">
      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="<{$item.bigImg}>" alt="">
              <div class="caption">
                  <h3><{$item.name}></h3>
                  <p>¥<{$item.price}>.00</p>
                  <p>
                      <a href="#" class="btn btn-primary quickPuy" id='quickBuy-<{$item.id}>'>立即购买</a> <a href="<{:U('Product/item')}>/id/<{$item.id}>" class="btn btn-default">详情</a>
                  </p>
              </div>
          </div>
      </div>
      </if>
       </volist>
    </div>
  </div>
</block>

<block name='foot-js'>
  <script type="text/javascript">
    var userId = <{$userId}>;
    $('.quickPuy').on('click', function(){
      if(userId == 0)
        window.location = "<{:U('Index/login')}>";
      else{
        var id = $(this).attr("id");
        var idStr = id.split('-');

        var params = {
          id : idStr[1],
          userId : userId
        }

        $.post("<{:U('Product/quickBuyHandle')}>" , params , function(data){
          if(data['Code'] == 0){
            window.location = "<{:U('Shop/newOrder')}>";
          }
        });
      }

      return false;
    });
  </script>
</block>