<extend name="Public:base-unify" />
<block name='title'>产品列表</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">    
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
</block>
<block name='slider'>
    <div class="interactive-slider-product">
        <div class="container">
        </div>
    </div>
</block>
<block name='breadcrumbs'>
    <!-- Breadcrumbs v5 -->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">产品列表</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Alexander's</a></li>
                <li class="active">产品列表</li>
            </ul>
        </div>
    </div>
</block>

<block name="content">
	<!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio container margin-bottom-60">
        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> <h4>所有</h4> </div> |
                <div data-filter=".item" class="cbp-filter-item"> <h4>雪糕口味</h4> </div> |
                <div data-filter=".package" class="cbp-filter-item"> <h4>预选礼包</h4> </div>
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
        	<volist name='products' id='item'>
		      <if condition="$item.type eq 'item'">
		      <div class="cbp-item item">
		      <else />
		      <div class="cbp-item package">
		      </if>
		          <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img class="img-responsive" src="<{$item.bigImg}>" alt="" />
                            </div>
                            <a class="btn-more hover-effect" href="<{:U('Product/item')}>/id/<{$item.id}>">详情</a>                   
                        </div>
                        <div class="caption">
                        	<div class="row">
                        		<div class="col-xs-7">
                        			<h3 class=''><a class="hover-effect" href="<{:U('Product/item')}>/id/<{$item.id}>"><{$item.name}></a></h3>
                            <p>¥<{$item.price}>.00</p>
                        		</div>
                        		<div class="col-xs-5">
                        			<a class="btn-u btn-u-dark pulse-shrink pull-right quickPuy" href="#" id='quickBuy-<{$item.id}>'>快捷购买</a>
                        		</div>
                        	</div>
                            
                     
                        </div>
                    </div>
			    </div>
		      </if>
		     </volist>
        </div><!--/end Grid Container-->
    </div>    
    <!--=== End Cube-Portfdlio ===-->
</block>

<block name="body-bottom">
<script type="text/javascript" src="__PUBLIC__/assets-unify/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets-unify/js/plugins/cube-portfolio/cube-portfolio-4.js"></script>
<script type="text/javascript">
    var userId = <{$userId}>;
    $('.quickPuy').on('click', function(){
      if(userId == 0)
        window.location = "<{:U('Index/login')}>";
      else{
        var id = $(this).attr("id");
        var idStr = id.split('-');

        var params = {
          id : idStr[1],
          userId : userId
        }

        $.post("<{:U('Product/quickBuyHandle')}>" , params , function(data){
          if(data['Code'] == 0){
            window.location = "<{:U('Shop/newOrder')}>";
          }
        });
      }

      return false;
    });
  </script>
</block>