<extend name="Public:base-unify" />
<block name='title'>产品信息</block>
<block name='slider'>
    <div class="interactive-slider-product">
        <div class="container">
        </div>
    </div>
</block>
<block name='breadcrumbs'>
    <!-- Breadcrumbs v5 -->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">产品介绍</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Alexander's</a></li>
                <li><a href="<{:U('Product/index')}>">产品</a></li>
                <li class="active">产品详情</li>
            </ul>
        </div>
    </div>
</block>

<block name='content'>
    <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row portfolio-item margin-bottom-50"> 
            <!-- Carousel -->
            <div class="col-md-7">
                <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="<{$productInfo.bigImg}>">
                        </div>
                    </div>
                    
                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->

            <!-- Content Info -->        
            <div class="col-md-5">
                <h2><{$productInfo.name}></h2>
                <p><{$productInfo.subInfo}></p>
                <div class="margin-bottom-20 clearfix"></div>  
                <div class="row">
                    <div class="col-xs-12">
                        <h2>¥<{$productInfo.price}>.00</h2>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn-u btn-u-large btn-block btn-u-dark" id='putToCar'>加入购物车</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn-u btn-u-large btn-block btn-u-default" id='quickPuy'>快捷购买</button>
                    </div>
                </div>
            </div>
            <!-- End Content Info -->        
        </div><!--/row-->

        <div class="row">
            <div class="col-xs-4">
                <div class="service-block service-block-default">            
                    <i class="icon-custom icon-color-dark rounded-x icon-line  icon-energy"></i>
                    <h2 class="heading-md">配送上门</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="service-block service-block-default">            
                    <i class="icon-custom icon-color-dark rounded-x icon-line icon-user"></i>
                    <h2 class="heading-md">自选配送时间段</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="service-block service-block-default">            
                    <i class="icon-custom icon-color-dark rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">增值服务</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
        </div>

        <div class="margin-bottom-20 clearfix"></div>  

        <div class="row">
            <div class="col-xs-12">
                <div class="headline"><h2>详情介绍</h2></div>    
            </div>
            <div class="col-xs-8">
                <div class="info">
                    <{$productInfo.info}>
                </div> 
            </div>
        </div>

        <div class="margin-bottom-20 clearfix"></div>    

    </div><!--/container-->     
    <!--=== End Content Part ===-->
</block>

    <block name='body-bottom'>
<script type="text/javascript" src="__JS__/Nivo-Slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
  var productInfo = {
    count : 1,
    discount : 0,
    prices : <{$productInfo.price}>,
    payPrice : <{$productInfo.price}>,
    userId : <{$userId}>,
    orderType : '<{$productInfo.type}>',
    items : [{
      id : <{$productInfo.id}>,
      name : '<{$productInfo.name}>',
      img : '<{$productInfo.minImg}>',
      num : 1,
      price : <{$productInfo.price}>,
      discount : <{$productInfo.discount}>,
      type : '<{$productInfo.type}>'
    }]
  };

  var shopCar = <{:json_encode($orderInfo)}>;

  if(productInfo['orderType'] == 'package'){
    $('#putToCar').hide();
  }

  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  $('#quickPuy').on('click', function(){
    if(productInfo['userId'] == 0)
      window.location = "<{:U('Index/login')}>";
    else{
      if(productInfo['orderType'] == 'item'){
        productInfo['count'] = 8;
        productInfo['discount'] = productInfo['items'][0]['discount'];
        productInfo['prices'] *= 8;
        productInfo['payPrice'] = productInfo['prices'] -  productInfo['discount'];
        productInfo['items'][0]['num'] = 8;
      }

      $.post("<{:U('Mobile/Order/saveOrderSession')}>" , productInfo , function(data){
        window.location = "<{:U('Shop/newOrder')}>";
      });
    }
  });

  $('#putToCar').on('click', function(){
    var price = 0;
    var itemDsicount = 0;
    var bHasItem = false;
    for(var i=0; i<shopCar['items'].length; i++){
      if(shopCar['items'][i]['id'] == <{$productInfo.id}>){
        shopCar['items'][i]['num'] =parseInt(shopCar['items'][i]['num']) + 8;
        price = 8* shopCar['items'][i]['price'];
        itemDsicount = parseInt(shopCar['items'][i]['discount']);
        bHasItem = true;
        break;
      }
    }
    if(!bHasItem){
      var itemCount = shopCar['items'].length;
      shopCar['items'][itemCount]= {
        id : <{$productInfo.id}>,
        name : '<{$productInfo.name}>',
        img : '<{$productInfo.minImg}>',
        num : 8,
        price : <{$productInfo.price}>,
        discount : <{$productInfo.discount}>
      }

      price = 8*<{$productInfo.price}>;
      itemDsicount = <{$productInfo.discount}>;
    }

    shopCar['prices'] =parseInt(shopCar['prices']) + price;
    if(shopCar['payPrice']){
      shopCar['payPrice'] =parseInt(shopCar['payPrice']) + price - itemDsicount;
    }
    else{
      shopCar['payPrice'] = price - itemDsicount;
    }

    shopCar['discount'] = parseInt(shopCar['discount']) + itemDsicount;
    shopCar['count'] =parseInt(shopCar['count']) + 8;

    $.post("<{:U('Mobile/Order/saveOrderSession')}>" , shopCar , function(data){
        window.location = "<{:U('Shop/index')}>";
    });
  })
</script>
</block>