<extend name="Public:base" />
<block name="head">
  <link rel="stylesheet" href="__JS__/Nivo-Slider/themes/default/default.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="__JS__/Nivo-Slider/nivo-slider.css" type="text/css" media="screen" />
</block>
<block name="content">
  <div class="row">
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8">
        <h3 style='text-align:center;'><{$productInfo.name}></h3>
        <div class="content" style='text-align:left;'>
          <{$productInfo.info}>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-block" id='quickPuy'>快捷购买</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-block" id='putToCar'>放入购物车</button>
          </div>
        </div>
    </div>
    <div class="col-md-2">
      <div class="" style="height:500px;overflow:auto;">
        <volist name="products" id="item">
        <div class="item" style='padding-left:30%;padding-right:30%;'>
          <a href="<{:U('Product/index')}>/id/<{$item.id}>">
            <img src="<{$item.minImg}>" alt="" class='img-circle img-responsive'>
            <p class='name' id='product-<{$item.id}>}>'><{$item.name}></br>
            <small class='enName product-list-text' id='product-<{$item.id}>}>'><{$item.enName}></small>
            </p>
          </a>
        </div>
        </volist>
      </div>
    </div>
  </div>
</block>

<block name='body-bottom'>
<script type="text/javascript" src="__JS__/Nivo-Slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
  var productInfo = {
    count : 1,
    discount : 0,
    prices : <{$productInfo.price}>,
    payPrice : <{$productInfo.price}>,
    userId : <{$userId}>,
    orderType : '<{$productInfo.type}>',
    items : [{
      id : <{$productInfo.id}>,
      name : '<{$productInfo.name}>',
      img : '<{$productInfo.minImg}>',
      num : 1,
      price : <{$productInfo.price}>,
      discount : <{$productInfo.discount}>,
      type : '<{$productInfo.type}>'
    }]
  };

  var shopCar = <{:json_encode($orderInfo)}>;

  if(productInfo['orderType'] == 'package'){
    $('#putToCar').hide();
  }

  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  $('#quickPuy').on('click', function(){
    if(productInfo['userId'] == 0)
      window.location = "<{:U('Index/login')}>";
    else{
      if(productInfo['orderType'] == 'item'){
        productInfo['count'] = 8;
        productInfo['discount'] = productInfo['items'][0]['discount'];
        productInfo['prices'] *= 8;
        productInfo['payPrice'] = productInfo['prices'] -  productInfo['discount'];
        productInfo['items'][0]['num'] = 8;
      }

      $.post("<{:U('Mobile/Order/saveOrderSession')}>" , productInfo , function(data){
        window.location = "<{:U('Shop/newOrder')}>";
      });
    }
  });

  $('#putToCar').on('click', function(){
    var price = 0;
    var itemDsicount = 0;
    var bHasItem = false;
    for(var i=0; i<shopCar['items'].length; i++){
      if(shopCar['items'][i]['id'] == <{$productInfo.id}>){
        shopCar['items'][i]['num'] =parseInt(shopCar['items'][i]['num']) + 8;
        price = 8* shopCar['items'][i]['price'];
        itemDsicount = parseInt(shopCar['items'][i]['discount']);
        bHasItem = true;
        break;
      }
    }
    if(!bHasItem){
      var itemCount = shopCar['items'].length;
      shopCar['items'][itemCount]= {
        id : <{$productInfo.id}>,
        name : '<{$productInfo.name}>',
        img : '<{$productInfo.minImg}>',
        num : 8,
        price : <{$productInfo.price}>,
        discount : <{$productInfo.discount}>
      }

      price = 8*<{$productInfo.price}>;
      itemDsicount = <{$productInfo.discount}>;
    }

    shopCar['prices'] =parseInt(shopCar['prices']) + price;
    if(shopCar['payPrice']){
      shopCar['payPrice'] =parseInt(shopCar['payPrice']) + price - itemDsicount;
    }
    else{
      shopCar['payPrice'] = price - itemDsicount;
    }

    shopCar['discount'] = parseInt(shopCar['discount']) + itemDsicount;
    shopCar['count'] =parseInt(shopCar['count']) + 8;

    $.post("<{:U('Mobile/Order/saveOrderSession')}>" , shopCar , function(data){
        window.location = "<{:U('Shop/index')}>";
    });
  })
</script>
</block>