<form role="form" class='well additem' id='add-keyword-from'>
  <div class="row">
      <div class="col-md-12">
          <div class="form-group" >
              <label for="name-Add">规则名：</label>
              <input type="text" class="form-control name" id="name-Add" placeholder="在此输入规则名,字符限于60" value=""  maxlength="60">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label>关键词：</label>
              <div class="input-group">
                <input type="text" class="form-control input-Add" placeholder="在此输入关键词，限于30个字符" maxlength="30" >
                <span class="input-group-btn">
                  <button class="btn btn-default" id="add-Add" type="button">添加</button>
                </span>
              </div><!-- /input-group -->
          </div>
          <ul class="list-group listAdd">
          </ul>
      </div>
      <div class="col-md-8">
          <div class="form-group">
              <label for="exampleInputEmail1">回复类型：</label>
              <select class="form-control sort-Add">
                <option value="text">文本信息</option>
                <option value="news">图文素材</option>
              </select>
          </div>
          <div id="response-Add">
          </div>
      </div>
  </div>
  <p class="text-right">
  <button type="button" class="btn btn-primary" id='confirm-btn'>添加</button>
  <button type="button" class="btn btn-default" id="cancle-btn">取消</button>
</p>
<script type="text/javascript">
  responseAdd = {
    'name' : '',
    'keyword' : [],
    'responseType' : 'text',
    'textContent' : '',
    'materialId' : ''
  };

  //绑定删除按钮事件
  $('.listAdd').on('click', '.close-Add',delKeyword);

  $('#response-Add').load("__MODULE__/Ajax/textInput",
    {
        p:"responseAdd['textContent']",
        v:responseAdd['textContent']
    });

  function delKeyword(event){
    var arr1 = $(this).parent().attr('id').split("-");
    responseAdd['keyword'].splice(arr1[1],1);
    
    //重新设置关键词列表
    var htmlContent = '';
    for(i=0; i<responseAdd['keyword'].length; i++ ){
      htmlContent += "<li class='list-group-item' id='Add-" +i+ "'>" +"<div class='row'>"+"<div class='col-md-10'>"+responseAdd['keyword'][i]+"</div>"+ "<div class='col-md-1' id='Add-" +index+ "'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-Add'></span></li>"
    }
    $('.listAdd').html(htmlContent);
  }

  //绑定添加关键词按钮事件
  $('#add-Add').on('click', function(){
    var inputKeyword = $('.input-Add').val().trim();

    //要剔除空输入及已存在的关键词
    if(inputKeyword !== '' && $.inArray(inputKeyword, responseAdd['keyword']) === -1){
      var index = responseAdd['keyword'].length;

      responseAdd['keyword'].push(inputKeyword);

      $('.listAdd').append("<li class='list-group-item' id='Add-" +index+ "'>" +"<div class='row'>"+"<div class='col-md-10'>"+responseAdd['keyword'][index]+ "</div>"+"<div class='col-md-1' id='Add-" +index+ "'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-Add'></span></li>");
    }

    $('.input-Add').val("");

    $('.input-Add').focus();
  })

  //绑定规则名输入事件
  $('#name-Add').on('change', function(){
    responseAdd['name'] = $(this).val().trim();
  })

  //绑定回复类型选择事件
  $('.sort-Add').on('change', function(){
    responseAdd['responseType'] = $(this).val();

    switch(responseAdd['responseType']){
      case 'text' :
        $('#response-Add').load("__MODULE__/Ajax/textInput",
          {
            p:"responseAdd['textContent']",
            v:responseAdd['textContent']
          });
        break;
      case 'news' :
        $('#response-Add').load("__MODULE__/Ajax/newsChange",
            {
              p:"responseAdd['materialId']",
              cId:"response-Add",
              ecid:"<{$ecid}>"
            });
        break;
    }
  })

  //点击取消按钮事件
  $('#cancle-btn').on('click', function(){
    $('#add-keyword-from').remove();
  })

  $('#confirm-btn').on('click', function(){
    //判断输入数据的合法性
    if(!validInputAdd())
      return;

    if(responseAdd['responseType'] == "news" && responseAdd['materialId'] == 0){
      $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
      return;
    }

    $.post(
      "<{:U('Keyword/addHandle')}>",
      responseAdd,
      function(data, textStatus){

        if(data['data'] === 0){
          $.scojs_message('添加成功！', $.scojs_message.TYPE_OK);

          $('#keyword-items').load("<{:U('Keyword/item')}>",
          {
              'ecid': '<{:session('ecid')}>',
              'cId' : 'keyword-items'
          });

          $('#add-keyword-from').remove();
        }
        else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      })
  })

  function validInputAdd(){
    if(responseAdd['name'].trim() ===''){
      $.scojs_message('请输入规则名', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(responseAdd['keyword'].length < 1){
      $.scojs_message('请添加关键词', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(responseAdd['responseType'] === 'text' && responseAdd['textContent']===''){
      $.scojs_message('请输入回复文本', $.scojs_message.TYPE_ERROR);
      return false;
    }
    //修改问题：规则内容添加中，图文素材没有选择内容，添加成功
    if(responseAdd['responseType'] === 'news' && (responseAdd['responseType']==='' || responseAdd['responseType']==='0')){
      $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
      return false;
    }

    return true;
  }
</script>
</form>