<extend name="Public:new-base" />
<block name="title">
    <title>关键词设置——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var itemControl = new Array();
    </script>
</block>

<block name="right">
    <div id="main">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#autoreply" data-toggle="tab">关键词回复</a>
            </li>
            <li>
                <a href="#event" data-toggle="tab">关注回复</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="autoreply">
                <p>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-info" id="add-btn">添加规则</button>
                        </div>
                        <div class="col-md-5 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-info" id="showAll-btn">所有</button>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                      <input type="text" class="form-control" id='keywordInput' placeholder="搜索关键词">
                                      <span class="input-group-btn">
                                        <button class="btn btn-info" id='search-btn' type="button">搜索</button>
                                      </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
                <p>
                    <div id="addItem"></div>
                </p>
                <p id="keyword-items"></p>
            </div>
            <div class="tab-pane fade" id="event">
                <p>
                    <div class="panel panel-default">
                        <div class="panel-heading even-heading">关注回复</div>
                        <div class="panel-body" id='form-welecome'>
                            <div class="form-group">
                                <label for="exampleInputEmail1">回复类型：</label>
                                <select class="form-control sort-responseType">
                                    <option value="text">文本信息</option>
                                    <option value="news">图文素材</option>
                                </select>
                            </div>
                            <div id="welcome-content">
                                
                            </div>
                            <p class="text-right" style="margin-top:10px;">
                                <button type="button" class="btn btn-primary btn-modify">修改</button>
                            </p>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div id="addNew"></div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">
    var noChange = true;
    $('#keyword').addClass("active");

    //设置关注信息
    var welcomeResponse = <{:json_encode($welcomeItem)}>;
    _G('#form-welecome', '.sort-responseType').val(welcomeResponse['responseType']);

    $('#keyword-items').load('__MODULE__/Keyword/item',
        {
            'ecid': '<{:session('ecid')}>',
            'cId' : 'keyword-items'
        });

    $('#showAll-btn').on('click', function(){
        $('#keyword-items').load('__MODULE__/Keyword/item',
        {
            'ecid': '<{:session('ecid')}>',
            'cId' : 'keyword-items'
        });
    })

    $('#search-btn').on('click', function(){
        var keyword = $('#keywordInput').val();

        if(keyword != ''){
            $('#keyword-items').load('__MODULE__/Keyword/item',
            {
                'ecid': '<{:session('ecid')}>',
                'cId' : 'keyword-items',
                'keyword' : keyword
            });
        }
        else{
            $.scojs_message('请输入要搜索的关键词', $.scojs_message.TYPE_ERROR);
        }
    })

    function changeWelcomeType(type){
        switch(type){
            case 'text':
                $('#welcome-content').load("__MODULE__/Ajax/textInput",
                    {
                        p:"welcomeResponse['responseText']",
                        v:welcomeResponse['responseText'] , 
                        l:60
                    });
                break;
            case 'news':
                if(welcomeResponse['responseMaterialId'])
                    $('#welcome-content').load("__MODULE__/Ajax/newsChange",
                        {
                            p:"welcomeResponse['responseMaterialId']",
                            cId:"welcome-content",
                            id:welcomeResponse['responseMaterialId'],
                            ecid:"<{$ecid}>"
                        });
                else
                    $('#welcome-content').load("__MODULE__/Ajax/newsChange",
                        {
                            p:"welcomeResponse['responseMaterialId']",
                            cId:"welcome-content",
                            ecid:"<{$ecid}>"
                        });
                break;
        }
    }

    changeWelcomeType(welcomeResponse['responseType']);

    _G('#form-welecome', '.sort-responseType').on('change',function(){
        changeWelcomeType($(this).val());
        welcomeResponse['responseType'] = $(this).val();
        noChange = false;
        
    });

    _G('#form-welecome', '.btn-modify').on('click', function(){
        //判断输入数据的合法性
        if(!validInput()){
            return;
        }
          
        if(welcomeResponse['responseType'] == "news" && welcomeResponse['responseMaterialId'] == 0){
            $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
            return;
        }
        if(noChange){
            $.scojs_message('未修改任意一项！', $.scojs_message.TYPE_ERROR);
            return;
        }else{
            $.post(
                "<{:U('Keyword/welcomeHandle')}>",
                welcomeResponse,
                function(data){
                    $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
                    noChange = true;
            });
        }
    })

    //内容合法性判断
    function validInput(){
        if(welcomeResponse['responseType']==='text' && welcomeResponse['responseText']===''){
            $.scojs_message('请输入回复文本', $.scojs_message.TYPE_ERROR);
            return false;
        }
        if(welcomeResponse['responseType']==='news' && welcomeResponse['responseMaterialId']===''){
            $.scojs_message('请选择图文素材',$.scojs_message.TYPE_ERROR);
            return false;
        }
        return true;
    }

    //加载展开时的编辑HTML内容
    function editItem(id, headID){
        //加载时需要传入id变量
        $('#content-' + id).load('<{:U('Keyword/edit')}>'+ '/id/' + id, function(){
            itemControl[$('#'+headID).attr('id')] = 1;

            $('#'+headID).children('span.pull-right').text("收起");
        });
    }

    //加展关闭时的HTML内容
    function viewItem(id, headID, bSave, headName){
        $('#content-' + id).load('<{:U('Keyword/view')}>'+ '/id/' + id, function(){
            itemControl[$('#'+headID).attr('id')] = 0;

            $('#'+headID).children('span.pull-right').text("展开");
        });

        if(bSave){
            var nameArr = $('#'+headID).text().split("：");

            $('#'+headID).html(nameArr[0] + '：' + headName + "<span class='pull-right'>展开</span>");
        }
    }

    //设置所有规则标题的点击事件
    $('#myTabContent').on("click", ".item-heading", function(){
        var arrItem = $(this).attr('id').split("-");

        switch(itemControl[$(this).attr('id')]){
        case 0://当前状态为0表示要加载展开状态
            editItem(arrItem[1], $(this).attr('id'));
            break;
        case 1://当前状态为1表示要加载关闭状态
            viewItem(arrItem[1], $(this).attr('id'));
            break;
        }
    });

    //点击添加规则时加载的HTML
    $('#add-btn').on('click', function(){
        if($('#addItem').html() === '')
            $('#addItem').load('<{:U('Keyword/add')}>');
    })
    </script>
</block>