<div class='text-right' id="page">
<ul class="pagination"><{$page}></ul>
</div>
<div id="item-list">
    <if condition="$resultnull">
        <h3>亲，您木有添加关键词回复哦~</h3>
    </if>
    <if condition="$searchNull">
        <div class="alert alert-danger">没有此关键词</div>
    </if>
    <volist name='keywordItem' id='item'>
        <div class="panel panel-default" id='panel-<{$item.id}>'>
            <div class="panel-heading item-heading" id='item-<{$item.id}>' style="cursor:pointer;word-break: break-all">规则<{$i}>：<{$item.name}><span class="pull-right">展开</span></div>
            <div class="panel-body" id='content-<{$item.id}>' style="word-break: break-all">
                <p>
                    <p>关键词：</p>
                    <volist name="item['keyword']" id='word' key="j">
                        <span class="label label-info" style="margin-bottom:3px; margin-right:3px;float:left;"><{$word}></span>
                    </volist>
                </p>
                <p style="clear:both;">
                    <strong>回复类型：<{$item.TypeName}></strong>
                    <button class="btn btn-danger pull-right del-item-btn" id="del-<{$item.id}>">删除规则</button>
                </p>
            </div>
        </div>
        <script type="text/javascript">
        //设置本规则为关闭状态
        itemControl['item-<{$item.id}>'] = 0;
        </script>
    </volist>
</div>
<script>

    $("#page > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href');       

       //加载页面
        $("#<{$cId}>").load(_HREF,
        {
            'ecid': '<{$ecid}>',
            'cId' : '<{$cId}>'
        });                       
        return false;
    });

    $('#item-list').on('click', '.del-item-btn', function(){
        if(confirm('是否确认删除规则?')){
            var btnId = $(this).attr("id");
            var id = btnId.split('-')[1];

            $.post(
                "<{:U('Keyword/delHandle')}>",
                {
                    'id' : id,
                    'ecid' : '<{$ecid}>'
                },
                function(data){
                    if(data['data'] === 0){
                        $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);

                        $('#keyword-items').load('__MODULE__/Keyword/item',
                        {
                            'ecid': '<{:session('ecid')}>',
                            'cId' : 'keyword-items'
                        });
                    }
                    else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                }
            );
        }
    });
</script>