<div class="news-one" style="width:250px;">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>
					<img style="width:250px;" src="<{$material[0]['bigImg']}>" alt="..." class="img-rounded">
				</td>
			</tr>
			<volist name="material" id='item' offset="1"> 
				<tr>
					<td>
						<img style="width:60px;" src="<{$item['minImg']}>" alt="..." class="img-rounded">
						<h5 class="pull-right" style="width:180px;word-break:break-all;"><{$item['title']}></h5>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
</div>