<p>
    <p>关键词：</p>
    <volist name="item['keyword']" id='word' key="j">
        <span class="label label-info" style="margin-bottom:3px; margin-right:3px;float:left;"><{$word}></span>
    </volist>
</p>
<p style="clear:both;">
    <strong>回复类型：<{$item.TypeName}></strong>
    <button class="btn btn-danger pull-right del-item-btn" id="del-<{$item.id}>">删除规则</button>
</p>