/* Sticky footer styles
-------------------------------------------------- */
body, html {
  height: 100%;
}


.main-content{
	padding-bottom: 60px;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.user-top{
	text-align: center;
	background-position : top center;
	background-image: url(http://img.msa12365.com/03e4840e69452bbe2b4b7d466da30963.jpg);
	background-size : auto 18em;
	background-repeat: no-repeat;
	padding-top : 13em;
}