<extend name="Base:base" />
<block name="head">
<link rel="stylesheet" href="__JS__/Nivo-Slider/nivo-slider.css" type="text/css" media="screen" />
</block>
<block name="page">
     <include file="Base:header" />
     <div data-role="content" id="main-content">
          <div class="ui-grid-solo text-center">
               <div class="slider-wrapper theme-default">
                  <div id="slider" class="nivoSlider">
                    <img src="__PUBLIC__/images/1.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" />
                    <img src="__PUBLIC__/images/2.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" />
                    <img src="__PUBLIC__/images/3.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" title="" />
                    <img src="__PUBLIC__/images/4.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" data-transition="slideInLeft" />
                  </div>
              </div>
          </div>
          <div class="ui-grid-b">
               <div class="ui-block-a index-icon">
                    <img src="__PUBLIC__/images/home_menu_u.png" alt="">
               </div>
               <div class="ui-block-b index-icon">
                    <a href="<{:U("Product/index")}>" data-ajax='false' target="_self" rel="external"><img src="__PUBLIC__/images/ice_menu_u.png" alt=""></a>
               </div>
               <div class="ui-block-c index-icon">
                    <a href="<{:U("Order/index")}>" data-ajax='false' target="_self" rel="external"><img src="__PUBLIC__/images/shop_menu_u.png" alt=""></a>
               </div>
               <div class="ui-block-a index-icon">
                    <a href="<{:U("Contact/index")}>" data-ajax='false' target="_self" rel="external"><img src="__PUBLIC__/images/contects_menu_u.png" alt=""></a>
               </div>
               <div class="ui-block-b index-icon">
                    <a href="<{:U("Home/Index/news")}>/id/333" data-ajax='false' target="_self" rel="external"><img src="__PUBLIC__/images/area_menu_u.png" alt=""></a>
               </div>
               <div class="ui-block-b index-icon">
                    <a href="http://weibo.cn/ylsdsz" data-ajax='false' target="_self" rel="external"><img src="__PUBLIC__/images/follow_menu_u.png" alt=""></a>
               </div>
               <!--
               
               <div class="ui-block-c index-icon">
                    <img src="__PUBLIC__/images/sina.png" alt="">
               </div>
               <div class="ui-block-a index-icon">
                    <img src="__PUBLIC__/images/wechat.png" alt="">
               </div>
               <div class="ui-block-b index-icon">
                    <img src="__PUBLIC__/images/test333.png" alt="">
               </div>
               <div class="ui-block-c index-icon">
                    <img src="__PUBLIC__/images/test123.png" alt="">
               </div>
               <div class="ui-block-a index-icon">
                    <img src="__PUBLIC__/images/twitter.png" alt="">
               </div>
               !-->
          </div>
     </div>
     <script type="text/javascript" src="__JS__/Nivo-Slider/jquery.nivo.slider.js"></script>
     <script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider({
          controlNav:false,
          prevText: '',                 // Prev directionNav text
          nextText: '', 
      });
  });
  </script>
</block>