<extend name="Base:base" />

<block name="head">
  <script src="/Public/jquery-mmenu/js/jquery.mmenu.min.all.js" type="text/javascript"></script>
  <link href="/Public/jquery-mmenu/css/jquery.mmenu.all.css" type="text/css" rel="stylesheet" />
</block>

<block name="page">
     <div data-role="header" data-position="fixed">
      <a href="/" data-role="button" data-icon="home" >首页</a>
      <h1>定制我的最爱</h1>
    </div>
     <div data-role="content" id="main-content">
     <div id="ad">
     <img src="http://imgcdn.weijuju.com/63298/222e86b2-6505-4771-a629-51188deebf92.jpg"  alt="Photo Run">
     </div>
     <div class="ui-grid-a">
          <div class="ui-block-a">
          </div>
          <div class="ui-block-b">
               <span>
                    <a href="#" data-role="button" id='chooseAll' data-icon="arrow-r" data-iconpos="right">添加口味</a> 
               </span>
          </div>
     </div>

     <ul data-role="listview" data-inset="true" id='goodsList'>
        <li data-role="list-divider">我的Alexander's<span class="ui-li-count" id='total-num'>total:0</span></a></li>
        <volist name="goodInfo" id="item" key="k">
          <li class='good-item' id='item-<{$k-1}>'><a href='#'><img src='<{$item.bigImg}>'><span><{$item.name}></span></a></li>
        </volist>
       
     </ul>
     <p><span>¥</span><span id='price'>0.00</span></p>
     </div>
     <div data-role="footer" data-position="fixed" data-tap-toggle="false" >
    <div data-role="navbar">
      <ul class='foot-buy'>
        <li class='foot-buy'><a id="buy-btn" href="#" target="_self" rel="external" data-icon="home" date-iconpos="top">立即购买</a></li>
      </ul>
    </div>
  </div>
     <nav id="my-menu">

    </nav>
    <nav id="edit-menu">

    </nav>

    <script type="text/javascript">
    $("#my-menu").mmenu({
      classes   : "mm-white",
      offCanvas : {
        position  : "right",
        zposition : "next",
        modal   : false
      },
      header    : {
        add     : true,
        update    : true,
        title   : "选择你的最爱"
      }
          });

    $("#edit-menu").mmenu({
      classes   : "mm-white",
      offCanvas : {
        position  : "right",
        zposition : "next",
        modal   : false
      },
      header    : {
        add     : true,
        update    : true,
        title   : "选择你的最爱"
      }
          });

    var orderInfo = {
        uId : <{$userInfo.id}>,
        total : <{$total}>,
        totalPrice : 0,
        goods : [
              ]
      };

      $('#total-num').text('total:' + orderInfo['total']);

    <volist name="goodInfo" id="item" key="k">
      var itemInfo<{$k}> = {
        id : <{$item.id}>,
        name : '<{$item.name}>',
        img : '<{$item.bigImg}>',
        price : <{$item.price}>
      }
      orderInfo['goods'][<{$k-1}>] = itemInfo<{$k}>;
    </volist>

    getTotalPrice();

      $("#chooseAll").on('click', function(){
        $('#my-menu').load('<{:U('Goods/chooseAllGoods')}>',function(){
          $('#my-menu').trigger("open.mm");
        });
      })

      $("#goodsList").on('click','.good-item', function(){
        var this_id = $(this).attr("id");
        var tmpArr = this_id.split("-");
        var itemId = tmpArr[1];
        $('#edit-menu').load('<{:U('Goods/chooseAllGoods')}>',
          {
            type : 'change',
            id : itemId
          }
          ,function(){
          $('#edit-menu').trigger("open.mm");
        });
      })

      function addOneGoods(goodsInfo){
        var count = orderInfo['total'];

        orderInfo['goods'][count] = goodsInfo;

        orderInfo['total']++;

        $('#goodsList').append("<li class='good-item' id='item-" + count + "'><a href='#'><img src='" +goodsInfo['img']+ "'><span>" +goodsInfo['name']+ "</span></a></li>");

        $('#total-num').text('total:' + orderInfo['total']);
         $('#goodsList').listview('refresh');
         getTotalPrice();  
      }

      function changeGoods(goodsInfo){
        var itemId = goodsInfo['itemId'];

        orderInfo['goods'][itemId]['id'] = goodsInfo['id'];
        orderInfo['goods'][itemId]['name'] = goodsInfo['name'];
        orderInfo['goods'][itemId]['img'] = goodsInfo['img'];
        orderInfo['goods'][itemId]['price'] = goodsInfo['price'];

        $('#item-' + itemId ).find('img').attr('src', goodsInfo['img']);
        $('#item-' + itemId + '> a > span').text(goodsInfo['name']);

        $('#goodsList').listview('refresh');  

        $('#edit-menu').trigger("close.mm");

        getTotalPrice();
      }

      $('#buy-btn').on('click', function(){
          if(orderInfo['total'] < 8){
            alert('您未选够8杯！');
            return false;
          }

          $.post("<{:U('Order/saveOrderSession')}>" , orderInfo , function(data){
            window.location = "<{:U('Order/newOrder')}>";
          });

          return true;
      });

      function getTotalPrice(){
        orderInfo['totalPrice'] = 0;
        for(var i=0; i<orderInfo['goods'].length; i++){
          orderInfo['totalPrice'] += parseInt(orderInfo['goods'][i]['price']);
        }

        $('#price').text(orderInfo['totalPrice']);
      }

</script>
</block>