<extend name="Public:base-unify" />
<block name='title'>会员中心</block>
<block name="head">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/css/pages/profile.css">
</block>
<block name='slider'>
    <div style='padding-top:93px;background-color:#000;margin-bottom:15px;'>
    </div>
</block>
<block name='breadcrumbs'>
    <!-- Breadcrumbs v5 -->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">会员中心</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Alexander's</a></li>
                <li class="active">会员中心</li>
            </ul>
        </div>
    </div>
</block>

<block name="content">
    <!--=== Profile ===-->
    <div class="container content profile"> 
        <div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <img class="img-responsive profile-img margin-bottom-20" src="<{$userInfo.headimgurl}>" alt="">

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item active">
                        <a href="<{:U('User/index')}>"><i class="fa fa-user"></i> 个人信息</a>
                    </li>
                    <li class="list-group-item">
                        <a href="<{:U('User/order')}>"><i class="fa fa-group"></i> 订单列表</a>
                    </li>
                </ul>   

            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <div class="tab-v1">
                        <ul class="nav nav-justified nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#profile">个人信息</a></li>
                            <li><a data-toggle="tab" href="#addressProfile">常用地址</a></li>
                        </ul>          
                        <div class="tab-content">
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <h2 class="heading-md">为方便我们更好的为您服务，请填写您的个人信息</h2>
                                <p>您的个人信息将用于我们联系您</p>
                                <br>
                                <dl class="dl-horizontal">
                                    <dt><strong>姓名： </strong></dt>
                                    <dd>
                                        XXX 
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                    <dt><strong>性别： </strong></dt>
                                    <dd>
                                        男
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                    <dt><strong>手机： </strong></dt>
                                    <dd>
                                        13888888888 
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                    <dt><strong>邮箱地址： </strong></dt>
                                    <dd>
                                        edward@gmail.com 
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                    <dt><strong>生日： </strong></dt>
                                    <dd>
                                        19xx-xx-xx
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                    <dt><strong>微信号： </strong></dt>
                                    <dd>
                                        (304) 44-9810-296 
                                        <span>
                                            <a class="pull-right" href="#">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                    </dd>
                                    <hr>
                                </dl>
                                <button type="button" class="btn-u btn-u-default">取消</button>
                                <button type="button" class="btn-u">保存</button>
                            </div>

                            <div id="addressProfile" class="profile-edit tab-pane fade">
                                <h2 class="heading-md">常用地址信息</h2>
                                <p>您可以添加或修改您的配送地址信息</p>
                                <br> 
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <!-- End Profile Content -->               
        </div><!--/end row-->
    </div>      
    <!--=== End Profile ===-->
</block>

<block name="body-bottom">

<script type="text/javascript">

</script>
</block>