<extend name="Public:base-unify" />
<block name='title'>会员中心</block>
<block name="head">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/css/pages/profile.css">
</block>
<block name='slider'>
    <div style='padding-top:93px;background-color:#000;margin-bottom:15px;'>
    </div>
</block>
<block name='breadcrumbs'>
    <!-- Breadcrumbs v5 -->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">会员中心</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Alexander's</a></li>
                <li class="active">会员中心</li>
            </ul>
        </div>
    </div>
</block>

<block name="content">
    <!--=== Profile ===-->
    <div class="container content profile"> 
        <div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <img class="img-responsive profile-img margin-bottom-20" src="<{$userInfo.headimgurl}>" alt="">

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="<{:U('User/index')}>"><i class="fa fa-user"></i> 个人信息</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="<{:U('User/order')}>"><i class="fa fa-group"></i> 订单列表</a>
                    </li>
                </ul>   

            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <volist name="order" id="item">
                      <table class="table table-bordered">
                        <tbody>
                          <tr class='active'>
                            <td style='width:100px;vertical-align: middle;' class='text-center'><{$item.orderNo}></td>
                            <td style='width:150px;vertical-align: middle;' class='text-center'><{$item.addTime}></td>
                            <td style='width:200px;vertical-align: middle;' class='text-center'><p><{$item.payType}></p><p>(<{$item.paySign}>:<{$item.payPrice}>.00元)</p></td>
                            <td style='width:200px;vertical-align: middle;' class='text-center test'>
                              <volist name="item['goods']" id="goods" key='j'>
                                <span><{$goods.name}><{$goods.num}>,</span>
                              </volist>
                            </td>
                            <td><p>用户留言：</p><p class="bg-primary"><{$item.Message}></p></td>
                            <td style='width:90px;vertical-align: middle;' class='text-center'><a href="<{:U('Order/orderInfo')}>/id/<{$item.id}>" target="_blank">详情</a></td>
                          </tr>
                          <tr>
                            <td class='text-center' style='vertical-align: middle;'><{$item.userInfo.name}></td>
                            <td class='text-center' style='vertical-align: middle;'><{$item.userInfo.tel}></td>
                            <td style='vertical-align: middle;'>
                              <p><{$item.userInfo.address}></p>
                              <eq name="item['userInfo']['city']" value='广州'>
                              <p>地铁站：<{$item.userInfo.subway}></p>
                              </eq>
                              <if condition="$item.mapMark eq null ">
                              <p class='text-center'></p>
                              <else/>
                              <p class='text-center'><button class='btn btn-default btn-sm map-mark-btn' id='map-mark-<{$item.id}>'>修改标记</button></p>
                              </if>
                            </td>
                            <td class='text-center'><p>配送时间</p><p><{$item.sendDay}></p><p><{$item.sendTime}></p></td>
                            <td><p>管理员留言：</p>
                              <if condition="$item.adminMessage eq '' ">
                              <else /> 
                              <p id='adminMessage-<{$item.id}>' class='text-warning'><{$item.adminMessage}></p>
                              </if>
                              <a href="javascript:void(0)" class='add-adminMessage' id='adminMessage-<{$item.id}>'>添加</a>
                            </td>
                            <td class='text-center' style='vertical-align: middle;'>
                            <p><{$item.wlSign}></p>
                            <if condition="($item['sign'] neq 3) and ($item['sign'] neq 0)">
                            <p><button class='btn btn-default btn-sm quick-btn' id='quick-btn-<{$item.id}>'>修改</button></p>
                            </if>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                    </volist>
                    <div class='' id="order-page">
                      <ul class="pagination"><{$page}></ul>
                    </div>
                </div>
            </div>
            <!-- End Profile Content -->               
        </div><!--/end row-->
    </div>      
    <!--=== End Profile ===-->
</block>

<block name="body-bottom">

<script type="text/javascript">

</script>
</block>