<div class="modal fade" id="brandAuthorize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:50px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加品牌授权书</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">

          <div class="form-group">
            <label for="brandSelect" class="col-sm-3 control-label">品牌：</label>
            <div class="col-sm-8">
              <select class="form-control" id="brandSelect">
                <volist name="brand" id="brand">
                  <option value="<{$brand['id']}>"><{$brand['name']}></option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="dealerCheckboxList" class="col-sm-3 control-label">经销商：</label>
            <div class="col-sm-8">
              <div id="dealerCheckboxList" style="width:100%;height:190px;overflow:auto;"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="startTime" class="col-sm-3 control-label">开始日期：</label>
            <div class="col-sm-8">
              <input type="text" id="startTime" class="form-control Wdate" onClick="WdatePicker()">
            </div>
          </div>

          <div class="form-group">
            <label for="endTime" class="col-sm-3 control-label">截止日期：</label>
            <div class="col-sm-8">
              <input type="text" id="endTime" class="form-control Wdate" onClick="WdatePicker()">
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info addAuthorizeBtn">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
getDealerList($('#brandSelect').val());

function addBrandAuthorize(){
  //获取选中的经销商
  var dealerArr = '';
  $('#dealerCheckbox:checked').each(function(){
    dealerArr += $(this).val() + ',';
  });

  var brandArr = {
      "brandId" : $('#brandSelect').val() , 
      "productId" : -1 ,
      "dealerId" : dealerArr , 
      "startTime" : $('#startTime').val() , 
      "endTime" : $('#endTime').val()
  }

  if(dealerArr == "" || brandArr["productId"] == "" || brandArr["dealerId"] == "" || brandArr["startTime"] == "" || brandArr["endTime"] == ""){
    alert("请填写完整！！！");
    return;
  }
  if(!dateCompare($('#startTime').val() , $('#endTime').val())){
    $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
    return;
  }
  if(!dateCompare('<{$currentDate}>' , $('#endTime').val())){
    $.scojs_message('结束时间不能小于或等于当前时间', $.scojs_message.TYPE_ERROR);
    return;
  }
  $.post("<{:U('addAuthorizeHandle')}>" , brandArr , function(data){
    if(data['status'] == 0){
      $.scojs_message('添加成功', $.scojs_message.TYPE_OK);
      $('#brandAuthorize').modal('hide');
      $('#brandAuthorize').on('hidden.bs.modal', function (e) {
        $("#authorizeTab").load('__MODULE__/Location/authorize');
      });
    }else{
      $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
    }
  });
}

//绑定品牌选择事件
$('#brandSelect').on('change' , function(){
  getDealerList($(this).val());
});

$('.addAuthorizeBtn').on('click' , function(){
  addBrandAuthorize();
});

//显示还没获得该品牌授权书的经销商
function getDealerList(brandId){
  $.post("<{:U('getDealerList')}>" , {'brandId':brandId,'productId':-1} , function(data){
    $('#dealerCheckboxList').html('');

    for(var i = 0;i<data.length;i++){
      $('#dealerCheckboxList').append("<div class='checkbox'><label><input type='checkbox' id='dealerCheckbox' value="+data[i]['id']+">"+data[i]['name']+"</label></div>")
    }
  });
}
</script>