<extend name="Public:new-base" />
<block name="title">
    <title>经销商管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/location.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E9c4ab5bd4cc2bf0589673718b4f7c85"></script>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</block>

<block name="right">
<script type="text/javascript">
var poiArr = <{:json_encode($poi)}>;

$('#dealers').addClass("active");
</script>
<div id="main">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">绑定地理位置</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home" style="margin-top:15px;padding-bottom:50px;">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                说明：
                    <p>请在地图上选择并点击相近的地点，“经度”和“纬度”会自动获取。然后在地址栏输入经销商地址，点击确定即可保存。</p>
            </div>
            <button class="btn btn-primary" style="margin-bottom:20px;" onclick="window.location.href='<{:U('index')}>'">返回列表</button>
            <div id="main-text" class="well">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">经销商名称</label>
                        <div class="col-sm-9" style="line-height:35px;">
                            <{$poi.name}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地 址</label>
                        <div class="col-sm-9">
                            <if condition="$poi.address eq ''"><input type="text" id="suggestId" class="form-control" size="50" style="margin-left:10px;" placeholder="请输入绑定地址"/><else /><input type="text" id="suggestId" class="form-control" size="50" style="margin-left:10px;" value="<{$poi.address}>"/></if>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">经 度</label>
                        <div class="col-sm-9" style="line-height:35px;">
                            <font id="x-value"><{$poi.longitude}></font>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">纬 度</label>
                        <div class="col-sm-9" style="line-height:35px;">
                            <font id="y-value"><{$poi.latitude}></font>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-9">
                            <button class="btn btn-primary" id='sub-btn'>确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="l-map"></div>
        </div>
    </div>
</div>
</block>

<block name="end-js">
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
<script src="__JS__/Public.js"></script>
<script type="text/javascript">
$("#sub-btn").on('click' , function(){
    poiHandle();
});

function showAddress(){
    $("#text-address").show();
    $("#updateBtn").hide();
    $("#oldAddress").hide();
}

//绑定地址修改事件
$('#suggestId').on('change' , function(){
    poiArr['address'] = $(this).val();
});

function poiHandle(){
    if($('#suggestId').val() == ""){
        $.scojs_message('请输入地址', $.scojs_message.TYPE_ERROR);
        return;
    }

    if($('#y-value').html() == "" || $('#x-value').html() == "" || $('#y-value').html() == 0 || $('#x-value').html() == 0){
        $.scojs_message('请点击地图选择位置', $.scojs_message.TYPE_ERROR);
        return;
    }

    poiArr["latitude"] = $('#y-value').html();
    poiArr["longitude"] = $('#x-value').html();
    poiArr["title"] = poiArr['name'];
    poiArr["timestamp"] = '<{$timestamp}>';
    poiArr["token"]     = '<{$token}>';
    $("#sub-btn").off('click');

    $.post("<{:U('updatePoiHandle')}>" , poiArr,function(data){
        if(data == 0){
            alert("操作成功");
            window.location.reload();
        }
        else{
            $.scojs_message('操作失败', $.scojs_message.TYPE_ERROR);
        }
        $("#sub-btn").on('click' , function(){
            poiHandle();
        });
    });
 }

var map = new BMap.Map("l-map");

//设置鼠标点击事件
map.addEventListener("click",function(e){
    map.clearOverlays();    //清除地图上所有覆盖物
    var marker1 = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));  // 创建标注
    map.addOverlay(marker1);              // 将标注添加到地图中
    $('#x-value').html(e.point.lng);
    $('#y-value').html(e.point.lat);
});

if(poiArr['poiId'] > 0){
    var marker1 = new BMap.Marker(new BMap.Point(poiArr['longitude'], poiArr['latitude']));  // 创建标注
    map.addOverlay(marker1);              // 将标注添加到地图中
    map.centerAndZoom(new BMap.Point(poiArr['longitude'],poiArr['latitude']),30);
    
    var opts = {
        width : 200,     // 信息窗口宽度
        height: 60,     // 信息窗口高度
        title : "<{$poiArr->name}>" , // 信息窗口标题
        enableMessage:false//设置允许信息窗发送短息
      }
      var infoWindow = new BMap.InfoWindow("地址："+poiArr['address'], opts);  // 创建信息窗口对象
      map.openInfoWindow(infoWindow,new BMap.Point(poiArr['longitude'], poiArr['latitude'])); //开启信息窗口
}
else
{
    map.centerAndZoom("深圳",12);                   // 初始化地图,设置城市和地图级别。
}

map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT, type: BMAP_NAVIGATION_CONTROL_PAN}));  //左下角，仅包含平移按钮

// var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
//     {"input" : "suggestId"
//     ,"location" : map
// });



// ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
// var str = "";
//     var _value = e.fromitem.value;
//     var value = "";
//     if (e.fromitem.index > -1) {
//         value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
//     }    
//     str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
    
//     value = "";
//     if (e.toitem.index > -1) {
//         _value = e.toitem.value;
//         value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
//     }    
//     str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
// });

// var myValue;
// ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
// var _value = e.item.value;
//     myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
//     setPlace();
// });

// function setPlace(){
//     map.clearOverlays();    //清除地图上所有覆盖物
//     function myFun(){
//         var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
//         map.centerAndZoom(pp, 18);
//         map.addOverlay(new BMap.Marker(pp));    //添加标注
//         var cp = map.getCenter();
//         G("x-value").innerHTML = cp.lng;
//         G("y-value").innerHTML = cp.lat;
//     }
//     var local = new BMap.LocalSearch(map, { //智能搜索
//       onSearchComplete: myFun
//     });
//     local.search(myValue);
    
//     poiArr["address"] = G("suggestId").value;
// }
</script>
</block>