<table class="table table-bordered table-hover" style="word-wrap:break-word;word-break:break-all;" id="segment">
  <thead>
    <tr>
      <th width="20%">经销商名称</th>
      <th width="20%">品牌</th>
      <th width="20%">产品</th>
      <th width="10%">开始时间</th>
      <th width="10%">截止时间</th>
      <th width="20%">打印授权书</th>
    </tr>
  </thead>
  <tbody>
    <volist name="list" id="authorize">
        <tr>
          <td><{$authorize["dealer"]}></td>
          <td><{$authorize["brand"]}></td>
          <td><{$authorize["product"]}></td>
          <td><{$authorize["startTime"]}></td>
          <td><{$authorize["endTime"]}></td>
          <td class='text-center'>
            <p class="text-left"><a target="_blank" href="<{:U('chart')}>/id/<{$authorize.id}>">打印</a></p>
            <p class="text-left"><a target="_blank" href="<{:U('chart')}>/id/<{$authorize.id}>/qr/none">打印（不含二维码）</a></p>
            <p class="text-left"><a target="_blank" onclick="delChart(<{$authorize.id}>)">删除</a></p>
          </td>
        </tr>
    </volist>
  </tbody>
</table>
<div class="text-center" id='authorize-page'>
  <ul class="pagination"><{$page}></ul>
</div>
<script>
  $("#authorize-page > ul > li > a").click(function()
    {
      var _HREF = $(this).attr('href');       

       //加载页面
        $("#authorizeList").load(_HREF);                       
        return false;
    });
</script>