<div class="row"style="margin-top:20px;">
  <div class="col-md-4">
    <button class="btn btn-info" id="addBrandBtn">添加品牌授权书</button>
    <button class="btn btn-info" id="addProductBtn">添加产品授权书</button>
  </div>
  <div class="col-md-2 pull-right" style="display:none;" id='productSelForm'>
  </div>
  <div class="col-md-3 pull-right" >
    <div class="form-group">
      <select id="authoriBrandSelect" class="form-control">
        <option value="-1">请选择品牌</option>
          <volist name='authoriBrand' id='brandItem'>
              <option value="<{$brandItem.brandId}>"><{$brandItem.name}></option>
            </volist>
      </select>
    </div>
  </div>
  <div class="col-md-3 pull-right">
    <div class="form-group">
        <select class="form-control" id='authoriTypeSelect'>
            <option value='all'>所有经销商</option>
          <volist name='authoritype' id='authoriItem'>
            <option value='<{$authoriItem.id}>'><{$authoriItem.name}></option>
          </volist>
        </select>
      </div>
  </div>
</div>
  
  <div id="addbrand"></div>
  <div id="addproduct"></div>
  <div id="authorizeList"></div>
<script type="text/javascript">
  var params={
    'id':'',
    'brandId': '',
    'productId' : ''
  };
  $('#authorizeList').load('<{:U("authorizeList")}>',params);
  $('#authoriBrandSelect').val('-1');
  $('#authoriBrandSelect').on('change',function(){
    params['brandId'] = $(this).val();

    if(params['brandId'] != -1){
      $('#authorizeList').load("<{:U('authorizeList')}>",params);
      $('#productSelForm').load('<{:U('showProductInfo')}>',
      {
        'brandId' : params['brandId'],
        'val' : "params['productId']"
      }, function(){
        $('#productSelForm').show();
      });
    }
    else{
      $('#authorizeList').load("<{:U('authorizeList')}>");
      $('#productSelForm').hide();
      params['productId'] = -1;
    }
  });
  
  //绑定经销商
  $('#authoriTypeSelect').on('change', function(){
    params['id'] = $(this).val();
    if(params['id'] === 'all')
      $('#authorizeList').load("<{:U('authorizeList')}>");
    else
      $('#authorizeList').load("<{:U('authorizeList')}>",params);
  });

  $('#addBrandBtn').on('click' , function(){
    $("#addbrand").load("<{:U('addBrandAuthorize')}>" , {} , function(){
      $("#addproduct").html('');
      $("#brandAuthorize").modal('show');
    });
  });

  $('#addProductBtn').on('click' , function(){
    $("#addproduct").load("<{:U('addProductAuthorize')}>" , {} , function(){
      $("#addbrand").html('');
      $("#productAuthorize").modal('show');
    });
  });
  
  $('#authoriTypeSelect').val('<{$id}>');

  function dateCompare(startdate,enddate)   
    {   
      var arr=startdate.split("-");    
      var starttime=new Date(arr[0],arr[1],arr[2]);    
      var starttimes=starttime.getTime();   
      
      var arrs=enddate.split("-");    
      var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
      var lktimes=lktime.getTime();   
      
      if(starttimes>=lktimes)
      return false;
      else  
      return true;
    } 
</script>