<extend name="Public:new-base" />
<block name="title">
    <title>经销商管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/location.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
</block>

<block name="right">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>')">返回</button>
    <p></p>
    <div class="tab-pane fade in active" id="ActivityInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">经销商资料</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">经销商类型：</label>
                        <div class="col-sm-9">
                            <if condition="!$isDealer">
                                <select id="dealerTypeSelect" class="form-control sort-responseType">
                                    <option value="-1">一级经销商</option>
                                    <option value="0">二级经销商</option>
                                </select>
                            <else/>
                                <select id="dealerTypeSelect" class="form-control sort-resionseType">
                                    <option value="0">二级经销商</option>
                                </select>
                            </if>
                        </div>
                    </div>
                    <div class="form-group" id="rootDealerList" style="display:none;">
                        <label class="col-sm-2 control-label">绑定一级经销商：</label>
                        <div class="col-sm-9">
                            <select id="rootTypeSelect" class="form-control sort-responseType">
                                <volist name="rootDealer" id="item">
                                    <option value="<{$item.id}>"><{$item.name}></option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">经销商名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请输入经销商名称,限于80个字符" maxlength="80">
                        </div>
                    </div>

                  <div class="form-group">
                        <label class="col-sm-2 control-label">联系电话：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="tel" placeholder="请输入联系电话">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">大图：</label>
                        <div class="col-sm-9">
                            <input type='file' id='msg-bigImg-input' class="form-control" multiple="true"/>
                            <img src="" class="img-thumbnail" id='bigImg' style='display:none;width:300px;'>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputActivityName" class="col-sm-2 control-label">小图：</label>
                        <div class="col-sm-9">
                            <input type='file' id='msg-minImg-input' class="form-control" multiple="true"/>
                            <img src="" class="img-thumbnail" id='minImg' style='display:none;'>
                        </div>
                    </div>

                  <div class="form-group" id="contentInput">
                    <label for="inputActivityContent" class="col-sm-2 control-label">介绍：</label>
                    <div class="col-sm-9">
                      <textarea id='info' style="height: 400px;"></textarea>
                      <script type="text/javascript">
                        window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                            UE.getEditor('info',{onready:function(){//创建一个编辑器实例
                            this.setContent(dealerArr['info']);
                            this.addListener('contentChange',function(){
                               dealerArr['info'] = this.getContent();
                            });
                        }});
                      </script>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <button type="button" class="btn btn-primary" id='save-btn' onclick="dealerHandle(0 , 'edit')">保存</button>
                      </p>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
</block>
<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            $('#dealers').addClass("active");
            dealerTypeChange();
        });

        var dealerArr = <{$dealerInfo}>;
        /**绑定经销商类型选择事件
         * 范小宝
         * 2014.4.1
         */
        $('#dealerTypeSelect').on('change' , function(){
            dealerTypeChange();
        });


        function dealerTypeChange(){
            var type = $('#dealerTypeSelect').val();

            if(type == 0){
                $('#rootDealerList').show();
                $('#provinceList').hide();
                dealerArr['root'] = $('#rootTypeSelect').val();
            }

            if(type == -1){
                $('#provinceList').show();
                dealerArr['root'] = -1;
                $('#rootDealerList').hide();
            }
        }
        /**绑定经销商选择事件
         * 范小宝
         * 2014.4.1
         */
        $('#rootTypeSelect').on('change' , function(){
            dealerArr['root'] = $(this).val();
        });

        $('#tel').on('keyup' , function(){
            checkInt('tel');
        });
        
        $('#name').val(dealerArr['name']);
        $('#tel').val(dealerArr['tel']);

        if(dealerArr['handleType'] == 'add'){
            $('#bigImg').hide();
            $('#minImg').hide();
        }else{
            $('#bigImg').attr('src' , dealerArr['bigImg'] + "?t=Math.random()");
            $('#bigImg').show();
            $('#minImg').attr('src' , dealerArr['minImg'] + "?t=Math.random()");
            $('#minImg').show();
        }
        
        if(dealerArr['root'] != -1){
            $('#rootDealerList').show();
            $('#dealerTypeSelect').val(0);
            $('#rootTypeSelect').val(dealerArr['root']);
            $('#provinceSelect').val(dealerArr['provinceId']);
            $('#provinceList').show();
        }else{
            $('#provinceList').hide();
            $('#provinceSelect').val(dealerArr['provinceId']);
        }
        function dealerHandle(id , type){
            if(G("name").value.trim() == "" && type != "delete"){
                $.scojs_message('请输入经销商名称', $.scojs_message.TYPE_ERROR);
                return;
            }

            dealerArr['name'] = $('#name').val().trim();
            dealerArr['tel'] = $('#tel').val().trim();
            dealerArr['info'] = $('#info').val().trim();
            dealerArr['provinceId'] = $('#provinceSelect').val();
            
            if(type == "delete"){
                if(confirm("请确认是否删除")){
                    dealerArr['id'] = id;
                    dealerArr['handleType'] = type;
                }else{
                    return;
                }
            }

            $.post("<{:U('dealerHandle')}>" , dealerArr , function(data){
                if(data['status'] == 0){
                    window.location.href = "<{:U('index')}>";
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }
        $("#msg-bigImg-input").uploadify({
            swf           : '__PUBLIC__/uploadify/uploadify.swf',
            uploader      : '__MODULE__/Public/file',
            buttonText    : '点击上传图片',
            method        : 'post',
            onUploadSuccess    : funBigImgComplete,
            onUploadStart :  readyUpload
        });
        //图片上传前事件
        function readyUpload(file){
            var old = dealerArr['bigImg'];

            var old = getFileName(old);
            
            if(old){
              var params = {
                  timestamp : '<{$timestamp}>',
                  token     : '<{$token}>',
                  oldFile   : old
                }
              $("#msg-bigImg-input").uploadify("settings", "formData", params);
            }
        }


  //图片上传发生的事件
  function funBigImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");
    

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
        var imgUrl = obj['imgUrl'];
        $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

        if(imgUrl){
          $('#bigImg').attr('src', imgUrl);
          $('#bigImg').show();

          dealerArr['bigImg'] = imgUrl;
        }
    }
  }

    $("#msg-minImg-input").uploadify({
            swf           : '__PUBLIC__/uploadify/uploadify.swf',
            uploader      : '__MODULE__/Public/file',
            buttonText    : '点击上传图片',
            method        : 'post',
            onUploadSuccess    : funMinImgComplete,
            onUploadStart :  readyUploadMin
      });
    //图片上传前事件
    function readyUploadMin(file){
        var old = dealerArr['minImg'];

        var old = getFileName(old);
        
        if(old){
          var params = {
              timestamp : '<{$timestamp}>',
              token     : '<{$token}>',
              oldFile   : old
            }
          $("#msg-minImg-input").uploadify("settings", "formData", params);
        }
    }
      //图片上传发生的事件
      function funMinImgComplete(file, data, response) {
        var obj = eval ("(" + data + ")");

        if(obj['code'] != 0){
          $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
          return;
        }else{
          $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
          var imgUrl = obj['imgUrl'];
          if(imgUrl){
              $('#minImg').attr('src', imgUrl);
              $('#minImg').show();

              dealerArr['minImg'] = imgUrl;
            }
        }
      }

    </script>
</block>