<table class="table table-bordered table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th width='50'>序号</th>
            <th width='300'>经销商名称</th>
            <th>经销商类型</th>
            <th>经销商地址</th>
            <th>二维码信息</th>
            <th width='180' class='text-center'>操作</th>
        </tr>
    </thead>

    <tbody>
        <volist name="list" id="listItem" key="k">
            <tr>
                <td><{$k}></td>
                <td style="word-break : break-all;"><{$listItem.name}></td>
                <td><if condition="$listItem.root eq -1">一级经销商<else/>二级经销商</if></td>
                <td style="word-break : break-all;"><{$listItem.address}>
                    <span><a href='javascript:void(0)' onclick="window.open('<{:U('address')}>/id/<{$listItem.id}>' , '_self')"><if condition="$listItem.address eq ''">绑定地址<else /><p>修改绑定地址</p></if></a></span>
                </td>
                <td>
                    <span><a class='qrBtn' id='dealer-<{$listItem.id}>' href='javascript:void(0)'><if condition="$listItem.QrInfo eq 1">查看二维码<else />生成二维码</if></a></span>
                </td>
                <td class='text-center'>
                    <div id="loginInfo"></div>
                    <if condition="$listItem.root eq -1 && $listItem.isLoginUser eq 0">
                        <span class="span-a" style="margin-right:10px;"><a class='createUserBtn' id='<{$listItem.id}>'>生成账号</a></span>
                    </if>
                    <if condition="$listItem.root eq -1 && $listItem.isLoginUser neq 0">
                        <span class="span-a" style="margin-right:10px;"><a class='checkUserBtn' id='<{$listItem.isLoginUser}>'>查看账号</a></span>
                    </if>
                    <span class="span-a" style="margin-right:10px;"><a onclick="window.location.href=('__MODULE__/Location/dealer/id/<{$listItem.id}>')">编辑</a></span>
                    <span class="span-a"><a onclick="dealerHandle(<{$listItem.id}> , 'delete')">删除</a></span>
                </td>
            </tr>
        </volist>
    </tbody>
</table>
<div id="dealer-page" class='text-center'>
    <ul class="pagination"><{$page}></ul>
</div>
<script>
    /**
     * 经销商列表分页显示
     * @author 蒋东芸
     * 2014/6/16
     */
    $("#dealer-page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#dealerList").load(_HREF,{'dealerType': '<{$dealerType}>','id': '<{$id}>'});
        return false;
    });
    $(document).ready(function(){
            $('#dealers').addClass("active");
        });
    /**绑定生成账号按钮事件
         * 范小宝
         * 2014.4.11
         */
        $('.createUserBtn').on('click' , function(){
            var arr = {
                "id" : "add" ,
                "dealerId" : $(this).attr('id')
            };

            $('#loginInfo').load("<{:U('LoginInfo')}>" , arr , function(){
                $('#loginModal').modal('show');
            });
        });

        /**绑定查看账号按钮事件
         * 范小宝
         * 2014.4.11
         */
        $('.checkUserBtn').on('click' , function(){
            $('#loginInfo').load("<{:U('LoginInfo')}>" , {"id":$(this).attr('id')} , function(){
                $('#loginModal').modal('show');
            });
        });

        function showDealer(id){
            var arr = {
                "id" : id
            };

            $.post("<{:U('getDealer')}>" , arr , function(data){
                dealerArr = data;
                $('#name').val(dealerArr['name']);
                $('#tel').val(dealerArr['tel']);
                $('#info').val(dealerArr['info']);

                if(dealerArr['handleType'] == 'add'){
                    $('#bigImg').hide();
                    $('#minImg').hide();
                }else{
                    $('#bigImg').attr('src' , dealerArr['bigImg'] + "?t=Math.random()");
                    $('#bigImg').show();
                    $('#minImg').attr('src' , dealerArr['minImg'] + "?t=Math.random()");
                    $('#minImg').show();
                }
                
                if(dealerArr['root'] != -1){
                    $('#rootDealerList').show();
                    $('#dealerTypeSelect').val(0);
                    $('#rootTypeSelect').val(dealerArr['root']);
                    $('#provinceSelect').val(dealerArr['provinceId']);
                    $('#provinceList').show();
                }else{
                    $('#provinceList').hide();
                    $('#provinceSelect').val(dealerArr['provinceId']);
                }
                $('#add').modal('show');
            });
        }

        function bindAddress(id){
            $('#poi').modal('show');
        }
        var dealerArr={};
        function dealerHandle(id , type){           
            if(type == "delete"){
                if(confirm("请确认是否删除")){
                    dealerArr['id'] = id;
                    dealerArr['handleType'] = type;
                }else{
                    return;
                }
            }

            $.post("<{:U('dealerHandle')}>" , dealerArr , function(data){
                if(data['status'] == 0){
                    $('#dealerList').load('<{:U("dealerList")}>');
                    $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }

    $('.qrBtn').on('click' , function(){
        var btnId = $(this).attr("id");
        var id = btnId.split('-')[1];
        showQr(id);
    });

    function showQr(id){
        var arr = {
            "id" : id
        };
        $.post("<{:U('getQrHandle')}>",arr,function(data){
            if(data['status'] == 0){
                $('#qrImg').attr('src' , data['info']);
                $('#qrModal').modal('show');
            }else{
                if(confirm("是否确认生成经销商二维码")){
                    createQr(arr['id']);
                    $('#dealer-'+id).text("查看二维码");
                }
            }
        }); 
    }

    function createQr(id){
        var arr = {
            "id" : id
        };
        $.post("<{:U('createdealerQr')}>",arr,function(data){
            if(data['status'] == 0){
                showQr(arr['id']);
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>