<script type="text/javascript">
var dealerUser = <{:json_encode($dealerUser)}>;
</script>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">经销商账号管理</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">账号名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" placeholder="请输入账号名称" value="<{$dealerUser.user_name}>">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary loginSubBtn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$('.loginSubBtn').on('click' , function(){
    dealerUserHandle();
});

function dealerUserHandle(){
    dealerUser['user_name'] = $('#inputName').val();

    if(dealerUser['user_name'] == ''){
        $.scojs_message("请输入账号名称", $.scojs_message.TYPE_ERROR);
        return;
    }

    $.post("<{:U('dealerUserHandle')}>" , dealerUser , function(data){
        if(data['status'] == 0){
            window.location.reload();
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
}

</script>