<div class="row" style="margin-bottom:10px;">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">操作类型：</label>
            <div class="col-sm-7">
                <select class="form-control" id='typeSelect'>
                    <option value='all'>全部</option>
                    <option value='0'>绑定产品</option>
                    <option value='1'>绑定经销商</option>
                    <option value='2'>经销商发货</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id='wlcode-input' placeholder="搜索物流码" maxlength="18">
            <span class="input-group-btn">
                <button class="btn btn-info" id='search-btn' type="button">搜索</button><div id="info-main"></div>
            </span>
        </div><!-- /input-group -->
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">选择经销商：</label>
            <div class="col-sm-7">
                <select class="form-control" id='bindDealerSelect'>
                    <option value='all'>全部</option>
                    <option value='<{$dealerId}>'><{$dealerName}></option>
                    <volist name="subDealer" id="item">
                        <option value='<{$item.id}>'><{$item.name}></option>
                    </volist>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id='fwcode-input' placeholder="搜索防伪码" maxlength="20">
            <span class="input-group-btn">
                <button class="btn btn-info" id='fwsearch-btn' type="button">搜索</button><div id="info-main"></div>
            </span>
        </div><!-- /input-group -->
    </div>
</div>
<div class="row">
    <div class="col-md-7 pull-right text-right" id="header-date">  
        <input type="text" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
        <input type="text" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>">&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" id="wl-examine" style="vertical-align: top;">查看</button>
        <button class="btn btn-info" id='reset-btn' type="button" >全部</button>
    </div>
</div>
<table class="table table-hover" style="word-wrap:break-word;word-break:break-all;">
    <thead>
        <tr>
            <th width='5%'>序号</th>
            <th width='10%'>操作类型</th>
            <th width='10%'>物流码数量</th>
            <th width='30%'>绑定信息</th>
            <th width='10%'>物流码</th>
            <th width='15%'>操作用户</th>
            <th width='20%'>操作时间</th>
        </tr>
    </thead>

    <tbody>
        <volist name="order" id="orderItem" key="k">
            <tr>
                <td><{$k}></td>
                <td><{$orderItem.type}></td>
                <td class=text-center><{$orderItem.count}></td>
                <td><{$orderItem.bind}></td>
                <td><{$orderItem.wlcode}><div id="wlcode"></div></td>
                <td><{$orderItem.user}></td>
                <td><{$orderItem.modifyTime}></td>
            </tr>
        </volist>
    </tbody>
</table>
<div class='text-center' id="order-page">
    <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
$('#typeSelect').val("<{$type}>");

    function showWlcode(id){
        $('#wlcode').load("<{:U('showWlcode')}>" , {"id":id} , function(){
            $('#showWlcode').modal('show');
        });
    }

    $("#order-page > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href');       

       //加载页面
        $("#<{$cId}>").load(_HREF,
        {
            'cId' : '<{$cId}>' ,
            "type" : "<{$type}>"
        });                       
        return false;
    });

    //绑定经销商选择事件
    $('#bindDealerSelect').on('change' , function(){
        var arr = {
            "cId" : "<{$cId}>" ,
            "type" :  $('#typeSelect').val(),
            "dealerId" : $(this).val()
        }

        $("#<{$cId}>").load("<{:U('order')}>" , arr , function(){
            $('#bindDealerSelect').val(arr['dealerId']);
        });
    });

    $('#typeSelect').on('change' , function(){
        var type = $('#typeSelect').val();
        $("#<{$cId}>").load("<{:U('order')}>",
        {
            'cId' : '<{$cId}>' , 
            'type' : type ,
            "dealerId": $('#bindDealerSelect').val()
        } , function (){
            $('#typeSelect').val(type);
        });  
    });

    $('#wlcode-input').on('keyup' , function(){
        checkInt('wlcode-input');
    });

    $('#fwcode-input').on('keyup' , function(){
       checkInt('fwcode-input'); 
    });

    $('#fwsearch-btn').on('click' , function(){
        var fwcode = $('#fwcode-input').val().trim();
        if(fwcode == ""){
            $.scojs_message('请输入防伪码', $.scojs_message.TYPE_ERROR);
            return;
        }else{
            $("#info-main").load("<{:U('wlcodeInfo')}>" , {"code":fwcode} , function(){
                $('#wlcodeInfo').modal('show');
                $('#fwcode-input').val("");
                $('#wlcodeInfo').on('hidden.bs.modal', function () {
                    $('#fwcode-input').focus();
                });
            });
        }
    });

    $('#search-btn').on('click' , function(){
        var wlcode = $('#wlcode-input').val().trim();
        if(wlcode == ""){
            $.scojs_message('请输入物流码', $.scojs_message.TYPE_ERROR);
            return;
        }else{
            $("#info-main").load("<{:U('wlcodeInfo')}>" , {"code":wlcode} , function(){
                $('#wlcodeInfo').modal('show');
                $('#wlcode-input').val("");
                $('#wlcodeInfo').on('hidden.bs.modal', function () {
                    $('#wlcode-input').focus();
                });
            });
        }
    });
    $('#wl-examine').on('click',function(){
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
      if(startTime == "0000-00-00" || endTime == "0000-00-00" || startTime == "" || endTime == ""){
          $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
          return;
        }

      if(!dateCompare(startTime , endTime)){
          $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
          return;
        }
        else{
            $("#<{$cId}>").load("<{:U('order')}>",
            {
                'cId' : '<{$cId}>' , 
                "type" :  $('#typeSelect').val(),
                "dealerId": $('#bindDealerSelect').val(),
                'startTime' : startTime ,
                "endTime": endTime
            },function(){
                $('#startTime').val(startTime);
                $('#endTime').val(endTime);
            }); 
        }
    });
    function dateCompare(startdate,enddate)   
    {   
        var arr=startdate.split("-");    
        var starttime=new Date(arr[0],arr[1],arr[2]);    
        var starttimes=starttime.getTime();   
        
        var arrs=enddate.split("-");    
        var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
        var lktimes=lktime.getTime();   
        
        if(starttimes>=lktimes)
        return false;
        else  
        return true;
    } 
    $('#reset-btn').on('click',function(){
        $("#order").load("<{:U('order')}>" , {
                "cId" : "order" , 
                "type" : "all"
            });
    });
</script>