<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">产品出货</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">物流码：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="wlCode" placeholder="请输入物流码" maxLength="18">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="outBtn">确认出货</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //绑定确认出货按钮事件
    //对物流码进行出货操作
    $('#outBtn').on('click' , function(){
        var wlcode = $('#wlCode').val();
        //判断物流码输入是否为空
        if(wlcode == ''){
            $.scojs_message('请输入18位物流码', $.scojs_message.TYPE_ERROR);
            return;
        }

        var arr = {'wlCode':wlcode};

        $.post("<{:U('wlOutHandle')}>" , arr , function(data){
            if(data['status'] == 0){
                $.scojs_message('出货成功', $.scojs_message.TYPE_OK);
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }

            $('#wlCode').val('');
            $('#wlCode').focus();
        });
    });

    $('#wlCode').on('keyup' , function(){
        checkInt('wlCode');
    });
</script>