<script type="text/javascript">
var dealerWeb = <{:json_encode($item)}>;
</script>
<div class="modal fade" id="web" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">网店管理</h4>
            </div>
            <div class="modal-body">
                <if condition="$item.dealerId eq ''">
                    <p>绑定经销商</p>
                    <p><select id="dealer-select" class="form-control sort-responseType">
                        <volist name="dealer" id="dealerItem">
                            <option value="<{$dealerItem.id}>"><{$dealerItem.name}></option>
                        </volist>
                    </select></p>
                </if>
                
                <p>网店名称</p>
                <p><input type="text" class="form-control" id="webname" placeholder="请输入网店名称" value="<{$item.name}>" maxlength="30"></p>
                <p>网店地址</p>
                <input type="text" class="form-control" id="weburl" placeholder="请输入网店地址" value="<{$item.url}>">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="webHandle(0 , 'edit')">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function webHandle(id , type){
    if(type == "delete"){
        if(!confirm("请确认是否删除")){
            return;
        }else{
            dealerWeb = {
                "id" : id , 
                "handleType" : type
            };
        }
    }else{
        if(G("webname").value.trim() == "" || G("weburl").value.trim() == ""){
            alert("请输入完整！");
            return;
        }

        if(!IsUrl("#weburl")){
            $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
            $("#weburl").focus();
            return;
        }

        dealerWeb['name'] = G("webname").value.trim();
        dealerWeb['url'] = G("weburl").value.trim();

        if(dealerWeb['handleType'] == "add"){
            dealerWeb['dealerId'] = G("dealer-select").value;
        }else{
            dealerWeb['handleType'] = type;
        }
    }

    if(type=='edit' && $('#webname').val()=='<{$item.name}>'&&$('#weburl').val()=='<{$item.url}>'){
        $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
        return false;
    }else{
        $.post("<{:U('webHandle')}>" , dealerWeb , function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功！", $.scojs_message.TYPE_OK);
                if(dealerWeb['handleType']=='delete'){
                      $("#electricity").load("<{:U('electricity')}>");
                    }
                $('#web').modal('hide');
                $('#web').on('hidden.bs.modal', function (e) {
                    $("#electricity").load("<{:U('electricity')}>");
                });
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);alert('hf');
            }
        });
    }
}
</script>