<div class="modal fade" id="wlcodeInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">物流码绑定信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">物流码：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"><{$wlcode}></p>
                        </div>
                    </div>
                    <if condition="$info.product neq ''">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">绑定产品：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"><{$info.product}></p>
                            </div>
                        </div>
                    </if>
                    <if condition="$info.seller neq ''">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">绑定经销商：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"><{$info.seller}></p>
                            </div>
                        </div>
                    </if>
                    <div class="form-group">
                            <label class="col-sm-3 control-label">操作用户：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"><{$info.user}></p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>