<extend name="Public:new-base" />
<block name="title">
    <title>素材中心——微防伪</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <link href="__CSS__/Admin-AddNews.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/Material.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/Public.js" type="text/javascript" charset="utf-8"></script>
    <script language="javascript">
        newsArr = getNewsObj('add');
        newsArr.items.push(getItemObj('add'));
        var type = "";
        
        function getImgPath(imgFileName, type){
            if(imgFileName.indexOf('http') == 0)  
            {  
                return imgFileName;
            }
            return '__PUBLIC__/Uploads/Material/' + type + '_'+ imgFileName;
        }

        function addNews(){
            for(var i = 0;i < newsArr['items'].length;i++){
                if(newsArr['items'][i]['title'] == ""){
                    $.scojs_message('请输入标题', $.scojs_message.TYPE_ERROR);
                    return;
                }

                if(newsArr['items'][i]['image'] == ""){
                    $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
                    return;
                }

                if(newsArr['items'][i]['content'] == ""){
                    $.scojs_message('请输入正文', $.scojs_message.TYPE_ERROR);
                    return;
                }
            }

            if(type == ""){
                if(newsArr.total == 1){
                    $.scojs_message('请至少添加二条新闻！', $.scojs_message.TYPE_ERROR);
                    return;
                }
            }
            
            var checkbox = document.getElementById("addPicture")
            if(checkbox.checked){
                newsArr['addPicture'] = 1;
            }else{
                newsArr['addPicture'] = 0;
            }
         
            $.post("<{:U('AddNewsHandle')}>", newsArr,function(data){ 
                if(data['status'] == 0){
                    alert("操作成功！");
                    location.replace("<{:U('index')}>");
                }
                else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }


        function showtitle(str){
            $('div#news-big-title').html(str);
        }
        
        function delItem(){
            if(newsArr.selID === 0){
                $.scojs_message('封面新闻不可删除', $.scojs_message.TYPE_ERROR);
                return;
            }
            G('list-'+ newsArr.items[newsArr.selID].key).parentNode.removeChild(G('list-'+ newsArr.items[newsArr.selID].key)); 
            newsArr.items.splice(newsArr.selID,1);
            newsArr.total = newsArr.total - 1;
            
            if(newsArr.selID === newsArr.total)
                newsArr.selID = newsArr.selID - 1;
            
            setSelID(newsArr.selID, newsArr, getImgPath(newsArr.items[newsArr.selID].image, 's'));
        }
        
        $(document).ready(function(){
           $(".big-news-edit").hide(); 
           $(".news-edit").hide();
           $("#description").hide();
           $("#addSmallText").hide();
           type = "<{$_GET['type']}>";
           if(type == "addOne"){
                $("#addSmallText").show();
                $("#newsaddBtn").hide();
                $("#smallTextBtn").bind("click",function(){
                    $("#description").show();
                });
            }
        });
        
        function showEdit(id){
            $("#news-"+id).show();
        }
        
        function outEdit(id){
            $("#news-"+id).hide();
        }
    </script>
</block>

<block name="right">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>')" style="margin-bottom:10px;">返回列表</button>
    <div id="main">
            <div id="class-title">图文消息</div>
            <div id="main-left">
                <div id="news">
                    <div id="list-0" onmouseover="showEdit(0)"  onmouseout="outEdit(0)">
                        <div id="news-big-time"><{:date("Y-m-d")}></div>
                        <div id="news-big-img">
                            <span><img id="bigImg" src=""/></span>
                        </div>
                        <div id="title-0" >标题</div>
                        <div class="big-news-edit" id="news-0"><div id="big-a"><a onclick="setSelID(0, newsArr, getImgPath(newsArr.items[0].image, 's'));"><img src="__IMAGE__/edit.png"/></a></div></div>
                        <div id="description-0"></div>
                    </div>
                </div>
                <div id="news-add">
                        <a id='newsaddBtn'  onclick="addNewsDiv('<{:U('getAddDiv')}>?id='+ newsArr.total + '&key=' + getRand(), 'add', newsArr);" style="cursor:pointer;">增加一条</a>
                    </div>
            </div>
            <div id="main-right">
                <div id="right-form">
                    <form method="post" id="newsform" action="<{:U('AddNewsHandle')}>"  target="_self" enctype="multipart/form-data">
                        <input type="hidden" name="handleType" value="AddGroup" />
                        <p>标题：</p><input type="text" class="form-control" name="title" id="title" maxlength="64"  size="76" placeholder="此处输入标题，限于64字符" onkeyup="changetitle('title-'+ newsArr.items[newsArr.selID].key, this.value, newsArr);"/>
                        <p>封面  (大图片建议尺寸：900像素*500像素)<input type="file" name="fileUpload" id="fileUpload"  multiple="true" /></p>
                        <div id="image_form"></div>
                        <script type="text/javascript">
                            $("#fileUpload").uploadify({
                                swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                uploader      : "__MODULE__/Public/file",
                                buttonText    : '本地上传',
                                method        : 'post',
                                onUploadSuccess    : funComplete,
                                onUploadStart :  readyUpload
                            });
                            var newsImgId = '';
                            function readyUpload(file){
                                newsImgId = newsArr.selID;
                                var old = getFileName(newsArr.items[newsImgId].image);
                                if(old){
                                    var params = {
                                        timestamp : '<{$timestamp}>',
                                        token     : '<{$token}>',
                                        oldFile   : old
                                    }
                                    $("#fileUpload").uploadify("settings", "formData", params);
                                }
                            }
                             //图片上传发生的事件
                            function funComplete(file, data, response) {
                                var obj = eval ("(" + data + ")");
                                if(obj['code']!= 0){
                                    $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                                    return;
                                }else{
                                    $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
                                    newsArr.items[newsImgId].image = obj['imgUrl'];
                                
                                    if(newsImgId === 0){
                                        G('bigImg').src =obj['imgUrl'];
                                    }
                                    else{
                                        G('img-'+ newsArr.items[newsImgId].key).src = obj['imgUrl'];
                                    }
                                    var add="<img src='"+obj['imgUrl']+"' " +"class='img-thumbnail' style='margin-left:15px;margin-top:15px; max-width:300px;'/></img>";
                                    G("image_form").innerHTML = add;
                                }
                            }           
                        </script>
                        <div id="checkbox">
                            <!-- <label class="checkbox-inline">
                                <input type="checkbox" id="synweibo" value=""><span>发送到微博</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="synweb" value="1" onclick="changesynweb('synweb',this.value,newsArr)">同步到网站
                            </label> -->
                            <label id="add-Picture">
                                <input type="checkbox" id="addPicture" value="1" style="margin-right: 10px">封面图片显示在正文中 
                            </label>
                        </div>
                        <div id='addSmallText'><a id='smallTextBtn'>添加摘要</a></div>
                        <textarea name='description' id="description" style="margin-top:10px;width:100%;height:100px;" onkeyup="changeDescription('description-0' , this.value, newsArr)"></textarea>
                        <p>正文：</p>
                        <textarea name="news" id="newstext" style="height: 500px;"></textarea>
                        <script type="text/javascript">
                            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                             UE.getEditor('newstext',{onready:function(){//创建一个编辑器实例
                                this.addListener('contentChange',function(){
                                   newsArr.items[newsArr.selID].content = this.getContent();
                                });
                            }});
                        
                        </script>
                        
                    </form>
                </div>
            </div>
            <a onclick="addNews()" style="float:left;"><div id="addBtn">保存</div></a>
            <div id="not-show"></div>
        </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">

    $('#material').addClass("active");

    $('#addPicture').on('click',function(){
        
        newsArr.items[newsArr.selID].update =1;

        if($(this).is(':checked')){
            newsArr.items[newsArr.selID].addPicture = 1;
         }else{
            newsArr.items[newsArr.selID].addPicture = 0;
         }
    });

    $("#addPicture").attr("checked",true);

    function getsynWebval(obj){
        if (newsArr.items[newsArr.selID].update === 0)
            {
                newsArr.items[newsArr.selID].update = 1;
            }
        if(obj.checked){
            newsArr.items[newsArr.selID].synWeb = obj.value;
        }
        else{
            newsArr.items[newsArr.selID].synWeb = '';
        }
    }

  
    </script>
</block>