<extend name="Public:new-base" />
<block name="title">
    <title>素材中心——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <link href="__CSS__/Admin-AddNews.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/Material.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/Public.js"></script>
    <script language="javascript">
            var newsArr = <{$itemArrJson}>;
            var newsTotal = <{$itemArr.total}>;
function getImgPath(imgFileName, type){
    if(imgFileName.indexOf('http') == 0)  
    {  
        return imgFileName;
    }
    
    return '__PUBLIC__/Uploads/Material/' + type + '_'+ imgFileName;
}

function modify(){
    for(var i = 0;i < newsArr['items'].length;i++){
        if(newsArr['items'][i]['title'] == ""){
            $.scojs_message('请输入标题', $.scojs_message.TYPE_ERROR);
            return;
        }

        if(newsArr['items'][i]['image'] == ""){
            $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
            return;
        }

        if(newsArr['items'][i]['content'] == ""){
            $.scojs_message('请输入正文', $.scojs_message.TYPE_ERROR);
            return;
        }
    }

    newsArr["timestamp"]  = '<{$timestamp}>';
    newsArr["token"]      = '<{$token}>';

    $.post("<{:U('ModifyHandle')}>", newsArr,function(data){ 
        if(data['status'] == 0){
            alert("修改成功！");
            location.replace("<{:U('index')}>");
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
 }

function showtitle(str){
    $('div#news-big-title').html(str);
}

         function delItem(){
            if(newsArr.total == 2){
                $.scojs_message('该图文消息至少需要两条新闻！', $.scojs_message.TYPE_ERROR);
                return;
            }

            if(newsArr.selID == 0){
                $.scojs_message('封面新闻不可删除', $.scojs_message.TYPE_ERROR);
                return;
            }
            G('list-'+ newsArr.items[newsArr.selID].key).parentNode.removeChild(G('list-'+ newsArr.items[newsArr.selID].key)); 
            
            if(newsArr.items[newsArr.selID].update != 2){
                newsArr.delIds += newsArr.items[newsArr.selID].id + '-';
            }
            
            newsArr.items.splice(newsArr.selID,1);
            newsArr.total = newsArr.total - 1;
            
            for(i=newsArr.selID; i<newsArr.total; i++){
                G('list-'+ newsArr.items[newsArr.selID].key).onclick = function(){
                    setSelID(i-1, newsArr, getImgPath(newsArr.items[i-1].image, 's'));
                };
            }
            if(newsArr.selID == newsArr.total)
                newsArr.selID = newsArr.selID - 1;
            
            setSelID(newsArr.selID, newsArr, getImgPath(newsArr.items[newsArr.selID].image, 's'));
        }
        
        $(document).ready(function(){
            $(".big-news-edit").hide(); 
            $(".news-edit").hide();

            if(newsTotal == 1){
                $("#newsaddBtn").hide();
            }
        });
        
        function showEdit(id){
            $("#news-"+id).show();
        }
        
        function outEdit(id){
            $("#news-"+id).hide();
        }
</script>
</block>

<block name="right">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>')" style="margin-bottom:10px;">返回列表</button>
    <div id="main">
            <div id="class-title">图文消息</div>
            <div id="main-left">
                <div id="news">
                    <div id="list-0" onmouseover="showEdit(0)"  onmouseout="outEdit(0)">
                            <div id="news-big-time"><{$itemTime}></div>
                            <div id="news-big-img"><span><img id="bigImg" src="<{$itemArr['items'][0]['image']}>"/></span>
                        </div>
                        <div id="title-0" ><{$itemArr['items'][0]['title']}></div>
                        <div class="big-news-edit" id="news-0"><div id="big-a"><a onclick="setSelID(0, newsArr, getImgPath(newsArr.items[0].image, 's'));"><img src="__IMAGE__/edit.png"/></a></div></div>
                    </div>
                    <volist name="itemArr['items']" id="newsItem" offset="1" key="i">
                        <div class="news-list" style="min-height:100px;" id="list-<{$newsItem['key']}>" onmouseover="showEdit(<{$newsItem['key']}>)" onmouseout="outEdit(<{$newsItem['key']}>)">
                        <div class="news-title" id="title-<{$i}>" style="min-height:70px;" ><{$newsItem['title']}></div>
                        <div class="news-img"><span><img id='img-<{$i}>' src="<{$newsItem['image']}>"/></span></div>
                        <div class='news-edit' style="min-height: 70px;" id='news-<{$newsItem['key']}>'><div id='news-a'><a onclick="setSelID(<{$i}>, newsArr, getImgPath(newsArr.items[<{$i}>].image, 's'));"><img src='__IMAGE__/edit.png' /></a><a href='javascript:delItem();'><img src='__IMAGE__/delete.png'/></a></div></div>
                        <div style='clear:both'></div>
                        </div>
                    </volist>
                </div>
                <div id="news-add">
                    <a id='newsaddBtn' onclick="addNewsDiv('<{:U('getAddDiv')}>?id='+ newsArr.total + '&key=' + getRand(), 'modify', newsArr);" style="cursor:pointer;">增加一条</a>
                </div>
            </div>
            <div id="main-right">
                <div id="right-form">
                    <form method="post" id="newsform" action="<{:U('AddNewsHandle')}>"  target="_self" enctype="multipart/form-data">
                        <input type="hidden" name="handleType" value="AddGroup" />
                        <p>标题：</p><input type="text" name="title"  class="form-control" id="title" size="76" maxlength="64" placeholder="此处输入标题，限于64字符" onkeyup="changetitle('title-'+ newsArr.items[newsArr.selID].key, this.value, newsArr);"/>
                        <p>封面图片：<input type="file" name="fileUpload" id="fileUpload"  multiple="true" /></p>
                        <div id="image_form"></div>
                        <script type="text/javascript">
                            $("#fileUpload").uploadify({
                                swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                uploader      : "__MODULE__/Public/file",
                                buttonText    : '本地上传',
                                method        : 'post',
                                onUploadSuccess    : funComplete,
                                onUploadStart : readyUpload
                            });
                            var newsImgId='';
                            //图片上传前的事件
                            function readyUpload(file){
                                newsImgId =  newsArr.selID;
                                var old = getFileName(newsArr.items[newsImgId].image);
                                if(old){
                                    var params = {
                                        timestamp : '<{$timestamp}>',
                                        token     : '<{$token}>',
                                        width     : 320,
                                        height    : 200,
                                        oldFile   : old
                                    }
                                    $("#fileUpload").uploadify("settings", "formData", params);
                                }
                            }
                            //图片上传发生的事件
                            function funComplete(file, data, response) {
                                var obj = eval ("(" + data + ")");

                                if(obj['code'] != 0){
                                    $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                                    return;
                                }

                                $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

                                newsArr.items[newsImgId].image = obj['imgUrl'];
                                
                                if(newsArr.selID === 0){
                                    G('bigImg').src =obj['imgUrl'];
                                }
                                else{
                                    G('img-'+ newsArr.items[newsImgId].key).src = obj['imgUrl'];
                                }
                                var add="<img src='"+obj['imgUrl']+"' " +"class='img-thumbnail' style='margin-left:15px;margin-top:15px; max-width:300px;'/></img>";
                                G("image_form").innerHTML = add;
                                if (newsArr.items[newsImgId].update === 0)
                                {
                                    newsArr.items[newsImgId].update = 1;
                                }
                            }           
                        </script>
                        <div id="checkbox">
                           <!--  <label class="checkbox-inline">
                                <input type="checkbox" id="synweibo" value=""><span>发送到微博</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="synweb"  onclick="changesynweb('synweb',this.value,newsArr)">同步到网站
                            </label> -->

                            <label id="add-Picture">
                                <input type="checkbox" id="addPicture" style="margin-right: 10px" >封面图片显示在正文中 
                            </label>
                        </div>
                        <if condition="$itemArr.total eq '1'">
                            <p>摘要：</p>
                            <textarea name='description' id="description" class="form-control" style="margin-top:10px;width:100%;height:100px;" onkeyup="changeDescription('description' , this.value, newsArr)"><{$itemArr['items'][0]['description']}></textarea>
                        </if>
                        <p>正文：</p>
                        <textarea name="news" id="newstext" style="height: 500px;"></textarea>
                        <script type="text/javascript">
                            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                             UE.getEditor('newstext',{onready:function(){//创建一个编辑器实例
                                     this.setContent(newsArr.items[newsArr.selID].content);
                                this.addListener('contentChange',function(){
                                   newsArr.items[newsArr.selID].content = this.getContent();
                                   if (newsArr.items[newsArr.selID].update === 0)
                                    {
                                        newsArr.items[newsArr.selID].update = 1;
                                    }
                                });
                            }});
                            $(document).ready(function(){
                                setSelID(0, newsArr, newsArr.items[0].image);
                            });
                        </script>
                    </form>
                </div>
            </div>
            <a onclick="modify()" style="float:left;"><div id="addBtn">保存</div></a>
            <div id="not-show"></div>
        </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">

  
    $('#addPicture').on('click',function(){

        newsArr.items[newsArr.selID].update =1;

        if($(this).is(':checked')){
            newsArr.items[newsArr.selID].addPicture = 1;
         }else{
            newsArr.items[newsArr.selID].addPicture = 0;
         }
    });

    $('#material').addClass("active");
    </script>
</block>