<extend name="Public:Base" />
<block name="title">
    <!--标题-->
    <title>微防伪</title>
</block>

<block name="css">
    <!--CSS引用-->
    <link href="__CSS__/Admin-Material.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/main.css" rel="stylesheet">
</block>

<block name="js">
    <!--js引用-->
        <script language="javascript">
            function DrawImage(ImgD,FitWidth,FitHeight){
                var image=new Image();
            image.src=ImgD.src;
            if(image.width>0 && image.height>0){
            if(image.width/image.height>= FitWidth/FitHeight){
            if(image.width>FitWidth){
            ImgD.width=FitWidth;
            ImgD.height=(image.height*FitWidth)/image.width;
            }else{
            ImgD.width=image.width; 
            ImgD.height=image.height;
            }
            }else{
            if(image.height>FitHeight){
            ImgD.height=FitHeight;
            ImgD.width=(image.width*FitHeight)/image.height;
            }else{
            ImgD.width=image.width; 
            ImgD.height=image.height;
            } 
            }
            }
            //图片高小于设定的边框高时，让图片上下居中 padding 为内边距
            if(ImgD.height < FitHeight ){
            var paddH = parseInt((FitHeight - ImgD.height)/2);
            ImgD.style.paddingTop    = paddH+"px";
            ImgD.style.paddingBottom = paddH+"px";
            }
            //图片宽小于设定的边框宽时，让图片左右居中 padding 为内边距
            if(ImgD.width < FitWidth ){
            var paddW = parseInt((FitWidth - ImgD.width)/2);
            ImgD.style.paddingRight = paddW+"px";
            ImgD.style.paddingLeft  = paddW+"px";
            }
             }

    function G(id){
        return document.getElementById(id);
    }         
    function deleteCheck(id){
        if(confirm("是否确认删除")){
            var parm = {
                "id":id , 
                "timestamp" : '<{$timestamp}>' , 
                "token"     : '<{$token}>'
            };

            $.post("<{:U('MaterialAjax/deleteGroup')}>", parm,function(data){
                if(data["status"] == 0){
                    G('news-'+ id).parentNode.removeChild(G('news-'+ id)); 
                }
                else{
                    alert(data["info"]);
                }
            });
        }
     }
     
     $(document).ready(function(){
        $("#add-a").hide();
     });
     
     function showBtn(){
        $("#add-a").show();
        $("#news-add").css("background-image" , "none");
     }
     
     function hideBtn(){
         $("#add-a").hide();
         $("#news-add").css("background-image" , "url(/Public/Image/add-bg.jpg)");
     }
     </script>
</block>

<block name="pre-begin">
    <!--预加内容-->
</block>

<block name="class-title">
    <!--菜单名-->
    <div id="class-title">素材管理</div>
</block>

<block name="left">
    <!--主体左-->
     <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/MaterialLib/">图文消息</a></li>
                    </ul>
                </div>
</block>

<block name="right">
    <!--主体右-->
    <div id="right-title">图文消息列表（共 <{:count($newsArr)}> 个）</div>
                <div id="news-left">
                    <div id="news-add" onmouseover="showBtn()" onmouseout="hideBtn()"><div id="add-a"><a href="<{:U('AddNews?type=addOne')}>"><img src="__IMAGE__/oneNewBtn.png" /><p>单图文消息</p></a><a href="<{:U(AddNews)}>"><img src="__IMAGE__/addNewsBtn.png" /><p>多图文消息</p></a></div></div>
                    <volist name="newsArr" id="groupItem" offset="0"  key="k">
                    <eq name="mod" value='1'>
                    <div id="news-<{$groupItem.groupId}>" class="news">
                                <div id="news-big">
                                        <div id="news-big-time"><{:date("Y-m-d",strtotime($groupItem['addTime']))}></div>
                                        <div id="news-big-img"><img src="<{$groupItem['Result'][0]['newsImg']}>" onload="javascript:DrawImage(this,'330','160');"/></div>
                                        <div id="news-big-title"><{$groupItem['Result'][0]['title']}></div>
                                </div>
                                <volist name="groupItem['Result']" id="newsItem" offset="1">
                                    <div id="news-list">
                                    <div id="news-title"><{$newsItem.title}></div>
                                    <div id="news-img"><img src="<{$newsItem['newsImg']}>" onload="javascript:DrawImage(this,'70','70');"/></div>
                                    </div>
                                </volist>
                                <div id="changeNews">
                                    <a href="__MODULE__/MaterialLib/EditNews?groupid=<{$groupItem.groupId}>" style="border-right:1px solid #ccc;"><img src="__IMAGE__/edit.png" /></a>
                                    <a onclick="deleteCheck('<{$groupItem.groupId}>');" style='cursor: pointer;'><img src="__IMAGE__/delete.png"/></a>
                                </div>
                            </div>
                    </eq>
                        </volist>
                </div>
                
                <div id="news-right">
                <volist name="newsArr" id="groupItem" offset="0" key="k">
                            <eq name="mod" value="0">
                            <div id="news-<{$groupItem.groupId}>" class="news">
                                <div id="news-big">
                                        <div id="news-big-time"><{:date("Y-m-d",strtotime($groupItem['addTime']))}></div>
                                        <div id="news-big-img"><img src="<{$groupItem['Result'][0]['newsImg']}>" onload="javascript:DrawImage(this,'330','160');"/></div>
                                        <div id="news-big-title"><{$groupItem['Result'][0]['title']}></div>
                                </div>
                                <volist name="groupItem['Result']" id="newsItem" offset="1">
                                    <div id="news-list">
                                    <div id="news-title"><{$newsItem.title}></div>
                                    <div id="news-img"><img src="<{$newsItem['newsImg']}>" onload="javascript:DrawImage(this,'70','70');"/></div>
                                    </div>
                                </volist>
                                <div id="changeNews">
                                    <a href="__MODULE__/MaterialLib/EditNews?groupid=<{$groupItem.groupId}>" style="border-right:1px solid #ccc;"><img src="__IMAGE__/edit.png" /></a>
                                    <a onclick="deleteCheck('<{$groupItem.groupId}>');" style='cursor: pointer;'><img src="__IMAGE__/delete.png"/></a>
                                </div>
                            </div>
                            </eq>
                        </volist>
                    </div>
            <div id="page">
                <ul class="pagination"><{$page}></ul>
            </div>            
            <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
            <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
            <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</block>

<block name="end-js">
    <!--结尾js-->
</block>