<extend name="Public:new-base" />
<block name="title">
    <title>素材中心——微防伪</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <style type="text/css">
        #news-add{
            background-image:url(__IMAGE__/add-bg.jpg);
        }
    </style>
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    </script>
</block>

<block name="right">
    <div id="main" class="well">
        <div class="row">
            <div class="col-md-4">
                <div id="news-add" onmouseover="showBtn()" onmouseout="hideBtn()"><div id="add-a"><a href="<{:U('AddNews?type=addOne')}>"><img src="__IMAGE__/oneNewBtn.png" /><p>单图文消息</p></a><a href="<{:U(AddNews)}>"><img src="__IMAGE__/addNewsBtn.png" /><p>多图文消息</p></a></div></div>

                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="0">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <tr class="active">
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'>
                                            <tr>
                                                <td colspan='2'>
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width: 100%;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr class="active">
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
            <div class="col-md-4">
                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="1">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                            <tr>
                                                <td colspan='2'>
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
            <div class="col-md-4">
                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="2">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                            <tr>
                                                <td colspan="2">
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
        </div>
        <div class='well text-right'>
            <ul class="pagination"><{$page}></ul>
        </div>
    </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script type="text/javascript">
    $('#material').addClass("active");
    $("#add-a").hide();

    function deleteMaterial(id){
        if(confirm("是否确认删除")){
            var arr = {
                "id":id
            };

            $.post("<{:U('deleteGroup')}>" , arr , function(data){
                if(data["status"] == 0){
                    alert("删除成功");
                    window.location.reload();
                }else{
                    alert("删除失败");
                }
            });
        }
    }

    function showBtn(){
        $("#add-a").show();
        $("#news-add").css("background-image" , "none");
     }
     
     function hideBtn(){
         $("#add-a").hide();
         $("#news-add").css("background-image" , "url(__IMAGE__/add-bg.jpg)");
     }
    </script>
</block>