<if condition="$menu['rootId']==-1 && $menu['hasSub']==1"> 
	<h4 class='text-center'>此一级菜单包含二级菜单，不可编辑！</h4>
<else /> 
	<p>
		<div class="form-group">
			<label for="exampleInputEmail1">回复类型：</label>
			<select class="form-control sort-type">
				<option value="text">文本信息</option>
				<option value="news">图文素材</option>
				<option value="check_prize">查询中奖</option>
				<option value="view">浏览网页</option>
				<option value="information">企业动态</option>
				<option value="service">企业客服</option>
				<option value="mall">商品相关</option>
				<option value="vip">会员相关</option>
				<option value="activity">活动相关</option>
				<option value="qrcode">扫描二维码</option>
			</select>
		</div>
	</p>
	<p>
		<div id="reply-content"></div>
	</p>
	<p>
		<button class='btn btn-info pull-right' id='save-btn'>保存修改</button>
	</p>
	<script>
		var menu = <{:json_encode($menu)}>;

		if(menu['responseType'] == null)
			menu['responseType'] = 'text';

		$('.sort-type').val(menu['responseType']);

		function changeType(type){
			switch(type){
	            case 'text':
	                $('#reply-content').load("__MODULE__/Ajax/textInput",
	                    {
	                        p:"menu['responseText']",
	                        v:menu['responseText']
	                    });
	                break;
	            case 'news':
	                if(menu['responseMaterialId'])
	                    $('#reply-content').load("__MODULE__/Ajax/newsChange",
	                        {
	                            p:"menu['responseMaterialId']",
	                            cId:"reply-content",
	                            id:menu['responseMaterialId'],
                            	ecid:"<{$ecid}>"
	                        });
	                else
	                    $('#reply-content').load("__MODULE__/Ajax/newsChange",
	                        {
	                            p:"menu['responseMaterialId']",
	                            cId:"reply-content",
                            	ecid:"<{$ecid}>"
	                        });
	                break;
	            case 'check_prize':
	            	$('#reply-content').load("__MODULE__/Ajax/activitySelect" , {
	            		p:"menu['informKeyword']",
	            		menuId:"<{$menuId}>"
	            	});
	                break;
	            case 'view':
	            	$('#reply-content').load("__MODULE__/Ajax/textInput",{
	                    
	                        p:"menu['linkURL']",
	                        v:menu['linkURL']
	                    });
	                break;
	            case 'information':
	            	menu['keyword'] = "<-new->";
	            	$('#reply-content').empty();
	            	break;
	            case 'service':
	            	menu['keyword'] = "<-new->";
	            	$('#reply-content').empty();
	            	break;
	            case 'mall':
	            	$('#reply-content').load("__MODULE__/Ajax/mallSelect" , {} , function(){
	            		$("#selectMallType").val(menu['mall_keyword']);
	            		menu['mall_keyword'] = $("#selectMallType").val();
	            	});
	                break;
	            case 'vip':
	            	$('#reply-content').load("__MODULE__/Ajax/vipSelect" , {} , function(){
	            		$("#selectVipType").val(menu['vip_keyword']);
	            		menu['vip_keyword'] = $("#selectVipType").val();
	            	});
	                break;
	            case 'activity':
	            	$('#reply-content').load("__MODULE__/Ajax/activityAllSelect",
	                    {
	                        p:"menu['activityId']",
	                        v:menu['activityId']
	                    });
	                break;
	        }
		}

		changeType(menu['responseType']);

		$('.sort-type').on('change',function(){
			menu['responseType'] = $('.sort-type').val();
			changeType(menu['responseType']);
		})

		$('#save-btn').on('click', function(){
			//修复问题编号27 添加对空值的判断
			switch(menu['responseType']){
				case 'text':
					if(menu['responseText'] === '' || menu['responseText'] === null){
						$.scojs_message('请输入回复的文本信息！', $.scojs_message.TYPE_ERROR);
						return;
					}
					break;
				case 'news':
					if(menu['responseMaterialId'] === null || menu['responseMaterialId']==='0'){
						$.scojs_message('请选择回复的图文信息！', $.scojs_message.TYPE_ERROR);
						return;
					}
					break;
			}
			if(menu['responseType'] == "check_prize"){
				if(menu['informKeyword'].length == 0){
					$.scojs_message("请选择活动", $.scojs_message.TYPE_ERROR);
					return;
				}
			}

			$.post(
				'<{:U('Menu/editMenuHandle')}>',
				menu,
				function(data, textStatus){
					if(data['data'] === 0){
                    	$.scojs_message(data['info'], $.scojs_message.TYPE_OK);
	                }
	                else{
	                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
	                }
				})
		})
	</script>
</if>