<div class="form-group">
  <label for="edit-city">城市：</label>
  <input type="text" class="form-control" id="edit-city" placeholder="城市名" value='<{$cityInfo.city}>'>
</div>
<div class="form-group">
  <label for="edit-area">区域：</label>
  <input type="text" class="form-control" id="edit-area" placeholder="可选区域" value='<{$cityInfo.district}>'>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <label for="edit-area">每日开始配送时间：</label>
    <select class="form-control" id='startTimeRand'>
      <option value='8'>8:00</option>
      <option value='9'>9:00</option>
      <option value='10'>10:00</option>
      <option value='11'>11:00</option>
      <option value='12'>12:00</option>
      <option value='13'>13:00</option>
      <option value='14'>14:00</option>
      <option value='15'>15:00</option>
      <option value='16'>16:00</option>
      <option value='17'>17:00</option>
      <option value='18'>18:00</option>
      <option value='19'>19:00</option>
      <option value='20'>20:00</option>
    </select>
  </div>
  <div class="form-group col-xs-6">
    <label for="edit-area">每日结束配送时间：</label>
    <select class="form-control" id='endTimeRand'>
      <option value='8'>8:00</option>
      <option value='9'>9:00</option>
      <option value='10'>10:00</option>
      <option value='11'>11:00</option>
      <option value='12'>12:00</option>
      <option value='13'>13:00</option>
      <option value='14'>14:00</option>
      <option value='15'>15:00</option>
      <option value='16'>16:00</option>
      <option value='17'>17:00</option>
      <option value='18'>18:00</option>
      <option value='19'>19:00</option>
      <option value='20'>20:00</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <label for="edit-area">时间段间隔：</label>
    <select class="form-control" id='timeHoursRand'>
      <option value='2'>2小时</option>
      <option value='3'>3小时</option>
      <option value='4'>4小时</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="edit-area">说明：</label>
  <textarea class="form-control" rows="3" id='edit-info'><{$cityInfo.info}></textarea>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" id='todayEnable'> 当天可配送
  </label>
</div>
<div class="row">
  <div class="form-group col-xs-6">
    <label for="edit-area">当天可配送时间距离：</label>
    <select class="form-control" id='todayStartHours'>
      <option value='2'>2小时</option>
      <option value='3'>3小时</option>
      <option value='4'>4小时</option>
      <option value='5'>5小时</option>
      <option value='6'>6小时</option>
    </select>
  </div>
</div>

<script>
  cityInfo = <{:json_encode($cityInfo)}>;

  $('#startTimeRand').val(<{$cityInfo.startTimeRand}>);
  $('#endTimeRand').val(<{$cityInfo.endTimeRand}>);
  $('#timeHoursRand').val(<{$cityInfo.timeHoursRand}>);
  $('#todayStartHours').val(<{$cityInfo.todayStartHours}>);

  if(cityInfo['todayEnable'] == '1'){
    $('#todayEnable').attr("checked", true);
  }else{
    $('#todayEnable').attr("checked", false);
  }

  $('#todayEnable').on('click',function(){
    if(cityInfo['todayEnable'] == '1')
      cityInfo['todayEnable'] = '0';
    else{
      cityInfo['todayEnable'] = '1';
    }
  })
</script>