<extend name="Public:new-base" />
<block name="title">
    <title>配送管理——微防伪</title>
</block>

<block name="css">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/brand.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style='width:50px;'>序号</th>
          <th>城市</th>
          <th>当日配送</th>
          <th>说明</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <volist name='cityList' id='item' key="k">
        <tr>
          <th scope="row"><{$k}></th>
          <td><{$item.city}></td>
          <td><eq name="item.todayEnable" value="1">支持<else/>不支持</eq></td>
          <td><{$item.info}></td>
          <td><button class="btn btn-default city-edit" id='edit-<{$item.id}>'>修改</button>
</td>
        </tr>
        </volist>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改城市信息</h4>
      </div>
      <div class="modal-body" id='city-edit-form'>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary save-edit-btn">保存</button>
      </div>
    </div>
  </div>
</div>
</block>

<block name="end-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $('#allocation').addClass("active");

      $('.city-edit').on('click', function(){
        var id_name = $(this).attr("id");
        var idArr = id_name.split('-');
        $('#city-edit-form').load('<{:U('cityEdit')}>',{id:idArr[1]} ,function(){
          $('#myModal').modal('show');
        })
      })

      var cityInfo = {};

      $('.save-edit-btn').on('click', function(){
        cityInfo['city'] = $('#edit-city').val();
        cityInfo['district'] = $('#edit-area').val();
        cityInfo['info'] = $('#edit-info').val();
        cityInfo['todayStartHours'] = $('#todayStartHours').val();
        cityInfo['timeHoursRand'] = $('#timeHoursRand').val();
        cityInfo['endTimeRand'] = $('#endTimeRand').val();
        cityInfo['startTimeRand'] = $('#startTimeRand').val();

        $.post('<{:U('editCityHandle')}>', cityInfo, function(data){
          if(data['Code'] == 0){
            alert('操作成功！');
            $('#myModal').modal('hide');
          }else{
            alert('操作失败！');
          }
        })
      })
    </script>
</block>