<extend name="Base:base-unify" />
<block name='title'>Alexander's 会员中心</block>
<block name="head">
<link rel="stylesheet" href="__CSS__/Mobile/user.css">
</block>
<block name="content">
     <div class='user-top'>            
          <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEI92aiaUW1iaple7mJzWdMoaGbURXAtosOCfiasAVEvx8UqSqHoUQAZzIDlUQ0rDkYU2y9qwSqmIdsXw/0" alt="" class='img-responsive center-block img-thumbnail' style='width: 10em;'>
          <h2 class="heading-md">Dark Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
</block>