<extend name="Public:base-unify" />
<block name='title'>企业试吃</block>
<block name='head'>
	<link rel="stylesheet" href="__CSS__/Company.css">
	 <link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name='slider'>
    <div class="interactive-slider-product">
        <div class="container">
        </div>
    </div>
</block>
<block name='breadcrumbs'>
    <!-- Breadcrumbs v5 -->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">企业试吃申请</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Alexander's</a></li>
                <li class="active">企业试吃</li>
            </ul>
        </div>
    </div>
</block>

<block name="content">
<div class="container eat-content">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>相关说明：</h2>
			<p>ALEXANDER'S雪糕企业试吃活动仅针对公司组织，不针对非公司组织的私人聚会。我们会从申请企业中挑选部分企业提供企业试吃服务，不保证提交申请的企业一定能享受ALEXANDER'S雪糕企业试吃活动。
			</p>
			<p>
				申报活动条件：
			</p>
			<p>
				1、贵公司从未参加过ALEXANDER'S举办的企业试吃活动；
			</p>
			<p>
				2、贵公司有12-40人参与；
			</p>
			<p>
				3、贵公司能提供茶水间、会议室或可供员工聚集的场地
			</p>
			<p>
				4、您本人需全程参与，并协助ALEXANDER'S做好相应的雪糕试吃活动。
			</p>
            <p>如发生以下情况品鉴会将临时取消：</p>
			<p>1、参加试吃人员未能按时到场或总人数少于12人。</p>
			<p>2、未能提供合适的试吃场地。</p>
			<p>3、因贵公司原因无法进行试吃活动。</p>
            <p>*ALEXANDER'S（亚历山达）会对申请试吃的企业进行筛选，如果您的申请通过，我们会在7个工作日内与您联系。</p>
		</div>
		<div class="col-sm-6 col-xs-12">
			<!-- Contacts -->
                <form action="<{:U('Company/result')}>" method="post" id="eat-form" class="sky-form" target= "_blank">
                    <header>请填写下列信息：</header>
                    
                    <fieldset>
                    	<section>
                            <label class="label">您的公司全称：</label>
                            <label class="input">
                                <i class="icon-append fa fa-tag"></i>
                                <input type="text" name="companyName" id="companyName">
                            </label>
                        </section> 
                        <label class="label">您的公司地址：</label> 
                        <div class="row">
                            <section class="col col-6">
                                <label class="select">
                                    <i class=""></i>
                                    <select name='companyCity' id='companyCity'>
                                        <option value="">城市</option>
                                        <option value="深圳">深圳</option>
                                        <option value="广州">广州</option>
                                    </select>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="select">
                                    <i class=""></i>
                                    <select name='companyArea' id='companyArea'>
                                        <option value="">区域</option>
                                    </select>
                                </label>
                            </section>
                        </div> 
                        <section> 
                            <label class="input">
                                <i class="icon-append fa fa-location-arrow"></i>
                                <input type="text" name="companyAddress" id="companyAddress">
                            </label>
                        </section> 
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">申请品尝的部门：</label>
                                <label class="input">
                                    <i class="icon-append fa fa-home"></i>
                                    <input type="text" name="companyDepartment" id="companyDepartment">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">活动参与人数：</label>
                                <label class="select">
                                    <i class=""></i>
                                    <select name='eatPeople' id='eatPeople'>
                                    	<option value="">请选择</option>
	                                    <option value="12-20人">12-20人</option>
	                                    <option value="21-30人">21-30人</option>
	                                    <option value="31-40人">31-40人</option>
	                                </select>
                                </label>
                            </section>
                        </div>  
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">品尝时间段：</label>
                                <label class="select">
                                    <i class=""></i>
                                    <select name='eatTimerand' id='eatTimerand'>
                                    	<option value="">请选择</option>
	                                    <option value="14:30 - 15:30">14:30 - 15:30</option>
	                                    <option value="15:30 - 16:30">15:30 - 16:30</option>
	                                </select>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">公司潜在需求：</label>
                                <label class="select">
                                    <i class=""></i>
                                    <select name='companyDemand' id='companyDemand'>
                                    	<option value="">请选择</option>
	                                    <option value="客户维护">客户维护</option>
	                                    <option value="员工福利">员工福利</option>
	                                    <option value="公司下午茶">公司下午茶</option>
	                                </select>
                                </label>
                            </section>
                        </div>             
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">您的姓名：</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="userName" id="userName">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">您的职位：</label>
                                <label class="input">
                                    <i class="icon-append fa  fa-calendar-o"></i>
                                    <input type="text" name="userPosition" id="userPosition">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">您的办公电话：</label>
                                <label class="input">
                                    <i class="icon-append fa fa-phone"></i>
                                    <input type="text" name="userTel" id="userTel">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">您的手机号码：</label>
                                <label class="input">
                                    <i class="icon-append fa fa-mobile"></i>
                                    <input type="text" name="userMobile" id="userMobile">
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="label">您的邮箱地址：</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" name="userEmail" id="userEmail">
                                </label>
                            </section>
                        </div>
                      
                        
                        <section>
                            <label class="label">留言：</label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" name="userMessage" id="userMessage"></textarea>
                            </label>
                        </section>
                    </fieldset>
                    
                    <footer>
                        <button type="submit" class="btn-u btn-u-dark pull-right">立即申请</button>
                    </footer>
                </form>         
                <!-- Contacts -->
		</div>
	</div>
</div>
</block>

<block name='body-bottom'>

	<script src="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets-unify/js/plugins/validation.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        Validation.initValidation();
	        });

        $('#companyCity').on('change', function(){
            $('#companyArea').empty();
            $("#companyArea").append('<option value="">请选择</option>');
            switch($(this).val()){
                case '深圳':
                    $("#companyArea").append('<option value="福田区">福田区</option>');
                    $("#companyArea").append('<option value="南山区">南山区</option>');
                    $("#companyArea").append('<option value="罗湖区">罗湖区</option>');
                    break;
                case '广州':
                    $("#companyArea").append('<option value="天河区">天河区</option>');
                    $("#companyArea").append('<option value="海珠区">海珠区</option>');
                    $("#companyArea").append('<option value="越秀区">越秀区</option>');
                    break;
            }
        })
	</script>
</block>