<extend name="Base:base" />

<block name="page">
  <include file="Base:header" />
  <div data-role="content">
    <div class=''>
      <div class="ui-grid-b">
        <foreach name="productInfo" item="vo" key="k" >
          <if condition="$k%3 eq 0"> 
            <div class="ui-block-a product-icon" style='padding:15px;'>
              <a href="<{:U("Product/item")}>?id=<{$vo.id}>" data-ajax='false' target="_self" rel="external"><img src="<{$vo.minImg}>" alt="" style='border-radius:10px;'></a>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:14px;"><{$vo.name}></p>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:12px;"><{$vo.enName}></p>
            </div>
          <elseif condition="$k%3 eq 1"/>
            <div class="ui-block-b product-icon" style='padding:15px;'>
              <a href="<{:U("Product/item")}>?id=<{$vo.id}>" data-ajax='false' target="_self" rel="external"><img src="<{$vo.minImg}>" alt="" style='border-radius:10px;'></a>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:14px;"><{$vo.name}></p>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:12px;"><{$vo.enName}></p>
            </div>
          <else />
            <div class="ui-block-c product-icon" style='padding:15px;'>
              <a href="<{:U("Product/item")}>?id=<{$vo.id}>" data-ajax='false' target="_self" rel="external"><img src="<{$vo.minImg}>" alt="" style='border-radius:10px;'></a>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:14px;"><{$vo.name}></p>
              <p style="text-align:center; margin-top:-3px; margin-bottom:-3px;font-size:12px;"><{$vo.enName}></p>
            </div>
          </if>
        </foreach>
      </div>
    </div>
  </div>
  <div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
    <div class="foot-nav">
      <div class="ui-grid-b">
        <div class="ui-block-a"><span><a href="<{:U('Index/index')}>" data-ajax='false' target="_self" rel="external"><img class='nav-icon' src="__PUBLIC__/images/back.png" alt=""></a></span></div>
        <div class="ui-block-b"></div>
        <div class="ui-block-c" style="text-align:right;"><a href="<{:U('Order/index')}>" id='payNow' data-role="button" data-ajax='false'>立即购买</a></div>
      </div>
    </div>
  </div>
</block>