<extend name="Base:base" />

<block name="page">
	<include file="Base:header" />
	<div data-role="content">
	  <h2 style='text-align:center;'><{$productInfo.name}></h2>
	  <div class="productInfo">
	  	<{$productInfo.info}>
	  </div>
	</div>
	<div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
	<div class="foot-nav">
	  <div class="ui-grid-b">
	    <div class="ui-block-a"><span><a href="" data-rel="back"><img class='nav-icon' src="__PUBLIC__/images/back.png" alt=""></a></span></div>
	    <div class="ui-block-b"></div>
	    <div class="ui-block-c" style="text-align:right;"><a href="#" id='buyNow' data-role="button" data-ajax='false'>快捷购买</a></div>
	  </div>
	</div>
	</div>
</block>
<block name="body-bottom">
	<script>
		var productInfo = {
		    count : 1,
		    discount : 0,
		    prices : <{$productInfo.price}>,
		    payPrice : <{$productInfo.price}>,
		    userId : <{$userId}>,
		    type : '<{$productInfo.type}>',
		    items : [{
		      id : <{$productInfo.id}>,
		      name : '<{$productInfo.name}>',
		      img : '<{$productInfo.minImg}>',
		      num : 1,
		      price : <{$productInfo.price}>,
		      discount : <{$productInfo.discount}>
		    }]
		  };

		$('#buyNow').on('click', function(){
			var url = "<{:U('Order/index')}>";
			if(productInfo.type == 'item'){
				productInfo['count'] = 8;
				productInfo['discount'] = productInfo['items'][0]['discount'];
				productInfo['prices'] *= 8;
				productInfo['payPrice'] = productInfo['prices'] -  productInfo['discount'];
				productInfo['items'][0]['num'] = 8;
			}

			if(productInfo.type == 'package'){
				url = "<{:U('Order/newOrder')}>";
			}

		      $.post("<{:U('Mobile/Order/saveOrderSession')}>" , productInfo , function(data){
		        window.location = url;
		      });
		})
	</script>
</block>