<extend name="Public:new-base" />
<block name="title">
    <title>产品管理——微防伪</title>
</block>

<block name="css">
	<!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/brand.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
</block>

<block name="js">
	<script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<div class="modal fade" id="company-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">选择企业</h4>
            </div>
            <div class="modal-body">
                <select class="form-control sort-responseType" id="brand-company-select">
                  <volist name="company" id="companyItem">
                    <option value="<{$companyItem.company_ecid}>"><{$companyItem.company_name}></option>
                  </volist>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="company-set-btn">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>



	<div class="bs-example bs-example-tabs">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">品牌管理</a></li>
      <li><a href="#profile" data-toggle="tab" id="tabprofile">产品管理</a></li>
      <li><a href="#tags" data-toggle="tab" id="tabtags">标签管理</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="home"></div>

    <div class="tab-pane fade" id="profile"></div>

    <div class="tab-pane fade" id="tags"></div>
  </div>
</div>
</block>

<block name="end-js">
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $('#product').addClass("active");

      $("#company-modal").modal('show');

      function checkKeywordLength(inputName){
        checkLength(inputName , 20);
      }

      $('#company-set-btn').on('click' , function(){
        $("#home").load("<{:U('brand')}>" , {
          "cId" : 'home' ,
          "ecid" : $('#brand-company-select').val()
        });

        $("#tabprofile").on('click' , function(){
          $("#profile").load("<{:U('product')}>" , {
            "cId" : 'profile' ,
            "ecid" : $('#brand-company-select').val()
          });
        });

        $("#tabtags").on('click' , function(){
          $("#tags").load("<{:U('tags')}>" , {
            "cId" : 'tags' ,
            "ecid" : $('#brand-company-select').val()
          });
        });

        $("#company-modal").modal('hide');
      });
    </script>
</block>