<script>
  var brandArr = "";
</script>
<div class="row">
  <div class="col-md-4" style="margin-top:20px;">
    <button type="button" class="btn btn-primary" id="addBrandBtn">添加品牌</button>
    <h3>品牌列表</h3>
    <div class="list-group" id="brand-list">
      <volist name="brand" id="brandItem" key="k">
        <if condition="$brandItem.name neq ''">
          <a class="list-group-item brandGroup" style="cursor:pointer;" id="<{$brandItem.id}>"><{$brandItem.name}></a>
        </if>
      </volist>
    </div>
    <div class='text-left' id="brand-page">
      <ul class="pagination"><{$page}></ul>
    </div>
  </div>

  <div class="col-md-8" style="margin-top:30px;" id="brand-right">
    <div class="panel panel-info" id="brand-main" style="display:none;">
      <div class="panel-heading">品牌管理添加</div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <p class='text-info'>品牌名称：</p>
          </div>
          <div class="col-md-10">
              <input type="text" class="form-control name" id="brand-name" placeholder="在此输入品牌名称">
          </div>
        </div>

        <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
          <div class="col-md-2">
              <p class='text-info'>加关键词：</p>
          </div>
          <div class="col-md-10">
              <div class="input-group">
                  <input type="text" class="form-control brand-input-Add" id="brand-keyword-name" placeholder="在此输入关键词，限于20个字符" onkeyup="checkKeywordLength('brand-keyword-name')" maxlength="20">
                  <span class="input-group-btn">
                        <button class="btn btn-default" id="brand-add" type="button">添加</button>
                  </span>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p class='text-info' style="margin-top: 5px;">已选关键词</p>
          </div>
          <div class="col-md-6">
            <div class="brandKeyList"></div>
          </div>
          <div class="col-md-4">
            <h5>品牌图片</h5>
            <img src="" class="img-thumbnail default-img">
            <input type="file" id="brand-img-input" multiple="true"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h5 class='text-info'>品牌介绍</h5>
          </div>
          <textarea style="height: 600px;padding-top:50px;" id="brand-info<{$rand}>"></textarea>
          <script type="text/javascript">
            var isLoadEnd = false;
            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
            var brandEdit = UE.getEditor('brand-info<{$rand}>',{onready:function(){//创建一个编辑器实例
                this.addListener('contentChange',function(){
                  brandArr['info'] = this.getContent();
                  if (isLoadEnd != false){
                     noChange = false;
                  }
                     isLoadEnd = true;
                });
            }});
          </script>
        </div>
      </div>

      <div class="panel-footer foot-right" >
        <button type="button" class="btn btn-info default-save" onclick="brandHandle('edit')">保存</button>
        <button type="button" class="btn btn-danger" onclick="brandHandle('delete')">删除</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var noChange = true;
      function showBrand(id){
        var arr = {
          "id" : id , 
          "ecid" : '<{$ecid}>'
        };

        $.post("<{:U('getBrandFromID')}>" , arr , function(data){
          brandArr = data;
          $("#brand-main").show();
          $(".default-img").attr('src', brandArr["bigImg"]+"?t=Math.random()");
          $('#brand-name').val(brandArr['name']);
          brandEdit.setContent(brandArr['info']);
          $(".brandKeyList").html("");
          $('#brand-keyword-name').val("");
          if(brandArr['keywordArr'][0] == ""){
            return;
          }

          for(var i = 0;i < brandArr['keywordArr'].length;i++){
            $('.brandKeyList').append("<div class='brand-tags' id='brand-Add-" +i+ "'>" +"<div class='keyword' >" +brandArr['keywordArr'][i]+"</div>" +"<div class='keyword-close'>"+"<span class='glyphicon glyphicon-remove pull-right close brand-close-Add' onclick=\"deleteKeyword(this)\"></span></div></div></div>");
          }
        });
      }

      $("#brand-name").on("keyup",function(){
        brandArr['name'] = G("brand-name").value.trim();
        noChange = false;
      });

      $("#brand-info").on("change",function(){
        brandArr['info'] = G("brand-info").value.trim();
        noChange = false;
      });

      /**
       * 绑定添加品牌按钮
       * 2014/4/4
       * 范小宝
       */
      $('#addBrandBtn').on('click' , function(){
        $('.brandGroup').removeClass('active');
        showBrand('add');
      });

      /**
       * 绑定添加品牌按钮
       * 2014/4/4
       * 范小宝
       */
      $('.brandGroup').on('click' , function(){
        $('.brandGroup').removeClass('active');
        showBrand($(this).attr('id'));
        $(this).addClass('active');
      });

      function brandHandle(handleType){
        if(noChange&&handleType=='edit'){
          $.scojs_message('未修改任意一项！', $.scojs_message.TYPE_ERROR);
          return;
        }
        if(brandArr["name"].trim() == ""){
          $.scojs_message('请输入品牌名', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(brandArr["keyword"].trim() == ""){
          $.scojs_message('请添加关键词', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(brandArr["bigImg"].trim() == ""){
          $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(brandArr['handleType'] != 'add'){
          brandArr['handleType'] = handleType;
        }

        if(brandArr["info"].trim() == ""){
          $.scojs_message('请输入品牌介绍', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(handleType == "delete"){
          if(!confirm("请确认是否删除")){
            return;
          }
        }
        
        $.post("<{:U('brandHandle')}>",brandArr,function(data){
          if(data["status"] == 0){
            $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
            $("#home")[0].innerHTML = "";
            $("#profile")[0].innerHTML = "";
            $("#home").load("<{:U('brand')}>" , {
              'cId' : '<{$cId}>' ,
              'ecid' : '<{$ecid}>'
            });
          }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
      }

      //绑定添加关键词按钮事件
    $('#brand-add').on('click', function(){
      var inputKeyword = G("brand-keyword-name").value.trim();
        noChange = false;
        //要剔除空输入及已存在的关键词
        if(inputKeyword.trim() != '' && $.inArray(inputKeyword, brandArr['keywordArr']) == -1){
        var index = brandArr['keywordArr'].length;

        brandArr['keyword'] += inputKeyword+",";
        brandArr['keywordArr'].push(inputKeyword);

        $('.brandKeyList').append("<div class='brand-tags ' id='brand-Add-" +index+ "'>"+"<div class='keyword' >" +inputKeyword+"</div>"+"<div class='keyword-close'>"+ "<span class='glyphicon glyphicon-remove pull-right close brand-close-Add' onclick=\"deleteKeyword(this)\"></span></div></div></div>");
        }

        $('.brand-input-Add').val("");

        $('.brand-input-Add').focus();
    });

    //绑定删除关键词按钮事件
    function deleteKeyword(obj){
      var arr1 = $(obj).parent();
      var arr2 = $(arr1).parent().attr('id').split("-");
        brandArr['keywordArr'].splice(arr2[2],1);
        brandArr['keyword'] = "";
        noChange = false;
        //重新设置关键词列表
        var htmlContent = "";
        for(i=0; i < brandArr['keywordArr'].length; i++ ){
          htmlContent += "<div class='brand-tags' id='brand-Add-" +i+ "'>"+"<div class='keyword' >"+brandArr['keywordArr'][i]+"</div>"+"<div class='keyword-close'>"+"<span class='glyphicon glyphicon-remove pull-right close brand-close-Add' onclick=\"deleteKeyword(this)\"></span></div></div></div>"

          brandArr['keyword'] += brandArr['keywordArr'][i]+",";
        }
        $('.brandKeyList').html(htmlContent);
    }

    $("#brand-page > ul > li > a").click(function()
    { 
      var _HREF = $(this).attr('href');       

       //加载页面
        $("#<{$cId}>").load(_HREF,
        {
            'cId' : '<{$cId}>' ,
            'ecid' : '<{$ecid}>'
        });                       
        return false;
    });

    $("#brand-img-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funComplete,
          onUploadStart :  readyUpload
      });

    //图片上传前事件
  function readyUpload(file){
    var old = brandArr['bigImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#brand-img-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
      var bigImgUrl = obj['imgUrl'];

      brandArr['bigImg'] = bigImgUrl;
      brandArr['minImg'] = bigImgUrl;

      $(".default-img").attr('src', bigImgUrl+"?t=Math.random()");
      noChange = false;
    }
  }
    </script>