<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">产品二维码</h4>
            </div>
            <div class="modal-body">
                <img src="" class="img-thumbnail" id='productQrImg' style='width:300px;'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4" style="margin-top:20px;">
    品牌：
    <select class="form-control sort-responseType" id="brand-select" onchange="showProductList()">
      <volist name="brand" id="item">
        <if condition="$item.name neq ''">
          <option value="<{$item.id}>"><{$item.name}></option>
        </if>
      </volist>
    </select>
    <button type="button" class="btn btn-primary addProduct" onclick="showProduct('','add')" style='margin-top:10px;display:none;'>添加产品</button>
    <h3>产品列表</h3>
    <div class="list-group" id="product-list"></div>
  </div>

  <div class="col-md-8" style="margin-top:30px;" id="product-right">
    <div class="panel panel-info" id="product-main" style="display:none;">
      <div class="panel-heading">产品管理添加</div>
      <button type="button" class="btn btn-info qrBtn" style="margin:10px 0px 0px 10px;">查看二维码</button>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id='bBuy' name='bBuy'> 上架
              </label>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>产品名称：</p>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control name" id="product-name" placeholder="在此输入产品名称">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>英文名称：</p>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control enName" id="product-enName" placeholder="在此输入英文名称">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>产品条码：</p>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control barcode" id="product-barcode" placeholder="在此输入产品条码">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>类型：</p>
            </div>
            <div class="col-md-10">
                <select class="form-control type" id='product-type'>
                  <option value=''>请选择</option>
                  <option value='item'>口味</option>
                  <option value='package'>预选组合</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>价格：</p>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control price" id="product-price" placeholder="在此输入产品价格">
            </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p class='text-info'>添加关键词</p>
          </div>
          <div class="col-md-10">
              <div class="input-group">
                  <input type="text" class="form-control product-input-Add" id="product-keyword-name" placeholder="在此输入关键词，限于20个字符"  maxlength="20">
                  <span class="input-group-btn">
                      <button class="btn btn-default" id="product-add" type="button">添加</button>
                  </span>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p class='text-info' style="margin-top: 10px;">已选关键词</p>
          </div>
          <div class="col-md-6">
            <div class="productKeyList"></div>
          </div>
          <div class="col-md-4">
            <h5>产品图片(方)</h5>
            <img src="" class="img-thumbnail default-img">
            <input type="file" id="product-img-input" multiple="true"/>
          </div>
        </div>

        <div class="row">
            <div class="col-md-2">
              <p class='text-info'>简介：</p>
            </div>
            <div class="col-md-10">
                <textarea class="form-control subInfo" id="product-subInfo" placeholder="在此输入简介" rows="3"></textarea>
            </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h5 class='text-info'>产品介绍</h5>
          </div>
          <textarea style="height: 600px;padding-top:50px;" id="product-info<{$rand}>"></textarea>
          <script type="text/javascript">
            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
            var productEdit = UE.getEditor('product-info<{$rand}>',
              {
                autoFloatEnabled : false,
                onready:function(){//创建一个编辑器实例
                this.addListener('contentChange',function(){
                  productArr['info'] = this.getContent();
                  noChange = false;
                });
            }});
          </script>
        </div>
      </div>

      <div class="panel-footer foot-right">
        <button type="button" class="btn btn-info default-save" onclick="productHandle('edit')">保存</button>
        <button type="button" class="btn btn-danger" onclick="productHandle('delete')">删除</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var productArr = "";
var tagsArr = <{:json_encode($tags)}>;
var noChange = true;
showProductList();
      //显示产品列表
      function showProductList(){
        var brandId = G("brand-select").value;

        if(brandId == ""){
          return;
        }

        var arr = {
          "id" : brandId
        };

        $.post("<{:U('getProductFromBrandID')}>" , arr , function(data){
          $(".addProduct").show();
          $("#product-main").hide();
          G("product-list").innerHTML = "";
          htmlText = "";
          
          for(var i = 0;i < data.length;i++){ 
             htmlText += "<a class='list-group-item productItem' style='cursor:pointer;' onclick=\"showProduct(this , "+data[i]['id']+")\">"+data[i]['name']+"</a>";
          }
          G("product-list").innerHTML = htmlText;
             });
      }

      //显示产品信息
      function showProduct(obj , id){
        $('.productItem').removeClass('active');
        if(obj){
          $(obj).addClass('active');
        }

        var arr = {
          "id" : id , 
          "ecid" : <{$ecid}>
        }

        $.post("<{:U('getProductFromID')}>" , arr , function(data){
          productArr = data;
          if(id == "add"){
            productArr['brandId'] = G("brand-select").value.trim();
          }
          $('#product-keyword-name').val("");
          $("#product-main").show();
          $(".default-img").attr('src', productArr["bigImg"]+"?t=Math.random()");
          $('#product-name').val(productArr['name']);
          $('#product-enName').val(productArr['enName']);
          $('#product-barcode').val(productArr['barcode']);
          $('#product-price').val(productArr['price']);
          $('#product-type').val(productArr['type']);
          $('#product-subInfo').val(productArr['subInfo']);
          productEdit.setContent(productArr['info']);
          $(".productKeyList").html("");

          if(productArr['enable'] == 1){
            $('#bBuy').attr("checked", true);
          }else{
            $('#bBuy').attr("checked", false);
          }

          if(productArr['keywordArr'][0] == ""){
            return;
          }

          for(var i = 0;i < productArr['keywordArr'].length;i++){
            $('.productKeyList').append("<div class='tags' id='product-Add-" +i+ "'>" +productArr['keywordArr'][i]+ "<span class='glyphicon glyphicon-remove pull-right close product-close-Add' onclick=\"deleteKeyword(this)\"></span></div>");
          }

          for(var i = 0;i < productArr['tagsArr'].length;i++){
            $('.productTagsList').append("<div class='tags' id='tags-Add-" +i+ "'>" +productArr['tagsArr'][i]+ "<span class='glyphicon glyphicon-remove pull-right close tags-close-Add' onclick=\"deleteTags(this)\"></span></div>");
          }
        });
      }

      $('#bBuy').on('click',function(){
        if(productArr['enable'] == 1)
          productArr['enable'] = 0;
        else
          productArr['enable'] = 1;

        noChange = false;
      })

      $("#product-name").on("keyup",function(){
        productArr['name'] = G("product-name").value.trim();
        noChange = false;
      });

      $("#product-enName").on("keyup",function(){
        productArr['enName'] = G("product-enName").value.trim();
        noChange = false;
      });

      $("#product-price").on("keyup",function(){
        productArr['price'] = G("product-price").value.trim();
        noChange = false;
      });

      $("#product-barcode").on("keyup",function(){
        productArr['barcode'] = G("product-barcode").value.trim();
        noChange = false;
      });

      $('#product-type').on('change', function(){
        productArr['type'] = $(this).val();
        noChange = false;
      })

      $('#product-subInfo').on('change', function(){
        productArr['subInfo'] = $(this).val();
      })

      /**
       * 绑定添加二维码按钮事件
       * @author:范小宝
       */
      $('.qrBtn').on('click' , function(){
        showProductQr();
      });

      function showProductQr(){
        var arr = {
          "ecid" :   "<{$ecid}>" ,
          "id"   :   productArr['id']
        };

        $.post("<{:U('getProductQr')}>" , arr , function(data){
          if(data['status'] == 0){
            $('#qrModal').modal('show');
            $("#productQrImg").attr("src" , data['info']);
          }else{
            if(confirm("是否确认生成产品二维码")){
              createQr();
            }
          }
        });
      }

      function createQr(){
        var arr = {
          "ecid" :   "<{$ecid}>" ,
          "id"   :   productArr['id']
        };

        $.post("<{:U('createProductQr')}>" , arr , function(data){
          if(data['status'] == 0){
            showProductQr();
          }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
      }

      function productHandle(handleType){
        if(handleType == 'edit'){
          if(noChange){
            $.scojs_message('未修改任意一项！', $.scojs_message.TYPE_ERROR);
            return false;
          }
        }
        if(productArr["name"].trim() == ""){
          $.scojs_message('请输入产品名', $.scojs_message.TYPE_ERROR);
          return;
        }
        
        if(productArr["keyword"].trim() == ""){
          $.scojs_message('请添加关键词', $.scojs_message.TYPE_ERROR);
          return;
        }
        
        
        if(productArr["info"].trim() == ""){
          $.scojs_message('请输入产品介绍', $.scojs_message.TYPE_ERROR);
          return;
        }
        
        
        if(productArr["bigImg"] == ""){
          $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
          return;
        }
        

        if(productArr['handleType'] != 'add'){
          productArr['handleType'] = handleType;
        }

        if(handleType == "delete"){
          if(!confirm("请确认是否删除")){
            return;
          }
        }

        $.post("<{:U('productHandle')}>",productArr,function(data){
          if(data["status"] == 0){
            $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
            $("#profile")[0].innerHTML = "";
            $("#profile").load("<{:U('product')}>" , {
              "cId" : 'profile' ,
              'ecid' : '<{$ecid}>'
            } , function(){
              $('#brand-select').val(data['info']);
              showProductList();
            });
          }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
      }

      //绑定添加关键词按钮事件
    $('#product-add').on('click', function(){
      var inputKeyword = G("product-keyword-name").value.trim();
      noChange = false;
        //要剔除空输入及已存在的关键词
        if(inputKeyword.trim() != '' && $.inArray(inputKeyword, productArr['keywordArr']) == -1){
        var index = productArr['keywordArr'].length;

        productArr['keyword'] += inputKeyword+",";
        productArr['keywordArr'].push(inputKeyword);
        
        $('.productKeyList').append("<div class='tags' id='product-Add-" +index+ "'>" +"<div class='keyword' >"+inputKeyword+"</div>"+"<div class='keyword-close'>"+ "<span class='glyphicon glyphicon-remove pull-right close product-close-Add' onclick=\"deleteKeyword(this)\"></span></div></div></div>");
        }

        $('.product-input-Add').val("");

        $('.product-input-Add').focus();
    });

    //绑定删除关键词按钮事件
    function deleteKeyword(keyword){
      var arr1 = $(keyword).parent().attr('id').split("-");
      noChange = false;
        productArr['keywordArr'].splice(arr1[2],1);
        productArr['keyword'] = "";

        //重新设置关键词列表
        var htmlContent = "";
        for(i=0; i < productArr['keywordArr'].length; i++ ){
          htmlContent += "<div class='tags' id='product-Add-" +i+ "'>" +"<div class='keyword' >"+productArr['keywordArr'][i]+"</div>"+"<div class='keyword-close'>"+ "<span class='glyphicon glyphicon-remove pull-right close product-close-Add' onclick=\"deleteKeyword(this)\"></span></div></div></div>"

          productArr['keyword'] += productArr['keywordArr'][i]+",";
        }
        $('.productKeyList').html(htmlContent);
    }

    $("#product-img-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funComplete,
          onUploadStart :  readyUpload
      });

    //图片上传前事件
  function readyUpload(file){
    var old = productArr['bigImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
         $("#product-img-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
      var bigImgUrl = obj['imgUrl'];
      var minImgUrl = obj['imgUrl'];

      productArr['bigImg'] = bigImgUrl;
      productArr['minImg'] = minImgUrl;

      $(".default-img").attr('src', bigImgUrl+"?t=Math.random()");
      noChange = false;
    }
  }
    </script>