<extend name="Public:Base" />
<block name="title">
    <title>微防伪</title>
</block>

<block name="css">
    <link href="__CSS__/Admin-Lucky.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
        <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
        <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
        <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
</block>

<block name="class-title">
    <div id="class-title">防伪管理</div>
</block>

<block name="left">
    <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Fw/">基本信息</a></li>
                        <li><a href="__MODULE__/Fw/Lucky">抽奖设置</a></li>
                        <li><a href="__MODULE__/Fw/Exchange/">防伪码兑奖</a></li>
                    </ul>
                </div>
</block>

<block name="right">
    <div id="lucky-menu">
                    <form action="<{:U(addLucky)}>" method="post" enctype="multipart/form-data">
                    <table id="add-table" width="720" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td width="18%" align="right">项目名称：</td>
                          <td><input type="text" name="lucky_Name" maxlength="20"/></td>
                        </tr>
                        <tr>
                          <td align="right">开始时间：</td>
                          <td><input type="text" name="startTime" class="Wdate" onClick="WdatePicker()"/></td>
                        </tr>
                        <tr>
                          <td align="right">结束时间：</td>
                          <td><input type="text" name="endTime" class="Wdate" onClick="WdatePicker()"/></td>
                        </tr>
                        <tr>
                          <td width="18%" align="right">抽奖产品：</td>
                          <td><input type="text" name="bindProduct" maxlength="20"/></td>
                        </tr>
                        <tr>
                            <td align="right">图片：</td>
                            <td><input type="file" id="imgLoad"/><img id="lucky-img" width="300"/><input type="hidden" name="img" id="img"/>
                                <script>
                                        $("#imgLoad").uploadify({
                                                    height        : 25,
                                                    swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                                    uploader: '__MODULE__/Public/file/dir/Fw',
                                                    width         : 80,
                                                    buttonText    : '上传图片',
                                                    queueID       : 'fileQueue',
                                                    fileExt       : '*.jpg;*.gif,*.png', 
                                                    fileDesc      : 'Web Image Files(.JPG,.GIF,.PNG)', 
                                                    sizeLimit     : '2048000',     
                                                    fileDataName  : 'uploadify',
                                                    method        : 'post',
                                                    formData      : {
                                                        timestamp : '<{$timestamp}>',
                                                        token     : '<{$token}>'
                                                    },
                                                    uploadReplace : true,
                                                    onUploadSuccess    : funComplete  
                                                });
                                     //图片上传发生的事件
                                    function funComplete(file, data, response) {
                                        var obj = eval ("(" + data + ")");
                                        document.getElementById("lucky-img").src = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        document.getElementById("img").value = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                    }
                                </script></td>
                            
                        </tr>
                        <tr>
                          <td align="right">奖品数量：</td>
                          <td><input type="text" name="prize_Num"/></td>
                        </tr>
                        <tr>
                          <td align="right">中奖提示：</td>
                          <td><input type="text" name="lucky_Message"/></td>
                        </tr>
                        <tr>
                          <td align="right">未中奖提示：</td>
                          <td><input type="text" name="unlucky_Message"/></td>
                        </tr>
                        <tr>
                          <td align="right">预设中奖号码：</td>
                          <td><input type="file" id="luckyNumLoad"/><input type="hidden" name="lucky_Num" id="lucky_Num" />
                                <script>
                                        $("#luckyNumLoad").uploadify({
                                            height: 25,
                                            swf: '__PUBLIC__/uploadify/uploadify.swf',
                                            uploader: '__MODULE__/Public/file/dir/Fw',
                                            width: 100,
                                            buttonText: '上传TXT文件',
                                            queueID: 'fileQueue',
                                            fileExt: '*.txt',
                                            fileDesc: 'Web Image Files(.TXT)',
                                            sizeLimit: '2048000',
                                            fileDataName: 'uploadify',
                                            method: 'post',
                                            formData      : {
                                                        timestamp : '<{$timestamp}>',
                                                        token     : '<{$token}>'
                                                    },
                                            uploadReplace: true,
                                            onUploadSuccess: funComplete
                                        });
                                         //图片上传发生的事件

                                        function funComplete(file, data, response) {
                                            var obj = eval("(" + data + ")");
                                            document.getElementById("lucky_Num").value = "__PUBLIC__/Uploads/Fw/" + obj[0]['savename'];
                                        }
                                </script><font style="float:left;">（TXT内容格式为“防伪码,奖品名称”，如：12345678901234567890,奖品）</font>
                          </td>
                        </tr>
                        <tr>
                          <td align="right" vlign="top">项目介绍：</td>
                          <td>
                              <textarea name="textContent" id="textContent" style="height: 400px;width:580px;"></textarea>
                        <script type="text/javascript">
                            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                            UE.getEditor('textContent', {
                                onready: function() { //创建一个编辑器实例
                                }
                            });
                        </script></td>
                        </tr>
                      </table>
                        <input type="submit" value="确定" style="margin-left:226px;margin-top:20px;margin-bottom:20px;width:50px;height:30px;cursor: pointer;"/>
                    </form>
                </div>
</block>