<form role="form" class='well additem' id='add-theme-from'>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="name-Theme">主题名：</label>
              <input type="text" class="form-control" id="name-Theme" placeholder="在此输入主题名" value="">
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="webtype">网站类型：</label>
        <select class="form-control" id="webType" >
            <option value='web'>web</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <lable for="lib-name">目录名：</lable>
        <input type="text" class="form-control" placeholder="在此输入目录名" id="lib-name">
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6">
    <h5>展示图片</h5>
    <img src="" class="img-thumbnail default-img" id="showImg">
    <label for="exampleInputFile"></label>
    <input type="file" id="msg-img-input" multiple="true"/>
  </div>
</div>
  <div class="row">
    
    <div class="col-md-12">
      <p class="text-right">
        <button type="button" class="btn btn-primary" id='confirm-btn'>添加</button>
        <button type="button" class="btn btn-default" id="cancle-btn">取消</button>
      </p>
    </div>
  </div>
<if condition="$admin">
<script type="text/javascript">
  
  var themeAdd = {
    'id':"",
    'name' : "",
    'type' : "",
    'value' : "",
    'themeImg':""
  };
 var $nameTheme = $('#name-Theme');
 var $libname = $('#lib-name');
  //点击添加主题事件写入数据库中
  $('#confirm-btn').on('click', function(){
    //判断输入数据的合法性
    if(!validInputTheme())
      return;
    else{
      themeAdd['name'] = $nameTheme.val().trim();
      themeAdd['value'] = $libname.val().trim();
      $.post("<{:U('addThemeHandle')}>",themeAdd,function(data){
        if(data['status'] == 0){
          $.scojs_message('添加成功', $.scojs_message.TYPE_OK);
          $('#theme-items').load('__MODULE__/Fw/Themeitem');
          $('#add-theme-from').remove();
        }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      })
    }
  })
  //点击取消按钮事件
  $('#cancle-btn').on('click', function(){
    $('#add-theme-from').remove();
  })
 

  function validInputTheme(){
    var inputThemename=$("#name-Theme").val().trim();
    var inputThemevalue=$("#lib-name").val().trim();
    if( inputThemename===''){
      $.scojs_message('请输入主题名', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(inputThemevalue ===''){
      $.scojs_message('请添加目录名', $.scojs_message.TYPE_ERROR);
      return false;
    }
     return true;
  }

  $("#msg-img-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : ThemefunComplete,
          onUploadStart :  readyUpload
      });
  function readyUpload(file){
      var old = themeAdd['themeImg'];
      if(old){
          var params = {
              timestamp : '<{$timestamp}>',
              token     : '<{$token}>',
              oldFile   : old
          }
          $("#msg-img-input").uploadify("settings", "formData", params);
      }
  }
  //图片上传发生的事件
  function ThemefunComplete(file, data, response) {
    var obj = eval ("(" + data + ")");
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $("#showImg").attr('src', imgUrl);
      themeAdd['themeImg'] = imgUrl;
      
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
    }
    
    
  }
</script>
</if>
</form>