<script>
  var fwResult<{$rand}> = <{:json_encode($defaultArr)}>;
  var type<{$rand}> = 'right';
  var handleType<{$rand}> = "<{$handleType}>";
</script>
<div id="fwReply<{$rand}>">
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-default right-btn active" role="button">正确</a>
      <a class="btn btn-default repert-btn" role="button">重复</a>
      <if condition="$defaultArr['type'] eq 'default'">
        <a class="btn btn-default error-btn" role="button">错误</a>
      </if>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5>回复信息</h5>
        <div class="form-control default-msg" style="height:168px;overflow:auto;"><{$defaultArr['rightReply']}></div>
      </div>
      <div class="col-md-4">
        <h5>展示图片</h5>
        <img src="<{$defaultArr['rightImg']}>
        " class="img-thumbnail default-img">
      </div>
    </div>
  </div>

  <div class="panel-footer text-right">
    <button type="button" class="btn btn-info review-pass">通过</button>
    <button type="button" class="btn btn-info review-dontpass">不通过</button>
  </div>
</div>
<script>
changeMsgBtn('right' , "#fwReply<{$rand}>");

//绑定回复类型按钮
  $("#fwReply<{$rand}>").on('click', '.right-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'right';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');
    changeMsgBtn('right', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').text(fwResult<{$rand}>['rightReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['rightImg']);
  });

  $("#fwReply<{$rand}>").on('click', '.repert-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'repert';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');

    changeMsgBtn('repert', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').text(fwResult<{$rand}>['repertReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['repertImg']);
  });


  $("#fwReply<{$rand}>").on('click', '.error-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'error';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');

    changeMsgBtn('error', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').text(fwResult<{$rand}>['errorReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['errorImg']);
  });

//绑定审核按钮事件
  _G("#fwReply<{$rand}>" , '.review-pass').on('click', function(){
    if(confirm("请确认是否通过")){
      reviewFwReply(fwResult<{$rand}> , 1 , <{$index}>);
    }
  })

  _G("#fwReply<{$rand}>" , '.review-dontpass').on('click', function(){
    if(confirm("是否确定不通过")){
      reviewFwReply(fwResult<{$rand}> , -1 , <{$index}>);
    }
  })
</script>