<extend name="Public:new-base" />
<block name="title">
    <title>标签管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
</block>

<block name="right">
<script type="text/javascript">
    var labelArr = <{:json_encode($label)}>;
</script>
<button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>/tab/label')">返回列表</button>
<div class="panel panel-default" style="margin-top:20px;">
  <div class="panel-heading">
      <h3 class="panel-title">防伪标签信息</h3>
  </div>

  <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
            <if condition="$admin">
                <div class="form-group">
                    <label for="inputActivityName" class="col-sm-2 control-label">厂商：</label>
                    <div class="col-sm-9">
                        <select id="label-ecid-select" class="form-control">
                            <volist name="company" id="item">
                                <option value="<{$item.company_ecid}>"><{$item.company_name}></option>
                            </volist>
                        </select>
                    </div>
                </div>
            </if>

            <div class="form-group">
                <label for="inputActivityName" class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"  id="label-name-input" placeholder="请输入标签名称，至多显示9个汉字或22个字母。" value="<{$label.name}>" maxlength="22">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">大图：</label>
                <div class="col-sm-9">
                    <input type='file' id='label-bigImg-input' class="form-control" multiple="true"/>
                    <img src="<{$label.image}>" class="img-thumbnail" id='label-img'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">介绍：</label>
                <div class="col-sm-9">
                  <textarea id='inputLabelInfo<{$rand}>' style="height: 400px;"><{$label.info}></textarea>
                  <script type="text/javascript">
                    window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                    var infoEditor = UE.getEditor('inputLabelInfo<{$rand}>',{onready:function(){//创建一个编辑器实例
                        this.addListener('contentChange',function(){
                          labelArr['info'] = this.getContent();
                        });
                    }});
                  </script>
                </div>
            </div>

            <if condition="$_GET['id'] neq 'add'">
              <div class="form-group">
                  <label class="col-sm-2 control-label">二维码：</label>
                  <div class="col-sm-9">
                    <img src="<{$label.QrUrl}>" class="img-thumbnail" style='width:300px;'/>
                  </div>
              </div>

              <if condition="$admin">
                <div class="form-group">
                    <label class="col-sm-2 control-label">管理员二维码：</label>
                    <div class="col-sm-9">
                        <img src="<{$label.adminQrUrl}>" class="img-thumbnail" style='width:300px;'/>
                    </div>
                </div>
              </if>
            </if>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-9">
                  <button type="button" class="btn btn-primary" onclick="labelHandle(0 , 'edit')">确认</button>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>
</block>

<block name="end-js">
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/Public.js"></script>
<script type="text/javascript">
$('#fw').addClass("active");

$('#label-ecid-select').val('<{$label.ecid}>');

    $("#label-bigImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '上传图片',
          method        : 'post',
          onUploadSuccess    : funComplete,
          onUploadStart :  readyUpload
      });


    function readyUpload(file){
      var old = getFileName(labelArr['image']);
      if(old){
          var params = {
              timestamp : '<{$timestamp}>',
              token     : '<{$token}>',
              oldFile   : old
          }
          $("#label-bigImg-input").uploadify("settings", "formData", params);
      }
    }

    //图片上传发生的事件
    function funComplete(file, data, response) {
        var obj = eval ("(" + data + ")");

        if(obj['code'] != 0){
          $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
          return;
        }else{
          $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

          var bigImgUrl = obj['imgUrl'];

          labelArr['image'] = bigImgUrl;
          $("#label-img").show();
          $("#label-img").attr('src', bigImgUrl+"?t=Math.random()");
        }
    }

    $('#label-ecid-select').on('change' , function(){
      labelArr['ecid'] = $('#label-ecid-select').val();
    });

    function labelHandle(id , handleType){
      $labelname=$('#label-name-input').val().trim();

      if(labelArr['ecid'] == '' || labelArr['ecid'] == null){
        $.scojs_message("请选择厂商！", $.scojs_message.TYPE_ERROR);
        return;
      }
      if($labelname==''){
          $.scojs_message("请输入标签名称！", $.scojs_message.TYPE_ERROR);
        }
      else{
        
        if(labelArr['image']==''){
            $.scojs_message("请上传图片！", $.scojs_message.TYPE_ERROR);
        }else{
          labelArr['name'] = $labelname;
          labelArr['info'] = infoEditor.getContent();

          $.post("<{:U('labelHandle')}>" , labelArr , function(data){
              if(data['status'] == 0){
                window.location.href = "<{:U('index')}>/tab/label";
              }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
              }
          });
        }
      }
    }

    $('#label-modal').on('hidden.bs.modal', function (e) {
      $('#labelInfo').html('');
    });
</script>
</block>