<if condition="$admin">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2">
            <button class="btn btn-info" id="addLabel-btn">添加防伪标签</button>
        </div>
        <div class="col-md-10">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="prizeType" class="col-sm-4 control-label">选择企业：</label>
                <div class="col-sm-8">
                  <select class="form-control" id="label-select">
                    <option value="">全部</option>
                    <volist name='company' id='companyItem'>
                      <option value='<{$companyItem.company_ecid}>'><{$companyItem.company_name}></option>
                    </volist>
                  </select>
                </div>
              </div>
            </div>
        </div>
    </div>
</if>
<div id="labelInfo"></div>
<div id="main" class="well" style="margin-top:20px;">
    <div class="row">
        <volist name="label" id="item">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img title="<{$item.name}>" data-src="holder.js/300x167" src="<{$item.image}>" style="width:300px;height:167px;">
                    <div class="caption">
                        <h3 title="<{$item.name}>" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><{$item.name}></h3>
                        <p><a href="<{:U('labelInfo')}>/id/<{$item.id}>" class="btn btn-primary" role="button">编辑</a></p>
                    </div>
                </div>
            </div>
            
        </volist>
    </div>
    <div id="label-page" class='text-center'>
        <ul class="pagination"><{$page}></ul>
    </div>
</div>

    <script type="text/javascript">

        $('.labelpopover').children().on("mouseover",function(){
            stopBubble($('.labelpopover'));
        });

        $('#label-select').val("<{$ecid}>");

        $('#addLabel-btn').on('click' , function(){
            window.location.href = "<{:U('labelInfo')}>/id/add";
        });

        $('#label-select').on('change' , function(){
            $('#label').load("<{:U('label')}>" , {"ecid":$(this).val()});
        });

        $("#label-page > ul > li > a").click(function()
        {
          var _HREF = $(this).attr('href');       

           //加载页面
            $("#label").load(_HREF,
            {
                'ecid' : '<{$ecid}>'
            });                       
            return false;
        });
    </script>