<extend name="Public:Base" />
<block name="title">
    <title>微防伪</title>
</block>

<block name="css">
    <link href="__CSS__/Admin-Lucky.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
        <script type="text/javascript">
            function editHandle(id , index){
                if(index == "0"){
                    type = "启用";
                }else{
                    type = "停用";
                }
                if(confirm("是否确认"+type+"此抽奖项目")){
                    data = [{"checked" : index}];
                    $.post("<{:U('editLucky')}>/id/"+id, data[0] ,function(data){
                        if(data){
                            alert("修改成功");
                            window.location.reload();
                        }else{
                            alert("修改失败");
                        }
                    });
                }
            }
        </script>
</block>

<block name="class-title">
    <div id="class-title">防伪管理</div>
</block>

<block name="left">
     <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Fw/">基本信息</a></li>
                        <li><a href="__MODULE__/Fw/Lucky">抽奖设置</a></li>
                        <li><a href="__MODULE__/Fw/Exchange/">防伪码兑奖</a></li>
                    </ul>
                </div>
</block>

<block name="right">
     <div id="lucky-menu">
                    <a href="<{:U(Add)}>"><button style="cursor:pointer;">添加</button></a>
                    <table id="lucky-table" width="720" cellpadding="0" cellspacing="0" border="0">
                        <tr align="center">
                            <td width="30%" style="text-align:left;">项目名称</td>
                            <td width="15%">开始时间</td>
                            <td width="15%">结束时间</td>
                            <td width="20%">抽奖产品</td>
                            <td width="10%">奖品数量</td>
                            <td width="10%">操作</td>
                        </tr>
                        <volist name="data" id="luckyItem">
                            <tr align="center">
                                <td style="text-align:left;"><{$luckyItem["lucky_Name"]}></td>
                                <td><{$luckyItem["startTime"]}></td>
                                <td><{$luckyItem["endTime"]}></td>
                                <td><{$luckyItem["bindProduct"]}></td>
                                <td><{$luckyItem["prize_Num"]}></td>
                                <td><a href="<{:U('Edit?id='.$luckyItem['id'])}>" style="margin-right:10px;">查看</a></td>
                            </tr>
                        </volist>
                    </table>
                </div>
                <div id="page">
                    <ul class="pagination"><{$page}></ul>
                </div>

</block>