<div id="themeitem-list">
    <volist name='themeItem' id='themeitem'>
        <div class="panel panel-default" id='panel-<{$themeitem.id}>'>
            <div class="panel-heading item-heading" id='item-<{$themeitem.id}>' style="cursor:pointer;">主题名<{$i}>：<{$themeitem.name}><span class="pull-right">展开</span></div>
            <div class="panel-body" id='content-<{$themeitem.id}>'>
                <p>
                    <p>目录名：<{$themeitem.value}></p>
                </p>
                <p style="clear:both;">
                    <strong>网站类型：<{$themeitem.type}></strong>
                    <button class="btn btn-danger pull-right del-item-btn" id="del-<{$themeitem.id}>">删除主题</button>
                </p>
            </div>
        </div>
        <script type="text/javascript">
        //设置本规则为关闭状态
        itemControl['item-<{$themeitem.id}>'] = 0;
        </script>
    </volist>
</div>
<div class='well text-right' id="page">
<ul class="pagination"><{$page}></ul>
</div>
<if condition="$admin">
<script type="text/javascript">
$("#page > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href');       

       //加载页面
        $("#theme-items").load(_HREF,
        {
        });                       
        return false;
    });
    $('#themeitem-list').on('click', '.del-item-btn', function(){
        if(confirm('是否确认删除主题?')){
            var btnId = $(this).attr("id");
            var id = btnId.split('-')[1];

            $.post(
                "<{:U('delThemeHandle')}>",
                {
                    'id' : id
                },
                function(data, textStatus){
                    if(data['status'] === 0){
                        
                        $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);

                        $('#theme-items').load('__MODULE__/Fw/Themeitem');
                    }
                    else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                }
            );
        }
    });

    //设置所有规则标题的点击事件
    $(".item-heading").on("click", function(){
        var arrItem = $(this).attr('id').split("-");

        switch(itemControl[$(this).attr('id')]){
        case 0://当前状态为0表示要加载展开状态
            editItem(arrItem[1], $(this).attr('id'));
            break;
        case 1://当前状态为1表示要加载关闭状态
            viewItem(arrItem[1], $(this).attr('id'));
            break;
        }
    });
</script>
</if>