<div class='user-top'>            
  <img src="<{$userInfo.headimgurl}>" alt="" class='img-responsive center-block img-thumbnail' style='width: 10em;'>
  <h2 class="heading-md"><{$userInfo.nickname}></h2>
</div>