<ul data-role="listview" data-inset="true" id="editAddressList">
  <li data-role="list-divider">配送到哪？</li>
  <li data-icon="false">
  <label for="area">配送区域：</label>
           <select name="area" id="area">
                <option value="mon">罗湖</option>
                <option value="tue">福田</option>
                <option value="wed">南山</option>
                <option value="wed">宝安</option>
           </select>

           <label for="address">具体地址：</label>
           <textarea name="address" id="address"></textarea>

           <label for="user">联系人：</label>
           <input type="text" name="user" id="user">

           <label for="tel">手机：</label>
           <input type="text" name="tel" id="tel">
           </li>
           </ul>