<extend name="Base:base" />

<block name="page">

 <div data-role="header" data-position="fixed" data-tap-toggle="false">
  <h1>确认订单</h1>
     </div>
     <div data-role="content" id="main-content">
     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">订单详情：</li>
          <li data-icon="false">
               <a href="#">
                    <img src="http://imgcdn.weijuju.com/63298/40f4b596-1f8b-401c-8ede-d56b72cf197a.jpg">
                    <h2>Alexander's雪糕</h2>
                    <p>¥<{$orderInfo.price}>.00</p>
               </a>
          </li>
          <volist name="orderInfo['goods']" id="item" key="k">
               <li data-icon="false"><a href="#"><{$item.name}><span class="ui-li-count"><{$item.num}></span></a></li>
          </volist>
     </ul>
     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">配送地址：</li>
          <li data-icon="false">
               <label for="user">姓名：<span><{$orderInfo.address.name}></span></label>

                <label for="tel">手机：<span><{$orderInfo.address.tel}></span></label>

                <label for="address">地址：<p><{$orderInfo.address.address}></p></label>
          </li>
     </ul>

     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">配送时间：</li>
          <li data-icon="false">
               <label for="user">日期：<span><{$orderInfo.sendDay}></span></label>

                <label for="tel">时间：<span><{$orderInfo.sendTime}></span></label>
          </li>
     </ul>

     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">使用优惠：</li>
          <li data-icon="false">
            <select name="payCard" id="payCard">
                  <option value="">无</option>
                  <volist name='card' id='item'>
                  <option value="<{$item.id}>-<{$item.credit}>"><{$item.name}></option>
                  </volist>
             </select>
           </li>
     </ul>

     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">待支付总额：</li>
          <li data-icon="false">
            <label for="payPrice">¥<span id="payPrice"><{$orderInfo.payPrice}></span>.00</label>
          </li>
     </ul>

     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">支付方式：</li>
          <li data-icon="false">
          <select name="area" id="payType">
                <option value="wechatpay">微信支付</option>
                <option value="nopay">货到付款</option>
           </select>
           </li>
     </ul>

     <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">留言Alexander's：</li>
          <li data-icon="false">
               <textarea name="addinfo" id="info"></textarea>
          </li>
     </ul>

     </div>

     <div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
          <div data-role="navbar">
               <ul>
                    <li><a id='wechatPay' href="#" target="_self" rel="external" data-icon="home" date-iconpos="top">提交订单</a></li>
               </ul>
          </div>
     </div>

     <script>
     $('#wechatPay').on('click', function(){
          $.post("<{:U('Order/comformOrderHandle')}>" , orderInfo , function(data){
              if(orderInfo['payType'] == 'wechatpay'){
                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                    }
                }else{
                    jsApiCall();
                }
              }

              if(orderInfo['payType'] == 'nopay'){
                window.location.href = '<{:U('Order/finishOrder')}>?orderId='+orderInfo['id'];
              }
          });
     })

     var orderInfo = <{:json_encode($orderInfo)}>;

     orderInfo['payType'] = 'wechatpay';

     $('#payType').on('change', function(){
          orderInfo['payType'] = $(this).val();
     })

     $('#info').on('change', function(){
          orderInfo['Message'] = $(this).val();
     })

     $('#payCard').on('change', function(){
        if($(this).val() != ''){
          var cardInfo = $(this).val().split("-");
          orderInfo['payCardId'] = cardInfo[0];

          var pay = orderInfo['price'] - cardInfo[1];
          orderInfo['payPrice'] = pay;
          $('#payPrice').text(pay);
        }else{
          orderInfo['payCardId'] = -1;
          orderInfo['payPrice'] = orderInfo['price'];
          $('#payPrice').text(orderInfo['payPrice']);
        }
     })

     //调用微信JS api 支付
    function jsApiCall()
    {
        $.post('<{:U('Order/getWxPayParams')}>', orderInfo, function(data){
          WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            data,
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                    window.location.href = '<{:U('Order/finishOrder')}>?orderId='+orderInfo['id'];
                } else {
                    alert('微信支付失败，请重新提交订单支付！');
                }
            }
        );
        })
    }

     </script>
</block>