<extend name="Base:base" />

<block name="page">
	<include file="Base:header" />

	  <div data-role="content" style='text-align:center;'>
	  	<h1>感谢您</h1>
	  	<h1><{$msg}></h1>
	  	<a href="<{:U('Index/index')}>" data-role="button" data-ajax='false' target="_self" rel="external">返回首页</a>
	  </div>
</block>
<block name="body-bottom">
	<script>
	</script>
</block>