<extend name="Base:base" />

<block name="page">
	<include file="Base:header" />
	<div data-role="content" id="main-content">
		<div id="box" style='padding:2em;'>
			<img id='dragBox' src="/Public/images/box_0.png" alt="">
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<a href="<{:U('Order/packageChoose')}>" id='package' data-role="button" data-ajax='false' target="_self" rel="external">套装礼盒</a>
			</div>
			<div class="ui-block-b">
				<a href="#addIce" data-rel="dialog" data-role="button">添加口味</a>
			</div>
			<div class="ui-block-a">总数：<span class="count"></span></div>
			<div class="ui-block-b">
				总价：<span class="totalPrice">0</span>.00
			</div>
		</div>
	  <ul data-role="listview" data-inset="true" id='productList'>
	  </ul>
	</div>
	<div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
		<div class="foot-nav">
			<div class="ui-grid-b">
			<div class="ui-block-a"><span><a href="<{:U('Index/index')}>" data-ajax='false' target="_self" rel="external"><img class='nav-icon' src="__PUBLIC__/images/back.png" alt=""></a></span></div>
			<div class="ui-block-b"></div>
			<div class="ui-block-c" style="text-align:right;"><a href="#" id='payNow' data-role="button" >立即购买</a></div>
			</div>
		</div>
	</div>
</block>
<block name='page2'>
	<div data-role="page" id="addIce">
	  <div data-role="header">
	    <h1>选择雪糕口味</h1>
	  </div>

	  <div data-role="content">
	    <p>请选择你要添加的口味和数量：</p>
	    <volist name="products" id="item">
	    	<div class="ui-grid-a orderItem" style="border:1px solid #E9E9E9;" id='item-<{$item.id}>'>
		    	<div class="ui-block-a">
		    		<img src="<{$item.minImg}>" alt="" class='product-img' style="height:100%; width:auto;display:none;">
		    		<p class='name'><{$item.name}></p>
		    	</div>
				<div class="ui-block-b" style='text-align:right'>
					<div data-role="controlgroup" data-type="horizontal" data-mini="true" data-inline='true'>
					  <a href="#" data-role="button" class='minus'>-</a>
					  <a href="#" data-role="button" class='num'>0</a>
					  <a href="#" data-role="button" class='plus'>+</a>
					</div>
				</div>
				<p class='price' style='display:none;'><{$item.price}></p>
          		<p class='discount' style='display:none;'><{$item.discount}></p>
		    </div>
	    </volist>
	  </div>

	  <div data-role="footer">
	  	<div class="foot-nav">
			<div class="ui-grid-b">
			<div class="ui-block-a"><p>总数：<span class='count'>0</span></p></div>
			<div class="ui-block-b"></div>
			<div class="ui-block-c" style="text-align:right;">
				<a href="#pageone" data-rel="dialog" data-role="button" id='comfirmChoose'>确定提交</a>
			</div>
			</div>
		</div>
	  </div>
	</div> 
</block>
<block name="body-bottom">
	<script>
		<if condition="($shopInfo eq '') OR ($shopInfo['type'] eq 'package' )"> 
		var products = {
		  userId : <{$userId}>,
		  count : 0,
		  prices : 0,
		  items : []
		};
		<else /> 
		var products = <{:json_encode($shopInfo)}>;
		initShop();
		</if>

		function initShop(){
		  changeBox();

		  changeList();
		}

		function changeBox(){
			var item = products['count'] % 8;

			//var boxNum = Math.floor(products['count']/8); 

			var boxNum = parseInt(products['count'] / 8);

			products['discount'] = 0;
			if(boxNum >= 1){
			  for(var i=0; i<products['items'].length; i++){
			  	if(products['items'][i]['discount'] > 0){
			  		if(products['items'][i]['num'] >= boxNum){
			  			products['discount'] += (boxNum*products['items'][i]['discount']);
			  		}
			  	}
			  }
			}

			products['payPrice'] = parseInt(products['prices']) - parseInt(products['discount']);

			if(item === 0 && products['count']>0){
			item = 8;
			}

			$('#dragBox').attr("src","__PUBLIC__/images/box_"+item+".png");
		}

		function changeList(){
			$('.count').text(products['count']);
			$('.totalPrice').text(products['prices']);
			var $tableList = $('#productList');
			$tableList.empty();
			for(var i=0; i< products['items'].length; i++){
		    	$tableList.append("<li><a href='#'><h2>" +products['items'][i]['name']+ "</h2><p>数量：" +products['items'][i]['num']+ "</p></a><a href='#'>123</a></li>");

		    	$("#item-" + products['items'][i]['id']).find('.num').text(products['items'][i]['num']);
		  }
		}

		$('.plus').on('click', function(){
			$item = $(this).closest('.orderItem');

			var info = {};

			var divId = $item.attr('id');
			var divArr = divId.split('-');

			info['id'] = divArr[1];

			var $name = $item.find('.name');
			var $price = $item.find('.price');
			var $discount = $item.find('.discount');
			var $img = $item.find('.product-img');
			info['name'] = $name.text();
			info['price'] = parseInt($price.text());
			info['img'] = $img.attr('src');
			info['discount'] = parseInt($discount.text());

			if($item.find('.num').text() == '0'){
				var count  = products['items'].length;
				products['items'][count] = {
			      id : info['id'],
			      name : info['name'],
			      img : info['img'],
			      num : 1,
			      price : info['price'],
			      discount : info['discount']
			    }

			    products['count']++;

			    products['prices'] = parseInt(products['prices']) + parseInt(info['price']);
			    $item.find('.num').text(products['items'][count].num);
			}
			else{
				for(var i=0; i<products['count']; i++){
					if(products['items'][i].id == info['id']){
					    products['count']++;
					    products['items'][i].num++;
					    products['prices'] = parseInt(products['prices']) + parseInt(info['price']);

					    $item.find('.num').text(products['items'][i].num);

						break;
					}
				}
			}

			$('.count').text(products['count']);
		});

		$('.minus').on('click', function(){
			$item = $(this).closest('.orderItem');

			if($item.find('.num').text() == '0'){
				return;
			}

			var info = {};

			var divId = $item.attr('id');
			var divArr = divId.split('-');

			info['id'] = divArr[1];

			var $name = $item.find('.name');
			var $price = $item.find('.price');
			var $discount = $item.find('.discount');
			var $img = $item.find('.product-img');
			info['name'] = $name.text();
			info['price'] = parseInt($price.text());
			info['img'] = $img.attr('src');
			info['discount'] = parseInt($discount.text());

			for(var i=0; i<products['count']; i++){
				if(products['items'][i].id == info['id']){
				    products['count']--;
				    products['prices'] = parseInt(products['prices']) - parseInt(info['price']);

					if(products['items'][i].num == '1'){
						products['items'].splice(i,1);
						$item.find('.num').text(0);
					}else{
						products['items'][i].num--;
						$item.find('.num').text(products['items'][i].num);
					}

					break;
				}
			}

			$('.count').text(products['count']);
		});
		
		$('#comfirmChoose').on('click', function(){
			initShop();
			$('#productList').listview('refresh');
			$.post("<{:U('Mobile/Order/saveOrderSession')}>" , products , function(data){
			  });
		})

		$('#payNow').on('click', function(){
			if(products['count'] < 8){
				alert('你未选够8杯雪糕！');
				return;
			}else{
				$.post("<{:U('Mobile/Order/saveOrderSession')}>" , products , function(data){
					window.location = '<{:U('Mobile/Order/newOrder')}>';
			  });
			}
		})
	</script>
</block>