<extend name="Base:base" />
<block name="head">
     <link rel="stylesheet" type="text/css" href="http://cdn.jtsage.com/datebox/latest/jqm-datebox.min.css">
     <script type="text/javascript" src="http://cdn.jtsage.com/datebox/latest/jqm-datebox.core.min.js"></script>
     <script type="text/javascript" src="http://cdn.jtsage.com/datebox/latest/jqm-datebox.mode.datebox.min.js"></script>
     <script type="text/javascript" src="http://cdn.jtsage.com/datebox/i18n/jquery.mobile.datebox.i18n.zh-CN.utf8.js"></script>
</block>
<block name="page">
     <include file="Base:header" />
     <div data-role="content" id="main-content">
          <ul data-role="listview" data-inset="true">
            <if condition="$orderInfo.type eq 'package'">
            <li data-role="list-divider">预选包信息：</li>
            <li data-icon="false" id="addressInfo">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <label for="user"><{$orderInfo['items'][0].name}></label>
                  <p id='packagePrice'>总价:<span id='totalPrices'><{$orderInfo.prices}></span>.00</p>
                </div>
                <div class="ui-block-b" style='text-align:right'>
                  <div data-role="controlgroup" data-type="horizontal" data-mini="true" data-inline='true'>
                    <a href="#" data-role="button" class='minus'>-</a>
                    <a href="#" data-role="button" class='num'><{$orderInfo.count}></a>
                    <a href="#" data-role="button" class='plus'>+</a>
                  </div>
                </div>
              </div>
            </li>
            </if>
           <li data-role="list-divider">配送地址：</li>
           <li data-icon="false" id="addressInfo">

           <label for="user">姓名：<span id='sendUser'></span></label>

           <label for="tel">手机：<span id='sendTel'></span></label>

           <label for="address">地址：<p id='sendAddress'></p></label>

           <span>
           <a class="ui-btn-right" id="editAddressBtn" href="#pagetwo" data-role="button" data-inline="true" data-transition="slide">修改</a></span>
           </li>
           <li data-role="list-divider">配送时间：</li>
           <li data-icon="false">
                <label for="day">日期：</label>
                <input type="text" name='day' id="date" class='sendInfo'>

                <label for="time">时间：</label>
                <select name="time" id="section" class='sendInfo'>
                </select>
           </li>
           <!--
           <li data-role="list-divider">是否要鲜花？</li>
           <li data-icon="false">
                <select name="switch" id="needFlower" data-role="slider">
                  <option value="on">否</option>
                  <option value="off">是</option>
                </select>
           </li>
           !-->
          </ul>
     </div>

     <div data-role="footer" data-position="fixed" data-id="footernav" data-position="fixed" data-tap-toggle="false">
          <div data-role="navbar">
               <ul>
                    <li><a href="#" target="_self" rel="external" class="ui-btn-active" data-icon="home" date-iconpos="top" id='createOrderBtn'>确认下单</a></li>
               </ul>
          </div>
     </div>
</block>

<block name="body-bottom">
     <div data-role="page" id="pagetwo">

     <div data-role="header" data-position="fixed" data-tap-toggle="false">
          <a href="#pageone" data-role="button" data-icon="back">返回</a>
          <h1>修改配送信息</h1>
     </div>

       <div data-role="content">
         <ul data-role="listview" data-inset="true" id="editAddressList">
        <li data-role="list-divider">配送到哪？</li>
        <li data-icon="false">
            <label for="area">配送城市：</label>
            <select name="city" id="add-city"  class='addValue'>
              <option value=''>请选择</option>
              <volist name="city" id="item" key="k">
              <option value='<{$item.city}>'><{$item.city}></option>
              </volist>
            </select>
            <label for="district">配送区域：</label>
            <select name="district" id="add-district"  class='addValue'>
              <option val=''>请选择</option>
            </select>

            <label id='city-info' style="display:none;width:100%;white-space:normal;">说明：</label>
            <p></p>

            <div class="subway" style='display:none;'>
              <label for="subway">周边地铁站：</label>
              <input type="text" name="subway" id="add-subway" class='addValue'>
            </div>
           <label for="address">具体地址：</label>
           <textarea name="address" id="add-address" class='addValue'></textarea>

           <label for="user">联系人：</label>
           <input type="text" name="user" id="add-name" class='addValue'>

           <label for="tel">手机：</label>
           <input type="text" name="tel" id="add-tel" class='addValue'>
           <button id='addAddressBtn'>添加</button>
           <p> </p>
           </li>
           <li data-role="list-divider">曾使用过：</li>
           <volist name="address" id="item" key="k">
              <li data-icon="false">
              <label for="user">城市：<span id='city-<{$item.id}>'><{$item.city}></span></label>
              <label for="user">区域：<span id='district-<{$item.id}>'><{$item.district}></span></label>
              <label for="user">姓名：<span id='name-<{$item.id}>'><{$item.name}></span></label>

               <label for="tel">手机：<span id='tel-<{$item.id}>'><{$item.tel}></span></label>

               <label for="address">地址：<p id='address-<{$item.id}>'><{$item.address}></p></label>
               <span>
               <a class="ui-btn-right editAddressBtn" id="editAddressBtn-<{$item.id}>" href="#pageone" data-role="button" data-inline="true">使用</a></span>
               </li>
            </volist>
           </ul>
         
       </div>

     </div>

     <script>
     var addAddress = {
      uId : <{$orderInfo.userId}>,
      area: '',
      plot: '',
      address : '',
      tel : '',
      name : ''
     }
     var orderInfo = <{:json_encode($orderInfo)}>;
     orderInfo['time'] = {};

    <if condition="($address eq '')"> 
      var addressList = {};
      orderInfo['address'] = addressList;
    <else />
      var addressList = <{:json_encode($address)}>;

      orderInfo['address'] = addressList[0];

      $('#sendUser').text(addressList[0]['name']);
      $('#sendTel').text(addressList[0]['tel']);
      $('#sendAddress').text(addressList[0]['address']);
    </if>

    $( document ).ready(function() {
        $('#date').datebox({
          mode: "datebox",
          afterToday: true,
          popupPosition: 'window'
        });
    });

    $('.editAddressBtn').on('click', function(){
      var this_id = $(this).attr("id");

      var tmp = this_id.split('-');

      orderInfo['address']['id'] = tmp[1];
      orderInfo['address']['city'] = $('#city-'+tmp[1]).text();
      orderInfo['address']['district'] = $('#district-'+tmp[1]).text();
      orderInfo['address']['name'] = $('#name-'+tmp[1]).text();
      orderInfo['address']['tel'] = $('#tel-'+tmp[1]).text();
      orderInfo['address']['address'] = $('#address-'+tmp[1]).text();

      $('#sendUser').text(orderInfo['address']['name']);
      $('#sendTel').text(orderInfo['address']['tel']);
      $('#sendAddress').text(orderInfo['address']['address']);
    })

    $('#addAddressBtn').on('click', function(){
      $.post("<{:U('Order/addAddress')}>" , addAddress , function(data){
        if(data['Code'] > 0){
          orderInfo['address']['id'] = data['Code'];
          orderInfo['address']['city'] = addAddress['city'];
          orderInfo['address']['district'] = addAddress['district'];
          orderInfo['address']['name'] = addAddress['name'];
          orderInfo['address']['tel'] = addAddress['tel'];
          orderInfo['address']['address'] = addAddress['address'];

          // if(addAddress['city'] == '广州'){
          //   orderInfo['address']['subway'] = addAddress['subway'];
          // }

          $('#sendUser').text(orderInfo['address']['name']);
          $('#sendTel').text(orderInfo['address']['tel']);
          $('#sendAddress').text(orderInfo['address']['address']);

          window.location = "#pageone";
        }
      });
    })

    $('.addValue').on('change', function(){
      var value = $(this).val();

      var this_id = $(this).attr("id");
      var tmp = this_id.split('-');

      addAddress[tmp[1]] = value;
    })

    $('#add-city').on('change', function(){
      var city = $(this).val();

      if(city == ''){
        $('#add-district').empty();
        $("#add-district").append('<option value="">请选择</option>'); 

        return;
      }

      // if(city == '广州'){
      //   $('.subway').show();
      // }else{
      //   $('.subway').hide();
      // }
      
      $.post('<{:U('Order/getDistrictHandle')}>', {city: $(this).val()}, function(data){
        if(data != -1){
          $('#add-district').empty();
          $("#add-district").append('<option value="">请选择</option>'); 
          for(var i=0; i<data['district'].length; i++){
            $("#add-district").append('<option value="'+data['district'][i]+'">'+data['district'][i]+'</option>'); 
          }

          if(data['info'] != null){
            $('#city-info').text('说明：' + data['info']);
            $('#city-info').show();
          }else{
            $('#city-info').hide();
          }
        }
      });
    });

    $('.sendInfo').on('change', function(){
      var value = $(this).val();

      var this_id = $(this).attr("id");

      orderInfo['time'][this_id] = value;

      if(this_id == 'date'){
        $.post('<{:U('Home/Shop/getTimeSectionHandle')}>', {date:orderInfo['time']['date'],city:orderInfo['address']['city']}, function(data){
        $('#section').empty();
        $("#section").append('<option value="">请选择</option>'); 
        if(data['Code'] == 0){
          for(var i=0; i<data['TimeSection'].length; i++){
            $("#section").append('<option value="'+data['TimeSection'][i]+'">'+data['TimeSection'][i]+'</option>'); 
          }
        }

        $('#section').get(0).selectedIndex= 0;
        orderInfo['time']['section'] = '';
        $('#section').show();
      });
      }
    })

    $('#createOrderBtn').on('click', function(){
      $.post('<{:U('Order/finishOrderHandle')}>', orderInfo, function(data){
        if(data['Code'] == 0){
          window.location = "__APP__/Mobile/Order/comformOrder";
        }
        else{
          alert(data['Message']);
        }
      })
    })

    <if condition="$orderInfo.type eq 'package'">
    $('.plus').on('click', function(){
      orderInfo['items'][0].num = parseInt(orderInfo['items'][0].num) + 1;
      orderInfo['count']++;
      orderInfo['prices'] =parseInt(orderInfo['prices']) + parseInt(orderInfo['items'][0]['price']);

      orderInfo['payPrice'] = orderInfo['prices'];

      $('.num').text(orderInfo['items'][0].num);
      $('#totalPrices').text(orderInfo['prices']);
    })

    $('.minus').on('click', function(){
      if(orderInfo['items'][0].num == 1)
        return;

      orderInfo['items'][0].num = parseInt(orderInfo['items'][0].num) - 1;
      orderInfo['count']--;
      orderInfo['prices'] =parseInt(orderInfo['prices']) - parseInt(orderInfo['items'][0]['price']);

      orderInfo['payPrice'] = orderInfo['prices'];

      $('.num').text(orderInfo['items'][0].num);
      $('#totalPrices').text(orderInfo['prices']);
    })
    </if>
     </script>
</block>