<extend name="Base:base" />

<block name="page">
	<include file="Base:header" />
	<div data-role="content" id="main-content">
		<div class="ui-grid-solo">
			<volist name="package" id="item">
		    <div class="ui-block-a" style='padding-buttom:10px;'>
				<div class="ui-body ui-body-a ui-corner-all">
					<a href="<{:U('Product/item')}>/id/<{$item.id}>" data-ajax='false' target="_self" rel="external">
					<h3><{$item.name}></h3>
					<img src="<{$item.minImg}>" alt="" class='img-full'>
					<p><{$item.subInfo}></p>
					</a>
					<div class="ui-grid-a">
						<div class="ui-block-a">¥<{$item.price}>.00</div>
						<div class="ui-block-b" style='text-align:right;'>
							<a href="<{:U('Order/newOrder')}>/pId/<{$item.id}>" id='payNow' data-role="button" data-inline="true" data-mini='true' data-ajax='false' target="_self" rel="external">购买</a>
						</div>
					</div>
				</div>
			</div>
			</volist>
		</div>
	</div>
	<div data-role="footer" data-id="footernav" data-position="fixed" data-tap-toggle="false">
		<div class="foot-nav">
			<div class="ui-grid-b">
			<div class="ui-block-a"><span><a href="" data-rel="back"><img class='nav-icon' src="__PUBLIC__/images/back.png" alt=""></a></span></div>
			<div class="ui-block-b"></div>
			<div class="ui-block-c" style="text-align:right;"></div>
			</div>
		</div>
	</div>
</block>
<block name="body-bottom">
	<script>

	</script>
</block>