<extend name="unify/Public/Base" />
<block name='title'>Alexander's 会员中心</block>
<block name="head">
<link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->


</block>
<block name="content">
	<include file="unify:Public:head-user"/>

	<div class="container">
	<hr>
	<div class="row">
		<a href="<{:U('User/info')}>">
		<div class="col-xs-9 col-xs-offset-1">
			<h3><i class="fa fa-user"></i> 个人信息</h3>
		</div>
		<div class="col-xs-2">
			<h3>></h3>
		</div>
		</a>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h3><i class="fa fa-truck"></i> 配送地址</h3>
		</div>
		<div class="col-xs-2">
			<h3>></h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h3><i class="fa fa-building-o"></i> 订单查询</h3>
		</div>
		<div class="col-xs-2">
			<h3>></h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h3><i class="fa fa-gift"></i> 我的优惠券</h3>
		</div>
		<div class="col-xs-2">
			<h3>></h3>
		</div>
	</div>
	<hr>
	</div>

</block>