<extend name="unify/Public/Base" />
<block name='title'>Alexander's 会员中心</block>
<block name="head">
<link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/assets-unify/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

</block>
<block name="content">
	<include file="unify:Public:head-user"/>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<form action="#" id="sky-form2" class="sky-form">
                            <header>会员信息</header>
                            
                            <fieldset>                  
                                <section>
                                    <div class="row">
                                        <label class="label col col-4">姓名：</label>
                                        <div class="col col-8">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="name">
                                            </label>
                                        </div>
                                    </div>
                                </section>
                                
                                <section>
                                    <div class="row">
                                        <label class="label col col-4">性别：</label>
                                        <div class="col col-8">
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="password">
                                            </label>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn-u">修改</button>
                                <a href="#" class="btn-u btn-u-default">返回</a>
                            </footer>
                        </form>         
			</div>
		</div>
	</div>

</block>