<extend name="Public:base" />
<block name="head">
  <link rel="stylesheet" href="__JS__/Nivo-Slider/themes/default/default.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="__JS__/Nivo-Slider/nivo-slider.css" type="text/css" media="screen" />
</block>
<block name="content">
  <div class="row">
  <div class="col-md-2">
    <div class="nav nav-stacked affix">
    <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
    <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu.png" alt="" class='img-responsive menu-icon'></a></p>
    <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
    </div>
  </div>
  <div class="col-md-8">
  <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <img src="__PUBLIC__/images/1.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" />
          <img src="__PUBLIC__/images/2.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" />
          <img src="__PUBLIC__/images/3.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" title="" />
          <img src="__PUBLIC__/images/4.jpg" data-thumb="__PUBLIC__/images/ad123.jpg" alt="" data-transition="slideInLeft" />
        </div>
    </div>
    <div id="Introduction" class='lead'>
      <p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong><span style="font-family:宋体">关于亚历山达</span></strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    Alexander’s<span style="font-family: 宋体">（亚历山达）是国内首个高端</span>O2O(<span style="font-family:宋体">线上到线下</span>)<span style="font-family:宋体">雪糕品牌，甄选来自法国、新西兰、马来西亚等世界各地顶级原材料，以先进的工艺为您提供美味、优质的雪糕。</span>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    <span style="font-family:宋体">客户可以通过亚历山达网站、微信平台、淘宝等渠道购买。</span>
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong>About Us</strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    Alexander’s is the first door-to-door ice cream delivery company in Shenzhen. We selectively choose the best ingredients from all over the world.
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    Our products can be purchased through Alexander&#39;s Website, WeChat Service Account and Taobao.
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    &nbsp;
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong><span style="font-family:宋体">企业理念</span></strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    <span style="font-family:宋体">亚历山达坚信，每一位消费者都拥有吃到安全、放心食品的权利，消费者不应每天为食品安全而提心吊胆。正因如此，亚历山达在原材料的选购和生产过程中丝毫不敢马虎，作为您的伙伴，我们只为您提供天然、优质、健康的食品和最贴心的服务。</span>
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong>Our Values</strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    At Alexander’s, we believe that offering safe, high quality guaranteed products is the foundation for consumer confidence. Alexander’s actively promotes safe and responsible products. When sourcing ingredients, we take into consideration product safety, quality, the environment, and working conditions.
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    &nbsp;
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong><span style="font-family:宋体">食品质量与安全</span></strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    <span style="font-family:宋体">亚历山达绝对不添加任何人造香精、人造色素等雪糕制作过程中不必要的添加剂。亚历山达雪糕的味道、颜色都是由天然的原料直接得来。经过多次对比试验</span>,<span style="font-family:宋体">我们选用国际领先供应商提供的的乳化剂和增稠剂，对我们来说食品安全永远是最重要的。</span>
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong style="text-indent: 2em;">Quality Construction</strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    <span style="text-indent: 2em;">At Alexander’s we do NOT use any artificial flavoring or coloring when making ice cream. The tastes and colors are all natural. Our emulsifiers and thickeners are all natural and have been certified by the national health commission. Alexander’s meticulously chooses global leading providers because the health and safety of our consumers is always our top priority.</span>
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    &nbsp;
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong style="text-indent: 0em;"><span style="font-family:宋体">社会责任</span></strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    <span style="font-family:宋体">亚历山达认为企业应该承担相应的社会责任。因此我们承诺至少捐出</span>1%<span style="font-family:宋体">的收入和</span>1%<span style="font-family:宋体">的时间（每年每位员工不少于</span>25<span style="font-family:宋体">小时）参与到公益活动中。亚历山达同时也关注员工的工作环境，并选用绿色环保的包材与配送方式。</span>
</p>
<p style="text-indent: 0em; margin-bottom: 15px; line-height: 2em;">
    <strong style="text-indent: 0em;">Corporate Social Responsibility</strong>
</p>
<p style="text-indent: 2em; margin-bottom: 15px; line-height: 2em;">
    We believe it is important for companies to give back to society. At Alexander’s we are contributing both our time and money. We commit at least 1% of our sales and 1% of our time –that’s 25 hours per employee per year- to participate in social and charity events. Alexander’s also take into consideration work condition, soy ink printing, eco friendly packaging, and delivery methods.
</p>
<p>
    <br/>
</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="nav nav-stacked affix">
    <div style='height:200px'></div>
    <p><img id='up_btn' src="__PUBLIC__/images/up.png" alt="" class='img-responsive menu-icon'></p>
    <p><img id='down_btn' src="__PUBLIC__/images/down.png" alt="" class='img-responsive menu-icon'></p>
    </div>
  </div>
  </div>
</block>

<block name='body-bottom'>
<script type="text/javascript" src="__JS__/Nivo-Slider/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="__JS__/jquery.scrollTo.min.js"></script>
<script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  $('#up_btn').on('click', function(){
     $.scrollTo({top:'-=300px', left:'+=0'},800); 
  });

  $('#down_btn').on('click', function(){
     $.scrollTo({top:'+=300px', left:'+=0'},800); 
  });
</script>
</block>