/* Add here all your css styles (customizations) */

/*Interactive Slider product
------------------------------------*/
.interactive-slider-product {
  z-index: 1;
  padding: 200px 0;
  position: relative;
  text-align: center;
  background: url(http://hjdf-img.oss-cn-shenzhen.aliyuncs.com/alexanders/product-ad.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.interactive-slider-product.img-v1 {
  background: url(../img/bg/25.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.interactive-slider-product.img-product {
  background: url(../img/bg/14.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.interactive-slider-product:after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.4);
}

.interactive-slider-product h1 {
  color: #fff;
  line-height: 80px;
  text-transform: uppercase;
}

.interactive-slider-product p {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width: 768px) {
  .interactive-slider-product h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

/*Product Quantity*/
.shop-product .product-quantity {
	float: left;
	margin-right: 30px;
}

.shop-product .quantity-button {
	color: #555;
	width: 55px;
	height: 50px;
	padding: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	background: #eee;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
	display: inline-block;
  	background-image: none;
}

.shop-product .quantity-field {
	width: 55px;
	height: 50px;
	outline: none;
	margin: 0 -4px;
	font-size: 20px;
	text-align: center;
	border: 1px solid #eee;
}

