<table class="table table-hover">
  <thead>
      <tr>
          <th>头像</th>
          <th>信息</th>
          <th>操作</th>
      </tr>
  </thead>

  <tbody>
    <volist name="result" id="item">
      <tr>
        <td>
          <img src="<{$item.headimgurl}>" alt="<{$item.nickname}>" class="img-thumbnail" style="width:60px;height:60px;">
        </td>
        <td>
            <div class="row">
              <div class="col-sm-6">
                <label style="float:left;margin-left:10px;">微信号：<{$item.nickname}></label>
              </div>
              <div class="col-sm-6">
                <label style="float:left;margin-left:10px;">姓名：<{$item.realName}></label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label style="float:left;margin-left:10px;">城市：<{$item.city}></label>
              </div>
              <div class="col-sm-6">
                <label style="float:left;margin-left:10px;">电话：<{$item.tel}></label>
              </div>
            </div>
        </td>
        <td><a href="<{:U('userResponse')}>/id/<{$item.id}>" target="_blank">详情</a></td>
      </tr>
    </volist>
  </tbody>
</table>
<div class='text-center'  id="indexPage">
  <ul class="pagination"><{$page}></ul>
</div>
<script>
  $("#indexPage > ul > li > a").click(function(){
      var _HREF = $(this).attr('href');

     //加载页面
      $("#fansList").load(_HREF,{
        'name':'<{$name}>'
      });
      return false;
  });
</script>