<div class="row" style="margin-top: 10px;">
    <div class="col-md-7 form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label" style="text-align: left;font-size: 16px;">产品名称：</label>
            <div class="col-sm-8">
                <select class="form-control" id='productSelect'>
                  <option value="all">全部</option>
                    <volist name="product" id="item">
                      <option value="<{$item.id}>"><{$item.name}></option>
                    </volist>
                </select>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
  <thead>
      <tr>
          <th>用户名称</th>
          <th>操作</th>
      </tr>
  </thead>

  <tbody>
    <volist name="result" id="item">
      <tr>
        <td>
            <img src="<{$item.headimgurl}>" alt="<{$item.nickname}>" class="img-thumbnail" style="width:60px;height:60px;float:left;">
          <label style="float:left;margin-left:10px;"><{$item.nickname}></label>
        </td>
        <td><a href="<{:U('userResponse')}>/id/<{$item.id}>" target="_blank">详情</a></td>
      </tr>
    </volist>
  </tbody>
</table>

<div class='text-center'  id="fwPage">
  <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
  $('#fwFans').addClass('active');

  $('#productSelect').on('change' , function(){
    var arr = {
      "cId" : "<{$cId}>" ,
      "productId" : $(this).val()
    };

    $('#<{$cId}>').load("<{:U('fwFans')}>" , arr , function(){
      $('#productSelect').val(arr['productId']);
    });
  });

  $("#fwPage > ul > li > a").click(function(){
      var _HREF = $(this).attr('href');       
      var arr = {
        "cId" : "<{$cId}>" ,
        "productId" : $('#productSelect').val()
      };

     //加载页面
      $("#<{$cId}>").load(_HREF,arr);
      return false;
  });
</script>