<extend name="Public:new-base" />
<block name="title">
    <title>粉丝管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
	<div id="main">
		<ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">粉丝管理</a></li>
    </ul>

    <div class="col-md-9">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="row">
            <div class="col-md-6" style="margin-top:10px;">
              <div class="input-group">
                <input type="text" class="form-control" id='NameInput' placeholder="搜索昵称">
                <span class="input-group-btn">
                  <button class="btn btn-info" id='search-btn' type="button" style="height:34px;">搜索</button>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-3" >
              <a href="__ROOT__/index.php/Admin/Fans/updateFans" target="_blank"><button class="btn-info btn" style="margin-top: 10px;" >更新用户信息</button></a>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="fansList"></div>
            </div>
          </div>
            
        </div>
      </div>
    </div>
    <div class="col-md-3" style="padding:0px; margin-top:20px;">
      <ul class="list-group">
        <a href="<{:U('index')}>" class="list-group-item fans" id="allFans">全部</a>
        <a href="javascript:void(0)" class="list-group-item fans" id="fwFans">防伪</a>
        <a href="javascript:void(0)" class="list-group-item fans" id="qrFans">二维码</a>
      </ul>
    </div>
	</div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">
      $('#fans').addClass("active");
      $('#allFans').addClass("active");
      $('#fansList').load('<{:U("fansList")}>');

      $('#fwFans').on('click' , function(){
        $('.fans').removeClass("active");
        $('#home').load("<{:U('fwFans')}>" , {"cId":"home"});
      });

      $('#qrFans').on('click' , function(){
        $('.fans').removeClass("active");
        $('#home').load("<{:U('qrFans')}>" , {"cId":"home"});
      });

      $('#search-btn').on('click',function(){
        var name = $('#NameInput').val().trim();

        if(name != ''){
            $('#fansList').load('<{:U("fansList")}>',{'name':name});
        }
        else{
            $.scojs_message('请输入要搜索的关键词',$.scojs_message.TYPE_ERROR);
        }
      });
    </script>
</block>