<div class="row" style="margin-top: 10px;">
  <div class="col-md-7 form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label" style="text-align: left;font-size: 16px;">二维码类型：</label>
      <div class="col-sm-8">
        <select class="form-control" id='typeSelect'>
          <option value="all">全部</option>
          <option value="activity">活动</option>
          <option value="product">产品</option>
          <option value="fwLabel">防伪标签</option>
          <option value="dealer">经销商</option>
          <option value="employees">员工</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-7 form-horizontal" id="qrType" style="display:none;">
    <div class="form-group">
      <label class="col-sm-4 control-label" id="typeName">名称：</label>
      <div class="col-sm-8">
        <select class="form-control" id='idSelect'>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="userList">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>用户名称</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
      <volist name="result" id="item">
        <tr>
          <td>
              <img src="<{$item.headimgurl}>" alt="<{$item.nickname}>" class="img-thumbnail" style="width:60px;height:60px;float:left;">
            <label style="float:left;margin-left:10px;"><{$item.nickname}></label>
          </td>
          <td><a href="<{:U('userResponse')}>/id/<{$item.id}>" target="_blank">详情</a></td>
        </tr>
      </volist>
    </tbody>
  </table>
</div>
<div class='text-center'  id="qrPage">
  <ul class="pagination"><{$page}></ul>
</div>

<script type="text/javascript">
  $('#qrFans').addClass('active');

  <if condition="($type neq 'all') and ($type neq '')">
    $('#qrType').show();
    $('#typeSelect').val("<{$type}>")
    $('#idSelect').val("<{$id}>");
  </if>

  $('#typeSelect').on('change' , function(){
    if($(this).val() == 'all'){
      $('#<{$cId}>').load("<{:U('qrFans')}>" , {"cId":"<{$cId}>"});
      return;
    }

    getTypeInfo();
  });

  function getTypeInfo(){
    $.post("<{:U('getQrTypeInfo')}>" , {"type":$('#typeSelect').val()} , function(data){
      $('#idSelect').html('');
      $('#qrType').show();

      for(var i = 0;i<data.length;i++){
        $('#idSelect').append("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>");
      }

      getUserList();
    });
  }

  $('#idSelect').on('change' , function(){
    getUserList();
  });

  function getUserList(){
    var arr = {
      "type" : $('#typeSelect').val() , 
      "id" : $('#idSelect').val() , 
      "cId":"<{$cId}>"
    };

    $("#<{$cId}>").load("<{:U('qrFans')}>",arr,function(){
      $.post("<{:U('getQrTypeInfo')}>" , {"type":$('#typeSelect').val()} , function(data){
        $('#idSelect').html('');
        $('#qrType').show();

        for(var i = 0;i<data.length;i++){
          $('#idSelect').append("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>");
        }

        $('#idSelect').val(arr['id']);
      });
    });
  }

  $("#qrPage > ul > li > a").click(function(){
      var _HREF = $(this).attr('href');

      var arr = {
        "type" : $('#typeSelect').val() , 
        "id" : $('#idSelect').val() ,
        "cId":"<{$cId}>"
      };

     //加载页面
      $("#<{$cId}>").load(_HREF,arr);
      return false;
  });
</script>