<if condition="$result neq null">
  <table class="table table-hover" style="table-layout:fixed;word-wrap:break-word;">
    <thead>
        <tr>
            <th width="70%">消息内容</th>
            <th width="30%">时间</th>
        </tr>
    </thead>

    <tbody>
      <volist name="result" id="item">
        <tr>
          <td><{$item.Content}></td>
          <td><{$item.time}></td>
        </tr>
      </volist>
    </tbody>
  </table>
  <div class='text-center'  id="userLogPage">
    <ul class="pagination"><{$page}></ul>
  </div>
  <else />
    <div class="panel panel-default" style="margin-top:20px;">
      <div class="panel-body">
        无消息记录
      </div>
    </div>
</if>

<script type="text/javascript">
  $("#userLogPage > ul > li > a").click(function(){
    var _HREF = $(this).attr('href');

    //加载页面
    $("#userLog").load(_HREF,{"openId" : "<{$openId}>"});                      
    return false;
  });
</script>