<extend name="Public:new-base" />
<block name="title">
    <title>微防伪V5</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
	<div id="main">
		<ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">回复管理</a></li>
    </ul>

    <div class="col-md-8">
      <div class="bs-callout bs-callout-warning" id="callout-stacked-modals">
        <h4>粉丝资料</h4>
        <div class="row">
          <div class="col-md-2">
            <img src="<{$fansInfo.headimgurl}>" alt="<{$fansInfo.nickname}>" class="img-circle", style='width:100%; height:auto;'>
          </div>
          <div class="col-md-5">
            <p>微信号：<{$fansInfo.nickname}></p>
            <p>城市：<{$fansInfo.city}></p>
            <p>电话：<{$fansInfo.tel}></p>
            <p>地址：<{$fansInfo.address}></p>
          </div>
          <div class="col-md-5">
            <p>姓名：<{$fansInfo.realName}></p>
            <if condition="$fansInfo.sex eq 2 "><p>性别：女</p>
                <else /> <p>性别：男</p>
            </if>
            <p>关注时间：<{$fansInfo.subscribe_time}></p>
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary" style="float:right;margin-right:20px;" id="updateBtn">更新粉丝信息</button>
        </div>
      </div>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home" style="margin-top:15px;">
          <label class="control-label">回复类型：</label>
          <select class="form-control" id='typeSelect'>
            <option value="text">文字回复</option>
          </select>
          <textarea class="form-control" rows="5" id="reponseText" style="margin-top:20px;margin-bottom:20px;"></textarea>
          <button type="button" class="btn btn-primary" id="subBtn">发送</button>
        </div>
      </div>

      <ul id="myTab" class="nav nav-tabs" style="margin-top:20px;">
        <li class="active"><a href="#userLog" data-toggle="tab">用户消息记录</a></li>
        <li><a href="#sendLog" data-toggle="tab" id="tabprofile">已发送消息记录</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="userLog"></div>

        <div class="tab-pane fade" id="sendLog"></div>
      </div>
    </div>

    <div class="col-md-4" style="margin-top:20px;">

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFwProduct">
                查询过的产品
              </a>
            </h4>
          </div>
          <div id="collapseFwProduct" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="nav">
                <volist name="fwProduct" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity">
                参与的活动
              </a>
            </h4>
          </div>
          <div id="collapseActivity" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav">
                <volist name="result.activity" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFwLabel">
                扫描过的防伪标签
              </a>
            </h4>
          </div>
          <div id="collapseFwLabel" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav">
                <volist name="result.fwLabel" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseProduct">
                关注的产品
              </a>
            </h4>
          </div>
          <div id="collapseProduct" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav">
                <volist name="result.product" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseDealer">
                关注的经销商
              </a>
            </h4>
          </div>
          <div id="collapseDealer" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav">
                <volist name="result.dealer" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseEmployees">
                关注员工
              </a>
            </h4>
          </div>
          <div id="collapseEmployees" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav">
                <volist name="result.employees" id="item">
                  <li><{$item.name}></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
	</div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">
      $('#fans').addClass("active");
      $('.nav').css('padding-left' , '20px');

      $('#userLog').load("<{:U('userLog')}>" , {"openId":"<{$openId}>"});
      $('#sendLog').load("<{:U('sendLog')}>" , {"openId":"<{$openId}>"});

      $('#updateBtn').on('click' , function(){
        $.post("<{:U('updateUserInfo')}>" , {"openId":"<{$openId}>"} , function(data){
          window.location.reload();
        });
      });

      $('#subBtn').on('click' , function(){
        var reponseText = $('#reponseText').val();

        if(reponseText == ''){
          return;
        }

        var arr = {
          "touser" : "<{$openId}>" ,
          "msgtype" : "text" ,
          "text" : {
            "content" : reponseText
          }
        };

        $.post("<{:U('sendCustomMessage')}>" , arr , function(data){
          if(data['errcode'] == 0){
            $('#reponseText').val('');
            $('#reponseText').focus();
            $.scojs_message("发送成功", $.scojs_message.TYPE_OK);
            $('#sendLog').load("<{:U('sendLog')}>" , {"openId":"<{$openId}>"});
          }else{
            $.scojs_message("发送失败", $.scojs_message.TYPE_ERROR);
          }
        });
      });
    </script>
</block>