<extend name="Public:base" />
<block name="head">
</block>
<block name="content">
  <div class="row">
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8" style='padding-top:50px;'>
        <h1>购买成功</h1>
        <h1>感谢您</h1>
        <div class="row" style='padding-top:50px;'>
          <div class="col-md-4 col-md-offset-2">
            <a role="button" class="btn btn-default btn-lg btn-block" href='#'>订单详情</a>
          </div>
          <div class="col-md-4">
            <a role="button" class="btn btn-default btn-lg btn-block" href='/'>返回首页</a>
          </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</block>

<block name='body-bottom'>
<script src="__JS__/jqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
</script>
</block>