<extend name="Public:base" />
<block name="head">
  <link rel="stylesheet" href="__JS__/jqueryUI/jquery-ui.min.css" type="text/css"/>
</block>
<block name="content">
  <div class="row">
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h4>定制您的Alexander's</h4>
          <p class='text-muted'>请从右侧选择您喜欢的口味拖动到礼盒内</p>
          <div class="row">
            <volist name='package' id='item'>
            <div class="col-md-4"><a class="btn btn-default btn-block" href="<{:U('Product/index')}>/id/<{$item.id}>" role="button"><{$item.name}></a></div>
            </volist>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class=".container-fluid" style='padding-top:1em;'>
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class='text-center'>口味</th>
                  <th class='text-center'>数量</th>
                </tr>
              </thead>
              <tbody id='productList'>
              </tbody>
            </table>
            <div id="boxNum" class='row'>
            </div>
            <h5 class='text-left'>总数：<span id="totalProduct">0</span></h5>
            <h5 class='text-left'>总价：¥<span id="totalPrice">0</span>.00
              <span class="pull-right discount">已优惠¥<span id="discount"></span>.00</span>
            </h5>
            <p></p>
            <button type="button" class="btn btn-default btn-block btn-lg" id='butBtn'>立即购买</button>
          </div>
          <div class="col-md-6">
            <img src="__PUBLIC__/images/box_0.png" alt="" class='img-responsive' id='dragBox'>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2" style='text-align: center;'>
      <div class="" style="height:500px; overflow:auto;">
        <volist name="products" id="item">
          <div class="item dragItem">
          <div style='padding-left:30%;padding-right:30%;'>
          <img src="<{$item.minImg}>" alt="" class='img-circle img-responsive product-img' style="width:100%;">
          </div>
          <p class='name' id='product-<{$item.id}>'><{$item.name}></br>
            <small class='enName product-list-text' id='product-<{$item.id}>}>'><{$item.enName}></small></p>
          <p class='price' style='display:none;'><{$item.price}></p>
          <p class='discount' style='display:none;'><{$item.discount}></p>
          </div>
        </volist>
      </div>
    </div>
  </div>
</block>

<block name='body-bottom'>
<script src="__JS__/jqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
$('.dragItem').draggable({
    revert: "invalid",
    containment: "document",
    helper: "clone",
    cursor: "move"
});

$('#dragBox').droppable({
    accept: ".dragItem",
    activeClass: "ui-state-highlight",
    drop: function( event, ui ) {
      var productInfo = getProductInfoByUi(ui['helper']);
      addTableItem(productInfo);
    }
});

<if condition="$shopInfo eq ''"> 
var products = {
  userId : <{$userId}>,
  count : 0,
  prices : 0,
  items : []
};
<else /> 
var products = <{:json_encode($shopInfo)}>;
initShop();
</if>

$('#butBtn').on('click', function(){
  if(products['userId'] == 0){
    window.location = "<{:U('Index/login')}>";
    return false;
  }
  if(products['count'] < 8){
    $.scojs_message('您未选够8杯雪糕！', $.scojs_message.TYPE_ERROR);
    return false;
  }

  $.post("<{:U('Mobile/Order/saveOrderSession')}>" , products , function(data){
    window.location = "<{:U('Shop/newOrder')}>";
  });

  return true;
})

function initShop(){
  updateDragBox();

  for(var i=0; i< products['items'].length; i++){
    var $tableList = $('#productList');
    $tableList.append("<tr id='product-"+products['items'][i]['id']+"' class='table-row'><td class='product_name' style='width:60%'><span class='glyphicon glyphicon-remove tb-icon item-remove pull-left'></span>"+products['items'][i]['name']+"</td><td style='width:40%'><span class='glyphicon glyphicon-minus tb-icon num-minus'></span><span style='padding-left:5px;padding-right:5px;' class='product_num'>"+products['items'][i]['num']+"</span><span class='glyphicon glyphicon-plus tb-icon num-plus'></span></td></tr>");
  }
}

function getProductInfoByUi(ui){
  var info = {};

  var $name = ui.find('.name');
  var $price = ui.find('.price');
  var $discount = ui.find('.discount');
  var $img = ui.find('.product-img');
  info['name'] = $name.text();
  info['price'] = parseInt($price.text());
  info['img'] = $img.attr('src');
  info['discount'] = parseInt($discount.text());

  var divId = $name.attr('id');
  var divArr = divId.split('-');

  info['id'] = divArr[1];

  return info;
}

function addTableItem(productInfo){
  var $tableList = $('#productList');
  var $tbItem = $tableList.find('#product-'+productInfo['id']);

  if($tbItem.length === 0){
    products['items'][products['items'].length] = {
      id : productInfo['id'],
      name : productInfo['name'],
      img : productInfo['img'],
      num : 1,
      price : productInfo['price'],
      discount : productInfo['discount']
    }

    products['count']++;
    products['prices'] = parseInt(products['prices']) + parseInt(productInfo['price']);

    $tableList.append("<tr id='product-"+productInfo['id']+"' class='table-row'><td class='product_name'><span class='glyphicon glyphicon-remove tb-icon item-remove pull-left'></span>"+productInfo['name']+"</td><td><span class='glyphicon glyphicon-minus tb-icon num-minus'></span><span style='padding-left:5px;padding-right:5px;' class='product_num'>1</span><span class='glyphicon glyphicon-plus tb-icon num-plus'></span></td></tr>");
  }
  else{
    for(var i=0; i<products['count']; i++){
      if(products['items'][i].id == productInfo['id']){
        products['count']++;
        products['prices'] = parseInt(products['prices']) + parseInt(productInfo['price']);
        products['items'][i].num++;
        $tableList.find('#product-'+productInfo['id']+' .product_num').text(products['items'][i].num);

        break;
      }
    }
  }

  updateDragBox();
}

function updateDragBox(){
  var item = products['count'] % 8;

  //var boxNum = Math.floor(products['count']/8); 
  
  var boxNum = 0;
  products['discount'] = 2 * parseInt(boxNum);
  products['payPrice'] = products['prices'] - products['discount'];

  if(item === 0 && products['count']>0){
    item = 8;
  }

  if(products['discount'] > 0){
    $('.discount').show();
    $('#discount').text(products['discount']);
  }
  else{
    $('.discount').hide();
  }

  $('#boxNum').empty();
  for(var i=0; i<products['count']/8; i++ ){
    $('#boxNum').append("<div class='col-md-2'><img src='__PUBLIC__/images/box.png' alt='' class='img-responsive' ></div>")
  }

  $('#dragBox').attr("src","__PUBLIC__/images/box_"+item+".png");

  $('#totalProduct').text(products['count']);
  $('#totalPrice').text(products['payPrice']);

  $.post("<{:U('Mobile/Order/saveOrderSession')}>" , products , function(data){
  });
}

$('table').on('mouseenter', '.table-row', function(){
  $(this).find('.tb-icon').show();
})

$('table').on('mouseleave', '.table-row', function(){
  $(this).find('.tb-icon').hide();
})

$('table').on('click', '.tb-icon', function(){
  var $item  = $(this).closest('.table-row');

  var divId = $item.attr('id');
  var divArr = divId.split('-');

  var productId = divArr[1];

  for(var i=0; i<products['count']; i++){
    if(products['items'][i].id == productId){
      if($(this).hasClass('num-minus')){
        if(products['items'][i].num == 1){
          $.scojs_message('数量不得小于1', $.scojs_message.TYPE_ERROR);
          break;
        }

        products['prices'] -= products['items'][i].price;
        products['count']--;
        products['items'][i].num--;

        $item.find('.product_num').text(products['items'][i].num);
      }

      if($(this).hasClass('num-plus')){
        products['prices'] = parseInt(products['prices']) + parseInt(products['items'][i].price);
        products['count']++;
        products['items'][i].num++;

        $item.find('.product_num').text(products['items'][i].num);
      }

      if($(this).hasClass('item-remove')){
        products['prices'] -= products['items'][i].price * products['items'][i].num;
        products['count'] -= products['items'][i].num;

        products['items'].splice(i,1);
        $item.remove();
      }

      updateDragBox();

      break;
    }
  }
})
</script>
</block>