<extend name="Public:base" />
<block name="head">
  <link rel="stylesheet" href="__JS__/jqueryUI/jquery-ui.min.css" type="text/css"/>
  <link href="__PUBLIC__/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
</block>
<block name="content">
  <div class="row">
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8 text-left">
      <div class="panel panel-default">
        <div class="panel-heading">请填写配送地址：</div>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class='radio-inline'>
                  <input type="radio" name="orderType" id="orderType1" value="0" checked>
                  犒劳自己
                </label>
                <label class='radio-inline'>
                  <input type="radio" name="orderType" id="orderType2" value="1">
                  送给TA
                </label>

                <button class="btn btn-default pull-right" style='margin-left:15px' data-toggle="modal" data-target="#addressModel">曾使用地址</button>
                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal" style='display:none;'>通过地图搜索</button>
            </div>
            <div class="form-group col-md-6">
              <label for="sendName">收货人(*)：</label>
              <input type="text" class="form-control" id="sendName" placeholder="收货人">
            </div>
            <div class="form-group col-md-6">
              <label for="sendTel">联系电话(*)：</label>
              <input type="text" class="form-control" id="sendTel" placeholder="联系电话">
            </div>
            <div class="form-group col-md-6">
              <label for="sendCity">配送城市(*)：</label>
              <select class="form-control" id='sendCity'>
                <option value=''>请选择</option>
                <volist name="city" id="item" key="k">
                <option value='<{$item.city}>'><{$item.city}></option>
                </volist>
              </select>
            </div>
            <div class="form-group col-md-6" id='districtChoose' style='display:none;'>
              <label for="sendAddress">配送区域(*)：</label>
              <select class="form-control" id='sendDistrict'>
                <option val=''>请选择</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label for="sendAddress">具体地址(*)：</label>
              <input type="text" class="form-control" id="sendAddress" placeholder="具体地址">
            </div>
            <div class="form-group col-md-6 displayByPresent">
              <label for="sendNameOwner">您的姓名(*)：</label>
              <input type="text" class="form-control" id="sendNameOwner" placeholder="收货人">
            </div>
            <div class="form-group col-md-6 displayByPresent">
              <label for="sendTelOwner">您的联系电话(*)：</label>
              <input type="text" class="form-control" id="sendTelOwner" placeholder="联系电话">
            </div>

            <div class="form-group col-md-12">
              <label for="sendAddress" id='city-info' style='display:none;'>说明：</label>
            </div>


          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">使用地图搜索地址</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">关键词</div>
                            <input class="form-control" type="text" id='suggestId' placeholder="Enter keyword">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default" id='searchBtn'>搜索</button>
                      </div>
                      <div class="col-md-12">
                        <div id="map"></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">请选择配送时间：</div>
        <div class="panel-body">
          <div class="row">
          <div class="form-group col-md-6">
                <label for="dtp_input2">配送日期：</label>
                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" type="text" value="" readonly>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
        <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          <div class="form-group col-md-6" style="display:none;" id='timeSection'>
              <label for="sendTimeSection">您希望的配送时间：</label>
              <select class="form-control" id='sendTimeSection'>
                <option value=''>请选择</option>
                <option value='9：00 - 10：00'>9：00 - 10：00</option>
                <option value='10：00 - 11：00'>10：00 - 11：00</option>
                <option value='11：00 - 12：00'>11：00 - 12：00</option>
                <option value='14：00 - 15：00'>14：00 - 15：00</option>
                <option value='15：00 - 16：00'>15：00 - 16：00</option>
                <option value='16：00 - 17：00'>16：00 - 17：00</option>
              </select>
            </div>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">请选择支付方式：</div>
        <div class="panel-body">
          <label class="radio-inline">
            <input type="radio" name="payment" id="wechatpay" value="wechatpay" checked='true'>微信支付
          </label>
          <label class="radio-inline" style='display:none;'>
            <input type="radio" name="payment" id="alipay" value="alipay">支付宝支付
          </label>
          <label class="radio-inline">
            <input type="radio" name="payment" id="nopay" value="nopay">货到付款
          </label>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">购物车详情：<span class="black-a pull-right"><a href="<{:U("Shop/index")}>" class="">返回修改</a></span></div>
        <!-- Table -->
        <table class="table">
          <tbody>
          <volist name="orderInfo.items" id="item" key="k">
            <tr class='table-row' id='product-<{$item.id}>'>
              <td style='vertical-align: middle;text-align: center;width:50px;'><{$k}></td>
              <td style='width:100px'><img src="<{$item.img}>" alt="" class='img-responsive img-thumbnail' style='width:70px'></td>
              <td style='vertical-align: middle;text-align: left;'><{$item.name}></td>
              <td style='vertical-align: middle;text-align: center;width:100px'><span class='glyphicon glyphicon-minus tb-icon num-minus'></span><span style='padding-left:5px;padding-right:5px;' class='product_num'><{$item.num}></span><span class='glyphicon glyphicon-plus tb-icon num-plus'></span></td>
            </tr>
          </volist>
        </tbody>
        </table>
        <div class="panel-footer">总价：¥<span id="totalPrice"><{$orderInfo.prices}></span>.00  <span style='padding-left:30px'>优惠：¥<span id="discount"><{$orderInfo.discount}></span>.00</span><span class="pull-right">需支付：¥<span id="payPrice"><{$orderInfo.payPrice}></span>.00</span></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">给Alexander's留言：</div>
        <div class="panel-body">
          <textarea class="form-control" rows="5" id='message'></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <button class='btn btn-default' id='finshBtn'>完成订单</button>
        </div>
      </div>
    </div>
    <div class="col-md-2" style='text-align: center;'>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addressModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">曾使用地址</h4>
        </div>
        <div class="modal-body text-left">
          <volist name="userAddress" id="item" key="k">
          <div class="radio">
            <label>
              <input type="radio" name="addressRadios" value="<{$item.id}>" checked>
              <{$item.name}>&nbsp&nbsp<{$item.tel}>&nbsp&nbsp<{$item.address}>&nbsp&nbsp<{$item.building}>
            </label>
          </div>
          </volist>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id='chooseAddressBtn'>使用此地址</button>
      </div>
      </div>
    </div>
  </div>
</block>

<block name='body-bottom'>
<script src="__JS__/jqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nmxlDl3VY8UWngclRm9sF5vj"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
  var orderInfo = <{:json_encode($orderInfo)}>;
  orderInfo['address']={};
  orderInfo['time'] = {};
  orderInfo['type'] = 0;
  orderInfo['payment'] = 'wechatpay';

  $("input[name='orderType']").on('click', function(){
    orderInfo['type'] = parseInt($(this).val());
    if($(this).val() == 1){
      $('.displayByPresent').show();
    }
    else{
      $('.displayByPresent').hide();
    }
  })

  $("input[name='payment']").on('click', function(){
    orderInfo['payment'] = $(this).val();
  })

  $('table').on('mouseenter', '.table-row', function(){
    $(this).find('.tb-icon').show();
  })

  $('table').on('mouseleave', '.table-row', function(){
    $(this).find('.tb-icon').hide();
  })

  $('table').on('click', '.tb-icon', function(){
    var $item  = $(this).closest('.table-row');

    var divId = $item.attr('id');
    var divArr = divId.split('-');

    var productId = divArr[1];

    for(var i=0; i<orderInfo['count']; i++){
      if(orderInfo['items'][i].id == productId){
        if($(this).hasClass('num-minus')){
          if(orderInfo['items'][i].num == 1){
            $.scojs_message('数量不得小于1', $.scojs_message.TYPE_ERROR);
            break;
          }
          if(orderInfo['count'] == 8 && orderInfo['orderType'] != 'package'){
            $.scojs_message('总数量不得小于8杯', $.scojs_message.TYPE_ERROR);
            break;
          }

          orderInfo['prices'] -= orderInfo['items'][i].price;
          orderInfo['count']--;
          orderInfo['items'][i].num--;

          $item.find('.product_num').text(orderInfo['items'][i].num);
        }

        if($(this).hasClass('num-plus')){
          orderInfo['prices'] = parseInt(orderInfo['prices']) + parseInt(orderInfo['items'][i].price);
          orderInfo['count']++;
          orderInfo['items'][i].num++;

          $item.find('.product_num').text(orderInfo['items'][i].num);
        }

        if($(this).hasClass('item-remove')){
          orderInfo['prices'] -= orderInfo['items'][i].price * orderInfo['items'][i].num;
          orderInfo['count'] -= orderInfo['items'][i].num;

          orderInfo['items'].splice(i,1);
          $item.remove();
        }
        break;
      }
    }

    //var boxNum = Math.floor(orderInfo['count']/8); 
    var boxNum = 0;
    orderInfo['discount'] = 2 * parseInt(boxNum);
    orderInfo['payPrice'] = orderInfo['prices'] - orderInfo['discount'];

    $('#totalPrice').text(orderInfo['prices']);
    $('#discount').text(orderInfo['discount']);
    $('#payPrice').text(orderInfo['payPrice']);

    $.post("<{:U('Mobile/Order/saveOrderSession')}>" , orderInfo , function(data){
    });
  })

  var map = new BMap.Map("map");
  map.centerAndZoom(new BMap.Point(114.03055,22.536028), 15);

  var addressResults = [];

  $('#searchBtn').on('click', function(){
    map.clearOverlays();   
    var keyword  = $('#suggestId').val();

    var options = {
      onSearchComplete: function(results){
        // 判断状态是否正确
        if (local.getStatus() == BMAP_STATUS_SUCCESS){
          addressResults = results;
          for (var i = 0; i < results.getCurrentNumPois(); i ++){
            var marker = new BMap.Marker(results.getPoi(i).point);  // 创建标注

            var opts = {
              width : 250,     // 信息窗口宽度
              height: 100,     // 信息窗口高度
              title : results.getPoi(i).title , // 信息窗口标题
              enableMessage:true//设置允许信息窗发送短息
            };

            map.addOverlay(marker);   

            var content = "<div class='addressItem'><p>地址：<span class='address'>"+results.getPoi(i).address+"</span></p><p><button class='useAddress' onClick='chooseAddress("+i+")'>使用</button></p></div>";
            addClickHandler(content,marker, opts);

            if(i == 0)
              map.centerAndZoom(results.getPoi(i).point, 19);
          }       
        }
        else{
          alert('搜索不到相关地址');
        }
      }
    };

    var local = new BMap.LocalSearch(map, options);
    local.search(keyword);
  })

  function addClickHandler(content,marker, opts){
    marker.addEventListener("click",function(e){
      openInfo(content,e, opts)}
    );
  }
  function openInfo(content,e, opts){
    var p = e.target;
    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
    var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
    map.openInfoWindow(infoWindow,point); //开启信息窗口
  }

  function chooseAddress(i){
    var geoc = new BMap.Geocoder();  
    geoc.getLocation(addressResults.getPoi(i).point, function(rs){
      var addComp = rs.addressComponents;
      //alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);

      orderInfo['address']['building'] = addressResults.getPoi(i).title;
      orderInfo['address']['address'] = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
      orderInfo['address']['city'] = addComp.city;
      orderInfo['address']['district'] = addComp.district;
      orderInfo['address']['lng'] = addressResults.getPoi(i).point.lng;
      orderInfo['address']['lat'] = addressResults.getPoi(i).point.lat;

      $('#sendAddress').val(orderInfo['address']['address'] + orderInfo['address']['building']);
      $('#sendDistrict').val(addComp.district); 
      $('#districtChoose').show();
      $('#sendCity').val(addComp.city); 
    }); 

    $('#myModal').modal('hide');
  }

  $('#sendName').on('change', function(){
    orderInfo['address']['name'] = $(this).val();
  })

  $('#sendTel').on('change', function(){
    orderInfo['address']['tel'] = $(this).val();
  })

  $('#sendDistrict').on('change', function(){
    orderInfo['address']['district'] = $(this).val();
  })

  $('#sendCity').on('change', function(){
    orderInfo['address']['city'] = $(this).val();

    if($(this).val() == '')
      $('#districtChoose').hide();
    else
      $('#districtChoose').show();
  })

  $('#sendAddress').on('change', function(){
    orderInfo['address']['address'] = $(this).val();
  })

  $('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 0,
    todayBtn:  0,
    autoclose: 1,
    todayHighlight: 0,
    startView: 2,
    startDate : '<{$startDay}>',
    minView: 2,
    forceParse: 0,
    pickerPosition : 'bottom-left'
    }).on('changeDate', function(ev){
      orderInfo['time']['date'] = ev.date.Format("yyyy-MM-dd");

      $.post('<{:U('Shop/getTimeSectionHandle')}>', {date:orderInfo['time']['date'],city: orderInfo['address']['city']}, function(data){
        $('#sendTimeSection').empty();
        $("#sendTimeSection").append('<option value="">请选择</option>'); 
        for(var i=0; i<data['TimeSection'].length; i++){
          $("#sendTimeSection").append('<option value="'+data['TimeSection'][i]+'">'+data['TimeSection'][i]+'</option>'); 
        }

        $('#sendTimeSection').val('');
        orderInfo['time']['section'] = '';
        $('#timeSection').show();
      });
    });

  $('#finshBtn').on('click', function(){
    $.post('<{:U('Shop/finishOrderHandle')}>', orderInfo, function(data){
      if(data['Code'] == 0){
        window.location = "<{:U('Shop/finishOrder')}>";
      }
      else{
        $.scojs_message(data['Message'], $.scojs_message.TYPE_ERROR);
      }
    })
  })

  $('#sendTimeSection').on('change', function(){
    orderInfo['time']['section'] = $(this).val();
  })

  $('#sendNameOwner').on('change', function(){
    orderInfo['OwnerName'] = $(this).val();
  })
  $('#sendTelOwner').on('change', function(){
    orderInfo['OwnTel'] = $(this).val();
  })

  $('#message').on('change', function(){
    orderInfo['msg'] = $(this).val();
  })

  $('#chooseAddressBtn').on('click', function(){
    var addressId = $("input[name='addressRadios']").val();

    $.post('<{:U("Shop/getAddressHandle")}>', {id:addressId}, function(data){
      if(data){
        orderInfo['address'] = data;

        $('#sendAddress').val(orderInfo['address']['address'] + ' ' + orderInfo['address']['building']);
        $('#sendDistrict').val(data['district']); 
        $('#districtChoose').show();
        $('#sendCity').val(data['city']); 

        $('#sendName').val(data['name']);
        $('#sendTel').val(data['tel']);

        $('#addressModel').modal('hide');
      }
    })
  })

  $('#sendCity').on('change', function(){
      var city = $(this).val();

      if(city == ''){
        $('#sendDistrict').empty();
        $("#sendDistrict").append('<option value="">请选择</option>'); 

        return;
      }
      
      $.post('<{:U('Mobile/Order/getDistrictHandle')}>', {city: $(this).val()}, function(data){
        if(data != -1){
          $('#sendDistrict').empty();
          $("#sendDistrict").append('<option value="">请选择</option>'); 
          for(var i=0; i<data['district'].length; i++){
            $("#sendDistrict").append('<option value="'+data['district'][i]+'">'+data['district'][i]+'</option>'); 
          }

          if(data['info'] != null){
            $('#city-info').text('说明：' + data['info']);
            $('#city-info').show();
          }else{
            $('#city-info').hide();
          }
        }
      });
    });
</script>
</block>