<extend name="Public:base" />
<block name="head">
</block>
<block name="content">
  <div class="row" id='content'>
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8" style='text-align:left;'>
      <div class="row">
        <volist name='package' id='item'>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><{$item.name}></h4>
              <img src="<{$item.minImg}>" alt="..." class="img-rounded img-responsive">
              <p><{$item.subInfo}></p>
              <p style='text-align:right'><a class="btn btn-default" href="<{:U('Product/index')}>/id/<{$item.id}>" role="button">详情</a></p>
            </div>
          </div>
        </div>
        </volist>
      </div>
    </div>
  </div>
</block>

<block name='body-bottom'>
<script type="text/javascript">
$('#content').css('height', document.body.clientHeight - 140);
</script>
</block>