<extend name="Public:base" />
<block name="head">
</block>
<block name="content">
  <div class="row">
    <div class="col-md-2">
      <div class="nav nav-stacked affix">
      <p><a href="/"><img src="__PUBLIC__/images/home_menu_u.png" alt="" class='img-responsive menu-icon'></p></a>
      <p><a href="<{:U('Product/index')}>"><img src="__PUBLIC__/images/ice_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Shop/index')}>"><img src="__PUBLIC__/images/shop_menu.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('About/index')}>"><img src="__PUBLIC__/images/aboutus_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      <p><a href="<{:U('Contect/index')}>"><img src="__PUBLIC__/images/contects_menu_u.png" alt="" class='img-responsive menu-icon'></a></p>
      </div>
    </div>
    <div class="col-md-8">
        <h3>使用微信支付您的订单</h3>
        <img src="<{:U('Shop/qrcode')}>" alt="" style='width : 30%;'>
        <h4>订单编号：<{$orderInfo['orderNo']}></h4>
        <h4>支付金额：¥<{$orderInfo['payPrice']}>.00</h4>
        <p></p>
        <p>请用微信扫一扫功能扫描此二维码完成支付</p>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</block>

<block name='body-bottom'>
<script src="__JS__/jqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
  function checkPay(){
    $.post('<{:U('Shop/getOrderPayHandle')}>', {orderNo:'<{$orderInfo['orderNo']}>'}, function(data){
      if(data['Code'] == 0){
        window.location.reload();
      }
      else{
        setTimeout('checkPay()', 1000);
      }
    })
  }

  setTimeout('checkPay()', 1000);
</script>
</block>