<table class="table table-hover">
  <thead>
    <tr>
      <th>名称</th>
      <th>添加时间</th>
      <th>金额</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <volist name="qrcodeList" id="item">
      <tr>
        <td><{$item.name}></td>
        <td><{$item.addTime}></td>
        <td><{$item.price}></td>
        <td class='details'><a href="<{:U('PayQrcode/getQrImg')}>/id/<{$item.id}>">详情</a></td>
      </tr>
    </volist>
  </tbody>
</table>
<div class='' id="order-page">
  <ul class="pagination"><{$page}></ul>
</div>

<!-- Modal -->
<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">二维码</h4>
      </div>
      <div class="modal-body" id='qrcode'>
        <img src="#" alt="" id='qr_img'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#order-page > ul > li > a").on('click', function()
  { 
    var _HREF = $(this).attr('href');       

     //加载页面
      $("#qrcodeList").load(_HREF, <{:json_encode($params)}>);                       
      return false;
  });

  $('.details > a').on('click', function(){
    var _HREF = $(this).attr('href');   
   //加载页面
    $("#qrcode").load(_HREF);   

    $('#qrcodeModal').modal();
    return false;
  }) 
</script>